<div class="b-timer">
    <div class="c-timer block-01">
        <span class="time" data-date="{{ date|date('Y-m-d H:i:s') }}"></span>
        <span class="c-texts">{{ bannerText }}</span>
        <span class="c-icon"><i class="icon icon-close"></i></span>
    </div>
</div>