<div id="slider-movies" class="owl-carousel">
    {% for slide in sliders %}
        <div>
            <a href="{{ slide.url }}">
                <div class="video">
                    <video preload>
                        <source src="#">
                        <source src="#" type="video/webm">
                    </video>
                    <div class="img" style="background-image:url({% path slide.translatable.image|trans_fallback('file'), 'reference' %})"></div>
                </div>
                <div class="textVideo">
                    <div class="info">
                        <div class="vCenter">
                            <div class="container">
                                <div class="vCenterKid">
                                    <h2>{{ slide.whiteTitle }}</br><span class="goldColor">{{ slide.goldenTitle }}</span></h2>
                                    <div class="alignButton">
                                        <div class="programmButton">{{ slide.buttonLabel }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
