{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <div id="prehome-container">
        <div id="prehome"></div>
    </div>

    <div id="main" class="home loading">
        <div id="featured-movies">
            <div class="container"><div class="whiteBar"></div></div>
            {% if sliders is defined and sliders is not null %}
                {% include 'FDCCourtMetrageBundle::homepage/_slider.html.twig' %}
            {% endif %}
        </div>
    </div>

    {% if pushIsActive == 1 %}
        <div class="discover">
            <div id="slider-discover" class="owl-carousel">
                {% if pushes is defined and pushes is not null %}
                    {% include 'FDCCourtMetrageBundle::homepage/_push.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if aPropos is not null %}
        <div class="about">
            {% include 'FDCCourtMetrageBundle::homepage/_aPropos.html.twig' with {'homepage' : homepage, 'widget' : aPropos} %}
        </div>
    {% endif %}

    {% if courtIsActive == 1 %}
        <div class="competition">
            <div class="maxContainer">
                <h3>{{ 'ccm.homepage.competition_section'|trans }}</h3>
            </div>
            <div id="slider-competition" class="owl-carousel">
                {% if movies is defined and movies is not null %}
                    {% include 'FDCCourtMetrageBundle::homepage/_courts_en_competition.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for key, position in positions %}
        {% if key == 'catalog' %}
            {{ render(controller('FDCCourtMetrageBundle:Transverse:catalog')) }}
        {% elseif key == 'actualite'%}
            {{ render(controller('FDCCourtMetrageBundle:Transverse:actualite')) }}
        {% elseif key == 'sejour' %}
            {% if sejourIsActive == 1 %}
                <div class="list-article">
                    <div class="bandeau-list">
                        {% if sejour is defined and sejour is not null %}
                            {% include 'FDCCourtMetrageBundle::homepage/_sejour.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% elseif key == 'social'%}
            {% if socialIsActive == 1 %}
                {{ render(controller('FDCCourtMetrageBundle:SocialWall:social')) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
