{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <div id="prehome-container">
        <div id="prehome"></div>
    </div>

    <div id="main" class="home loading">
        <div id="featured-movies">
            <div class="container"><div class="whiteBar"></div></div>
            {% if sliders is defined and sliders is not null %}
                {% include 'FDCCourtMetrageBundle::homepage/_slider.html.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="discover">
        <div id="slider-discover" class="owl-carousel">
            {% if pushes is defined and pushes is not null %}
                {% include 'FDCCourtMetrageBundle::homepage/_push.html.twig' %}
            {% endif %}
        </div>
    </div>
    <div class="competition">
        <div class="maxContainer">
            <h3>courts en compétition</h3>
        </div>
        <div id="slider-competition" class="owl-carousel">
            <div class="item">
                <a href="#"> <img src="img/film2.png"></a>
                <div class="title">
                    <a href="#"><h5>IL SILENZIO, il silenzio silenzio</h5></a>
                    <a href="#"><h6>(le silence, le silence, le silence, le silence)</h6></a>
                    <a href="#"><h4>Farnoosh Samadi, Ali ASGARI,Farnoosh Samadi, Ali ASGARI</h4></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
