{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <div id="prehome-container">
        <div id="prehome"></div>
    </div>

    <div id="main" class="home loading">
        <div id="featured-movies">
            <div class="container"><div class="whiteBar"></div></div>
            {% if sliders is defined and sliders is not null %}
                {% include 'FDCCourtMetrageBundle::homepage/_slider.html.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="discover">
        <div id="slider-discover" class="owl-carousel">
            {% if pushes is defined and pushes is not null %}
                {% include 'FDCCourtMetrageBundle::homepage/_push.html.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="competition">
        <div class="maxContainer">
            <h3>courts en compétition</h3>
        </div>
        <div id="slider-competition" class="owl-carousel">
            {% if movies is defined and movies is not null %}
                {% include 'FDCCourtMetrageBundle::homepage/_courts_en_competition.html.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="catalogue">
        <div class="imgIllustration">
            <img class="img" style="background-image:url({% path catalogImage|trans_fallback('file'), 'reference' %})">
        </div>
        <h5>le catalogue</h5>
        {% if catalogs is defined and catalogs is not null %}
            {% include 'FDCCourtMetrageBundle::homepage/_catalog.html.twig' %}
        {% endif %}
    </div>

    <div class="our-news">
        <h3>les actualités</h3>
        <div class="innerWrapper">
            {% if actualites is defined and actualites is not null %}
                {% include 'FDCCourtMetrageBundle::homepage/_actualite.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
