.jwplayer.jw-skin-fdc.jw-state-playing .jw-title, .jwplayer.jw-skin-fdc.jw-state-complete .jw-title {
  display: block;
  top: 1rem;
  margin-left: 10.3rem; }
  .Article-header .jwplayer.jw-skin-fdc.jw-state-playing .jw-title, .Article-header .jwplayer.jw-skin-fdc.jw-state-complete .jw-title {
    top: 2.2rem; }

.jwplayer.jw-skin-fdc.jw-state-playing .jw-icon-playback, .jwplayer.jw-skin-fdc.jw-state-complete .jw-icon-playback {
  background: url(../../img/article/audioPlayer/pause.png) no-repeat 2rem 3rem;
  background-position: 2rem center;
  background-size: 1.2rem;
  left: 3.7rem;
  top: -0.2rem; }
  .jwplayer.jw-skin-fdc.jw-state-playing .jw-icon-playback:before, .jwplayer.jw-skin-fdc.jw-state-complete .jw-icon-playback:before {
    content: ""; }

.jwplayer.jw-skin-fdc-video.jw-state-buffering .jw-display-icon-container .jw-icon-display, .jwplayer.jw-skin-fdc-video.jw-state-buffering .jw-controlbar {
  display: none; }

.jwplayer.jw-skin-fdc.jw-state-idle .jw-icon-playback {
  background: transparent; }

.jwplayer.jw-skin-fdc.jw-state-idle .jw-title {
  top: 2.2rem; }

.jwplayer.jw-skin-fdc.jw-state-idle .jw-text-elapsed,
.jwplayer.jw-skin-fdc.jw-state-idle .jw-text-duration {
  display: none; }

.jwplayer.jw-skin-fdc.jw-state-paused .jw-title {
  display: block; }

.jwplayer.jw-skin-fdc.jw-state-paused .jw-icon-playback {
  background-position: 2rem center;
  background-size: 1.2rem;
  left: 3.7rem;
  top: -0.2rem; }
  .jwplayer.jw-skin-fdc.jw-state-paused .jw-icon-playback:before {
    content: ""; }

.jwplayer.jw-skin-fdc.jw-state-paused .jw-controlbar-center-group {
  display: none; }

.jwplayer.jw-skin-fdc {
  height: 9rem; }
  .jwplayer.jw-skin-fdc .jw-icon-volume {
    display: none !important; }
  .jwplayer.jw-skin-fdc .jw-icon-fullscreen {
    display: none; }
  .jwplayer.jw-skin-fdc .jw-time-tip {
    display: none; }
  .jwplayer.jw-skin-fdc .jw-background-color {
    background-color: #c9a45e;
    width: 100%;
    height: 100%;
    top: 0px;
    margin-top: 0px; }
  .jwplayer.jw-skin-fdc .jw-rail, .jwplayer.jw-skin-fdc .jw-buffer, .jwplayer.jw-skin-fdc .jw-progress {
    background: rgba(255, 255, 255, 0.2); }
  .jwplayer.jw-skin-fdc .jw-knob {
    background: #fff; }
  .jwplayer.jw-skin-fdc .jw-controlbar > * {
    vertical-align: middle; }
  .jwplayer.jw-skin-fdc .jw-title {
    background: none;
    z-index: 1;
    height: auto;
    margin-left: 9rem;
    top: 1.7rem; }
    .jwplayer.jw-skin-fdc .jw-title-primary {
      height: auto;
      padding: 0px;
      min-height: initial;
      width: 80%;
      font-family: "Playfair Display";
      font-size: 1.4rem;
      font-weight: normal;
      overflow: hidden; }
    .jwplayer.jw-skin-fdc .jw-title-secondary {
      height: auto;
      padding: 0px;
      min-height: initial;
      font-size: 0.8rem;
      font-family: "Open Sans";
      text-transform: uppercase;
      margin-top: 1.8rem;
      overflow: hidden; }
  .jwplayer.jw-skin-fdc .jw-icon-playback {
    background: url(../../img/article/audioPlayer/play.png) no-repeat 2rem 3rem;
    background-size: 1.8rem; }
    .jwplayer.jw-skin-fdc .jw-icon-playback:before {
      content: ""; }
  .jwplayer.jw-skin-fdc .jw-slider-container {
    vertical-align: top;
    height: 100%; }
  .jwplayer.jw-skin-fdc .jw-slider-horizontal {
    height: 0.5rem;
    overflow: hidden;
    width: 85%;
    float: right; }
  .jwplayer.jw-skin-fdc .jw-controlbar-left-group {
    background: url(../../img/article/audioPlayer/mic.png) no-repeat 2.5rem 3rem;
    background-size: 1.8rem; }
  .jwplayer.jw-skin-fdc .jw-display-icon-container .jw-icon-display {
    text-align: left;
    background: url(../../img/article/audioPlayer/mic.png) no-repeat 2.5rem 3rem;
    background-size: 1.8rem; }
    .jwplayer.jw-skin-fdc .jw-display-icon-container .jw-icon-display:before {
      content: "";
      width: 1.2rem;
      height: 1.9rem;
      display: inline-block;
      background: url(../../img/article/audioPlayer/play.png) no-repeat left top;
      background-size: 100%;
      vertical-align: top;
      margin-top: .5rem;
      margin-left: 6.3rem; }

.jwplayer.jw-skin-fdc-video {
  position: relative;
  margin-bottom: 2rem; }
  .jwplayer.jw-skin-fdc-video.jw-state-complete .jw-display-icon-container > .jw-icon {
    background: transparent; }
  .jwplayer.jw-skin-fdc-video .jw-display-icon-container > .jw-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../../img/article/video-play-btn.png) no-repeat center;
    background-size: 2.2rem;
    z-index: 1; }
  .jwplayer.jw-skin-fdc-video .jw-slider-container {
    height: 3px;
    top: -18px;
    overflow: hidden; }
  .jwplayer.jw-skin-fdc-video .jw-icon {
    color: #fff; }
  .jwplayer.jw-skin-fdc-video.jw-state-idle .jw-icon-display:before {
    content: ""; }
  .jwplayer.jw-skin-fdc-video .jw-tooltip-time {
    display: none !important; }
  .jwplayer.jw-skin-fdc-video .jw-background-color,
  .jwplayer.jw-skin-fdc-video .jw-display-icon-container {
    background: transparent !important;
    background-color: transparent !important; }
  .jwplayer.jw-skin-fdc-video .jw-controlbar {
    width: 100%; }
    .jwplayer.jw-skin-fdc-video .jw-controlbar-left-group {
      width: 18%;
      display: inline-block; }
    .jwplayer.jw-skin-fdc-video .jw-controlbar-center-group {
      width: 66%;
      display: inline-block; }
    .jwplayer.jw-skin-fdc-video .jw-controlbar-right-group {
      width: 15%;
      display: inline-block;
      text-align: right; }
  .jwplayer.jw-skin-fdc-video .jw-title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: auto;
    color: #fff;
    width: 100%;
    padding: 0 5%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, black), color-stop(1, transparent));
    background-image: -webkit-repeating-linear-gradient(bottom, black 0%, transparent 100%);
    background-image: repeating-linear-gradient(to top, black 0%, transparent 100%);
    background-image: -ms-repeating-linear-gradient(bottom, black 0%, transparent 100%); }
    .jwplayer.jw-skin-fdc-video .jw-title--hidden {
      display: none; }
    .jwplayer.jw-skin-fdc-video .jw-title-primary {
      position: absolute;
      bottom: -0px;
      left: 0;
      font-weight: normal;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding-left: 12px;
      overflow: visible; }
    .jwplayer.jw-skin-fdc-video .jw-title-secondary {
      position: absolute;
      left: 0px;
      bottom: 12px;
      padding-left: 12px;
      overflow: visible; }
    .jwplayer.jw-skin-fdc-video .jw-title h4 {
      display: inline;
      color: #c9a45e;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: "Camphor W01 Heavy"; }
    .Article-content .jwplayer.jw-skin-fdc-video .jw-title p {
      display: inline;
      font-family: "Camphor W01 Regular";
      font-size: 1rem;
      color: #b8b8b8; }
