/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1;
  font-size: 100%; }

#main {
  font-size: 16px; }

html {
  font-size: 62.5%; }

.Article-wrapper {
  font-family: "Open Sans"; }

.Article-video-play {
  position: absolute;
  width: 3.8rem;
  height: 5rem;
  left: 50%;
  margin-left: -1.9rem;
  margin-top: 9.5rem;
  z-index: 1; }
  .Article-video-play img {
    width: 100%; }

.Article-header video {
  width: 100%;
  display: block;
  background: transparent 50% 50% / cover no-repeat;
  height: 240px; }

.Article-header img {
  width: 100%; }

.Article-header .Article-picture-caption {
  height: auto;
  line-height: 25px;
  font-size: 0.8rem;
  margin-bottom: 1.6rem; }
  .Article-header .Article-picture-caption strong {
    font-family: "Open Sans";
    padding-bottom: 1.6rem;
    line-height: 2.2rem;
    display: inline; }

.Article-header-meta {
  display: block;
  height: auto;
  line-height: 18px;
  font-size: 0.8rem; }
  .Article-header-meta-category {
    display: inline-block;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    background: #c9a45e;
    padding: 0px 15px; }
  .Article-header-meta-date {
    text-transform: uppercase;
    color: #bfbfbf;
    padding-left: 10px; }
  .Article-header-meta-misc {
    font-size: 0.6rem;
    padding-left: 12px;
    color: #666666;
    display: block; }
    .Article-header-meta-misc strong {
      color: #212121; }

.Article-content {
  padding: 25px 20px 15px 20px;
  font-size: 1.4em; }
  .Article-content h1 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3rem;
    padding-bottom: 4rem; }
  .Article-content table {
    width: 100% !important; }
  .Article-content p {
    display: block;
    font-family: "Open Sans";
    padding-bottom: 1.6rem;
    line-height: 2.2rem; }
  .Article-content img {
    max-width: 100%;
    height: auto !important; }
  .Article-content a {
    color: #c8a461;
    text-decoration: none; }
  .Article-content .Article-picture-caption {
    height: auto;
    line-height: 25px;
    font-size: 0.8rem;
    margin-bottom: 1.6rem; }
    .Article-content .Article-picture-caption strong {
      font-family: "Open Sans";
      padding-bottom: 1.6rem;
      line-height: 2.2rem;
      display: inline; }

.Article-quote blockquote {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  color: #666;
  font-size: 1.688rem;
  line-height: 1.4em;
  padding: 40px 15px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px; }

.Article-slider-wrapper {
  position: relative; }

.Article-slider-prev, .Article-slider-next {
  position: absolute;
  width: 21px;
  height: 40px;
  background: url(../../img/article/slider-prev.png) no-repeat top left;
  background-size: 100%;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -20px; }

.Article-slider-next {
  background: url(../../img/article/slider-next.png) no-repeat top left;
  background-size: 100%;
  left: auto;
  right: 0; }

.Article-slider-item {
  float: left;
  width: 100vw; }
  .Article-slider-item img {
    width: 100%; }

.Article-slider-caption {
  height: auto;
  line-height: 25px;
  font-size: 0.8rem; }
  .Article-slider-caption strong {
    display: inline; }
    .Article-content .Article-slider-caption strong {
      font-size: 0.8rem; }

.Article-slider-count {
  position: absolute;
  font-size: 1.1rem;
  color: #bfbfbf;
  right: 0px;
  bottom: 0px; }
  .Article-slider-count strong {
    display: inline;
    color: #212121; }

.Article-push {
  background: #141414; }
  .Article-push > * {
    width: 50%;
    display: inline-block;
    vertical-align: middle; }
  .Article-push-image {
    text-align: center;
    padding: 35px 0; }
    .Article-push-image img {
      display: inline-block;
      width: 80%; }
  .Article-push-content {
    font-family: "Camphor W01 Heavy"; }
    .Article-push-content strong {
      color: #919191;
      font-size: 0.7rem;
      text-transform: uppercase;
      display: block;
      padding-bottom: 1.3rem;
      letter-spacing: 1px; }
    .Article-push-content h3 {
      color: #fff;
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-transform: uppercase;
      padding-bottom: 1.3rem; }
    .Article-push-content span {
      display: block;
      font-style: italic;
      color: #c8a461;
      font-size: 0.9rem; }
      .Article-push-content span:after {
        content: "";
        width: 25px;
        display: block;
        height: 1px;
        margin-top: 1.3rem;
        background: #2a2a2a; }
    .Article-push-content p {
      display: block;
      font-size: 0.9rem;
      line-height: 1.5rem;
      color: #919191;
      padding-top: 1.3rem; }

.Article-related h2 {
  padding-top: 80px;
  padding-bottom: 70px;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-weight: bold;
  text-align: center; }

.Article-related-slider-item {
  float: left;
  display: inline-block;
  width: 85vw;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #000; }
  .Article-related-slider-item:last-child {
    padding-right: 3.3rem; }
  .Article-related-slider-item-pictureWrap {
    height: 16.25rem;
    position: relative;
    overflow: hidden; }
    .Article-related-slider-item-pictureWrap img {
      width: 100%;
      display: block; }
    .Article-related-slider-item-pictureWrap i {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 1.75rem;
      background: #fff;
      display: inline-block;
      position: absolute;
      bottom: 1rem;
      left: 1rem; }
      .Article-related-slider-item-pictureWrap i.icon-article:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: url(../../img/article/icons/Article.svg) no-repeat left top;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .Article-related-slider-item-pictureWrap i.icon-audio:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: url(../../img/article/icons/Audio.svg) no-repeat left top;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .Article-related-slider-item-pictureWrap i.icon-photo:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: url(../../img/article/icons/Photo.svg) no-repeat left top;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .Article-related-slider-item-pictureWrap i.icon-video:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: url(../../img/article/icons/Video.svg) no-repeat left top;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0; }

.Article-related-slider-caption h4 {
  display: inline-block;
  color: #c9a45e;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Camphor W01 Heavy";
  height: 3.5rem;
  line-height: 3.5rem; }

.Article-related-slider-caption p {
  display: inline-block;
  font-family: "Camphor W01 Regular";
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1rem;
  color: #b8b8b8; }

.Article-related-slider-caption strong {
  display: block;
  font-weight: normal;
  font-family: "Playfair Display";
  padding-bottom: 3.7rem;
  font-size: 1.5rem; }

.Article-content a {
  text-decoration: none;
  color: #c8a461; }

.Article-content table {
  width: 100% !important; }

.Article-content .big-quote {
  padding: 70px 70px;
  box-sizing: border-box;
  border: 1px solid #c8a461;
  margin-bottom: 70px; }

.Article-content .txt-grey-bkg-container {
  background-color: #f4f4f4;
  padding: 70px 70px;
  margin-bottom: 70px;
  color: #666;
  font-size: 1rem;
  line-height: 1.7em;
  margin-bottom: 5px; }

.Article-content .cke_editable .single-button {
  border-right: 1px solid #c8a461 !important;
  border-color: #c8a461; }

.Article-content .button {
  border: 1px solid #dfdfdf;
  border-right: none;
  color: #c8a461;
  display: inline-block;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-size: 0.688rem;
  height: 38px;
  line-height: 38px;
  margin: 0 0 0 0;
  padding: 0 19px 0 19px;
  text-transform: uppercase;
  -moz-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95); }

.Article-content .single-button {
  border-right: 1px solid #c8a461 !important;
  border-color: #c8a461;
  margin: 10px 0;
  with: 100%; }

.Article-content .title-article {
  color: #333;
  font-family: "Playfair Display", Times New Roman, Times, serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 20px auto;
  text-align: center; }

.Article-content h2.sub-title {
  font-family: "Playfair Display", Times New Roman, Times, serif;
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-align: center; }

.Article-content h2.sub-title2 {
  font-family: "Playfair Display", Times New Roman, Times, serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0px; }

.Article-content h3.sub-title {
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase; }

.Article-content .little-txt {
  color: #969696;
  font-size: 0.750rem;
  margin: 10px 0 0;
  text-align: left; }

.Article-content .big-txt {
  color: #333333;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center; }

.Article-content .chapeau {
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1.125rem;
  line-height: 2em;
  margin-bottom: 70px;
  text-align: center; }

.Article-content .caption-article {
  color: #333333;
  font-size: 0.750rem;
  margin: 10px 0 0;
  text-align: left;
  display: block;
  padding-top: 10px;
  border-top: 1px solid #dfdfdf; }

.Article-content .title-acces {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-size: .75rem;
  padding-bottom: 20px; }

.Article-content .descript-acces {
  padding-bottom: 20px;
  font-size: .8125rem;
  line-height: 24px; }

.Article-content .loc {
  display: block;
  width: 246px;
  margin: 0 auto;
  line-height: 20px; }

.Article-content em {
  font-style: italic; }

.Article-content strong {
  display: inline;
  font-weight: bold;
  font-size: 1.6rem; }

.jwplayer.jw-skin-fdc.jw-state-playing .jw-title, .jwplayer.jw-skin-fdc.jw-state-complete .jw-title {
  display: block;
  top: .7rem;
  margin-left: 10.3rem; }

.jwplayer.jw-skin-fdc.jw-state-playing .jw-icon-playback, .jwplayer.jw-skin-fdc.jw-state-complete .jw-icon-playback {
  background: url(../../img/article/audioPlayer/pause.png) no-repeat 2rem 3rem;
  background-position: 2rem center;
  background-size: 1.2rem;
  left: 3.7rem;
  top: -0.2rem; }
  .jwplayer.jw-skin-fdc.jw-state-playing .jw-icon-playback:before, .jwplayer.jw-skin-fdc.jw-state-complete .jw-icon-playback:before {
    content: ""; }

.jwplayer.jw-skin-fdc.jw-state-paused .jw-title {
  display: block; }

.jwplayer.jw-skin-fdc.jw-state-paused .jw-icon-playback {
  background-position: 2rem center;
  background-size: 1.2rem;
  left: 3.7rem;
  top: -0.2rem; }
  .jwplayer.jw-skin-fdc.jw-state-paused .jw-icon-playback:before {
    content: ""; }

.jwplayer.jw-skin-fdc.jw-state-paused .jw-controlbar-center-group {
  display: none; }

.jwplayer.jw-skin-fdc {
  height: 9rem; }
  .jwplayer.jw-skin-fdc .jw-icon-volume {
    display: none !important; }
  .jwplayer.jw-skin-fdc .jw-icon-fullscreen {
    display: none; }
  .jwplayer.jw-skin-fdc .jw-time-tip {
    display: none; }
  .jwplayer.jw-skin-fdc .jw-background-color {
    background-color: #c9a45e;
    width: 100%;
    height: 100%;
    top: 0px;
    margin-top: 0px; }
  .jwplayer.jw-skin-fdc .jw-rail, .jwplayer.jw-skin-fdc .jw-buffer, .jwplayer.jw-skin-fdc .jw-progress {
    background: rgba(255, 255, 255, 0.2); }
  .jwplayer.jw-skin-fdc .jw-knob {
    background: #fff; }
  .jwplayer.jw-skin-fdc .jw-controlbar > * {
    vertical-align: middle; }
  .jwplayer.jw-skin-fdc .jw-title {
    background: none;
    z-index: 1;
    height: auto;
    margin-left: 9rem;
    top: 1.7rem; }
    .jwplayer.jw-skin-fdc .jw-title-primary {
      height: auto;
      padding: 0px;
      min-height: initial;
      width: 80%;
      font-family: "Playfair Display";
      font-size: 1.4rem;
      font-weight: normal;
      overflow: hidden; }
    .jwplayer.jw-skin-fdc .jw-title-secondary {
      height: auto;
      padding: 0px;
      min-height: initial;
      font-size: 0.8rem;
      font-family: "Open Sans";
      text-transform: uppercase;
      margin-top: 1.8rem;
      overflow: hidden; }
  .jwplayer.jw-skin-fdc .jw-icon-playback {
    background: url(../../img/article/audioPlayer/play.png) no-repeat 2rem 3rem;
    background-size: 1.8rem; }
    .jwplayer.jw-skin-fdc .jw-icon-playback:before {
      content: ""; }
  .jwplayer.jw-skin-fdc .jw-slider-container {
    vertical-align: top;
    height: 100%; }
  .jwplayer.jw-skin-fdc .jw-slider-horizontal {
    height: 0.5rem;
    overflow: hidden;
    width: 85%;
    float: right; }
  .jwplayer.jw-skin-fdc .jw-controlbar-left-group {
    background: url(../../img/article/audioPlayer/mic.png) no-repeat 2rem 3rem;
    background-size: 1.8rem; }
  .jwplayer.jw-skin-fdc .jw-display-icon-container .jw-icon-display {
    text-align: left;
    background: url(../../img/article/audioPlayer/mic.png) no-repeat 2rem 3rem;
    background-size: 1.8rem; }
    .jwplayer.jw-skin-fdc .jw-display-icon-container .jw-icon-display:before {
      content: "";
      width: 1.2rem;
      height: 1.9rem;
      display: inline-block;
      background: url(../../img/article/audioPlayer/play.png) no-repeat left top;
      background-size: 100%;
      vertical-align: top;
      margin-top: .5rem;
      margin-left: 6.3rem; }

.jwplayer.jw-skin-fdc-video {
  position: relative;
  margin-bottom: 2rem; }
  .jwplayer.jw-skin-fdc-video.jw-state-complete .jw-display-icon-container > .jw-icon {
    background: transparent; }
  .jwplayer.jw-skin-fdc-video .jw-display-icon-container > .jw-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../../img/article/video-play-btn.png) no-repeat center;
    background-size: 2.2rem;
    z-index: 1; }
  .jwplayer.jw-skin-fdc-video .jw-slider-container {
    height: 3px;
    top: -18px;
    overflow: hidden; }
  .jwplayer.jw-skin-fdc-video .jw-icon {
    color: #fff; }
  .jwplayer.jw-skin-fdc-video.jw-state-idle .jw-icon-display:before {
    content: ""; }
  .jwplayer.jw-skin-fdc-video .jw-tooltip-time {
    display: none !important; }
  .jwplayer.jw-skin-fdc-video .jw-background-color,
  .jwplayer.jw-skin-fdc-video .jw-display-icon-container {
    background: transparent !important;
    background-color: transparent !important; }
  .jwplayer.jw-skin-fdc-video .jw-controlbar {
    width: 100%; }
    .jwplayer.jw-skin-fdc-video .jw-controlbar-left-group {
      width: 18%;
      display: inline-block; }
    .jwplayer.jw-skin-fdc-video .jw-controlbar-center-group {
      width: 66%;
      display: inline-block; }
    .jwplayer.jw-skin-fdc-video .jw-controlbar-right-group {
      width: 15%;
      display: inline-block;
      text-align: right; }
  .jwplayer.jw-skin-fdc-video .jw-title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: auto;
    color: #fff;
    width: 100%;
    padding: 0 5%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, black), color-stop(1, transparent));
    background-image: -webkit-repeating-linear-gradient(bottom, black 0%, transparent 100%);
    background-image: repeating-linear-gradient(to top, black 0%, transparent 100%);
    background-image: -ms-repeating-linear-gradient(bottom, black 0%, transparent 100%); }
    .jwplayer.jw-skin-fdc-video .jw-title--hidden {
      display: none; }
    .jwplayer.jw-skin-fdc-video .jw-title-primary {
      position: absolute;
      bottom: -0px;
      left: 0;
      font-weight: normal;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding-left: 12px;
      overflow: visible; }
    .jwplayer.jw-skin-fdc-video .jw-title-secondary {
      position: absolute;
      left: 0px;
      bottom: 12px;
      padding-left: 12px;
      overflow: visible; }
    .jwplayer.jw-skin-fdc-video .jw-title h4 {
      display: inline;
      color: #c9a45e;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: "Camphor W01 Heavy"; }
    .Article-content .jwplayer.jw-skin-fdc-video .jw-title p {
      display: inline;
      font-family: "Camphor W01 Regular";
      font-size: 1rem;
      color: #b8b8b8; }
