{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<div>
    {% if object.publishedAt and object.publishEndedAt %}
        Du {{ object.publishedAt|localizeddate }} au {{ object.publishedAt|localizeddate }}
    {% elseif object.publishedAt and object.publishEndedAt is null %}
        {{ object.publishedAt|localizeddate }} 
    {% endif %}
</div>
{% endblock %}