{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<div>
    {% if object.status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_DRAFT') %}
        {{ 'form.status.draft'|trans({}, 'BaseAdminBundle') }}
    {% elseif object.status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_PUBLISHED') %}
        {{ 'form.status.published'|trans({}, 'BaseAdminBundle') }}
    {% elseif object.status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_VALIDATING') %}
        {{ 'news.status.validating'|trans({}, 'BaseAdminBundle') }}
    {% elseif object.status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_DEACTIVATED') %}
        {{ 'news.status.deactivated'|trans({}, 'BaseAdminBundle') }}
    {% endif %}
</div>
{% endblock %}