{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block field %}
    <div>
        {{ object.publishedAt|date }}
    </div>
{% endblock %}