.edition-69 {

  figure.padding-bottom {
    padding-bottom: 56px;
  }
}

.poster, .palmares, .article{

  .block-push-top {

    .vFlexAlign {
      height: calc( 100% - 42px );
    }
  }

}

.article{

  .buttons-01{
    margin-bottom: 70px;
  }
}
