{%  if is_granted('ROLE_BASE_ADMIN_GROUP_SEO_ADMIN') %}
<li class="treeview">
    <a href="#">
        <i class="fa fa-folder"></i>
        <span>{{ 'dashboard.group.seo'|trans({}, 'BaseAdminBundle') }}</span>
        <i class="fa pull-right fa-angle-left"></i>
    </a>
    <ul class="treeview-menu" style="display: block;">
        {%  if is_granted('ROLE_BASE_ADMIN_FDC_PAGE_WEB_TV_CHANNELS_ADMIN') %}
        <li>
            <a href="{{ path('admin_base_core_fdcpagewebtvchannels_edit', {id: admin_fdc_page_web_tv_channels_id}) }}">
                <i class="fa fa-angle-double-right"></i>
                {{ 'dashboard.link.fdc_page_web_tv_channels'|trans({}, 'BaseAdminBundle') }}
            </a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}