<p>
    Bonjour,<br><br>
    Vous trouverez ci-dessous les paramètres de connexion à votre compte d'administration du site du Festival de Cannes :<br>
</p>

<ul>
    <li>URL : <a href="{{ app.request.getSchemeAndHttpHost() }}/admin/login">{{ app.request.getSchemeAndHttpHost() }}/admin/login</a></li>
    <li>Identifiant : {{ username }}</li>
    <li>Mot de passe : {{ password }}</li>
</ul>






