<div class="video-container state-init video"
     data-facebook="//www.facebook.com"
     data-twitter="//www.twitter.com"
     data-link="//www.example.com"
     data-email="//www.gmail.com"
     data-name="{{ widget.title }}"
     data-file='[{"file":"{{ widget.url }}"}]'
     data-img="{% path widget.translatable.image|trans_fallback('file'), 'reference' %}">
    <div id="{{ widget.id }}" class="video-player">
    <!-- <div id="vtest"> -->
</div>
<div class="video-overlay"></div>
<div class="infos-bar">
    <div class="picto"><i class="icon icon_video"></i></div>
    <div class="info">
        <div class="vCenter">
            <div class="vCenterKid">
                <p>{{ widget.title }}</p>
            </div>
        </div>
    </div>
</div>
</div><br>
