<div class="text-presentation projection producersProgramme">
    <a href="{% path widget.file|trans_fallback('file'), 'reference' %}" target="_blank">
        <div class="programme">
            <div>
                <img src="{{ asset('bundles/fdcmarchedufilm/img/trombonne.png') }}">
            </div>
            <div class="customClass1">
                {% set translations = widget.file.findTranslationByLocale(app.request.locale) %}
                <h6>{{ translations.name|length > 45 ? translations.name|slice(0, 45) ~ '...' : translations.name  }}</h6>
            </div>
            <div class="customClass1">
                <img src="{{ asset('bundles/fdcmarchedufilm/img/boutonDLRond.png') }}">
            </div>
        </div>
    </a>
</div>
