<div class="programme">
    <div>
        <img src="{{ asset('bundles/fdcmarchedufilm/img/trombonne.png') }}">
    </div>
    <div>
        <h6>Le programme des projections</h6>
    </div>
    <div>
        <a href="">
            <img src="{{ asset('bundles/fdcmarchedufilm/img/boutonDLRond.png') }}">
        </a>
    </div>
</div>
