<div class="presse whoarewe">
    <img src="{% path widget.image|trans_fallback('file'), 'reference' %}" alt="Marché du film">
    <h5 class="caption">Terrasse d'un pavillon au Village International- © Alexandra Fleurantin - 2015</h5>
</div>
