.single-article hr {
    height: 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
}

.single-article .single-photo img {
    height: auto;
}

.single-article .big-quote {
    width: 630px;
    margin: 0 auto;
    padding: 70px 70px;
    box-sizing: border-box;
    border: 1px solid #c8a461;
    margin-bottom: 70px;
    color: #666;
    font-size: 1rem;
    line-height: 1.7em;
    margin-bottom: 5px;
}

.single-article .text em {
    font-style: italic;
}

.single-article .text sup {
    vertical-align: super;
    font-size: 11px;
}

.single-article .text sub {
    vertical-align: sub;
    font-size: 11px;
}

.single-article .button:hover a,
.single-article .button a:hover {
    color: #FFFFFF;
}

.single-article ul,
.single-article ol {
    color: #666;
    font-size: 1rem;
    line-height: 1.7em;
    margin-bottom: 5px;
    padding-left: 30px;
}

.single-article ol {
    list-style: decimal;
}

.single-article ul {
    list-style: inherit;
}

.single-article .big-quote span.big-quote-paragraph {
    color: #b1b1b1;
    text-align: center;
    font-size: .875rem;
    font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 26px;
}

.single-article .big-quote strong {
    color: #c8a461 !important;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif !important;
}

.single-article .txt-grey-bkg-container {
    color: #666;
    font-size: 1rem;
    line-height: 1.7em;
    margin-bottom: 5px;
    padding: 70px 70px;
}

.single-article .txt-grey-bkg-container .content span {
    font-size: 1rem;
    font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
    color: #666666;
    line-height: 26px;
}

.single-article .blockquote {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    color: #666;
    font-size: 1.688rem;
    line-height: 1.4em;
    padding: 40px 15px;
    text-align: center;
}

.single-article .big-txt {
    color: #333333;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;
}

.single-article .little-txt {
    color: #969696;
    font-size: 0.750rem;
    margin: 10px 0 0;
    text-align: left;
}

.single-article .txt-grey-bkg-container span.txt-grey-bkg-container-paragraph {
    font-size: 1rem;
    font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
    color: #666666;
    line-height: 26px;
    display: block;
}

.single-article .quote blockquote {
    margin-top: 35px;
    margin-bottom: 40px;
}

.single-article table[border="0"] td {
    border: none !important;
}

.single-article table caption {
    color: #666;
    font-size: 1rem;
    line-height: 1.7em;
    text-align: center;
}

.single-article .button a {
    color: #c8a461;
}

.single-article .author {
    clear: both;
}

.same-day .image.image-sameday-wrapper {
    width:293px;
    height:185px;
}

.single-article .slideshow.article_photo .slideshow-img .thumbnails .thumb img {
    height: auto;
}

.popin-video .info p,
.popin-audio .info p {
    max-width: 410px;
}

#filmPoster {
    max-width: 140px;
}

.textLive p {
    text-transform: uppercase;
    color: #fff;
    font-family:"Camphor W01 Regular",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight:bold;
}

.textLive p span {
    color: #c8a461;
}

.webtv #content-channels .info span.category {
    color: #c8a461;
}

.webtv-ba-video #content-trailers #slider-trailer .info a.category {
    display: inline-block;
}
.webtv-ba-video #content-trailers #slider-trailer .info span.date {
    color: #666;
    display: inline-block;
    font-size: 0.625rem;
}

.single-article .half-photo img {
    display: block;
    max-width: 100%;
}

#half-photo {
    display: inline-block;
    margin: 0 0 50px;
    vertical-align: top;
    max-width: 48%;
    margin: 0px 2%;
}

#half-photo + #half-photo {
    margin: 0 0 0 -8px;
}

#titleFilmOnHomepage {
    padding-left: 15%;
    padding-right: 15%;
}

/* espace presse */
.practicalguide #praticalguide .container-pguide .wrapper .contain-article .aside .container-infos p {
    font-size: 0.81rem;
    line-height: 24px;
}

.practicalguide #praticalguide .container-pguide .wrapper .contain-article .aside .container-infos a {
    color: #c29f5f;
    text-decoration: underline;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#notposter {
    height:100%;
    margin-top: 47px;
    display: block;
    width: 100%;
}

#TetiereMovieCountry{
    margin-right: 0px;
}

#infosPressImageFilmPoster {
    margin-top: 42px;
    width: 148px;
}

/* Juries */
.contain-jurys-list .jury-box .image {
    height: 404px;
}

.artist .paragraph i {
    font-style: italic;
}

.single-movie .press .contacts .wrapper .vCenterKidTop .prod div {
    padding: 2px 0;
}

.categorie-items article .infos-item-list .nom-item a {
    color: #c8a461;

}