.selection-item{
	background-color: #fff;
  position: relative;
}
.selection-item .name, .selection-item .sub-name{
	color:#000;
	max-width: inherit;
}
.selection-item .name{
	font-size: 1.4rem;
}
.jury-president .img{

  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 875px;
}
.jury-president a, .selection-item a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.jury-president{

	height: 1120px;
	background-color: #fff;
  position: relative;
}
.jury-president p:not(.rank){

	text-transform: uppercase;
    font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    color:#000;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}
.jury-president p.president-name{

    font-size: 3rem;
    letter-spacing: 0.1em;
    padding: 30px 0 20px 0;

}
.jury-president .rank{
  text-align: center;
  font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #c8a461;
  padding-top: 10px;
  font-style: italic;
  letter-spacing: 1px;
}
.title-jury{
	color:#fff;
	width: 640px;
	margin: 45px auto;
}
