
.legals section {
  background-color: #fff;
  margin: 0 10px;
  color: #666666;
  padding-bottom: 100px;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
}
.legals section p{
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}
.legals section .legal-notice-description {
font-size: 20px;
  line-height: 30px;
  
  max-height: 5000px;
}

.legals section article {
  height: auto;
  box-sizing: border-box;
  padding-left: 0px;
  position: relative;
  width: 100%;
  padding-top: 50px;
  line-height: 26px;
  display: block;
}
.legals section article h4 {
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  color: #c8a461;
  max-height: 5000px;
}
.legals section article p{
  max-height: 5000px;
  font-size: 20px;
  line-height: 30px;
}