{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading">
        {% include 'FDCMarcheDuFilmBundle::shared/pressSubHeader.html.twig' %}
        <div class="bigContainer">
            <div class="our-news newsPage pressReview">
                <h3>{{ pressCoverageContent.title }}</h3>
                <div class="innerWrapper">
                    {% include 'FDCMarcheDuFilmBundle::presse/articleList.html.twig' with {'pressCoverageWidgets': pressCoverageWidgets} %}
                </div>
            </div>
            {% if  pressCoverageWidgets|length >= 9 %}
                <a href="#" id="load-more-retombee-articles">
                    <div class="moreArticles">
                        <span>{{ 'display_more'|trans }}</span>
                    </div>
                </a>
            {% endif %}
        </div><!--CONTAINER-->
    </div>
{% endblock %}
