{% trans_default_domain 'FDCCorporateBundle' %}
{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}loading retrospective selection retrospective-home restrospective-init dark{% endblock %}

{% block body %}
    <section class="border-bottom s-slider-retrospective">

        {% include 'FDCCorporateBundle:Retrospective:components/years_slider_mini.html.twig' %}

        <div class="ajax-section">
            <div class="contain-ajax">

                {{ render(controller('FDCCorporateBundle:Editions:menu', {year:app.request.get('year'), route:app.request.get('_route')})) }}

                {% include 'FDCCorporateBundle:Movie:components/filters.html.twig' %}

                <div class="all-contain">

                    {% if projections|length %}
                        {% for projection in projections %}
                            {% if projection.programmationFilms|length > 0 %}
                                {% set film = projection.programmationFilms[0].film %}
                                {% include 'FDCCorporateBundle:Movie:widgets/movie.html.twig' with {'film': film, 'projection': projection, 'restauration': true} %}
                            {% endif %}
                        {% endfor %}
                    {% elseif movies|length %}
                        {% for movie in movies %}
                            {% include 'FDCCorporateBundle:Movie:widgets/movie.html.twig' with {'film': movie, 'restauration': true} only %}
                        {% endfor %}
                    {% endif %}

                </div> <!-- end all contain -->
            </div>
        </div>
    </section>
    {% include "FDCCorporateBundle:Global:breadcrumb.html.twig" with
    {"breadcrumb":
    [
    {
    "name" : 'breadcrumb.69editions.home'|trans,
    "url"  : path('fdc_corporate_default_home')
    },
    {
    "name" : 'breadcrumb.retrospective.home'|trans,
    "url"  : path('fdc_corporate_editions_retrospective')
    },
    {
    "name" : app.request.attributes.get('year'),
    "url"  : path('fdc_corporate_editions_year', {'year': app.request.attributes.get('year')})
    },
    {
    "name" : 'breadcrumb.la_selection'|trans,
    "url"  : path('fdc_corporate_movie_selection', {'year': app.request.attributes.get('year')})
    },
    {
    "name" : 'selection.nav.cinema-la-plage'|trans,
    "url"  : ''
    }
    ]
    } %}
    {{ render(controller('FDCCorporateBundle:Global:shareEmail',
    {'section': '',
        'detail' : '',
        'title'  : '',
        'description': '',
        'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
    })) }}
{% endblock %}
