{% trans_default_domain 'FDCEventBundle' %}

<div class="photo-container">
    {% set trans = photo.findTranslationByLocale(app.request.locale) %}
    {% if trans is null or trans.file is null %}
        {% set trans = photo.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}
    {% set copyright = photo|trans_fallback('copyright') %}
    <img src="{% path file, '2560x1620' %}" alt="{{ trans.alt }}">
    <p class="caption">{{ photo|trans_fallback('legend') }}{% if copyright is not empty %} © {{ copyrihgt }}{% endif %}</p>
</div>