{% set trans = widget.findTranslationByLocale(app.request.locale) %}
{% if trans is null %}
    {% set trans = widget.findTranslationByLocale('fr') %}
{% endif %}

{% set header = widget.image %}
{% if header is not null %}
    {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
    {% if imageTrans is null or imageTrans.file is null %}
        {% set imageTrans = header.findTranslationByLocale('fr') %}
    {% endif %}
{% endif %}
{% if imageTrans is defined %}
    {% set image = imageTrans.file %}
{% endif %}

<div class="m-video">
    <div id="players-{{ widget.id }}" class="players" data-video="{{ trans.url }}" data-poster="{% if image is defined %}{% path image, 'reference' %}{% endif %}">    </div>
    <div class="infos-bar">
        <div class="info">
            <p>{{ trans.title }}</p>
        </div>
    </div>
</div>
<div style="height: 40px"></div>