{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}
{% set locales = [] %}
{% block body %}
<div id="main" class="loading error-not-found">
       <div class="vCenter">
         <div class="vCenterKid">
           <div class="texts">
            <h1>Error 500</h1>
            <p>The page you are trying to view does not exist. It's possible that its content is currently being translated. Please try again later.</p>
             <a href="/"><i class="icon icon_fleche-right"></i> return to news</a>
           </div>
         </div>
       </div>
    </div>
{% endblock %}