{% trans_default_domain 'FDCPressBundle' %}
{% set img = widget.gallery %}
{% set trans = img.findTranslationByLocale(app.request.locale) %}
{% if trans is null or trans.file is null %}
{% set trans = img.findTranslationByLocale('fr') %}
{% endif %}
{% set file = trans.file %}
<div class="contain-article">
    <div class="aside">
        {% thumbnail file, '363x229' with {'alt': img|trans_fallback('alt')} %}
    </div>
    <div class="texts">
        <strong>{{ widget|trans_fallback('title') }}</strong>
        <p>
            {{ widget|trans_fallback('content')|raw }}
        </p>
    </div>
</div>