{% trans_default_domain 'FDCPressBundle' %}

<div class="item-info" >
    {% if widget.picto is not null %}
        <i class="icon {{ widget.picto }}"></i>
    {% endif %}
    <h4 class="title-contain">
        {{ widget|trans_fallback('title') }}
    </h4>
    {{ widget|trans_fallback('content')|raw }}
</div>