{% if mediaImage is defined and mediaImage is not null %}
<div data-id="{{ 'photo' ~ mediaImage.id }}" class="thumb {{ index is defined and index == 1 ? 'active' : '' }}" data-caption="<strong>{{ mediaImage|trans_fallback('legend') }}</strong>{% if mediaImage|trans_fallback('copyright') %} © {{ mediaImage|trans_fallback('copyright') }}{% endif %}">
    <img src="{% path mediaImage|trans_fallback('file'), 'reference' %}" />
</div>
{% endif %}