{% trans_default_domain 'FDCEventBundle' %}

<div id="breadcrumb">
    <div class="container">
        <ul>
            {% for crumb in breadcrumb %}
                {% if loop.last == false %}
                    <li>
                        <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                        <i class="icon icon_fleche-right"></i>
                    </li>
                {% else %}
                    <li>
                        <a href="" class="active">{{ crumb.name|truncate(40) }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        <span class="goTop">
          {{ 'breadcrumb.btn.hautdelapage'|trans }}
            <i class="icon icon_fleche-top"></i>
        </span>
        </ul>

    </div>
</div>