<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('soif-refresh', object) }}">
    <i class="glyphicon glyphicon-refresh"></i>
    {{ 'link_action_soif_refresh'|trans({}, 'BaseAdminBundle') }}
</a>
