{% trans_default_domain 'BaseAdminBundle' %}

<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('soif-refresh', object) }}">
    <i class="glyphicon glyphicon-refresh"></i>
    {{ 'link.action_soif_refresh'|trans }}
</a>
