<div class="slides-calc2 navigation prev" style="display: none;"><i class="icon icon-arrow-left"></i></div>
<div class="slides-calc2 navigation next" style="display: none;"><i class="icon icon-arrow-right"></i></div>

<div class="slides-calc1 animated fadeOut" style="display: none;">
    <div class="slide">
        <div class="date" data-date="1948">1946</div>
    </div>
</div>

<div class="slides">

    <div data-slide="0" class="first-slide slider-restropective animated fadeOut isOpen block-push block-push-top background-effet" style="background-image: url('media/images/retrospective-home-01.jpg')">
        <div class="container block-01 vFlexAlign">
            <div class="vFlexAlign">
                <h1 class="title-big">69 ans de festival</h1>
                <p>Revivez tous les moments forts de l'histoire du Festival de Cannes à travers cette timeline interactive</p>
                <div class="block-drag">
                    <div class="avance"><span class="square"></span></div>
                    <i class="icon icon-drag-hand"></i>
                </div>
            </div>
        </div>

    </div>

    <div data-slide="1" class="slider-restropective big isOpen block-push block-push-top background-effet" style="background-image: url(&quot;media/images/retrospective-slider01.jpg&quot;);">
        <div class="container block-01 vFlexAlign">

            <div class="link-return-c">
                <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
            </div>

            <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
            <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>

            <div class="vFlexAlign">
                <img src="media/images/retrospective-slider01.jpg" alt="" class="open" style="display: none;">
                <div class="texts animated visible pulse">
                    <span class="title-4">1<sub>E</sub> édition</span>
                    <h2 class="title-2">1946</h2>
                    <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
                </div>
            </div>
        </div>
    </div>

    <div data-slide="2" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
            <div class="link-return-c">
                <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
            </div>

            <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1946</a><i class="icon icon-arrow-fill"></i></div>
            <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1948</a><i class="icon icon-arrow-fill"></i></div>

            <div class="vFlexAlign">
                <img src="media/images/retrospective-slider01.jpg" alt="">
                <div class="texts">
                    <span class="title-4">2<sub>E</sub> édition</span>
                    <h2 class="title-2">1947</h2>
                    <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
                </div>
            </div>
        </div>
    </div>

    <div data-slide="3" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
            <div class="link-return-c">
                <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
            </div>

            <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>
            <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1949</a><i class="icon icon-arrow-fill"></i></div>

            <div class="vFlexAlign">
                <img src="media/images/retrospective-slider01.jpg" alt="">
                <div class="texts">
                    <span class="title-4">3<sub>E</sub> édition</span>
                    <h2 class="title-2">1948</h2>

                    <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="block-01">
    <div class="timelapse block-drag" style="display: none;">
        <span class="date date-first" data-firstdate="1946">1946</span>
        <div class="avance noUi-target noUi-ltr noUi-horizontal noUi-background" id="timelapse-01"><span class="square"></span><div class="noUi-base"><div class="noUi-origin" style="left: 1.42857%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
        <span class="date date-last" data-lastdate="2015">2015</span>
    </div>
</div>