{% trans_default_domain 'FDCCorporateBundle' %}

{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}loading retrospective retrospective-home {% endblock %}

{% block body %}
    <div class="b-timer">
        <div class="c-timer block-01">
            <span class="time" data-date="2017-05-11 00:00:00"></span>
            <span class="c-texts">avant l'ouverture<br>du Festival de Cannes 2017</span>
            <span class="c-icon"><i class="icon icon-close"></i></span>
        </div>
    </div>
    {{ dump(app.request.getPathInfo) }}
    <section class="s-slider-retrospective">

        {% include 'FDCCorporateBundle:Retrospective:components/years_slider.html.twig' %}


        <div class="ajax-section">

        </div>
    </section>
{% endblock %}
