<div class="text-presentation producersWorkshop mdf customClass1Bckg">
    <h3>{{ title }}</h3>
    <div class="subNavigation">
        <nav>
            <ul class="main">
                <li>
                    <a href="#" class="active customClass1">Accueil</a>
                </li>
                <li>
                    <a href="#">conférences</a>
                </li>
                <li>
                    <a href="#">intervenants</a>
                </li>
                <li>
                    <a href="#">news</a>
                </li>
                <li>
                    <a href="#">partenaires</a>
                </li>
                <li>
                    <a href="#">infos et contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
