// 2. Block
// =========================

.half-div {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.three-quarts-div {
  height: 100%;
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

.cards {
  display: inline-block;
}

.block-01 {
  margin: 0 auto;
  max-width: 100%;
  width: 977px;

  img {
    max-width: 100%;
  }
}

.block-01-m {
  margin: 40px auto;
  max-width: 100%;
  width: 900px;
  margin-bottom: 20px;

  img {
    max-width: 100%;
  }

}

.block-01-s {
  margin: 40px auto;
  max-width: 100%;
  width: 830px;
  margin-bottom: 20px;

  img {
    max-width: 100%;
  }

}

.block-01-xs {
  margin: 0 auto;
  max-width: 100%;
  width: 633px;

  img {
    max-width: 100%;
  }

}

.block-02 {
  background-color: #f6f6f6;
  width: 100%;
  padding: 70px 0;
}

.block-03 {
  height: 600px;
}


.block-05 {
  color: #fff;
  background-color: $black;

  a {
    color: #fff;
  }
}

.block-push {
  // background: center 0 no-repeat fixed;
  background-size: cover;
  transition: height .5s;

  .link {
    margin-top: 20px;
    color:$gold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    font-family: $CamphorHeavy;
    transition: .5s;

    &:hover {
      opacity: .8;
    }

    .icon {
      font-size: .5rem;
      vertical-align: top;
      margin-right: 4px;
    }
  }

  p {
    color: #f6f6f6;
    line-height: 20px;
    text-align: center;
    font-size: .875rem;
    margin-top: 17px;
  }

  &.half-div {
    text-align:center;
    height: 325px;

    strong {
      font-size:1.25rem;
    }

    p{
      font-size: .875rem;
      color:#f6f6f6;
      padding-bottom: 6px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1599px) {
      height: 405px;
    }

    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      height: 503px;
    }

    @media screen and (min-width: 1920px) {
      height: 603px;
    }

  }

  @media screen and (min-width: 1600px) and (max-width: 1920px) {
      & {
        height:751px;
      }
  }

  @media screen and (min-width: 1920px) {
    &{
      height: 825px;
    }
  }

}

.block-push-02 {
  padding: 70px 0;

  .small-push, .long-push {
    height: 206px;

    &:hover .image-wrapper img {
      @include transition(all 4s $linear);
      @include transform(scale(1.08) translateZ(0));
      cursor: pointer;
    }
  }

  .right, .left {
    display: block;
  }

  .left {
    width: 100%;
  }

  .image-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;

    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      @include transition(all 3s $linear);
    }
  }

  strong {
    z-index: 0;
    width: 221px;
    text-align: center;
  }
}

.block-push-top {
  height: 300px;
  display:block;
  position:relative;

  .vFlexAlign {
    height: 100%;
  }

  .txts {
    text-align:center;
  }

  .title-2 {
    font-size: 3.75rem;
    font-family: $CamphorHeavy;
    color:#fff;
    display:block;
    letter-spacing: .1rem;
  }

  .title-3 {
    font-size: 1.75rem;
    font-family: $CamphorHeavy;
    color:#fff;
    display:block;
    letter-spacing: 0.85rem;
  }

  .title-4 {
    font-size: .75rem;
    color:#fff;
    display:block;
    letter-spacing: .1rem;
  }

  .date-back, .date-next {
    position: absolute;

    a {
      color:#fff;
      font-size: .75rem;
      font-family: $CamphorHeavy;
    }

    i {
      display:block;
      color:#383738;
    }
  }

  .date-back {
    left:28px;
    top: 50%;
    transform: rotate(-90deg);

    i {
      transform: rotate(-180deg);
      font-size: 1.4rem;
    }
  }

  .date-next {
    right:28px;
    top: 50%;
    transform: rotate(90deg);

    i {
      transform: rotate(180deg);
      font-size: 1.4rem;
    }
  }

}

.block-legend {
  padding: 25px 0;
  padding-bottom:33px;

  .info, .info h2 {
    text-align: left;
    margin: 0px;
  }

  .info h2 {
    a {
      color:#141414;
    }
  }

  .texts {
    display: flex;
    margin-top: 22px;

    h2 {
      width: 38%;
      box-sizing: border-box;
      padding-right: 100px;
    }

    .text-01 {
      width: 62%;
      font-family: $CamphorRegular;
      line-height: 24px;
      color:#868686;
      font-size: .875rem;
      box-sizing: border-box;
      padding-right: 65px;
    }
  }
}

.block-films {
  padding-top: 15px;
  height: 382px;

  video {
    height: 382px;
    padding: 0px 0px;
    background-color: #000;
  }

  .left {
    width: 69%;
    box-sizing: border-box;
    display: inline-block;
    height: 382px;
    overflow: hidden;
  }

  .right {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    box-sizing: border-box;
    height: 99.8%;
    font-size: .75rem;
    color: #a4a4a4;
    font-family: $CamphorMedium;

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background-color: rgba(102, 102, 102, 0.10);
    }

    ::-webkit-scrollbar-thumb {
      height: 10px;
      background-color: #c8a461;
    }

  }

  .block-infos {
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    flex-direction: column;
    height: calc( 100% - 76px );
    overflow: scroll;
    overflow-x:hidden;

    .title-3 {
      padding-bottom: 30px;
    }

    .date {
      color:#999999;
      font-size:.6875rem;
      font-family:$CamphorRegular;
    }
  }

  .text-infos {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;

    &:after {
      content:'';
      display:block;
      height:0px;
      width: 25px;
      border-top:1px solid #e7e7e7;
      margin-top:30px;
      position:absolute;
      left:46%;
    }

    &:last-child:after {
      display:none;
    }
  }

  .icon-palme {
    padding-top: 22px;
    font-size: 2.5rem;
    color: $gold;
    max-height: 39px;
    margin-bottom:10px;
  }
}

.block-movie-preview {
  background: center no-repeat fixed;
  background-size: cover;

  .bck-hover {
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    transition: .5s;

    &:hover {
      background-color:rgba(0, 0, 0, .7);

      .infos p, figcaption {
        color:#fff;
        transition: .5s;
      }
    }
  }

  .wrapper-item {
    width: 708px;
    display:flex;
    margin: 0 auto;
  }

  .wrapper-item-big {
    width: 989px;
    display:flex;
    margin: 0 auto;

    .description {
      width: auto;
    }
  }

  figcaption {
    font-size:.75rem;
    font-family: $CamphorMedium;
    color: #666666;
  }

  .poster {
    display:inline-block;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    width: 100%;
  }

  .big-date {
    color: $gold;
    font-size: 1.125rem;
    font-family: $CamphorBold;
    line-height: 24px;
    letter-spacing: .2rem;
    margin-bottom: 38px;
  }

  .description {
    color:#666666;
    font-family: $CamphorItalic;
    font-size : 1rem;
    line-height: 26px;
    text-align: center;
    width: 355px;
    margin-bottom: 40px;
  }

  .name-f {
    color:#fff;
    font-size: .875rem;//14px
    text-transform: uppercase;
    line-height: 18px;
    font-family: $CamphorBold;
    width: 183px;
    text-align: center;
  }

  .name-fb {
    color:#fff;
    font-size: .625rem;//10px
    text-transform: uppercase;
    line-height: 18px;
    font-family: $CamphorBold;
    width: 183px;
    text-align: center;
  }

  .names-a {
    color:$gold;
    font-size: .8125rem;
    line-height: 18px;
    font-family: $CamphorItalic;
  }

  .name-award {
    color:#fff;
    font-size:1.125rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: $CamphorBold;
    line-height: 24px;
    text-align: center;
  }

  .portrait {
    max-width: 52px;
    max-height: 70px;
    margin-bottom: 8px;
  }

  .line:after {
    content:'';
    height: 20px;
    width: 1px;
    background-color: #434343;
    display:block;
    margin: 10px auto;
  }

  .icon-palme {
    color: #fff;
    font-size: 2.5rem;
    max-height: 40px;
    margin-bottom: 10px;
    margin-top: -9px;
  }
}

.block-list-img {
  margin-top: 30px;

  .item {
    display: inline-block;
    margin: 0 11.5px;
    margin-bottom:13px;
    position: relative;
    cursor:pointer;

    &:after {
      content:'';
      width: 100%;
      height: 100%;
      opacity: .5;
      background-color:#000;
      position:absolute;
      top:0;
      left:0;
      transition:.5s;
    }

    &:hover:after {
      opacity:.1;
    }

    img {
      transition: .5s;
    }

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    .wrapper {
      display: block;

      &:after {
        border: 0px solid $gold;
        box-sizing: border-box;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 2;
      }

      &:hover:after {
        border: 4px solid $gold;
      }
    }

  }

  .center {

    .wrapper {
      &:after {
        border: 4px solid $gold;
      }
    }

    .item {
      &:after {
        opacity:0;
      }
    }
  }
}

.block-social-network {
  height:76px;
  box-sizing: padding-box;

  a {
    line-height: 76px;
    height: 100%;
    color: $gold;
    width: 25%;
    display: inline-block;
    text-align: center;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    transition: .5s;

    &:first-child {
      border-left: 0px solid #fff;
    }

    &:last-child {
      border-right: 1px solid #dfdfdf;
    }

    &:hover {
      border-color: $gold;

      &+a {
        border-left-color: $gold;
      }
    }
  }
}

.block-social-network-all {
  width: 380px;
  margin: 0 auto;
  padding-bottom: 60px;

  a {
    width: 76px;
    border-color: #222222;

    .bright & {
      border-color: #e7e7e7;

      &:first-child {
        border-left: 1px solid #e7e7e7;
      }

      &:last-child {
        border-color: #e7e7e7;
      }

      &:hover {
        border-color: $gold;

        &+a {
          border-left-color: $gold;
        }
      }
    }

    &:first-child {
      border-left: 1px solid #222222;
    }

    &:last-child {
      border-color: #222222;
    }

    &:hover {
      border-color: $gold;

      &+a {
        border-left-color: $gold;
      }
    }
  }
}

.block-poster {
  width: 256px;
  overflow: hidden;

  .contain-txts {
    box-sizing: border-box;
    padding-top: 27px;
    height: 109px;
    flex-direction: column;
    justify-content: initial;
    text-align: center;
  }

  .bright & {
    background-color: #fff;

    .title-11 {
      color:#141414;
    }
  }
}

.block-poster-01 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .item {
    margin: 0 28px;
  }

  .contain-txt {
    height: 117px;
  }

  strong {
    display: block;
    text-align: center;
  }

  img {
    margin-bottom: 20px;
  }
}

.block-jury {
  height: 606px;

  .contain-img {
    display:inline-block;
    width: 50%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    background-size:cover;
  }
  .contain-txt {
    background-color: #fff;
    display:inline-block;
    width: 50%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    vertical-align: bottom;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }

  .texte-01{
    font-size: .875rem;
    line-height: 24px;
    color:#666666;
    margin-top: 39px;
  }

  .title-18 {
    margin-bottom: 13px;
  }

  .title-20 {
    margin-top: 8px;
  }
}
