// 2. Block
// - HALF DIV
// - THREE QUARTS DIV
// - CARDS
// - BLOCK 01
// - BLOCK 01 medium
// - BLOCK 01 small
// - BLOCK 01 m small
// - BLOCK 01 x small
// - BLOCK 02
// - BLOCK 03
// - BLOCK 05
// - BLOCK PUSH
// - BLOCK PUSH 02
// - BLOCK PUSH TOP
// - BLOCK LEGEND
// - BLOCK FILMS
// - BLOCK MOVIE PREVIEW
// - BLOCK LIST IMG
// - BLOCK SOCIAL NETWORK
// - BLOCK LIST NETWORK ALL
// - BLOCK POSTER
// - BLOCK POSTER 01
// - BLOCK JURY
// - BLOCK ACCORDION
// - BLOCK RULES
// - BLOCK CONTACT
// - BLOCK P REGISTER
// - BLOCK TAB SWITCH
// - BLOCK SEARCH
// =========================

// - HALF DIV
.half-div {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

// - THREE QUARTS DIV
.three-quarts-div {
  height: 100%;
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

// - CARDS
.cards {
  display: inline-block;
}

// - BLOCK 01
.block-01 {
  margin: 0 auto;
  max-width: 100%;
  width: 977px;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

// - BLOCK 01 medium
.block-01-m {
  margin: 40px auto;
  max-width: 100%;
  width: 900px;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    object-fit: cover;
  }

}

// - BLOCK 01 small
.block-01-s {
  margin: 40px auto;
  max-width: 100%;
  width: 830px;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    object-fit: cover;
  }

}

// - BLOCK 01 m small
.block-01-ms {
  margin: 0 auto;
  max-width: 100%;
  width: 663px;

  img {
    max-width: 100%;
    object-fit: cover;
  }

}

// - BLOCK 01 x small
.block-01-xs {
  margin: 0 auto;
  max-width: 100%;
  width: 633px;

  img {
    max-width: 100%;
    object-fit: cover;
  }

}

// - BLOCK 02
.block-02 {
  background-color: #f6f6f6;
  width: 100%;
  padding: 70px 0;
}

// - BLOCK 03
.block-03 {
  height: 600px;
}

// - BLOCK 05
.block-05 {
  color: #fff;
  background-color: $black;

  a {
    color: #fff;
  }
}

// - BLOCK PUSH
.block-push {
  // background: center 0 no-repeat fixed;
  background-size: cover;
  transition: height .5s;

  .link {
    margin-top: 20px;
    color:$gold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    font-family: $CamphorHeavy;
    transition: .5s;

    &:hover {
      opacity: .8;
    }

    .icon {
      font-size: .5rem;
      vertical-align: top;
      margin-right: 4px;
    }
  }

  p {
    color: #f6f6f6;
    line-height: 20px;
    text-align: center;
    font-size: .875rem;
    margin-top: 17px;
  }

  &.half-div {
    text-align:center;
    height: 325px;

    strong {
      font-size:1.25rem;
    }

    p{
      font-size: .875rem;
      color:#f6f6f6;
      padding-bottom: 6px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1599px) {
      height: 405px;
    }

    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      height: 503px;
    }

    @media screen and (min-width: 1920px) {
      height: 603px;
    }

  }

  @media screen and (min-width: 1600px) and (max-width: 1920px) {
      & {
        height:751px;
      }
  }

  @media screen and (min-width: 1920px) {
    &{
      height: 825px;
    }
  }

}

// - BLOCK PUSH 02
.block-push-02 {
  padding: 70px 0;

  .small-push, .long-push {
    height: 206px;

    &:hover .image-wrapper img {
      @include transition(all 4s $linear);
      @include transform(scale(1.08) translateZ(0));
      cursor: pointer;
    }
  }

  .right, .left {
    display: block;
  }

  .left {
    width: 100%;
  }

  .image-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;

    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      @include transition(all 3s $linear);
    }
  }

  strong {
    z-index: 0;
    width: 221px;
    text-align: center;
  }
}

// - BLOCK PUSH TOP
.block-push-top {
  height: 300px;
  display:block;
  position:relative;

  .vFlexAlign {
    height: 100%;
  }

  .txts {
    text-align:center;
  }

  .title-2 {
    font-size: 3.75rem;
    font-family: $CamphorHeavy;
    color:#fff;
    display:block;
    letter-spacing: .1rem;
  }

  .title-3 {
    font-size: 1.75rem;
    font-family: $CamphorHeavy;
    color:#fff;
    display:block;
    letter-spacing: 0.85rem;
  }

  .title-4 {
    font-size: .75rem;
    color:#fff;
    display:block;
    letter-spacing: .1rem;
  }

  .date-back, .date-next {
    position: absolute;

    a {
      color:#fff;
      font-size: .75rem;
      font-family: $CamphorHeavy;
    }

    i {
      display:block;
      color:#383738;
    }
  }

  .date-back {
    left:28px;
    top: 50%;
    transform: rotate(-90deg);

    i {
      transform: rotate(-180deg);
      font-size: 1.4rem;
    }
  }

  .date-next {
    right:28px;
    top: 50%;
    transform: rotate(90deg);

    i {
      transform: rotate(180deg);
      font-size: 1.4rem;
    }
  }

  //MEDIA BANDEAU
  @media screen and (min-width: 1920px) {
      height: 448px !important;
  }

  @media screen and (min-width: 1600px) and (max-width:1919px) {
      height: 373px !important;
  }

  @media screen and (min-width: 1280px) and (max-width:1599px) {
      height: 297px !important;
  }

  @media screen and (min-width: 1024px) and (max-width:1279px) {
      height: 296px !important;
  }

  @media screen and (max-width:1023px) {
      height: 296px !important;
  }

}


// - BLOCK LEGEND
.block-legend {
  padding: 25px 0;
  padding-bottom:33px;

  .info, .info h2 {
    text-align: left;
    margin: 0px;
  }

  .info h2 {
    a {
      color:#141414;
    }
  }

  .texts {
    display: flex;
    margin-top: 22px;

    h2 {
      width: 38%;
      box-sizing: border-box;
      padding-right: 100px;
    }

    .text-01 {
      width: 62%;
      font-family: $CamphorRegular;
      line-height: 24px;
      color:#868686;
      font-size: .875rem;
      box-sizing: border-box;
      padding-right: 65px;
    }
  }
}


// - BLOCK FILMS
.block-films {
  padding-top: 15px;
  height: 382px;

  video {
    height: 382px;
    padding: 0px 0px;
    background-color: #000;
  }

  .left {
    width: 69%;
    box-sizing: border-box;
    display: inline-block;
    height: 382px;
    overflow: hidden;
  }

  .right {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    box-sizing: border-box;
    height: 99.8%;
    font-size: .75rem;
    color: #a4a4a4;
    font-family: $CamphorMedium;

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background-color: rgba(102, 102, 102, 0.10);
    }

    ::-webkit-scrollbar-thumb {
      height: 10px;
      background-color: #c8a461;
    }

  }

  .block-infos {
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    flex-direction: column;
    height: calc( 100% - 76px );
    overflow: scroll;
    overflow-x:hidden;

    .title-3 {
      padding-bottom: 30px;
    }

    .date {
      color:#999999;
      font-size:.6875rem;
      font-family:$CamphorRegular;
    }
  }

  .text-infos {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;

    &:after {
      content:'';
      display:block;
      height:0px;
      width: 25px;
      border-top:1px solid #e7e7e7;
      margin-top:30px;
      position:absolute;
      left:46%;
    }

    &:last-child:after {
      display:none;
    }
  }

  .icon-palme {
    padding-top: 22px;
    font-size: 2.5rem;
    color: $gold;
    max-height: 39px;
    margin-bottom:10px;
  }
}


// - BLOCK MOVIE PREVIEW
.block-movie-preview {
  background: center no-repeat fixed;
  background-size: cover;

  .bck-hover {
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    transition: .5s;

    &:hover {
      background-color:rgba(0, 0, 0, .7);

      .infos p, figcaption {
        color:#fff;
        transition: .5s;
      }
    }
  }

  .wrapper-item {
    width: 708px;
    display:flex;
    margin: 0 auto;
  }

  .wrapper-item-big {
    width: 989px;
    display:flex;
    margin: 0 auto;

    .description {
      width: auto;
    }
  }

  figcaption {
    font-size:.75rem;
    font-family: $CamphorMedium;
    color: #666666;
  }

  .poster {
    display:inline-block;
    width: 100%
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    width: 100%;
  }

  .big-date {
    color: $gold;
    font-size: 1.125rem;
    font-family: $CamphorBold;
    line-height: 24px;
    letter-spacing: .2rem;
    margin-bottom: 38px;
  }

  .description {
    color:#666666;
    font-family: $CamphorItalic;
    font-size : 1rem;
    line-height: 26px;
    text-align: center;
    width: 355px;
    margin-bottom: 40px;
  }

  .name-f {
    color:#fff;
    font-size: .875rem;//14px
    text-transform: uppercase;
    line-height: 18px;
    font-family: $CamphorBold;
    width: 183px;
    text-align: center;
  }

  .name-fb {
    color:#fff;
    font-size: .625rem;//10px
    text-transform: uppercase;
    line-height: 18px;
    font-family: $CamphorBold;
    width: 183px;
    text-align: center;
  }

  .names-a {
    color:$gold;
    font-size: .8125rem;
    line-height: 18px;
    font-family: $CamphorItalic;
  }

  .name-award {
    color:#fff;
    font-size:1.125rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: $CamphorBold;
    line-height: 24px;
    text-align: center;
  }

  .portrait {
    max-width: 52px;
    max-height: 70px;
    margin-bottom: 8px;
  }

  .line:after {
    content:'';
    height: 20px;
    width: 1px;
    background-color: #434343;
    display:block;
    margin: 10px auto;
  }

  .icon-palme {
    color: #fff;
    font-size: 2.5rem;
    max-height: 40px;
    margin-bottom: 10px;
    margin-top: -9px;
  }
}


// - BLOCK LIST IMG
.block-list-img {
  margin-top: 30px;

  .item {
    display: inline-block;
    margin: 0 11.5px;
    margin-bottom:13px;
    position: relative;
    cursor:pointer;

    &:after {
      content:'';
      width: 100%;
      height: 100%;
      opacity: .5;
      background-color:#000;
      position:absolute;
      top:0;
      left:0;
      transition:.5s;
    }

    &:hover:after {
      opacity:.1;
    }

    img {
      transition: .5s;
      object-fit: cover;
    }

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    .wrapper {
      display: block;

      &:after {
        border: 0px solid $gold;
        box-sizing: border-box;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 2;
      }

      &:hover:after {
        border: 4px solid $gold;
      }
    }

  }

  .center {

    .wrapper {
      &:after {
        border: 4px solid $gold;
      }
    }

    .item {
      &:after {
        opacity:0;
      }
    }
  }
}


// - BLOCK SOCIAL NETWORK
.block-social-network {
  height:76px;
  box-sizing: padding-box;

  a {
    line-height: 76px;
    height:76px;
    color: $gold;
    width: 25%;
    display: inline-block;
    text-align: center;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    transition: .5s;

    &:first-child {
      border-left: 0px solid #fff;
    }

    &:last-child {
      border-right: 1px solid #dfdfdf;
    }

    &:hover {
      border-color: $gold;

      &+a {
        border-left-color: $gold;
      }
    }
  }
}


// - BLOCK SOCIAL NETWORK ALL
.block-social-network-all {
  width: 380px;
  margin: 0 auto;
  padding-bottom: 60px;
  height:76px;
  box-sizing: inherit;

  a {
    width: 76px;
    height:76px;
    border-color: #222222;

    .bright & {
      border-color: #e7e7e7;

      &:first-child {
        border-left: 1px solid #e7e7e7;
      }

      &:last-child {
        border-color: #e7e7e7;
      }

      &:hover {
        border-color: $gold;

        &+a {
          border-left-color: $gold;
        }
      }
    }

    &:first-child {
      border-left: 1px solid #222222;
    }

    &:last-child {
      border-color: #222222;
    }

    &:hover {
      border-color: $gold;
      cursor: pointer;

      &+a {
        border-left-color: $gold;
      }
    }
  }
}

// - BLOCK POSTER
.block-poster {
  width: 256px;
  overflow: hidden;

  .contain-txts {
    box-sizing: border-box;
    padding-top: 27px;
    height: 109px;
    flex-direction: column;
    justify-content: initial;
    text-align: center;
  }

  .bright & {
    background-color: #fff;

    .title-11 {
      color:#141414;
    }
  }
}


// - BLOCK POSTER 01
.block-poster-01 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .item {
    margin: 0 28px;
  }

  .contain-txt {
    height: 117px;
  }

  strong {
    display: block;
    text-align: center;
  }

  img {
    margin-bottom: 20px;
    object-fit: cover;
  }
}


// - BLOCK JURY
.block-jury {
  height: 606px;

  .contain-img {
    display:inline-block;
    width: 50%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    background-size:cover;
  }
  .contain-txt {
    background-color: #fff;
    display:inline-block;
    width: 50%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    vertical-align: bottom;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }

  .texte-01{
    font-size: .875rem;
    line-height: 24px;
    color:#666666;
    margin-top: 39px;
  }

  .title-18 {
    margin-bottom: 13px;
  }

  .title-20 {
    margin-top: 8px;
  }
}


// - BLOCK ACCORDION
.block-accordion {

  .a-left {
    text-align: left;
  }

  .s-margin-top {
    margin-top: 26px;
  }

  .title-contain, .title-contain strong {
    padding: 38px 0;
    transition: .5s;

    &:hover {
      cursor: pointer;
      color: $gold;
    }
    // padding-bottom: 33px;
  }

  .description, p {
    color:#666666;
    line-height: 26px;
    font-family: $CamphorRegular;
    font-size: .875rem;
  }

  .description-top {
    margin-top: 22px;

    &.bottom-padding{
      margin-bottom: 22px;
    }
  }

  .icon {
    float: right;
    font-size: .6rem;
    margin-top: 5px;
    margin-right: 5px;
  }

  .icon-download{
    margin-top: 0px;
    float: none;
  }

  .title-img {
    color: #141414;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 2px;
    font-family: $CamphorBold;
    padding-top: 29px;
    display: block;
  }

  .title-img-top {
    color: #141414;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 2px;
    font-family: $CamphorBold;
    padding-top: 36px;
    padding-bottom: 22px;
    display: block;
  }

  .icon.icon-download {
    float: left;
    font-size: .8rem;
  }

  .btn-center {
    width: 180px;
    margin: 0 auto;
  }

  .title-22 {
    letter-spacing: 2px;
  }

  .single-image {
    // display: block;
    border: 1px solid #e7e7e7;
    width: 99.8%;
    text-align: center;
    height: 296px;
  }

  .caption {
    font-size: .875rem;
    font-family: $CamphorRegular;
    color:#666666;
    line-height: 24px;
    margin-top: 19px;
  }

  .s-caption {
    font-size: .75rem;
    font-family: $CamphorRegular;
    color:#666666;
    line-height: 18px;
    margin-top: 19px;
    width: 560px;

    a {
      color: $gold;
      transition: .4s;

      &:hover {
        opacity: .8;
      }
    }
  }

  .item {
    padding-bottom: 42px;
    max-height : 56px;
    overflow: hidden;
    transition: .5s;
  }


  .active {
    max-height : 10000px;

    strong, i, .title-22{
      color: $gold;
    }
  }

  .link {
    color: #666666;
    text-decoration: underline;
    padding-top: 15px;
    transition: .5s;
    font-size: .75rem;
    display: block;

    &:hover {
      opacity: .8;
    }
  }

  .title-dowload {
    font-family: $CamphorBold;
    font-size: .75rem;
    text-transform: uppercase;
    color:#a6a6a6;
    letter-spacing: 2px;

    &.title-dowload-top {
      margin-top: 26px;
      display: block;
    }
  }

  .three-images {
    align-items: baseline;

    .caption {
      margin-top: 0px;
    }

    .item-img {
      width: 295px;
      margin: 0px 21px;
      margin-bottom: 25px;
    }

    .title-img {
      font-family: $CamphorBold;
      font-size: .75rem;
      text-transform: uppercase;
      display: block;
      vertical-align: top;
      padding-top: 0px;
    }

    .contain-img {
      width: 295px;
      height: 295px;
      box-sizing: border-box;
      border: 1px solid #e7e7e7;
      margin-top: 22px;
      margin-bottom: 19px;
    }
  }

  .two-images {
    display: flex;
    margin-top:25px;

    .small {
      width: 295px;

      .contain-img {
        width: 295px;
        height: 295px;
        box-sizing: border-box;
        border: 1px solid #e7e7e7;
        margin-top: 22px;
      }
    }

    .big {
      width: 636px;
      padding-left: 46px;

      .contain-img {
        width: 636px;
        height: 295px;
        box-sizing: border-box;
        border: 1px solid #e7e7e7;
        margin-top: 22px;
      }
    }
  }

  .download {
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    justify-content: space-between;

    &.two-column {
      justify-content: initial;

      .item {
        width: 318px;
      }

    }

    &.three-column {
      width: 623px;
    }

    &.no-flex {
      display: block;
      margin-bottom: 40px;

      .caption {
        margin-top: 4px;
      }
    }
  }
}


// - BLOCK RULES
.block-rules {
  margin-top: 68px;

  .title-23 {
    padding-bottom: 21px;
  }

  .title-24.title-rules {
    padding-bottom: 29px;
  }

  .title-24 {
    padding-bottom: 9px;
  }

  .texte-01 {
    margin: 0;
    padding: 0;
    margin-bottom: 23px !important;
    line-height: 30px;

    strong {
      color: #666666;
    }
  }
}


// - BLOCK CONTACT
.block-contact {
  padding-top: 55px;

  .title-25 {
    text-align: center;
    display: block;
    margin-bottom: 42px;
  }

  a {
    color: $gold;
  }

  a.button {
    height: 50px;
    line-height: 50px;
    width: 237px;
    text-align: center;
    padding: 0px;
  }

  ul,p {
    color: #666666;
    margin-bottom: 42px;
    font-size: .875rem;
    line-height: 20px;
  }

  .bold-1 {
    line-height: 20px;
    font-size: .875rem
  }

  .item {
    display: inline-block;
    width:247px;
    vertical-align: top;
  }

  .i-1 {
    margin-right: 165px;
  }
}

// - BLOCK TAB SWITCH
.block-tab-switch {
  .title-tab-swich {
    font-size:.75rem;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: $CamphorBold;
    display: block;
    text-align: center;
  }

  table {
    margin-top: 27px;
    margin-bottom: 55px;
    border-collapse: collapse;

    td {
      color: #0c0c0c;
      border:1px solid #e6e6e6;
      border-color: #e6e6e6;
      text-transform: uppercase;
      text-align: center;
      font-size:.75rem;
      font-family: $CamphorBold;
      width: 326px;
      height: 66px;
      transition: .5s;
      cursor: pointer;
      line-height: 18px;

      &:hover {
        cursor: pointer;
        color: #fff;
        background: rgba(200, 164, 97, 0.8);
        border-color: rgba(200, 164, 97, 0.8);
      }

      &.active {
        cursor: pointer;
        color: #fff;
        background-color: $gold;
        border-color: $gold;
      }
    }
  }
}

.block-s-info {
  flex-direction: column;
  height: 255px;

  .title-25 {
    margin-bottom: 4px;
  }

  p {
    color: #666666;
    line-height: 30px;
    margin-bottom: 35px;
  }

  a.button {
    height: 50px;
    line-height: 50px;
    width: 178px;
    text-align: center;
    padding: 0px;
  }
}

.block-s-info-02 {
  flex-direction: column;
  height: 362px;
  color: #fff;
  background-size: cover;
  text-align: center;

  a {
    color:$gold;
    transition: .5s;

    &:hover {
      opacity: .8;
    }
  }

  a.button {
    height: 50px;
    line-height: 50px;
    width: 178px;
    text-align: center;
    padding: 0px;
  }

  .title-25 {
    margin-bottom: 18px;
    color: #fff;
  }

  p {
    line-height: 30px;
    margin-bottom: 30px;
    color: #fff;
  }
}

.block-search {
  margin-top: 50px;
  margin-bottom: 80px;

  .search-txt {
    position: relative;
    background-color: #fff;
    color: #0c0c0c;
    width: 489px;
    height: 63px;
    line-height: 63px;
    padding-left: 24px;
    box-sizing: padding-box;
    display: block;
    border-right: 0px solid #fff !important;

    .brigth & {
      color:#141414;
      border:1px solid #f4f4f4;
    }

    input {
      border: 0px solid #fff;
      outline: none;
      width: 90%;
      font-size: .875rem;
      color: #141414;
      font-family: $CamphorMedium;
      letter-spacing: 1px;
      font-style: italic;

      .brigth & {
        color:#141414;
        // border:1px solid #f4f4f4;
      }

    }

    .icon {
      margin-right: 15px;
      font-size: .8rem;
    }

    ::-webkit-input-placeholder {
       font-size: .875rem;
       color: #141414;
       font-family: $CamphorMedium;
       letter-spacing: 1px;
       font-style: italic;
    }

    :-moz-placeholder { /* Firefox 18- */
      font-size: .875rem;
      color: #141414;
      font-family: $CamphorMedium;
      letter-spacing: 1px;
      font-style: italic;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      font-size: .875rem;
      color: #141414;
      font-family: $CamphorMedium;
      letter-spacing: 1px;
      font-style: italic;
    }

    :-ms-input-placeholder {
      font-size: .875rem;
      color: #141414;
      font-family: $CamphorMedium;
      letter-spacing: 1px;
      font-style: italic;
    }
  }

  .icon-s {
    height: 63px;
    width: 166px;
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #181818;
    flex-direction:row;
    transition: .5s;
    border-right: 0px solid #fff !important;

    &.last {
      border-right: 1px solid #181818 !important;

      .brigth & {
        border-right: 1px solid #f4f4f4 !important;
      }
    }

    .brigth & {
     color:#141414;
     border:1px solid #f4f4f4;
    }

    .text {
      font-family: $CamphorHeavy;
      font-size: .5rem;
      line-height: 18px;
      text-transform: uppercase;
    }

    .icon {
      font-size: 1rem;
      vertical-align: sub;
      margin-right: 10px;
    }

    input {
      opacity: 0;
    }

    &.active, &:hover {
      color : $gold;
      cursor: pointer;
    }
  }

  .tabs-two {
    label {
      width: 50%;
      border-top: 0px solid #fff !important;

      &:hover, &.active {

        i, span, strong {
          color: $gold;
        }
      }

      i, span, strong{
        color: rgba(20, 20, 20, 0.5);
        transition: .5s;
      }
    }
  }

  .more-search {
    border:1px solid #f4f4f4;
    border-top: 0px solid #000;
    border-right: 0px solid #000;
    width: 100%;

    td {
      width: 50%;
      vertical-align: top;
      box-sizing: border-box;
      padding: 60px;
      height: 100%;
      border-right:1px solid #f4f4f4;
    }

    .title-cont {
      font-size: .625rem;
      color: rgba(20, 20, 20, 0.5);
      font-family: $CamphorBold;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 18px;
      padding-bottom: 30px;
      transition: .5s;

      .icon {
        float: right;
        font-size: .5rem;
      }

      &:hover {
        color:$gold;
        cursor: pointer;
      }
    }

    .selection {
      border-bottom:1px solid #f4f4f4;
      padding-bottom: 5px;

      .icon-arrow-down {
        float: right;
        font-size: .4rem;
        margin-right: 2px;
        margin-top: 3px;
      }
    }

    label {
      display: block;
      color: rgba(20, 20, 20, 0.5);
      font-size: .625rem;
      font-family: $CamphorBold;
      text-transform: uppercase;
      margin-bottom:18px;
    }

    .sub-tab, .tab-selection{
      margin-bottom: 30px;
      max-height: 20px;
      overflow: hidden;

      &.active{
        max-height: 10000px;

        .title-cont {
          color: $gold;
        }
      }
    }


    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative; /* permet de positionner les pseudo-éléments */
      padding-left: 17px; /* fait un peu d'espace pour notre case à venir */
      cursor: pointer;    /* affiche un curseur adapté */
    }
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left:0; top: 0px;
      width: 7px; height: 7px; /* dim. de la case */
      border: 1px solid #e5e5e5;
      background: #ffffff;
    }
    /* Aspect général de la coche */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '\2713'; //attention à ce caractère//
      position: absolute;
      top: 1px; left: 2px;
      font-size: 7px;
      color: $gold;
      transition: all .2s; /* on prévoit une animation */
    }
    /* Aspect si "pas cochée" */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0; /* coche invisible */
      transform: scale(0); /* mise à l'échelle à 0 */
    }
    /* Aspect si "cochée" */
    [type="checkbox"]:checked + label:after {
      opacity: 1; /* coche opaque */
      transform: scale(1); /* mise à l'échelle 1:1 */
    }
  }
}

.slider-selection {
  color:#fff;
  font-size: 1rem;
  font-family: $CamphorBold;
  padding: 30px;
  border: 1px solid #181818;
  border-top: 0px solid #fff;

  .brigth & {
    color:#141414;
    border:1px solid #f4f4f4;
    border-top:0px;
  }

  .number {
    opacity: .5;
    display: inline-block;
    color:#fff;

    .brigth & {
      opacity: .5;
      color: #141414;
    }
  }

  .container-timelapse{
    width: 810px;
    display: inline-block;
    vertical-align: super;
    margin: 0px 10px;
    // margin-right: 0px;
  }

  .noUi-target {
    border-radius: 0px;
    border: 0px solid #D3D3D3;
    box-shadow: none;
  }

  .noUi-base {
    width: 99%;
  }

  .noUi-horizontal {
    height: 1px;
  }

  .noUi-background {
    background: #252525;
    box-shadow: none;

    .brigth & {
      background: #e5e5e5;
    }
  }

  .noUi-handle {
    border: 2px solid $gold;
    border-radius: 0px;
    background: #0c0c0c;
    cursor: default;
    box-shadow: none;

    .brigth & {
      background: #fff;
    }
  }

  .noUi-connect {
    background: $gold;
    box-shadow: none;
    transition: background 450ms;

    .brigth & {
      box-shadow: none;
    }
  }

  .noUi-horizontal .noUi-handle {
    width: 10px;
    height: 10px;
    left: 0px;
    top: -5px;

    &:hover {
      cursor: pointer;
    }

    &.noUi-handle-lower {
      width: 10px;
      height: 10px;
      left: 0px;
      top: -5px;
    }
  }

  .noUi-handle:before, .noUi-handle:after {
    content: "";
    display: none;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
  }
}
