//       SUMMARY TABLE
// =========================
// 1. Global
// 2. Style
// 3. Responsive 768
// =========================



// 1. Global
// =========================

html {
  font-size: 16px;
}

body {
  background-color: $black;
  font-family: $CamphorRegular;
  font-size: 16px;
  overflow-x: hidden;
}

::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

#main {
  background-color: #fff;
  clear: both;
  position: relative;
  overflow-x: hidden;

  &:after {
    background-color: $black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;
    @include transition(all 0.5s $smoothTransition);
  }

  &.overlay:after {
    opacity: 0.8;
    visibility: visible;
  }

  &:before {
    background-color: $black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;
    @include transition(all 0.9s $smoothTransition);
  }

  &.loading:before {
    opacity: 1;
    visibility: visible;
  }

  &.overlay {
    cursor: pointer;
  }
}


// 2. Icon
// =========================
html body .icon:before{
  vertical-align: baseline;
}

body .icon{
  vertical-align: baseline; //todocss

  &:before{
    font-family: "icon";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}

.picto {
  color: $gold;
  line-height: 39px;

  .icon{
    margin-left: 17px;
    margin-top: 17px;
    font-size: .7rem;
  }
}

.video .picto {
  color: $gold;
  .icon{
    font-size: 0.8rem;
    margin-top: 16px;
    margin-left: 16px;
  }
}

.audio .picto {
  color: $gold;
  .icon{
    font-size: 1rem;
    margin-top: 14px;
    margin-left: 14px;
  }
}

.photo .picto {
  color: $gold;
  .icon{
    font-size: 1rem;
    margin-top: 14px;
    margin-left: 14px;
  }
}

.playlist .picto {
  color: $gold;
  .icon{
    font-size: .8rem;
    margin-top: 16px;
    margin-left: 15px;
  }
}

.picto {
  background-color: #151515;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 8px;
  height: 44px;
  left: 10px;
  position: absolute;
  pointer-events: none;
  width: 44px;
  line-height: 44px;
}


video{
  padding: 30px 0;
  padding-top: 23px;
  width: 100%;
}



// 2. Style
// =========================

.black{
  background-color:#0c0c0c;
}

.fullHeight {
  height: 100%;
}

.vCenter {
  display: inline-table;
  height: 100%;
  width: 100%;
}

.vCenterKid {
  display: table-cell;
  vertical-align: middle;
}

.vCenterKidBottom {
  display: table-cell;
  vertical-align: bottom;
}

.vCenterKidTop {
  display: table-cell;
  vertical-align: top;
}

.vFlexAlign{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clear:after{
  content: '';
  clear: both;
  display: block;
}

.shadow-bottom {
  &:before {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, transparent 56%, transparent 70%, rgba(20, 20, 20, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(56%, transparent), color-stop(70%, transparent), color-stop(100%, rgba(20, 20, 20, 0.8)));
    background: -webkit-linear-gradient(top, transparent 56%, transparent 70%, rgba(20, 20, 20, 0.8) 100%);
    background: -o-linear-gradient(top, transparent 56%, transparent 70%, rgba(20, 20, 20, 0.8) 100%);
    background: -ms-linear-gradient(top, transparent 56%, transparent 70%, rgba(20, 20, 20, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 70%, rgba(20, 20, 20, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#141414', GradientType=0 );
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.border-bottom{
  border-bottom:  1px solid #2C2C2C;

  .bright & {
    border-color: #e5e5e5;
  }
}

.border-top{
  border-top:  1px solid #2C2C2C;

  .bright & {
    border-color: #e5e5e5;
  }
}

.padding-bottom{
  padding-bottom: 70px;
  display: block;
}

.small-padding{
  padding-bottom: 25px;
}

.info {
  color: #969696;
  font-family: $CamphorMedium;
  text-align: center;

  .category,
  .update {
    color: $gold;
    font-family: $CamphorBold;
    display: inline-block;
    font-size: 0.625rem;
    letter-spacing: 0.1em;
    margin-right: 12px;
    text-transform: uppercase;
  }

  .update {
    border-left: 1px solid #d0cfd0;
    margin-left: 4px;
    margin-right: 5px;
    padding-left: 8px;
  }

  span {
    color: #969696;
    display: inline-block;
    font-size: 0.625rem;
  }

  strong {
    color: #333;
    font-family: $CamphorMedium;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.3em;
    margin: 15px auto 0;
    text-align: center;
    display: block;
    // padding: 0px 20px;
    box-sizing: border-box;

    a {
      color: #141414;
    }
  }

  h3 {
    color: #333;
    font-family: $Playfair;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.3em;
    margin: 15px auto 0;
    text-align: center;

    a {
      color: #333;
    }
  }

}

.center{
  text-align: center;
}


// 3. Responsive 768
// =========================

@include breakpoint(768px) {
  #main, header, footer {
    width: 1024px;
    zoom: 0.75;
  }

}
