/* thomon 27/01/2017 - misc fixes retrospective 69e edition */
.slider-restropective .block-01 .vFlexAlign img {
  .ie & {
    height: 404px;
  }
}

.isotope-01 .item.block-poster img {
  display: block;
}

.item.block-poster .contain-txts {
  padding-top: 25px;
}

.block-01 .title-12 {
  display: inline-block !important;
}

.block-movie-preview .wrapper-item .description {
	width: 475px;
}

.block-search .content-result .top-texts .see-all {
	font-size: .61rem;
	font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}
/* thomon - end fixes */