/* thomon 27/01/2017 - misc fixes retrospective 69e edition */
.slider-restropective .block-01 .vFlexAlign img {
  .ie & {

    height: auto!important;
    width: auto!important;
    min-width: none!important;
    max-with: 100%!important;
    min-height: none!important;
    max-height: 100%!important;

    &.open {
        height: auto;
        max-height: none!important;
    }
  }
}

.block-accordion .title-contain.border-top {
    border-top: 3px solid #e5e5e5;
}

.who-staff .container-items .block-poster{
    float: none;
}

.who-staff .pages .title-22 {
    margin-bottom: 33px;
}

.who-staff .pages .block-01 {
    margin-bottom: 0px;
}

#home .articles-wrapper .card.to-init {
    opacity: 0;
}

#home .articles-wrapper .card {
    opacity: 1;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#home-news-statements-more-end {
    margin-top: 71px;
}

.home .control-bar .time .time-info {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
}

.articles-list-medias.dark.retrospective .isotope-01.add-ajax-request {
    background: #000;
}

.article-single.dark .slideshow {
    border-bottom: 0px;
}

.block-accordion-02 .item-manual .contain-infos .item-infos a:hover {
    color: #000;
    border-color: #000;
}

.popin .article-authors {
    color: $gold;    
}

.block-diaporama .slider-01 .item img {
    height: 428px!important;
}

.module-title .title-big {
    color: #fff;
    font-family: "Playfair Display";
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3em;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
    padding-bottom: 20px;
}

.article-single #main,
.articles-list#main,
.media-library #main {
    overflow-y: hidden;
}

.articles-list#main {
    min-height: 660px;
}

.participate .contain-descript {
    .descrip {
        width: 785px;
        margin: 0 auto;
        padding: 46px 0;
        line-height: 30px;
        color: #333;
        text-align: center;
    }
}

.article-single .focus .title,
.article-single .same-day .title {
    color: #000;
    margin: 50px 0;
}

.focus .articles article:first-child {
    margin-right: 6%;
}

.focus .articles{
    padding-bottom: 65px;
    article {
        height: 430px;
        padding: 0;
        width: 46%;
        display: inline-block;

        .image {
            height: 290px;
            margin-bottom: 20px;
            position: relative;

            .image-wrapper {
                overflow: hidden;
                position: relative;
                height: 100%;
                width: 100%;
                z-index: 0;


                img {
                    top: 0px;
                    left: 0px;
                    position: absolute;
                    min-width: 100%;
                    min-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    -moz-transition: all 3s cubic-bezier(.25,.46,.45,.94);
                    -o-transition: all 3s cubic-bezier(.25,.46,.45,.94);
                    -webkit-transition: all 3s cubic-bezier(.25,.46,.45,.94);
                    transition: all 3s cubic-bezier(.25,.46,.45,.94);
                }
            }
        }

        .info {
            h2,
            strong {
                margin: 15px auto 0;
                a {
                    color: #000;
                    font-size: 1.125rem;
                }
            }
        }
    }   
}

.same-day .articles.center {
    padding-bottom: 65px;
    article {
        padding: 0;
        width: 29%;

        .info {
            strong,
            h2 {
                margin: 15px auto 0;
                a{
                    color: #000;
                    font-size: 1.125rem;
                    font-family: "Camphor W01 Medium", Arial, Helvetica, sans-serif;
                }
            }
        } 

        .image.image-sameday-wrapper {
            width: 293px;
            height: 185px;
            margin-bottom: 20px;
            position: relative;


            .image-wrapper {
                overflow: hidden;
                position: relative;
                height: 100%;
                width: 100%;
                z-index: 0;

                img {
                    position: absolute;
                    min-width: 100%;
                    min-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    top: 0px;
                    left: 0px;
                    -moz-transition: all 3s cubic-bezier(.25,.46,.45,.94);
                    -o-transition: all 3s cubic-bezier(.25,.46,.45,.94);
                    -webkit-transition: all 3s cubic-bezier(.25,.46,.45,.94);
                    transition: all 3s cubic-bezier(.25,.46,.45,.94);
                }
            }
        }
    }
}

#social-wall #wall .post .side.side-1 {
    background-color: #f6f6f6;    
}

.articles-list .card.item {
    &.w2.double {
        min-height: 620px;
    }

    .info .category {
        position: relative;
        top: 2px;
    }
}

header .user-nav li a.account {
    display: none;
}

body#home .contain-card{
    .grid-01 .card{
        &:first-of-type {
            width: 650px;
            height: auto;
            padding-left: 0px;

            .image {
                height: 426px;
            }

            .info {
                height: auto;
                padding-bottom: 30px;
            }

            strong{
                font-size: 1.8rem;
                letter-spacing: 0px;
            }
        }

    }   
}

body#home .articles-wrapper{
    height: auto!important;
    .articles {
        .grid-01 .card{
            &:first-of-type {
                width: 650px;
                height: auto;
                padding-left: 0px;

                .image {
                    height: 426px;
                }

                .info {
                    height: auto;
                    padding-bottom: 30px;
                }

                strong{
                    font-size: 1.8rem;
                    letter-spacing: 0px;
                }
            }
        }

        &.article-inverse {
            .grid-01 .card{
                padding: 0px;
                padding-right: 60px;

                &:first-of-type {
                
                    width: 325px;
                    height: 300px;
                    min-height: 321px;

                    .image {
                        height: 167px;
                    }

                    strong{
                        font-size: 1.125rem;
                    }
                }

                &:nth-child(odd) {
                    width: 650px;
                    height: auto;
                    padding-right: 0px;
                    float: right;

                    .info {
                        height: auto;
                        padding-bottom: 30px;
                    }

                    .image {
                        height: 426px;
                    }

                    strong{
                        font-size: 1.8rem;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
    .grid-01 .card{
        &:first-of-type {
            width: 650px;
            height: auto;

            .image {
                height: 426px;
            }

            .info {
                height: auto;
                padding-bottom: 30px;
            }

            strong{
                font-size: 1.8rem;
                letter-spacing: 0px;
            }
        }
    }
}

.block-accordion .active .contain-infos a {
    display: inline-block;
    color: $gold;    
}

article.communique .picto {
    background-color: #c8a461;
    color: #000;
    text-align: center;
    
    .icon {
        font-size: 1.2rem;
    }
}

.home .item.communique .picto {
    background-color: #c8a461;
    color: #000;
    text-align: center;
    font-size: 1.2rem;

    .icon {
        font-size: 1.2rem;
    }
}

.info .picto {
    color: $gold;
}

.picto,
.cards .picto {
    text-align: center;
}

.p-register .info strong {
    font-size:1.1rem;
}

.block-push-top h1 i.icon {
    font-size: 2.75rem;
    margin-top: -6px;
}

.dark .title-list-cat .title-item {
    font-weight: 300;
}

.articles-list .card .info strong{
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif!important;
}

.articles-list .card.w2 .info strong{
    font-size: 2.25rem;
}

.slider-01 .center figcaption strong {
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
}

.article-single.dark section .caption {
    margin-top: 10px;
}

#home {
    .card {
        .info strong {
            color: #333;
            /*font-family: "Playfair Display",Times New Roman,Times,serif;*/
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: .02em;
            line-height: 1.3em;
            margin: 15px auto 0;
            text-align: center;

            a {
                color: #333;
            }
        }

        &.w2 {
            .info strong {
                font-size: 2.25rem;
                line-height: 1.3em;
            }
        }
    }

    #sortiecanne {
        .video-container {
            height: 380px;
        }
    }

    .slider-02 {
        .owl-stage-outer {
            transform: translate3d(-418px, 0px, 0px);
        }
    }
}

.slider-home .texts .item p {
    padding-bottom: 0px;
    margin-bottom: 72px;
}

.block-search .content-result .artist .item, .block-search  .content-result .movies .item{
    width: 162px;
}

.isotope-01 .item.block-poster img {
  display: block;
  background: #000;

  &.landscape {
    height: 100%;
    width: auto;
  }

  &.portrait {
    height: 100%;
    width: auto;
  }
}

.item.block-poster .contain-txts {
  padding-top: 25px;
}

.block-01 .title-12 {
  display: inline-block !important;
}

.block-movie-preview .wrapper-item .description {
	width: 475px;
}

.card.double strong {
    
}

.block-search .content-result .top-texts .see-all {
	font-size: .61rem;
	font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

.article-single section .table-article, .single-movie section .table-article {
	width: 100%!important;
}
.article-single .text .table-article strong, .single-movie .text .table-article strong {
	font-size: 12px;
	color: #ccc;
}

.evenements .card .info strong {
    margin-bottom: 35px;
}

/* cms wysiwyg styles */
.single-article .title-article {
    color: #333;
    font-family: "Playfair Display",Times New Roman,Times,serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3em;
    margin: 20px auto;
    max-width: 775px;
    text-align: center;
    padding: 60px;
}

.legal-notice h2 {
    padding: 60px;
    font-size: 28px;
}

h2.sub-title {
    font-size: 1.5rem;
    margin-bottom: 50px;
    text-align: center;
}

.text h2.sub-title, .text h2.sub-title2 {
    font-family: "Playfair Display",Times New Roman,Times,serif;
}

.legal-notice h2 {
    padding: 60px;
    font-size: 28px;
}

.text h2.sub-title2 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 25px 0;
}

.single-article .chapeau {
    font-family: "Camphor W01 Bold",Arial,Helvetica,sans-serif;
    color: #333;
    font-size: 1.125rem;
    line-height: 2em;
    margin-bottom: 70px;
    text-align: center;
}

.block-contain-txt-register-movie h4 {
	padding-bottom: 32px;
}

.block-contain-txt-register-movie h5 {
	font-size: .8rem;
}

.block-contain-txt-register-movie .info {
  margin-top: 42px !important;
}

.text-01 sub {
	vertical-align: sub!important;
}
.text-01 sup {
	vertical-align: super!important;
}
.text-01 strong {
    display: inline;
    font-size: .9rem;
}
.block-push-03 .block-push-item .title {
    font-weight: normal!important;
}

.block-search .more-search .country {
    text-transform: none!important;
    //background: url(../img/arrow-down.png) no-repeat right 50%;
  font-family: $CamphorItalic;
  padding-bottom: 8px;
}

.block-search .tabs-two label {
    letter-spacing: 1px;
}

.block-search .search-txt .icon {
    position: relative;
    top: 1px;
}
.edition-69.dark .contain-img-honneur .copy {
    color: #ccc;
}
.wysiwyg-article-02 .contain-title p {
    margin-bottom: 39px;
}
.article-single .block-push-top .vFlexAlign {
    height: 100%;
}
.faq {
    min-height: 513px;
}

.article-single .text .table-article a strong, .single-movie .text .table-article a strong{
  color: $gold;
}

.affiche-fdc .block-movie-preview .poster:hover {
  cursor: pointer;
}

.block-diaporama .slider-01 .owl-item .item {
    width: auto;
    height: 428px;
    overflow: visible;

    figure, img {
        height: 100%;
        width: auto;
        max-width: none;
        margin: 0px;
        padding: 0px;
    }
}

#sortiecanne .block-list-img .item img{
    max-height: 180px;
    width: auto;
}

.block-legend .texts .text-01 strong {
    font-weight: bold;
}

.block-01.socialwall .title {
    font-weight: 300;
}

header #navigation ul.user li a {
    font-weight: bold;
}

header #navigation ul.user li a .icon {
    top: 1px!important;
}

.article-single .text a {
    color: $gold;
}

.article-single .text a.button:hover,
.article-single .text .button a:hover {
    background: $gold;
    color: #fff;
}

/* hotfix bad width calculation */
.block-diaporama .owl-stage-outer .owl-stage {
    min-width: 999999px;    
}

.block-diaporama .owl-carousel .owl-item {
    cursor: pointer; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    overflow: visible;
}

.block-diaporama .slider-01 figcaption{
    font-size: .65rem;
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description{

    color: #666;
    display: inline-block;
    font-size: 0.625rem;

    .category {
        color: $gold;
        cursor: default;
        display: inline-block;
        font-size: .625rem;
        letter-spacing: .1em;
        margin-right: 12px;
        text-transform: uppercase;
    }
}



.c-fullscreen-slider .chocolat-bottom .chocolat-description span.hour {
    font-size: 0.625rem;
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description h2 a{
    cursor: default;
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description strong a{
    color: #fff;
    cursor: default;
}

header #navigation ul.user li a {
    .icon-pencil:before {
        content: "";
        background: url(../img/pencil.svg) no-repeat left top;
        background-size: 100%;
        width: 10px;
        height: 10px;
        transition: all 0.6s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    }

    &:hover {
        .icon-pencil:before {
            background: url(../img/pencil-hover.svg) no-repeat left top;
        }
    }
}

.slider-01 figcaption {
    color: #666666;
    font-size: .75rem;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    height: 15px;
}

.retrospective {
    .slider-restropective {
        .calc3{
            width: 50%;
            left: 0px;

            img.i1 {
                position: absolute;
                top: 10%;
                left: 10%;
            }

            img.i2 {
                position: absolute;
                bottom: 20%;
                left: 15%;
            }

            img.i3 {
                position: absolute;
                top: 5%;
                left: 15%;
            }
        }

        .calc4{
            width: 50%;
            right: 0px;
            img.i1 {
                position: relative;
                top: 1%;
                left: 33%;
            }

            img.i2 {
                top: 21%;
                position: relative;
                right: -24%;
            }
        }
    }

    .slider-restropective[data-slide="10"] {
            .calc3 {
                img.i1 {
                    left: -23%;
                }

                img.i2 {
                    right: -9%;

                    @media only screen and (max-width : 1440px) {
                        top: 8%;
                        position: relative;
                        right: -16%;
                    }
                }
            }
        }
}

.dark .grid-01 {
    margin-top: 0px;
}

.block-diaporama .owl-carousel .owl-item img {
    width: auto;
    height: 100%;
}

.articles-list .grid-01 .card .info .category {
    display: inline-block!important;
}

.block-search .content-result section.artist {
    overflow: hidden;
}

.slider-selection .number#slider-snap-value-upper {
    position: absolute;
    right: 35px;
    top: 95px;
}

.articles-wrapper {
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .articles {
        transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &::selection {
        background-color: transparent;
    }
}

.noscroll {
    overflow: hidden;
}

.fullscreen-slider img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

@media only screen and (max-width : 1440px) {
    .retrospective .slider-restropective {
        .calc3 {
            zoom: 0.9;
            left: 12%;
            top: 5%;
        }

        .calc4 {
            zoom: 0.8;
            left: 17%;
            top: -4%;
        }
    }
}

@media only screen and (max-width : 1280px) {
    .retrospective .slider-restropective {
        .calc3 {
            zoom: 0.8;
            left: 30%;
            top: 3%;

            .i2 {
                top: 21%;
                position: relative;
                right: 47%;
            }
        }

        .calc4 {
            zoom: 0.7;
            left: 25%;
            top: -1%;
        }
    }
}

.block-01-s .quote {
    padding: 48px 90px;
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description h2{
    color: #666;

    a {
        margin-top: 5px;
    }
}

/* custom breakpoints for homepage slider */
@media screen and (max-width : 1540px) {
    body .slider-home .container-images .item {
        background-size: 80%;
    }
}

@media screen and (max-width : 1450px) {
    body .slider-home .container-images .item {
        background-size: 90%;
    }
}

@media screen and (max-width : 1280px) {
    body .slider-home .container-images .item {
        background-size: 100%;
    }
}

@media screen and (max-width : 1120px) {
    body .slider-home .container-images .item {
        background-size: cover;
    }
}

/* rework sly slider hp */

.home .block-diaporama {
    overflow: visible!important;

    .slider-01 {
        min-width: 999999999px;
        .item {
            float: left;
            height: 428px;
        }
    }
}

.block-contact .title-25 {
    letter-spacing: 3px;
}

.block-contact {
    padding-bottom: 55px;
}

.block-contact .item.i-2 {
    width: 241px;
    float: right;

    a.button {
        margin-top: 22px;
    }
}

.article-single .half-photo {
    width: 50%;
}

.article-single .small-pres p.caption strong,
.article-single .pres-honneur p.caption strong {
    font-size: .75rem;
}

.who-fdc .block-01-s .half-photos {
    width: 730px;
    margin: 0 auto;

    .half-photo {
        width: 330px;
    }
}

/* thomon - end fixes */