/* thomon 27/01/2017 - misc fixes retrospective 69e edition */
.slider-restropective .block-01 .vFlexAlign img {
  .ie & {
    height: 404px;
  }
}

.isotope-01 .item.block-poster img {
  display: block;
}

.item.block-poster .contain-txts {
  padding-top: 25px;
}

.block-01 .title-12 {
  display: inline-block !important;
}

.block-movie-preview .wrapper-item .description {
	width: 475px;
}

.block-search .content-result .top-texts .see-all {
	font-size: .61rem;
	font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

.article-single section .table-article, .single-movie section .table-article {
	width: 100%!important;
}
.article-single .text .table-article strong, .single-movie .text .table-article strong {
	font-size: 12px;
	color: #ccc;
}

/* cms wysiwyg styles */
.single-article .title-article {
    color: #333;
    font-family: "Playfair Display",Times New Roman,Times,serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3em;
    margin: 20px auto;
    max-width: 775px;
    text-align: center;
    padding: 60px;
}

.legal-notice h2 {
    padding: 60px;
    font-size: 28px;
}

h2.sub-title {
    font-size: 1.5rem;
    margin-bottom: 50px;
    text-align: center;
}

.text h2.sub-title, .text h2.sub-title2 {
    font-family: "Playfair Display",Times New Roman,Times,serif;
}

.legal-notice h2 {
    padding: 60px;
    font-size: 28px;
}

.text h2.sub-title2 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 25px 0;
}

.single-article .chapeau {
    font-family: "Camphor W01 Bold",Arial,Helvetica,sans-serif;
    color: #333;
    font-size: 1.125rem;
    line-height: 2em;
    margin-bottom: 70px;
    text-align: center;
}

.block-contain-txt-register-movie h4 {
	padding-bottom: 32px;
}

.block-contain-txt-register-movie h5 {
	font-size: .8rem;
}

.text-01 sub {
	vertical-align: sub!important;
}
.text-01 sup {
	vertical-align: super!important;
}
.text-01 strong {
    display: inline;
    font-size: .9rem;
}
.block-push-03 .block-push-item .title {
    font-weight: normal!important;
}

.block-search .more-search .country {
    text-transform: none!important;
    background: url(../img/arrow-down.png) no-repeat right 50%;
}

.block-search .tabs-two label {
    letter-spacing: 1px;
}

.block-search .search-txt .icon {
    position: relative;
    top: 2px;
}
.edition-69.dark .contain-img-honneur .copy {
    color: #ccc;
}
.wysiwyg-article-02 .contain-title p {
    margin-bottom: 39px;
}
/* thomon - end fixes */