/* thomon 27/01/2017 - misc fixes retrospective 69e edition */
.slider-restropective .block-01 .vFlexAlign img {
  .ie & {

    height: auto!important;
    width: auto!important;
    min-width: none!important;
    max-with: 100%!important;
    min-height: none!important;
    max-height: 100%!important;

    &.open {
        height: auto;
        max-height: none!important;
    }
  }
}

.block-accordion .title-contain.border-top {
    border-top: 3px solid #e5e5e5;
}

.articles-list-medias.dark.retrospective .isotope-01.add-ajax-request {
    background: #000;
}

.block-accordion-02 .item-manual .contain-infos .item-infos a:hover {
    color: #000;
    border-color: #000;
}

.participate .contain-descript {
    .descrip {
        width: 785px;
        margin: 0 auto;
        padding: 46px 0;
        line-height: 30px;
        color: #333;
        text-align: center;
    }
}

.block-accordion .active .contain-infos a {
    display: inline-block;
    color: $gold;    
}

.p-register .info strong {
    font-size:1.1rem;
}

.block-push-top h1 i.icon {
    font-size: 2.75rem;
    margin-top: -6px;
}

.dark .title-list-cat .title-item {
    font-weight: 300;
}

.articles-list .card .info strong{
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif!important;
}

.articles-list .card.w2 .info strong{
    font-size: 2.25rem;
}

.slider-01 .center figcaption strong {
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
}

.article-single.dark section .caption {
    margin-top: 10px;
}

#home {
    .card {
        .info strong {
            color: #333;
            /*font-family: "Playfair Display",Times New Roman,Times,serif;*/
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: .02em;
            line-height: 1.3em;
            margin: 15px auto 0;
            text-align: center;

            a {
                color: #333;
            }
        }

        &.w2 {
            .info strong {
                font-size: 2.25rem;
                line-height: 1.3em;
            }
        }
    }   
}

.slider-home .texts .item p {
    padding-bottom: 0px;
    margin-bottom: 72px;
}

.block-search .content-result .artist .item, .block-search  .content-result .movies .item{
    width: 162px;
}

.isotope-01 .item.block-poster img {
  display: block;
  background: #000;

  &.landscape {
    height: 100%;
    width: auto;
  }

  &.portrait {
    height: 100%;
    width: auto;
  }
}

.item.block-poster .contain-txts {
  padding-top: 25px;
}

.block-01 .title-12 {
  display: inline-block !important;
}

.block-movie-preview .wrapper-item .description {
	width: 475px;
}

.card.double strong {
    
}

.block-search .content-result .top-texts .see-all {
	font-size: .61rem;
	font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

.article-single section .table-article, .single-movie section .table-article {
	width: 100%!important;
}
.article-single .text .table-article strong, .single-movie .text .table-article strong {
	font-size: 12px;
	color: #ccc;
}

/* cms wysiwyg styles */
.single-article .title-article {
    color: #333;
    font-family: "Playfair Display",Times New Roman,Times,serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3em;
    margin: 20px auto;
    max-width: 775px;
    text-align: center;
    padding: 60px;
}

.legal-notice h2 {
    padding: 60px;
    font-size: 28px;
}

h2.sub-title {
    font-size: 1.5rem;
    margin-bottom: 50px;
    text-align: center;
}

.text h2.sub-title, .text h2.sub-title2 {
    font-family: "Playfair Display",Times New Roman,Times,serif;
}

.legal-notice h2 {
    padding: 60px;
    font-size: 28px;
}

.text h2.sub-title2 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 25px 0;
}

.single-article .chapeau {
    font-family: "Camphor W01 Bold",Arial,Helvetica,sans-serif;
    color: #333;
    font-size: 1.125rem;
    line-height: 2em;
    margin-bottom: 70px;
    text-align: center;
}

.block-contain-txt-register-movie h4 {
	padding-bottom: 32px;
}

.block-contain-txt-register-movie h5 {
	font-size: .8rem;
}

.block-contain-txt-register-movie .info {
  margin-top: 42px !important;
}

.text-01 sub {
	vertical-align: sub!important;
}
.text-01 sup {
	vertical-align: super!important;
}
.text-01 strong {
    display: inline;
    font-size: .9rem;
}
.block-push-03 .block-push-item .title {
    font-weight: normal!important;
}

.block-search .more-search .country {
    text-transform: none!important;
    //background: url(../img/arrow-down.png) no-repeat right 50%;
  font-family: $CamphorItalic;
  padding-bottom: 8px;
}

.block-search .tabs-two label {
    letter-spacing: 1px;
}

.block-search .search-txt .icon {
    position: relative;
    top: 1px;
}
.edition-69.dark .contain-img-honneur .copy {
    color: #ccc;
}
.wysiwyg-article-02 .contain-title p {
    margin-bottom: 39px;
}
.article-single .block-push-top .vFlexAlign {
    height: 100%;
}
.faq {
    min-height: 513px;
}

.article-single .text .table-article a strong, .single-movie .text .table-article a strong{
  color: $gold;
}

.affiche-fdc .block-movie-preview .poster:hover {
  cursor: pointer;
}

.block-diaporama .slider-01 .owl-item .item {
    width: auto;
    height: 428px;
    overflow: visible;

    figure, img {
        height: 100%;
        width: auto;
        max-width: none;
        margin: 0px;
        padding: 0px;
    }
}

.block-legend .texts .text-01 strong {
    font-weight: bold;
}

.block-01.socialwall .title {
    font-weight: 300;
}

header #navigation ul.user li a {
    font-weight: bold;
}

header #navigation ul.user li a .icon {
    top: 1px!important;
}

.article-single .text a {
    color: $gold;
}

.block-diaporama .owl-stage-outer .owl-stage {
    min-width: 9999px;    
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description{

    color: #666;
    display: inline-block;
    font-size: 0.625rem;

    .category {
        color: $gold;
        cursor: default;
        display: inline-block;
        font-size: .625rem;
        letter-spacing: .1em;
        margin-right: 12px;
        text-transform: uppercase;
    }
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description span.hour {
    font-size: 0.625rem;
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description h2 a{
    cursor: default;
}

.c-fullscreen-slider .chocolat-bottom .chocolat-description strong a{
    color: #fff;
    cursor: default;
}

header #navigation ul.user li a {
    .icon-pencil:before {
        content: "";
        background: url(../img/pencil.svg) no-repeat left top;
        background-size: 100%;
        width: 10px;
        height: 10px;
        transition: all 0.6s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    }

    &:hover {
        .icon-pencil:before {
            background: url(../img/pencil-hover.svg) no-repeat left top;
        }
    }
}

.slider-01 figcaption {
    color: #666666;
    font-size: .75rem;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    height: 15px;
}

.retrospective {
    .slider-restropective {
        .calc3 img.i1 {
            position: relative;
            top: 2%;
            left: -21%;
        }

        .calc3 img.i2 {
            top: 10%;
            position: relative;
            right: 24%;
        }

        .calc3 img.i3 {
            position: relative;
            top: 8%;
            left: -35%;
        }

        .calc4 img.i1 {
            position: relative;
            top: 1%;
            left: 33%;
        }

        .calc4 img.i2 {
            top: 21%;
            position: relative;
            right: -24%;
        }

        
    }

    .slider-restropective[data-slide="10"] {
            .calc3 {
                img.i1 {
                    left: -23%;
                }

                img.i2 {
                    right: -9%;

                    @media only screen and (max-width : 1440px) {
                        top: 8%;
                        position: relative;
                        right: -16%;
                    }
                }
            }
        }
}

.dark .grid-01 {
    margin-top: 0px;
}

.block-diaporama .owl-carousel .owl-item img {
    width: auto;
    height: 100%;
}

.articles-list .grid-01 .card .info .category {
    display: inline-block!important;
}

.block-search .content-result section.artist {
    overflow: hidden;
}

.slider-selection .number#slider-snap-value-upper {
    position: absolute;
    right: 35px;
    top: 95px;
}

.articles-wrapper {
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .articles {
        transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

@media only screen and (max-width : 1440px) {
    .retrospective .slider-restropective {
        .calc3 {
            zoom: 0.9;
            left: 12%;
            top: 5%;
        }

        .calc4 {
            zoom: 0.8;
            left: 17%;
            top: -4%;
        }
    }
}

@media only screen and (max-width : 1280px) {
    .retrospective .slider-restropective {
        .calc3 {
            zoom: 0.8;
            left: 30%;
            top: 3%;

            .i2 {
                top: 21%;
                position: relative;
                right: 47%;
            }
        }

        .calc4 {
            zoom: 0.7;
            left: 25%;
            top: -1%;
        }
    }
}

/* thomon - end fixes */