<div class="bandeau-list  bandeau-list-footer push-footer vCenter">
    <div class="bandeau-list-img vCenterKid" style="background-image:url({{ asset('bundles/fdccourtmetrage/img/films/selection-officielle/push.jpg') }});">
        <h2 class="title title-list-header">{{ 'retrospective.title'|trans }}</h2>
        <a href="http://www.festival-cannes-2016.com.ohwee.fr/fr/corporate/69-editions/retrospective/2016/selection/courts-metrages" class="bandeau-lien"><i class="icon icon_fleche-right"></i> {{ 'retrospective.link_label'|trans }}</a>
    </div>
</div>
