{# TODO: Uncomment when FDC pages are ready #}

{#<div class="bandeau-list  bandeau-list-footer push-footer vCenter">#}
    {#<div class="bandeau-list-img vCenterKid" style="background-image:url({{ asset('bundles/fdccourtmetrage/img/films/selection-officielle/push.jpg') }});">#}
        {#<h2 class="title title-list-header">{{ isSelection ? 'retrospective.selection.title'|trans : isJury ? 'retrospective.jury.title'|trans : 'retrospective.palmares.title'|trans }}</h2>#}
        {#<a href="{{#}
        {#isSelection ? 'retrospective.selection.link'|trans :#}
        {#isJury ? 'retrospective.jury.link'|trans :#}
        {#'retrospective.palmares.link'|trans }}" class="bandeau-lien" target="_blank">#}
            {#<i class="icon icon_fleche-right"></i> {{ isSelection ? 'retrospective.selection.link_label'|trans : isJury ? 'retrospective.jury.link_label'|trans : 'retrospective.palmares.link_label'|trans }}#}
        {#</a>#}
    {#</div>#}
{#</div>#}
