<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
<!-- build:[href]:prod css-concat/article.min.css -->
    <link rel="stylesheet" href="css-concat/article.css" />
    <!-- /build -->

</head>
<body>
<div id="main" data-menu="selection">
<!-- build:include ../include/menu.html -->
  <!-- /build -->
  <!-- build:include ../include/header.html -->
  <!-- /build -->



<!--   <div class="pictos-nav">
    <div class="back"><i class="icon-mobile-return"></i></div>
    <div class="calendar"><i class="icon icon_programmation"></i></div>
  </div> -->

  <div class="container">

    <div class="section photos">
      <h3 class="title-section">photos</h3>
      <div class="slideshow">
            <div class="slideshow-img">
              <div class="images">
                <div class="img active">
                  <a id="photo1" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                    <img src="img/slide001.jpg" alt="" />
                  </a>
                </div>
                <div class="img">
                  <a id="photo2" class="chocolat-image ajax" href="http://cdn-parismatch.ladmedia.fr/var/news/storage/images/paris-match/culture/cinema/festival-de-cannes-2013-audrey-tautou-maitresse-de-ceremonie-508580/4577783-1-fre-FR/Festival-de-Cannes-2013-Audrey-Tautou-maitresse-de-ceremonie.jpg" title='<span class="category">portfolio</span><span class="date">20.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                    <img src="img/slide002.jpg" alt="" />
                  </a>
                </div>
                <div class="img">
                  <a id="photo3" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'><img src="img/slide002.jpg" alt="" /></a>
                </div>
                <div class="img">
                  <a id="photo4" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'><img src="img/slide002.jpg" alt="" /></a>
                </div>
                <div class="img">
                  <a id="photo5" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'><img src="img/slide002.jpg" alt="" /></a>
                </div>
                <div class="img">
                  <a id="photo6" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'><img src="img/slide002.jpg" alt="" /></a>
                </div>
                <div class="img">
                  <a id="photo7" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'><img src="img/slide002.jpg" alt="" /></a>
                </div>
                <div class="img">
                  <a id="photo8" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'><img src="img/slide002.jpg" alt="" /></a>
                </div>
                <div class="img">
                  <a id="photo9" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'><img src="img/slide002.jpg" alt="" /></a>
                </div>
              </div>
              <div class="owl-carousel thumbnails">
                <div data-id="photo1" class="thumb active" data-caption="<strong>Équipe du film - Photocall - The Lobster</strong> © FDC / Théophile Delange">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo2" class="thumb" data-caption="test">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo3" class="thumb">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo4" class="thumb">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo5" class="thumb">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo6" class="thumb">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo7" class="thumb">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo8" class="thumb">
                  <img src="img/thumb01.jpg" />
                </div>
                <div data-id="photo9" class="thumb">
                  <img src="img/thumb01.jpg" />
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="section articles">
      <h3 class="title-section">articles</h3>

      <div class="owl-carousel articles-carousel">
        <div data-id="article1" class="thumb active">
          <div class="img-container">
            <img src="img/movie/article.jpg" />
            <div class="picto"><i class="icon icon_article"></i></div>
          </div>
          <div class="info">
            <div class="top-info"><a href="#" class="category">Conférence de presse</a><span class="date">18.05.15</span> . <span class="hour">09:00</span></div>
            <h2>Olivier Assayas: "Avec les comédiens, si la confiance est totale, on va jusqu'au bout "</h2>
          </div>
        </div>
        <div data-id="article2" class="thumb">
          <div class="img-container">
            <img src="img/movie/article.jpg" />
            <div class="picto"><i class="icon icon_article"></i></div>
          </div>
          <div class="info">
            <div class="top-info"><a href="#" class="category">Compétition</a><span class="date">22.05.15</span> . <span class="hour">12:00</span></div>
            <h2>Stéphane Brizé interroge la loi du marché</h2>
          </div>
        </div>
        <div data-id="article3" class="thumb">
          <div class="img-container">
            <img src="img/movie/article.jpg" />
            <div class="picto"><i class="icon icon_article"></i></div>
          </div>
          <div class="info">
            <div class="top-info"><a href="#" class="category">Conférence de presse</a><span class="date">19.05.15</span> . <span class="hour">08:00</span></div>
            <h2>Olivier Assayas: "Avec les comédiens, si la confiance est totale, on va jusqu'au bout "</h2>
          </div>
        </div>
      </div>

    </div>

    <div class="section audio">
      <h3 class="title-section">audios</h3>
      <div class="audio-player" data-sound="./sounds/sound.mp3" style="background-image:url(img/movie/audio.jpg)">
        <div class="picto playpause">
          <i class="icon icon_audio"></i>
        </div>
        <div class="player-off">
          <a href="#" class="category">conférence de presse</a>
          <span class="date">18.05.15</span>
           . 
          <span class="hour">09:00</span>
          <p> The Lobster de Yoros Lanthinos</p>
        </div>

        <div class="player-on">
          <div class="duration">
            <span class="curr">0:00</span>/<span class="total">0:00</span>
          </div>
          <div class="wave-container" id="wave-0"></div>
        </div>
      </div>

      <div class="audio-player" data-sound="./sounds/sound.mp3" style="background-image:url(img/movie/audio.jpg)">
        <div class="picto playpause">
          <i class="icon icon_audio"></i>
        </div>
        <div class="player-off">
          <a href="#" class="category">interview</a>
          <span class="date">18.05.15</span>
           . 
          <span class="hour">09:00</span>
          <p> Un nouveau regard</p>
        </div>

        <div class="player-on">
          <div class="duration">
            <span class="curr">0:00</span>/<span class="total">0:00</span>
          </div>
          <div class="wave-container" id="wave-0"></div>
        </div>
      </div>


    </div>

  </div>



<!--     <div class="section competition">
      <h3 class="title-section">en compétition</h3>

      <div class="owl-carousel competition-carousel">
        <div data-id="film1" class="thumb active">
          <div class="img-container" style="background-image:url(./img/movie/001.jpg)"></div>
          <div class="info">
            <p>Carol</p>
            <a class="director" href="#">Todd HAYNES</a>
          </div>
        </div>
        <div data-id="film2" class="thumb">
          <div class="img-container" style="background-image:url(./img/movie/003.jpg)"></div>
          <div class="info">
            <p>Carol</p>
            <a class="director" href="#">Todd HAYNES</a>
          </div>
        </div>
        <div data-id="film3" class="thumb">
          <div class="img-container" style="background-image:url(./img/movie/movie.jpg)"></div>
          <div class="info">
            <p>Carol</p>
            <a class="director" href="#">Todd HAYNES</a>
          </div>
        </div>
        <div data-id="film4" class="thumb">
          <div class="img-container" style="background-image:url(./img/movie/movie1.jpg)"></div>
          <div class="info">
            <p>Carol</p>
            <a class="director" href="#">Todd HAYNES</a>
          </div>
        </div>
        <div data-id="film5" class="thumb">
          <div class="img-container" style="background-image:url(./img/movie/001.jpg)"></div>
          <div class="info">
            <p>Carol</p>
            <a class="director" href="#">Todd HAYNES</a>
          </div>
        </div>
      </div>


    </div> -->


  </div>


</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/article.min.js -->
    <script charset="utf-8" src="js-concat/article.js"></script>
  <!-- /build -->


</body>
</html>