<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/audios.min.css -->
    <link rel="stylesheet" href="css-concat/audios.css" />
    <!-- /build -->
</head>
<body>
<div id="main" class="audios" data-menu="actu">
	<!-- build:include ../include/menu.html -->
	<!-- /build -->
	<!-- build:include ../include/header.html -->
	<!-- /build -->
	<div class="container">
		<h2 class="title one-line">Tous les audios</h2>

		<div class="filters">
			
			<div class="filter" id="date">
				<span class="label">Dates :</span>
				<div class="select">
		            <span class="active" data-filter="all">Toutes</span>
		            <span data-filter="date1">Date 1</span>
		            <span data-filter="date2">Date 2</span>
		            <i class="icon icon_fleche-down"></i>
	          	</div>
			</div>
			<div class="filter" id="theme">
				<span class="label">Thèmes :</span>
				<div class="select">
		            <span class="active" data-filter="all">Tous</span>
		            <span data-filter="theme1">Theme 1</span>
		            <span data-filter="theme2">Theme 2</span>
		            <i class="icon icon_fleche-down"></i>
	          	</div>
			</div>
		</div>
	</div>




	<div class="list" id="list-audios">
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p><a href="#" class="category">PHOTOCALL</a></p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p><a href="#" class="category">montée des marches</a></p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item theme1">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>
		<div class="item">
			<div class="img-container">
				<div class="infos">
					<div class="picto"><i class="icon icon_audio"></i></div>
					<div class="right">
		              	<p class="category">Conférence de presse</p>
		              	<p>Rencontre avec l'équipe de Carol</p>
	              	</div>
            	</div>
				
            	<div class="img" style="background-image:url(./img/slider-videos/slider01.jpg)"></div>
            </div>


		</div>

	
</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/audios.min.js -->
    <script charset="utf-8" src="js-concat/audios.js"></script>
  <!-- /build -->

</body>
</html>