<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/trailer.min.css -->
    <link rel="stylesheet" href="css-concat/trailer.css" />
    <!-- /build -->
</head>
<body>

<div id="main" class="ba" data-menu="webtv">
  <!-- build:include ../include/menu.html -->
	<!-- /build -->

	<!-- build:include ../include/my_selection.html -->
	<!-- /build -->
  <!-- build:include ../include/header.html -->
  <!-- /build -->
	


		

	<div class="slideshow dark-container">
	<h2 class="title">Valley of love</h2>
                <div class="slideshow-img">

                  <!-- replace by player video -->
                  <div class="images">
                    <div id="player"></div>
                  </div>

                  <div class="container">
                    <h3 class="title-video">bande annonce</h3>
                    <p class="caption">Valley of love</p>
                  </div>


                  <div class="owl-carousel thumbnails">
                    <div data-id="photo1" class="thumb active" data-video="/videos/sample.mp4" data-poster='./img/playervideo.jpg'>
                      <img src='./img/playervideo.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 01</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo2" class="thumb" data-video="/videos/sample2.mp4" data-poster='./img/playervideo2.jpg'>
                      <img src='./img/playervideo2.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 02</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo3" class="thumb" data-video="/videos/sample.mp4" data-poster='./img/playervideo3.jpg'>
                      <img src='./img/playervideo3.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 03</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo4" class="thumb" data-video="/videos/sample2.mp4" data-poster='./img/playervideo.jpg'>
                      <img src='./img/playervideo.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 04</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo5" class="thumb" data-video="/videos/sample.mp4" data-poster='./img/playervideo2.jpg'>
                      <img src='./img/playervideo2.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 05</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo6" class="thumb" data-video="/videos/sample2.mp4" data-poster='./img/playervideo3.jpg'>
                      <img src='./img/playervideo3.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 06</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo7" class="thumb" data-video="/videos/sample.mp4" data-poster='./img/playervideo3.jpg'>
                      <img src='./img/playervideo3.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 07</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo8" class="thumb" data-video="/videos/sample2.mp4" data-poster='./img/playervideo.jpg'>
                      <img src='./img/playervideo.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 08</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                    <div data-id="photo9" class="thumb" data-video="/videos/sample.mp4" data-poster='./img/playervideo2.jpg'>
                      <img src='./img/playervideo2.jpg' />
                      <div class="info">
			              <div class="picto"><i class="icon icon_video"></i></div>
			              <div class="info-container">
			                <div class="vCenter">
			                  <div class="vCenterKid">
			                    <a href="#" class="category">Bande annonce</a>
			                    <a href="#" class="titleLink">Bande annonce 09</a>
			                  </div>
			                </div>
			              </div>
			            </div>
                    </div>
                  </div>
                </div>

                
              </div>
	
</div>
<div class="dark-container informations-video">
	<ul class="nav">
          <li class="infos-film-li active">Film</li>
          <li class="program-film-li">Programmation</li>
    </ul>
    <div class="container-video">
      <div class="infos-film block" style="display: block;">
        <img src="img/webtv/cover-film1.jpg" alt="affiche film">
        <h4 class="rubric-film">Compétition</h4>
        <strong class="name-video">Valley of love</strong>
        <span class="name-person">Guillaume NICLOUX</span>
      </div>
      <div class="program-film block" style="display: none;">
        <div class="contain-info">
          <div class="infos">
            <p>Projection <span class="date">15/07/2015 9h</span></p>
            <span class="where">Grand théâtre Lumière</span>
            <hr>
          </div>
          <div class="infos">
            <p>Projection <span class="date">12/07/2015 15h</span></p>
            <span class="where">Cinéma de la plage</span>
            <hr>
          </div>
          <div class="infos">
            <p>Projection <span class="date">12/07/2015 15h</span></p>
            <span class="where">Cinéma de la plage</span>
          </div>
          <div class="infos">
            <p>Projection <span class="date">12/07/2015 15h</span></p>
            <span class="where">Cinéma de la plage</span>
          </div>
          <div class="infos">
            <p>Projection <span class="date">12/07/2015 15h</span></p>
            <span class="where">Cinéma de la plage</span>
          </div>
        </div>
        <a href="programmation-evenementiel.php" class="btn">Toute la programmation</a>
      </div>
    </div>
</div>
<div class="banner-img vCenter" style="background-image:url(./img/slider/slider01.jpg);">
  <div class="vCenterKid">
    <h2 class="title one-line">La loi du marché
     <a href="selectionofficielle_uncertainregard.html"><i class="icon icon_fleche-right"></i> Voir la bande annonce</a>
     </h2>
  </div>
     
 </div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/trailer.min.js -->
    <script charset="utf-8" src="js-concat/trailer.js"></script>
  <!-- /build -->

</body>
</html>