<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/channel.min.css -->
    <link rel="stylesheet" href="css-concat/channel.css" />
    <!-- /build -->
</head>
<body>
<div id="main" class="channel">
	<!-- build:include ../include/menu.html -->
  <!-- /build -->
  <!-- build:include ../include/header.html -->
  <!-- /build -->
	


		

	       <div class="slideshow dark-container">
          <h2 class="title one-line">conférence de presse</h2>
                <div class="slideshow-img">

                  <!-- replace by player video -->
                  <div class="images">
                    <div class="img active">
                      <a id="photo1" class="chocolat-image ajax" href="img/slide001.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2>' data-credit="Crédit Image : VALERY HACHE / AFP">
                        <img src="img/playervideo.jpg" alt="" />
                      </a>
                    </div>
                  </div>


                  <div class="container">
                    <h3>bande annonce</h3>
                    <p class="caption">Valley of love</p>
                  </div>


                  <div class="owl-carousel thumbnails">
                    <div data-id="photo1" class="thumb active" data-caption="Valley of love">
                      <img src="img/thumb01.jpg" />
                      <div class="info">
    			              <div class="picto"><i class="icon icon_video"></i></div>
    			              <div class="info-container">
    			                <div class="vCenter">
    			                  <div class="vCenterKid">
    			                    <a href="#" class="category">conférence de presse</a>
    			                    <a href="#" class="titleLink">Interview des réalisateurs des Courts Métrages en Compétition</a>
    			                  </div>
    			                </div>
    			              </div>
			                </div>
                    </div>
                    <div data-id="photo2" class="thumb" data-caption="test">
                      <img src="img/thumb01.jpg" />
                      <div class="info">
    			              <div class="picto"><i class="icon icon_video"></i></div>
    			              <div class="info-container">
    			                <div class="vCenter">
    			                  <div class="vCenterKid">
    			                    <a href="#" class="category">Bande annonce</a>
    			                    <a href="#" class="titleLink">Bande annonce 01</a>
    			                  </div>
    			                </div>
    			              </div>
			                </div>
                    </div>
                    <div data-id="photo3" class="thumb">
                      <img src="img/thumb01.jpg" />
                      <div class="info">
    			              <div class="picto"><i class="icon icon_video"></i></div>
    			              <div class="info-container">
    			                <div class="vCenter">
    			                  <div class="vCenterKid">
    			                    <a href="#" class="category">Bande annonce</a>
    			                    <a href="#" class="titleLink">Bande annonce 01</a>
    			                  </div>
    			                </div>
    			              </div>
			                 </div>
                    </div>
                    <div data-id="photo4" class="thumb">
                      <img src="img/thumb01.jpg" />
                      <div class="info">
    			              <div class="picto"><i class="icon icon_video"></i></div>
    			              <div class="info-container">
    			                <div class="vCenter">
    			                  <div class="vCenterKid">
    			                    <a href="#" class="category">Bande annonce</a>
    			                    <a href="#" class="titleLink">Bande annonce 01</a>
    			                  </div>
    			                </div>
    			              </div>
    			            </div>
                    </div>
                    
                  </div>

                </div>

                
        </div>

        <div class="dark-container featured-videos" id="">
          <div class="container">
            <h2 class="title">Les dernières vidéos</h2>
          </div>
          
          <div id="slider-last-videos" class="owl-carousel sliderDrag videosSlider">
            <div class="vid">
              <div class="image-wrapper">
                <div class="img" style="background-image:url(img/slider-videos/slider01.jpg)"></div>
              </div>
              <a class="linkVid" href="#"></a>
              <div class="info">
                <div class="picto"><i class="icon icon_video"></i></div>
                <div class="info-container">
                  <div class="vCenter">
                    <div class="vCenterKid">
                      <a href="#" class="category">Conférence de presse</a>
                      <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid">
              <div class="image-wrapper">
                <div class="img" style="background-image:url(img/slider-videos/slider01.jpg)"></div>
              </div>
              <a class="linkVid" href="#"></a>
              <div class="info">
                <div class="picto"><i class="icon icon_video"></i></div>
                <div class="info-container">
                  <div class="vCenter">
                    <div class="vCenterKid">
                      <a href="#" class="category">Montée des marches</a>
                      <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid">
              <div class="image-wrapper">
                <div class="img" style="background-image:url(img/slider-videos/slider01.jpg)"></div>
              </div>
              <a class="linkVid" href="#"></a>
              <div class="info">
                <div class="picto"><i class="icon icon_video"></i></div>
                <div class="info-container">
                  <div class="vCenter">
                    <div class="vCenterKid">
                      <a href="#" class="category">Montée des marches</a>
                      <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid">
              <div class="image-wrapper">
                <div class="img" style="background-image:url(img/slider-videos/slider01.jpg)"></div>
              </div>
              <a class="linkVid" href="#"></a>
              <div class="info">
                <div class="picto"><i class="icon icon_video"></i></div>
                <div class="info-container">
                  <div class="vCenter">
                    <div class="vCenterKid">
                      <a href="#" class="category">Montée des marches</a>
                      <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
	
</div>

<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/channel.min.js -->
    <script charset="utf-8" src="js-concat/channel.js"></script>
  <!-- /build -->

</body>
</html>