<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
    <!-- build:[href]:prod css-concat/home.min.css -->
    <link rel="stylesheet" href="css-concat/home.css">
    <!-- /build -->
</head>
<body>
<div id="searchContainer">
    <div class="container">
      <form action="searchpage.html">
        <input id="inputSearch" class="suggestSearch" type="text" name="name" placeholder="Entrez votre recherche..." autocomplete="off" />
      </form>
      <ul id="suggest"></ul>
    </div>
  </div>
<div id="main" class="home st-container" data-menu="actu">
	<!-- build:include ../include/menu.html -->
	<!-- /build -->
	<!-- build:include ../include/header.html -->
	<!-- /build -->

	<div class="fullscreenplayer">
		<div class="close-button"><i class="icon icon_close"></i></div>
		<div class="vCenter">
			<div class="vCenterKid">
				<div id="player1"></div>
				<p class="category">Conférence de presse</p>
		        <p class="title-video">Rencontre avec l'équipe de Carol</p>
			</div>
		</div>
	</div>

	<div id="sliderWrapper" class="dark-container">
		<div id="slider" class="owl-carousel">
		  	<div>
	            <div class="img-container">
	            	<div class="img" style="background-image:url(img/slider/slider01.jpg)"></div>
	            </div>
	            <div class="info">
	              	<span class="category">Rencontre</span>
	              	<h2>Xavier Dolan : « Tant qu’il y a encore un peu de spontanéité, il y a de l’art »</h2>
	            </div>
	            <a href="article.php" class="linkArticle"></a>
	        </div>
		  	<div>
	            <div class="img-container">
	            	<div class="img" style="background-image:url(img/slider/slider01.jpg)"></div>
	            </div>
	            <div class="info">
	              	<span class="category">Rencontre</span>
	              	<h2>Xavier Dolan : « Tant qu’il y a encore un peu de spontanéité, il y a de l’art »</h2>
	            </div>
	            <a href="article.php" class="linkArticle"></a>
	        </div>
	        <div>
	            <div class="img-container">
	            	<div class="img" style="background-image:url(img/slider/slider01.jpg)"></div>
	            </div>
	            <div class="info">
	              	<span class="category">Rencontre</span>
	              	<h2>Xavier Dolan : « Tant qu’il y a encore un peu de spontanéité, il y a de l’art »</h2>
	            </div>
	            <a href="article.php" class="linkArticle"></a>
	        </div>
	  	</div>
	</div>
	<div  id="news">
		<h2 class="title">L'actualité<br>à la une</h2>
		<div id="calendar">
			<a href="#" class="prev"><i class="icon icon_flecheGauche"></i></a>
			<div id="timeline" class="" >
			<div class="timeline-container">
				<a href="#" data-date="11" class="">mer<span class="day">11</span></a>
	            <a href="#" data-date="12" class="">jeu<span class="day">12</span></a>
	            <a href="#" data-date="13" class="">ven<span class="day">13</span></a>
	            <a href="#" data-date="14" class="">sam<span class="day">14</span></a>
	            <a href="#" data-date="15" class="">dim<span class="day">15</span></a>
	            <a href="#" data-date="16" class="">lun<span class="day">16</span></a>
	            <a href="#" data-date="17" class="">mar<span class="day">17</span></a>
	            <a href="#" data-date="18" class="">mer<span class="day">18</span></a>
	            <a href="#" data-date="19" class="">jeu<span class="day">19</span></a>
	            <a href="#" data-date="20" class="">ven<span class="day">20</span></a>
	            <a href="#" data-date="21" class="active">sam<span class="day">21</span></a>
	            <a href="#" data-date="22" class="disabled">dim<span class="day">22</span></a>
			</div>
	            
	        </div>
	        <a href="#" class="next"><i class="icon icon_fleche-right"></i></a>
		</div>
		
        <div class="container" id="articles" >
	        
			
			<div class="articles-container">
				
			</div>
			<a href="#" class="read-more ">Afficher <strong>plus d'articles</strong></a>
		
		<div id="socials">
			<img src="img/palme.svg" alt="Festival de Cannes" class="palm">
			<h2 class="title">#Cannes2016</h2>
			<div class="post-container">
				<div class="post">
					<div class="instagram" style="background-image:url(img/insta/insta1.jpg)">
						<i class="icon icon_instagram"></i>
					</div>
				</div>
				<div class="post show-text">
					<div class="twitter">
						<div class="text-container vCenter">
							<div class="content vCenterKid">
								<p class="info">Le 21 mars à 19h @FdC_Officiel</p>
								<p class="text">Also out tomorrow is Gabe Polsky's Red Army, produced by Werner Herzog and Jerry Weintraub, <strong>#Cannes2016</strong></p>
							</div>
						</div>
						<i class="icon icon_twitter"></i>
					</div>
				</div>
				<div class="post show-text">
					<div class="twitter ">
						<div class="text-container vCenter">
							<div class="content vCenterKid">
								<p class="text">Loin de mon père, 3e film de Keren Yedaya, Un Certain Regard <strong>#Cannes2016</strong> en salles en France demain.</p>
							</div>
						</div>
						
						<i class="icon icon_twitter"></i>
					</div>
				</div>
				<div class="post">
					<div class="instagram" style="background-image:url(img/insta/insta2.jpg)">
						<i class="icon icon_instagram"></i>
					</div>
				</div>
				<div class="post">
					<div class="instagram" style="background-image:url(img/insta/insta3.jpg)">
						<i class="icon icon_instagram"></i>
					</div>
				</div>
				<div class="post">
					<div class="instagram" style="background-image:url(img/insta/insta4.jpg)">
						<i class="icon icon_instagram"></i>
					</div>
				</div>
			</div>
			
		</div>
		<div id="networks">
		    <p>Suivez le Festival de Cannes</p>
		    <ul>
		        <li><a class="facebook" href="http://www.facebook.com/pages/Festival-de-Cannes-PageOfficielle/197710070249937" target="_blank"><i class="icon icon_facebook"></i></a></li>
		        <li><a class="twitter" href="https://twitter.com/Festival_Cannes" target="_blank"><i class="icon icon_twitter"></i></a></li>
		        <li><a class="instagram" href="https://instagram.com/festivaldecannes" target="_blank"><i class="icon icon_instagram"></i></a></li>
		        <li><a class="tumblr" href="http://festivaldecannesofficiel.tumblr.com/" target="_blank"><i class="icon icon_tumblr"></i></a></li>
		        <li><a class="youtube" href="https://www.youtube.com/user/TVFestivaldeCannes" target="_blank"><i class="icon icon_youtube"></i></a></li>
		        <li><a class="dailymotion" href="http://www.dailymotion.com/CannesFestTV" target="_blank"><i class="icon icon_dailymotion"></i></a></li>
		    </ul>
		</div>
	</div>
	<div class="dark-container">
		<div class="featured-videos">
			<h2 class="title">Les vidéos<br>à la une</h2>
			<div id="slider-videos" class="owl-carousel sliderDrag videosSlider">
	          <div class="vid item-video" data-video="/videos/sample.mp4" data-poster='./img/playervideo3.jpg'>
	            <div class="image-wrapper">
	            	<div class="img" style="background-image:url(img/playervideo3.jpg)"></div>
	            </div>
	            <a class="linkVid" href="#"></a>
	            <div class="info">
	              <div class="picto vCenter">
	                  <div class="vCenterKid"><i class="icon icon_video"></i></div>
	              </div>
	              <div class="info-container">
	                <div class="vCenter">
	                  <div class="vCenterKid">
	                    <a href="#" class="category">Conférence de presse</a>
	                    <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="vid item-video" data-video="/videos/sample.mp4" data-poster='./img/playervideo.jpg'>
	            <div class="image-wrapper">
	              <div class="img" style="background-image:url(img/playervideo.jpg)"></div>
	            </div>
	            <a class="linkVid" href="#"></a>
	            <div class="info">
	              <div class="picto vCenter">
	                  <div class="vCenterKid"><i class="icon icon_video"></i></div>
	              </div>
	              <div class="info-container">
	                <div class="vCenter">
	                  <div class="vCenterKid">
	                    <a href="#" class="category">Montée des marches</a>
	                    <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="vid item-video" data-video="/videos/sample.mp4" data-poster='./img/playervideo2.jpg'>
	            <div class="image-wrapper">
	              <div class="img" style="background-image:url(img/playervideo2.jpg)"></div>
	            </div>
	            <a class="linkVid" href="#"></a>
	            <div class="info">
	              <div class="picto vCenter">
	                  <div class="vCenterKid"><i class="icon icon_video"></i></div>
	              </div>
	              <div class="info-container">
	                <div class="vCenter">
	                  <div class="vCenterKid">
	                    <a href="#" class="category">Montée des marches</a>
	                    <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="vid item-video" data-video="/videos/sample.mp4" data-poster='./img/playervideo3.jpg'>
	            <div class="image-wrapper">
	              <div class="img" style="background-image:url(img/playervideo3.jpg)"></div>
	            </div>
	            <a class="linkVid" href="#"></a>
	            <div class="info">
	              <div class="picto vCenter">
	                  <div class="vCenterKid"><i class="icon icon_video"></i></div>
	              </div>
	              <div class="info-container">
	                <div class="vCenter">
	                  <div class="vCenterKid">
	                    <a href="#" class="category">Montée des marches</a>
	                    <a href="#" class="titleLink">Rencontre avec l'équipe de Carol</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
			<div id="channels">
        <h2 class="title">Les chaines</h2>
        <div id="slider-channels" class="owl-carousel sliderDrag">
          <div class="channel">
            <div class="image-wrapper">
              <img src="img/slider-channels/01.jpg" alt="" />
            </div>
            <a class="linkVid" href="channel.html"></a>
            <div class="info">
              <div class="picto"><i class="icon icon_playlist"></i></div>
              <div class="info-container">
                <div class="vCenter">
                  <div class="vCenterKid">
                    <a  class="category">Photocall</a>
                    <span>103 vidéos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="channel">
            <div class="image-wrapper">
              <img src="img/slider-channels/02.jpg" alt="" />
            </div>
            <a class="linkVid" href="channel.html"></a>
            <div class="info">
              <div class="picto"><i class="icon icon_playlist"></i></div>
              <div class="info-container">
                <div class="vCenter">
                  <div class="vCenterKid">
                    <a class="category">Montée des marches</a>
                    <span>282 vidéos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="channel">
            <div class="image-wrapper">
              <img src="img/slider-channels/03.jpg" alt="" />
            </div>
            <a class="linkVid" href="channel.html"></a>
            <div class="info">
              <div class="picto"><i class="icon icon_playlist"></i></div>
              <div class="info-container">
                <div class="vCenter">
                  <div class="vCenterKid">
                    <a class="category">Conférence de presse</a>
                    <span>47 vidéos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="channel">
            <div class="image-wrapper">
              <img src="img/slider-channels/01.jpg" alt="" />
            </div>
            <a class="linkVid" href="channel.html"></a>
            <div class="info">
              <div class="picto"><i class="icon icon_playlist"></i></div>
              <div class="info-container">
                <div class="vCenter">
                  <div class="vCenterKid">
                    <a class="category">Photocall</a>
                    <span>103 vidéos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="channel">
            <div class="image-wrapper">
              <img src="img/slider-channels/02.jpg" alt="" />
            </div>
            <a class="linkVid" href="channel.html"></a>
            <div class="info">
              <div class="picto"><i class="icon icon_playlist"></i></div>
              <div class="info-container">
                <div class="vCenter">
                  <div class="vCenterKid">
                    <a class="category">Montée des marches</a>
                    <span>282 vidéos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="channel">
            <div class="image-wrapper">
              <img src="img/slider-channels/03.jpg" alt="" />
            </div>
            <a class="linkVid" href="#"></a>
            <div class="info">
              <div class="picto"><i class="icon icon_playlist"></i></div>
              <div class="info-container">
                <div class="vCenter">
                  <div class="vCenterKid">
                    <a href="#" class="category">Conférence de presse</a>
                    <span>47 vidéos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="channel">
            <div class="image-wrapper">
              <img src="img/slider-channels/03.jpg" alt="" />
            </div>
            <a class="linkVid" href="#"></a>
            <div class="info">
              <div class="picto"><i class="icon icon_playlist"></i></div>
              <div class="info-container">
                <div class="vCenter">
                  <div class="vCenterKid">
                    <a href="#" class="category">Conférence de presse</a>
                    <span>47 vidéos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<div class="dark-container" id="today">
	
		<h2 class="title one-line">Focus du jour</h2>
	
	<div class="special-event">
		<div class="img-container">
	        <div class="img" style="background-image:url(img/slider/slider01.jpg)"></div>
	    </div>
		<div class="info-container vCenter">
			<div class="vCenterKid">
				<div class="category">Séance spéciale</div>
				<h3 class="title tall">A tale of love and darkness</h3>
				<div class="title-translate">(une histoire d'amour et de ténèbres)</div>
				<div class="director">Laurent <strong>Larivière</strong></div>
			</div>
			
		</div>
		<div class="links">
			<a href="#" class="seances"><i class="icon icon_programmation"></i>Voir les séances</a>
		</div>
	</div>
	<div class="trailer">
		<div class="img-container">
	        <div class="img" style="background-image:url(img/slider-videos/slider01.jpg)"></div>
	    </div>
		<div class="info-container vCenter">
			<div class="vCenterKid">
				<div class="icon-container"><i class="icon icon_video"></i></div>
				<h3 class="title tall">Les bandes annonces et extraits</h3>
			</div>
		</div>
	</div>
</div>
<div class="" id="more">
	<div id="slider-more" class="owl-carousel sliderDrag">
		<div class="item">
	        <div class="image-wrapper">
	          <div class="img" style="background-image:url(img/slider/slider01.jpg)"></div>
	        </div>
	        <a class="linkVid" href="#"></a>
	        <div class="info">
	        	<h3 class="category">Le jury</h3>
	            
	        </div>
	    </div>
	    <div class="item">
	        <div class="image-wrapper">
	          <div class="img" style="background-image:url(img/slider-videos/slider01.jpg)"></div>
	        </div>
	        <a class="linkVid" href="#"></a>
	        <div class="info">
	        	<h3 class="category">Le jury</h3>
	            
	        </div>
	    </div>
	    <div class="item">
	        <div class="image-wrapper">
	          <div class="img" style="background-image:url(img/slider/slider01.jpg)"></div>
	        </div>
	        <a class="linkVid" href="#"></a>
	        <div class="info">
	        	<h3 class="category">Le jury</h3>
	            
	        </div>
	    </div>
    </div>
</div>

	<!-- build:include ../include/footer.html -->
	<!-- /build -->
    
	<!-- Include js files -->	
	<!-- build:[src]:prod js-concat/home.min.js -->
    <script charset="utf-8" src="js-concat/home.js"></script>
	<!-- /build -->
</body>
</html>