<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
  <!-- build:[href]:prod css-concat/palmares.min.css -->
    <link rel="stylesheet" href="css-concat/palmares.css" />
    <!-- /build -->
</head>
<body>
<!-- build:include ../include/search.html -->
<!-- /build -->
<div id="main" class="palmares" data-menu="palmares">
	<!-- build:include ../include/menu.html -->
  <!-- /build -->
  <!-- build:include ../include/header.html -->
  <!-- /build -->

  <div id="banner-top">
    <div class="banner-img vCenter" style="background-image:url(./img/playervideo2.jpg)">
      <div class="vCenterKid">
        <h2 class="title one-line">le palmares</h2>
      </div>
    </div>
  </div>
	<div class="palmares-container">
      <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
        <div class="vid">
          <p><a href="#" data-url="palmares_competition.html">compétition</a></p>
        </div>
        <div class="vid">
          <p><a href="#" data-url="palmares_uncertainregard.html"  class="active">un certain regard</a></p>
        </div>
        <div class="vid">
          <p><a href="#" data-url="palmares_cinefondation.html">cinéfondation</a></p>
        </div>
         <div class="vid">
          <p><a href="#" data-url="palmares_camerador.html">caméra d'or</a></p>
        </div>
         <div class="vid">
          <p><a href="#" data-url="palmares_all.html">tout le palmares</a></p>
        </div>
      </div>

      <div class="content-selection">


        <div class="contain-winner">
          <div class="img" style="background-image:url(./img/palmares/cover-film-camerador.jpg)"></div>
          <i class="icon icon_palme palme-dor-img"></i>
          <div class="title-prize verticalline">prix un certain regard </div>
          <h3 class="movie-title">hrutar </h3>
          <p class="subtitle">(béliers)</p>
          <span class="movie-real">Grímur HAKONARSON</span>
        </div>

        <div class="contain-winner">
          <div class="img" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
          <i class="icon icon_palme palme-dor-img"></i>
          <div class="title-prize verticalline">PRIX DE LA MISE EN SCÈNE UN CERTAIN REGARD </div>
          <h3 class="movie-title">KISHIBE NO TAB</h3>
          <p class="subtitle">(VERS L’AUTRE RIVE)</p>
          <span class="movie-real">Kiyoshi KUROSAWA</span>
        </div>


        <div class="contain-winner">
          <div class="img" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
          <i class="icon icon_palme palme-dor-img"></i>
          <div class="title-prize verticalline">PRIX DE LA MISE EN SCÈNE UN CERTAIN REGARD </div>
          <h3 class="movie-title">KISHIBE NO TAB</h3>
          <p class="subtitle">(VERS L’AUTRE RIVE)</p>
          <span class="movie-real">Kiyoshi KUROSAWA</span>
        </div>


        <div class="contain-winner">
          <div class="img" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
          <i class="icon icon_palme palme-dor-img"></i>
          <div class="title-prize verticalline">PRIX DE LA MISE EN SCÈNE UN CERTAIN REGARD </div>
          <h3 class="movie-title">KISHIBE NO TAB</h3>
          <p class="subtitle">(VERS L’AUTRE RIVE)</p>
          <span class="movie-real">Kiyoshi KUROSAWA</span>
        </div>



      </div>
     

    

    <div id="banner-bottom">
      <div class="banner-img vCenter" style="background-image:url(./img/selection-officielle/push.jpg);">
        <div class="vCenterKid">
         <h2 class="title one-line">cinéfondation
         <a href="palmares_cinefondation.html"><i class="icon icon_fleche-right"></i> Découvrir la rubrique</a>
         </h2>
       </div>
      </div>
    </div>


	
</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->

    <!-- build:[src]:prod js-concat/palmares.min.js -->
    <script charset="utf-8" src="js-concat/palmares.js"></script>
  <!-- /build -->

</body>
</html>