<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/participate.min.css -->
    <link rel="stylesheet" href="css-concat/participate.css" />
    <!-- /build -->
</head>
<body>
<div id="main" class="articles">
	<!-- build:include ../include/menu.html -->
    <!-- /build -->
    <!-- build:include ../include/header.html -->
    <!-- /build -->

	<div class="banner-img vCenter" style="background-image:url(./img/participate/bandeau2.jpg)">
		<div class="vCenterKid">
            <h2 class="title"><i class="icon icon_camera"></i><br> accès<br> aux projections</h2>
        </div>
	</div>
	<div class="container">
		<section>
			<div class="section-title">
				<i class="icon icon_les-differents-types-dacces"></i>
	          	<h3 class="title-participate">Les différents types d'accès</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain" >
            	<h4 class="title-contain">
            		<i class="icon icon_acces-libre"></i>
            		En accés libre
            	</h4>
            	<p class="description">Les projections en plein air du Cinéma de la Plage sont ouvertes à tous</p>
            	<h4 class="title-contain">
            		<i class="icon icon_badge"></i>
            		Sur badge professionel
            	</h4>
            	<p class="description">Vous pouvez accéder aux projections de la Sélection Officielle dans les salles Debussy, Buñuel, Bazin et du Soixantième sur simple présentation de votre badge, dans la limite des places disponibles. Vous pouvez également accéder sur badge aux espaces de visionnage de Cannes Court Métrage.</p>
            	<h4 class="title-contain">
            		<i class="icon icon_invitation"></i>
            		Sur invitation
            	</h4>
            	<p class="description">Une invitation est exigée pour assister aux projections du Grand Théâtre Lumière. Ces invitations sont strictement personnelles et incessibles. L'utilisation de l'invitation autorise à ce que vous soyez éventuellement photographié(e) et/ou filmé(e).</p>

            	<p class="description"><strong>Retrait des invitations :</strong>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ullam praesentium reiciendis exercitationem doloremque nulla repellat in laudantium non voluptas consectetur perferendis, consequuntur sunt eius libero nostrum quasi quibusdam? Minima odit adipisci.
              </p>
            </div>

        </section>
 		<section>
			<div class="section-title">
				<i class="icon icon_les-salles-de-projections"></i>
	          	<h3 class="title-participate">Les salles de projection</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain" >
                <h3> Les salles du festival </h3>
            	<h4 class="title-contain">

            		le grand théâtre lumiere
            	</h4>
            	<p class="description">Acceuil les longs métrages en compétition et Hors Compétition de la Sélection Officielle<br>
            	<strong class="color">Accès :</strong> par les Marches Rouges, sur invitation<br>
            	<a href="#">Voir sur le plan</a>
            	</p>

            	<h4 class="title-contain">
            	
            		la salle debussy
            	</h4>
            	<p class="description">Accueille la Selection Officielle Un Certaun Regard, les courts-métrages en compétition et des séances de presses<br>
            	<strong class="color">Accès :</strong>  par les Marches Debbusy, sur badge<br>
            	<a href="#">Voir sur le plan</a>
            	</p>


            	<h4 class="title-contain">
            	
            		La salle buñuel
            	</h4>
            	<p class="description">Accueille la programmation Cannes Classics et la Sélection Cinéfondation, et des séances de presse.<br>
            	<strong class="color">Accès :</strong>   par l'entrée principale du Palais F+5, sur badge<br>
            	<a href="#">Voir sur le plan</a>
            	</p>

            	<h4 class="title-contain">
            	
            		La salle du soixantième
            	</h4>
            	<p class="description">Accueille les Séances Spéciales, les séances du lendemain (reprises de la Compétition et Hors Compétition) et les Hommages<br>
            	<strong class="color">Accès :</strong>  Parvis du Riveria sur badge.<br>
            	<a href="#">Voir sur le plan</a>
            	</p>


            	<h3> Les salles du marché du film </h3>
            	<p class="description center">
	            	Le marché du Film dispose de projections situées dans le Palais, le Riviera et en ville.<br><br>
	            	<strong class="color">Accès :</strong>  sur badge Marché, invitation Marché (ou badge presse si autorisé)<br>
	            	<strong class="color">Priorité :</strong> badge Marché bandeau mauve<br>

	            	<strong class="center"> dans le palais</strong>
	            	<img src="./img/participate/map4.jpg" alt="" class="map">
	            	<span class="loc">Salles B à H - <strong>Localisation</strong> : niveau F+3</span>
	            	<span class="loc">Salles I - J - K <strong>Localisation</strong> : niveau F + 4</span>

	            	<strong class="center"> au riviera</strong>
	            	<img src="./img/participate/map3.png" alt="" class="map">
	            	<span class="loc">Salles Rivéria 1 à 4 - <strong>Localisation</strong> : niveau 0</span>
	            	<span class="loc">Salles  Lérins 1 et 2 <strong>Localisation</strong> : niveau 1</span>

	            	<strong class="center"> en ville</strong>
	            	<img src="./img/participate/map2.png" alt="" class="map">
	            	<span class="loc"><strong>Arcades : </strong>Salles 1 à 3 (77, rue Félix Faure)</span>
	            	<span class="loc"><strong>Olympia : </strong>Salles 1 à 9 (5, bis rue d'Antibes)</span>
	            	<span class="loc"><strong>Star : </strong>Salles 1 à 4 (98, rue d'Antibes)</span>
	            	<span class="loc"><strong>Hôtel Gray d'Albion : </strong>Salles 1 à 5 (1er étage - 38, rue des Serbes)</span>
            	</p>
         

            </div>

        </section>
		<section>
			<div class="section-title">
				<i class="icon icon_les-bonnes-pratiques"></i>
	          	<h3 class="title-participate">Les bonnes pratiques</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain">
	            <div class="contain-good-practice description">
	              <div class="item-good-practice">
	                <i class="icon icon_enregistreur"></i>
	                <p>Pas d'utilisation d'enregistreur vidéos/audios/photos</p>
	              </div>
	              <div class="item-good-practice">
	                <i class="icon icon_selfie"></i>
	                <p>Pas de selfies sur les marches</p>
	              </div>
	              <div class="item-good-practice">
	                <i class="icon icon_telephone"></i>
	                <p>Pas de téléphone dans les salles</p>
	              </div>
	              <div class="item-good-practice">
	                <i class="icon icon_dress-code"></i>
	                <p>Dress Code exigé</p>
	              </div>
	           </div>
            </div>


        </section>
	</div>


	
</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/participate.min.js -->
    <script charset="utf-8" src="js-concat/participate.js"></script>
  <!-- /build -->

</body>
</html>