<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/participate.min.css -->
    <link rel="stylesheet" href="css-concat/participate.css" />
    <!-- /build -->
</head>
<body>
<!-- build:include ../include/search.html -->
<!-- /build -->
<div id="main" class="participate" data-menu="participate">
	<!-- build:include ../include/menu.html -->
    <!-- /build -->
    <!-- build:include ../include/header.html -->
    <!-- /build -->

	<div class="banner-img vCenter" style="background-image:url(./img/participate/bandeau3.jpg)">
		<div class="vCenterKid">
            <h2 class="title tallIcon"><i class="icon icon_camion"></i><br> fournisseurs</h2>
        </div>
	</div>
	<div class="partners-container">
		<section class="open">
<!-- 			<div class="section-title">
	          	<h3 class="title-participate">fournisseurs officiels</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div> -->
            <h3 class="title-participate">fournisseurs officiels</h3>
            <div class="section-contain" >

                <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo_fournisseur.jpg" alt=""></div>
                	<h4 class="title-contain">BARON PHILIPPE DE ROTHSCHILD S.A</h4>
                	<p class="description">Posséde deux champs d'activités distincts, unis par la même volontée d'excellence : les vins de Châteaux et les vins de Marques. Parmi les clés d'une incontestable réussite : l'art de l'assemblage, un art que la Société maîtrise au plus haut degré de virtuosité.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>
                    </div>
                </div>
                <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo_fournisseur2.jpg" alt=""></div>
                    <h4 class="title-contain">RÉMY COINTREAU</h4>
                    <p class="description">Dans le monde des vins et spiritueux, Rémy Cointreau se distingue par le caractére exclusif, haut de gamme et sélectif de ses marques.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>
                    </div>
                   
                </div>
                <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo_fournisseur3.jpg" alt=""></div>
                    <h4 class="title-contain">stella artois</h4>
                    <p class="description">En sponsorisant le Festival du Film de Cannes 2015, Stella Artois confirme son engagement dans le 7ème Art. Le Festival est l'incarnation du glamour de la Côte d'Azur et la terre d'accueil du meilleur cinéma du monde. Il rejoint parfaitement la tradition de Stella Artois, sa beauté et son art du brassage.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>  
                    </div>
                </div>

            </div>

        </section>


	</div>


	
</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/participate.min.js -->
    <script charset="utf-8" src="js-concat/participate.js"></script>
  <!-- /build -->

</body>
</html>