<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/participate.min.css -->
    <link rel="stylesheet" href="css-concat/participate.css" />
    <!-- /build -->
</head>
<body>

<div id="main" data-menu="participate">
	<!-- build:include ../include/menu.html -->
    <!-- /build -->
        <!-- build:include ../include/my_selection.html -->
    <!-- /build -->
    <!-- build:include ../include/header.html -->
    <!-- /build -->

	<div class="banner-img vCenter" style="background-image:url(./img/participate/bandeau2.jpg)">
		<div class="vCenterKid">
            <h2 class="title tall tallIcon"><i class="icon icon_palme palme-dor-img"></i><br> preparer son séjour</h2>
        </div>
	</div>
	<div class="instructions-container">
            
        <section><p class="description center">Toute l’équipe du Festival de Cannes est heureuse de vous accueillir pour cette 68e édition. Pour que votre séjour se passe dans les meilleures conditions, voici quelques informations utiles.</p></section>
         
		<section>
			<div class="section-title">
				<i class="icon icon_se-rendre-a-cannes"></i>
	          	<h3 class="title-participate">se rendre à cannes</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain contain-transport">

                <div class="item-info">
                    <i class="icon icon_train"></i>
                    <h4 class="title-contain">train</h4>
                    <p>5h de TGV depuis Paris</p>
                    <a href="" class="button">+ en savoir plus</a>
                </div>

                <div class="item-info">
                    <i class="icon icon_voiture"></i>
                    <h4 class="title-contain">voiture</h4>
                    <p>8h30 de route depuis Paris</p>
                    <a href="" class="button">+ en savoir plus</a>
                </div>

                <div class="item-info">
                    <i class="icon icon_avion"></i>
                    <h4 class="title-contain">avion</h4>
                    <p>Départ de l'aéroport de Nice</p>
                    <a href="" class="button">+ en savoir plus</a>
                </div>

                <div class="item-info">
                    <i class="icon icon_bus"></i>
                    <h4 class="title-contain">bus</h4>
                    <p><a href="">La ligne express 210</a> (bus rapide Côte d'Azur) assure, en 50 minutes, la liaison entre l'Aéroport de Nice (Terminal 1) et l'Hôtel de Ville de Cannes.<br> <strong>Tarifs : </strong>Trajet simple: <span class="number">20€</span> | Aller-Retour : <span class="number">30€</span></p>
                    
                </div>
                <div class="item-info">
                    <i class="icon icon_taxi"></i>
                    <h4 class="title-contain">taxi</h4>
                    <p>Taxi Cannes : 33 (0) 4 93 99 27 27<br>Tarifs : Trajet simple: 20€ | Aller-Retour : 30€</p>
                    
                </div>
                



                  

            </div>

        </section>
 		<section>
			<div class="section-title">
				<i class="icon-mobile-participer"></i>
	          	<h3 class="title-participate">plans</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain" >

                <p class="description center">
                    Gardez le Cap ! Téléchargez ici les cartes et les plans pour vous repérer à Cannes et dans le périmètre du Festival.
                    <strong class="center"> le festival de cannes</strong>
                    <img src="./img/participate/map.png" alt="" class="map"><br>
                    <a href="" class="button"><i class="icon icon_telecharger"></i>télécharger</a><br>
                    <span class="link"><i class="icon-mobile-participer"></i><a href="#">Se repérer sur Google Maps</a></span>

                    <strong class="center"> la zone festival</strong>
                    <img src="./img/participate/map2.png" alt="" class="map"><br>
                    <a href="" class="button"><i class="icon icon_telecharger"></i>télécharger</a><br>
                    <span class="link"><i class="icon-mobile-participer"></i><a href="#">Se repérer sur Google Maps</a></span>

                    <strong class="center"> le palais</strong>
                    <img src="./img/participate/map3.png" alt="" class="map"><br>
                    <a href="" class="button"><i class="icon icon_telecharger"></i>télécharger</a><br>
                    <span class="link"><i class="icon-mobile-participer"></i><a href="#">Se repérer sur Google Maps</a></span>
                </p>
                
                


            	

            </div>

        </section>
		<section>
			<div class="section-title">
				<i class="icon icon_hebergement"></i>
	          	<h3 class="title-participate">hébergements</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain">
	            <p class="description">Vous êtes à la recherche d'un hébergement ?<br> <a href="">Consultez la liste des Hôtels Partenaires du Festival de Cannes</a></p>
                <div id="google-map"></div>
            </div>

        </section>
        <section>
            <div class="section-title">
                <i class="icon icon_informations"></i>
                <h3 class="title-participate">pour plus d'informations</h3>
                <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain">
                <p class="description">Si vous souhaitez des information complémentaires sur la ville de Cannes, nous vous invitons à consulter les pages de <a href="">l'office du tourisme de la ville de Cannes</a> et de la <a href="">mairie de la ville de Cannes.</a></p>
            </div>

        </section>
	</div>


	
</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/participate.min.js -->
    <script charset="utf-8" src="js-concat/participate.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <!-- /build -->

</body>
</html>