<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/participate.min.css -->
    <link rel="stylesheet" href="css-concat/participate.css" />
    <!-- /build -->
</head>
<body>
<!-- build:include ../include/search.html -->
<!-- /build -->
<div id="main" class="participate" data-menu="participate">
	<!-- build:include ../include/menu.html -->
    <!-- /build -->
    <!-- build:include ../include/header.html -->
    <!-- /build -->

	<div class="banner-img vCenter" style="background-image:url(./img/participate/bandeau3.jpg)">
		<div class="vCenterKid">
            <h2 class="title tallIcon"><i class="icon icon_mains"></i><br> partenaires</h2>
        </div>
	</div>
	<div class="partners-container">
		<section >
			<div class="section-title">
	          	<h3 class="title-participate">partenaires officiels</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain" >

                <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo-partners1.jpg" alt=""></div>
                	<h4 class="title-contain">air france</h4>
                	<p class="description">Air France, partenaire officiel du Festival de Cannes, s'attache à faire vibrer tout au long de l'année le cinéma à bord de ses avions. La compagnie offre l'accès à plus de 1 000 heures de programmation à la demande sur de larges écrans tactiles sur ses vols long-courriers, idéal pour une projection en plein ciel.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>
                    </div>
                </div>
                <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo-partners2.jpg" alt=""></div>
                    <h4 class="title-contain">angénieux</h4>
                    <p class="description">Angénieux est, depuis 1935, la marque mondialement reconnue d'objectifs pour la production cinématographique. Récompensés à plusieurs reprises à Hollywood, les zooms Angénieux sont appréciés partout dans le monde par les professionnels de l'image les plus exigeants.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>
                    </div>
                    <div class="portrait">
                        <img src="img/participate/portrait2.jpg" alt="">
                        <span class="name"><strong>Bertrand Méhaut</strong></span><br>
                        <span class="rank">Président</span>
                    </div>
                </div>
                <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo-partners3.jpg" alt=""></div>
                    <h4 class="title-contain">canal +</h4>
                    <p class="description">Partenaire officiel du Festival de Cannes pour la 22ème année, CANAL+ produit et diffuse en exclusivité, les Cérémonies d'ouverture et de Clôture. La chaîne dédie une large part de son antenne à cet évènement majeur, avec chaque jour LE GRAND JOURNAL, LA MONTEE DES MARCHES, et une programmation cinéma éclectique.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>  
                    </div>
                    <div class="portrait">
                      <img src="img/participate/portrait1.png" alt="">
                      <span class="name"><strong>Pierre Andurand</strong></span><br>
                      <span class="rank">Président</span>
                    </div>
                </div>

            </div>

        </section>
 		<section>
			<div class="section-title">
	          	<h3 class="title-participate">partenaires techniques</h3>
	            <i class="icon accordion icon_case-plus"></i>
            </div>
             <div class="section-contain" >

               <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo2.png" alt=""></div>
                    <h4 class="title-contain">christie</h4>
                    <p class="description">A la pointe de l'innovation dans le domaine de la projection cinématographique depuis 1929 et pionnier des systèmes de projection numérique depuis 1979, Christie est l'un des leaders mondiaux des solutions diversifiées de visualisation, destinées aux marchés de l'entreprise, du spectacle et de l'industrie.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>
                    </div>
                    <div class="portrait">
                      <img src="img/participate/portrait3.jpg" alt="">
                      <span class="name"><strong>Simon Smith</strong></span><br>
                      <span class="rank">Vice Président EMEA, Christie</span>
                    </div>
                </div>
 
                <div class="partner">
                    <div class="img-container"><img src="img/participate/Logo-partners3.jpg" alt=""></div>
                    <h4 class="title-contain">canal +</h4>
                    <p class="description">Partenaire officiel du Festival de Cannes pour la 22ème année, CANAL+ produit et diffuse en exclusivité, les Cérémonies d'ouverture et de Clôture. La chaîne dédie une large part de son antenne à cet évènement majeur, avec chaque jour LE GRAND JOURNAL, LA MONTEE DES MARCHES, et une programmation cinéma éclectique.</p>
                    <div class="links">
                        <a href="" class="partners-link">site internet</a><a href="" class="partners-link">contact</a>  
                    </div>
                    <div class="portrait">
                      <img src="img/participate/portrait1.png" alt="">
                      <span class="name"><strong>Pierre Andurand</strong></span><br>
                      <span class="rank">Président</span>
                    </div>
                </div>

            </div>

        </section>

	</div>


	
</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    
<!-- build:[src]:prod js-concat/participate.min.js -->
    <script charset="utf-8" src="js-concat/participate.js"></script>
  <!-- /build -->

</body>
</html>