<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />

    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
  <!-- Include css files -->
    <!-- build:[href]:prod css-concat/press_medias.min.css -->
    <link rel="stylesheet" href="css-concat/press_medias.css" />
    <!-- /build -->

</head>
<body>

<div id="main" class="press press_medias" data-menu="medias">
  <!-- build:include ../include/menu_press.html -->
  <!-- /build -->
    <!-- build:include ../include/my_selection.html -->
  <!-- /build -->
  <!-- build:include ../include/header.html -->
  <!-- /build -->


  <div class="header-press">
        <div class="head">
          <span><i class="icon icon_espace-presse"></i>Espace presse</span>
        </div>
        <div class="container">
          <h2>Médiathèque films</h2>
          <p>Vous trouverez ci-dessous les dossiers de presse, photos, et bandes annonces pour faciliter le traitement des films sur vos propres médias.</p>
        </div>
    </div>


    <div class="section-title-selection">
        <h2 class="tall">Choix de la sélection</h2>
        <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
              <div class="vid">
                <p><a href="#" data-url="press_medias.html" class="">Compétition longs métrages (25)</a></p>
              </div>
              <div class="vid">
                <p><a href="#" data-url="press_medias_courtsmetrages.html" class="">Compétition courts métrages (3)</a></p>
              </div>
              <div class="vid">
                <p><a href="#" data-url="press_medias_horscompetition.html" class="">Hors compétition (7)</a></p>
              </div>
               <div class="vid">
                <p><a href="#" data-url="press_medias_uncertainregard.html" class="">Un certain regard (10)</a></p>
              </div>
              <div class="vid">
                <p><a href="#" data-url="press_medias_seancedeminuit.html" class="">Séances de minuit</a></p>
              </div>
              <div class="vid">
                <p><a href="#" data-url="press_medias_seancesspeciales.html" class="active">Séances spéciales</a></p>
              </div>
              <div class="vid">
                <p><a href="#" data-url="press_medias_cinefondation.html" class="">Cinéfondation (9)</a></p>
              </div>
              <div class="vid">
                <p><a href="#" data-url="press_medias_cannesclassics.html" class="">Cannes Classics (5)</a></p>
              </div>
              <div class="vid">
                <p><a href="#" data-url="press_medias_cinemadelaplage.html" class="">Cinéma de la plage</a></p>
              </div>
        </div>
    </div>
    <div class="selections show">
        <div class="selection">
            <div class="owl-carousel film-slider">
              <div data-id="film1" class="thumb active" data-media="saul_fia">
                <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
                <div class="info">
                  <p>saul fia</p>
                  <a class="director" href="#">Neeraj GHAYWAN</a>
                </div>
                <div class="medias">
                  <div class="folder media"><i class="icon icon_dossier"></i> <span>(2)</span></div>
                  <div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(4)</span></div>
                  <div class="photo media"><i class="icon icon_photo"></i> <span>(3)</span></div>
                </div>
              </div>
              <div data-id="film2" class="thumb" data-media="carol">
                <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation2.jpg)"></div>
                <div class="info">
                  <p>Carol</p>
                  <a class="director" href="#">Todd HAYNES</a>
                </div>
                  <div class="medias">
                  <div class="folder media"><i class="icon icon_dossier"></i> <span>(3)</span></div>
                  <div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(8)</span></div>
                  <div class="photo media"><i class="icon icon_photo"></i> <span>(1)</span></div>
                  </div>
              </div>
              <div data-id="film3" class="thumb" data-media="carol2">
                <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation3.jpg)"></div>
                <div class="info">
                  <p>Carol2</p>
                  <a class="director" href="#">Todd HAYNES</a>
                </div>
                <div class="medias">
                  <div class="folder media"><i class="icon icon_dossier"></i> <span>(2)</span></div>
                  <div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(4)</span></div>
                  <div class="photo media"><i class="icon icon_photo"></i> <span>(3)</span></div>
                </div>
              </div>
              
      </div>
      <div class="medias_movie">
          <div class="media_movie active" id="saul_fia">
              <div class="press_videos">
                <h3>Dossier de presse <span class="count">(2)</span></h3>
                <div class="buttons">
                    <a href="#" class="button  "><i class="icon icon_telecharger"></i>En français</a>
                    <a href="#" class="button "><i class="icon icon_telecharger"></i>en anglais</a>
                </div>
                <h3>Bandes annonces et extraits <span class="count">(4)</span></h3>
                <div class="buttons-locked buttons">
                    <a href="#" class="button  button-locked"><i class="icon icon_cadenas"></i>extrait 1 (FR)</a>
                    <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>extrait 1 (EN)</a>
                </div>
                <div class="buttons-unlocked buttons">
                    <a href="#" class="button  button-unlocked"><i class="icon icon_telecharger"></i>extrait 1 (FR)</a>
                    <a href="#" class="button button-unlocked"><i class="icon icon_telecharger"></i>extrait 1 (EN)</a>
                </div>
                <div class="buttons-locked buttons">
                    <a href="#" class="button  button-locked"><i class="icon icon_cadenas"></i>extrait 2 (FR)</a>
                    <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>extrait 2 (EN)</a>
                </div>
                <div class="buttons-unlocked buttons">
                    <a href="#" class="button  "><i class="icon icon_telecharger"></i>extrait 2 (FR)</a>
                    <a href="#" class="button "><i class="icon icon_telecharger"></i>extrait 2 (EN)</a>
                </div>
              </div>
              <div class="photos_container">
                  <h3>Photos HD <span class="count">(22)</span></h3>
                  <div class="buttons buttons-locked">
                      <a href="#" class="button button-locked"><i class="icon icon_telecharger"></i>tout télécharger</a>
                  </div>
                  <div class="buttons buttons-unlocked">
                      <a href="#" class="button "><i class="icon icon_telecharger"></i>tout télécharger</a>
                  </div>
                  <div class="list" >
                      <div class="item">
                          <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                          <div class="img-container">
                              <div class="img" style="background-image:url(./img/event.jpg)"></div>
                          </div>
                          </a>
                    
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/artist.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/artist.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/event.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/event.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                </div>
              </div>
          </div>
          <div class="media_movie " id="carol">
              <div class="press_videos">
                <h3>Dossier de presse <span class="count">(2)</span></h3>
                <div class="buttons">
                    <a href="#" class="button  "><i class="icon icon_telecharger"></i>En français</a>
                    <a href="#" class="button "><i class="icon icon_telecharger"></i>en anglais</a>
                </div>
                <h3>Bandes annonces et extraits <span class="count">(4)</span></h3>
                <div class="buttons-locked buttons">
                    <a href="#" class="button  button-locked"><i class="icon icon_cadenas"></i>extrait 1 (FR)</a>
                    <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>extrait 1 (EN)</a>
                </div>
                <div class="buttons-unlocked buttons">
                    <a href="#" class="button  button-unlocked"><i class="icon icon_telecharger"></i>extrait 1 (FR)</a>
                    <a href="#" class="button button-unlocked"><i class="icon icon_telecharger"></i>extrait 1 (EN)</a>
                </div>
                <div class="buttons-locked buttons">
                    <a href="#" class="button  button-locked"><i class="icon icon_cadenas"></i>extrait 2 (FR)</a>
                    <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>extrait 2 (EN)</a>
                </div>
                <div class="buttons-unlocked buttons">
                    <a href="#" class="button  "><i class="icon icon_telecharger"></i>extrait 2 (FR)</a>
                    <a href="#" class="button "><i class="icon icon_telecharger"></i>extrait 2 (EN)</a>
                </div>
              </div>
              <div class="photos_container">
                  <h3>Photos HD <span class="count">(22)</span></h3>
                 <div class="buttons buttons-locked">
                      <a href="#" class="button button-locked"><i class="icon icon_telecharger"></i>tout télécharger</a>
                  </div>
                  <div class="buttons buttons-unlocked">
                      <a href="#" class="button "><i class="icon icon_telecharger"></i>tout télécharger</a>
                  </div>
                  <div class="list">
                      <div class="item">
                          <a id="photo1" class="chocolat-image ajax" href="./img/artist.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                          <div class="img-container">
                              <div class="img" style="background-image:url(./img/artist.jpg)"></div>
                          </div>
                          </a>
                    
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/artist.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/artist.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/artist.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/artist.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/artist.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/artist.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                </div>
              </div>
          </div>
          <div class="media_movie " id="carol2">
              <div class="press_videos">
                <h3>Dossier de presse <span class="count">(2)</span></h3>
                <div class="buttons">
                    <a href="#" class="button  "><i class="icon icon_telecharger"></i>En français</a>
                    <a href="#" class="button "><i class="icon icon_telecharger"></i>en anglais</a>
                </div>

                <h3>Bandes annonces et extraits <span class="count">(4)</span></h3>
                <div class="buttons-locked buttons">
                    <a href="#" class="button  button-locked"><i class="icon icon_cadenas"></i>extrait 1 (FR)</a>
                    <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>extrait 1 (EN)</a>
                </div>
                <div class="buttons-unlocked buttons">
                    <a href="#" class="button  button-unlocked"><i class="icon icon_telecharger"></i>extrait 1 (FR)</a>
                    <a href="#" class="button button-unlocked"><i class="icon icon_telecharger"></i>extrait 1 (EN)</a>
                </div>
                <div class="buttons-locked buttons">
                    <a href="#" class="button  button-locked"><i class="icon icon_cadenas"></i>extrait 2 (FR)</a>
                    <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>extrait 2 (EN)</a>
                </div>
                <div class="buttons-unlocked buttons">
                    <a href="#" class="button  "><i class="icon icon_telecharger"></i>extrait 2 (FR)</a>
                    <a href="#" class="button "><i class="icon icon_telecharger"></i>extrait 2 (EN)</a>
                </div>
              </div>
              <div class="photos_container">
                  <h3>Photos HD <span class="count">(22)</span></h3>
                  <div class="buttons buttons-locked">
                      <a href="#" class="button button-locked"><i class="icon icon_telecharger"></i>tout télécharger</a>
                  </div>
                  <div class="buttons buttons-unlocked">
                      <a href="#" class="button "><i class="icon icon_telecharger"></i>tout télécharger</a>
                  </div>
                  <div class="list" >
                      <div class="item">
                          <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                          <div class="img-container">
                              <div class="img" style="background-image:url(./img/event.jpg)"></div>
                          </div>
                          </a>
                    
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/event.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/event.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                      <div class="item">
                        <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                       <div class="img-container">
                            <div class="img" style="background-image:url(./img/event.jpg)"></div>
                        </div>
                       </a>
                        
                      </div>
                </div>
              </div>
          </div>
          
    </div>
  </div>
</div>
    
   
  
</div>



<div id="popin-press" class="popin">
    <h3><i class="icon icon_cadenas"></i>contenus verrouillés</h3>
    <p>Journalistes, veuillez saisir votre mot de passe pour déverrouiller les contenus qui vous sont réservés.</p>

    <form action="">
      <input type="password" value="" placeholder="Mot de passe" id="password">
      <input type="submit" value="valider">
    </form>
</div>


<!-- build:include ../include/footer_press.html -->
<!-- /build -->
<!-- build:[src]:prod js-concat/press_medias.min.js -->
    <script charset="utf-8" src="js-concat/press_medias.js"></script>
  <!-- /build -->

</body>
</html>