<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />

    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/press.min.css -->
    <link rel="stylesheet" href="css-concat/press.css" />
    <!-- /build -->

</head>
<body>

<div id="main" class="press press-locked" data-menu="press">
	<!-- build:include ../include/menu_press.html -->
	<!-- /build -->
		<!-- build:include ../include/my_selection.html -->
	<!-- /build -->
	<!-- build:include ../include/header.html -->
	<!-- /build -->

	<div class="header-press">
        <div class="head">
          <span><i class="icon icon_espace-presse"></i>Espace presse</span>
        </div>
        <div class="container">
	        <h2>Accueil</h2>
	        <p>L'espace presse met également à la disposition du grand public des contenus en libre accès. Journalistes, pour visualiser les contenus et services qui vous sont exclusivement réservés, nous vous invitons à saisir le code qui vous a été délivré par le service de presse.</p>
        </div>
    </div>

    <div class="locked">
	    <h3><i class="icon icon_cadenas"></i>contenus verrouillés</h3>
	    <p>Journalistes, veuillez saisir votre mot de passe pour déverrouiller les contenus qui vous sont réservés.</p>

	    <form action="">
	      <input type="password" value="" placeholder="Mot de passe">
	      <input type="submit" value="valider">
	    </form>
	</div>

	<section>
		<div class="title-section">
			<h3>communiqués et infos</h3>
			<a href="press_communiques.html"><i class="icon icon_fleche-right"></i>TOUT VOIR</a>
		</div>
		<div class="contain-section">
		   <div class="owl-carousel communiques-carousel">
	        <div class="thumb active article">
	          <div class="img-container">
	            <img src="img/movie/article.jpg" />
	            <div class="picto"><i class="icon icon_article"></i></div>
	          </div>
	          <div class="info">
	            <div class="top-info"><a href="#" class="category">Conférence de presse</a><span class="date">18.05.15</span> . <span class="hour">09:00</span></div>
	            <h2>Olivier Assayas: "Avec les comédiens, si la confiance est totale, on va jusqu'au bout "</h2>
	          </div>
	        </div>
	        <div class="thumb communique">
	          <div class="img-container">
	            <img src="img/movie/article.jpg" />
	            <div class="picto"><i class="icon icon_communique-presse"></i></div>
	          </div>
	          <div class="info">
	            <div class="top-info"><a href="#" class="category">Compétition</a><span class="date">22.05.15</span> . <span class="hour">12:00</span></div>
	            <h2>Stéphane Brizé interroge la loi du marché</h2>
	          </div>
	        </div>
	        <div class="thumb article">
	          <div class="img-container">
	            <img src="img/movie/article.jpg" />
	            <div class="picto"><i class="icon icon_article"></i></div>
	          </div>
	          <div class="info">
	            <div class="top-info"><a href="#" class="category">Conférence de presse</a><span class="date">19.05.15</span> . <span class="hour">08:00</span></div>
	            <h2>Olivier Assayas: "Avec les comédiens, si la confiance est totale, on va jusqu'au bout "</h2>
	          </div>
	        </div>
	      </div>
		</div>

	</section>

	<section>
		<div class="title-section">
			<h3>programme du jour</h3>
			<a href="#"><i class="icon icon_fleche-right"></i>TOUT VOIR</a>
		</div>
		<div class="contain-section">
			
		</div>
	</section>

	<section>
		<div class="title-section">
			<h3>mediathèque</h3>
			<a href="#"><i class="icon icon_fleche-right"></i>TOUT VOIR</a>
		</div>
		<div class="contain-section">
	        <div class="owl-carousel film-slider">
	          <div data-id="film1" class="thumb active">
	            <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
	            <div class="info">
	              <p>saul fia</p>
	              <a class="director" href="#">Neeraj GHAYWAN</a>
	            </div>
	            <div class="medias">
	            	<div class="folder media"><i class="icon icon_dossier"></i> <span>(2)</span></div>
	            	<div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(4)</span></div>
	            	<div class="photo media"><i class="icon icon_photo"></i> <span>(3)</span></div>
	            </div>
	            <a href="#" class="button discover">Découvrir</a>
	          </div>
	          <div data-id="film2" class="thumb">
	            <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation2.jpg)"></div>
	            <div class="info">
	              <p>Carol</p>
	              <a class="director" href="#">Todd HAYNES</a>
	            </div>
	              <div class="medias">
	            	<div class="folder media"><i class="icon icon_dossier"></i> <span>(3)</span></div>
	            	<div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(8)</span></div>
	            	<div class="photo media"><i class="icon icon_photo"></i> <span>(1)</span></div>
	              </div>
	              <a href="#" class="button discover">Découvrir</a>
	           
	          </div>
	          <div data-id="film3" class="thumb">
	            <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation3.jpg)"></div>
	            <div class="info">
	              <p>Carol</p>
	              <a class="director" href="#">Todd HAYNES</a>
	            </div>
	            <div class="medias">
	            	<div class="folder media"><i class="icon icon_dossier"></i> <span>(2)</span></div>
	            	<div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(4)</span></div>
	            	<div class="photo media"><i class="icon icon_photo"></i> <span>(3)</span></div>
	            </div>
	            <a href="#" class="button discover">Découvrir</a>
	          </div>
	          <div data-id="film4" class="thumb">
	            <div class="img-container" style="background-image:url(./img/palmares/cover-film-compet1.jpg)"></div>
	            <div class="info">
	              <p>Carol</p>
	              <a class="director" href="#">Todd HAYNES</a>
	            </div>
	            <div class="medias">
	            	<div class="folder media"><i class="icon icon_dossier"></i> <span>(2)</span></div>
	            	<div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(4)</span></div>
	            	<div class="photo media"><i class="icon icon_photo"></i> <span>(3)</span></div>
	            </div>
	            <a href="#" class="button discover">Découvrir</a>
	          </div>
	          <div data-id="film5" class="thumb">
	            <div class="img-container" style="background-image:url(./img/palmares/cover-film-compet3.jpg)"></div>
	            <div class="info">
	              <p>Carol</p>
	              <a class="director" href="#">Todd HAYNES</a>
	            </div>
            	<div class="medias">
	            	<div class="folder media"><i class="icon icon_dossier"></i> <span>(3)</span></div>
	            	<div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>(8)</span></div>
	            	<div class="photo media"><i class="icon icon_photo"></i> <span>(1)</span></div>
              	</div>
              	<a href="#" class="button discover">Découvrir</a>
	          </div>
	        </div>
		</div>
	</section>

	<section class="downloads">
		<div class="title-section">
			<h3>a télécharger</h3>
			<a href="#"><i class="icon icon_fleche-right"></i>TOUT VOIR</a>
		</div>
		<div class="contain-section container">
			<h3>affiche officielle</h3>
			<div class="portrait">
              <img src="img/press/press-portrait.jpg" alt="">
              <p class="caption">© FDC / Lagency / Taste (Paris) / Ingrid Bergman © David Seymour / Estate of David Seymour - Magnum Photos</p>
              <div class="buttons">
              	<p class="type-format">Format portrait</p>
              	<div class="buttons-locked">
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>JPG 72 DPI</a>
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>JPG 300 DPI</a>
                </div>
                <div class="buttons-unlocked">
	                <a href="img/press/press-portrait.jpg" class="button"><i class="icon icon_telecharger"></i></i>JPG 72 DPI</a>
	                <a href="img/press/press-portrait.jpg" class="button"><i class="icon icon_telecharger"></i></i>JPG 300 DPI</a>
                </div>
              </div>
            </div>
            <div class="landscape">
              <img src="img/press/press-landscape.jpg" alt="">
              <p class="caption">© FDC / Lagency / Taste (Paris) / Ingrid Bergman © David Seymour / Estate of David Seymour - Magnum Photos</p>
              <div class="buttons">
              	<p class="type-format">Format paysage</p>
              	<div class="buttons-locked">
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>JPG 72 DPI</a>
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>JPG 300 DPI</a>
                </div>
                <div class="buttons-unlocked">
	                <a href="img/press/press-landscape.jpg" class="button"><i class="icon icon_telecharger"></i></i>JPG 72 DPI</a>
	                <a href="img/press/press-landscape.jpg" class="button"><i class="icon icon_telecharger"></i></i>JPG 300 DPI</a>
                </div>
              </div>
            </div>
		</div>
	</section>

	<div class="banner-img vCenter" style="background-image:url(./img/press/001.jpg);">
      <div class="vCenterKid">
        <h2 class="title">participer
         <a href="selectionofficielle_uncertainregard.html"><i class="icon icon_fleche-right"></i> accéder</a>
         </h2>
      </div>
    </div>

	<div class="banner-img vCenter" style="background-image:url(./img/press/002.jpg);">
      <div class="vCenterKid">
        <h2 class="title">s'accréditer
         <a href="selectionofficielle_uncertainregard.html"><i class="icon icon_fleche-right"></i> accéder</a>
         </h2>
      </div>
    </div>

    <section class="statistics">
    	<div class="title-section">
			<h3>statistiques</h3>
		</div>
		<div class="contain-section container">
			<h3>lorem ipsum dolor sit amet</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
			<img src="img/press/003.jpg" alt="">
		</div>
    </section>


    <div id="mycalendar"></div>

	
</div>

<div id="popin-press" class="popin">
    <h3><i class="icon icon_cadenas"></i>contenus verrouillés</h3>
    <p>Journalistes, veuillez saisir votre mot de passe pour déverrouiller les contenus qui vous sont réservés.</p>

    <form action="">
      <input type="password" value="" placeholder="Mot de passe" id="password">
      <input type="submit" value="valider">
    </form>
</div>



<!-- build:include ../include/footer_press.html -->
<!-- /build -->
<!-- build:[src]:prod js-concat/press.min.js -->
    <script charset="utf-8" src="js-concat/press.js"></script>
  <!-- /build -->

</body>
</html>