<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />

    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/press_download.min.css -->
    <link rel="stylesheet" href="css-concat/press_download.css" />
    <!-- /build -->

</head>
<body>

<div id="main" class="press press-locked press-downloads" data-menu="press">
	<!-- build:include ../include/menu_press.html -->
	<!-- /build -->
		<!-- build:include ../include/my_selection.html -->
	<!-- /build -->
	<!-- build:include ../include/header.html -->
	<!-- /build -->


	<div class="header-press">
        <div class="head">
          <span><i class="icon icon_espace-presse"></i>Espace presse</span>
        </div>
        <div class="container">
	        <h2>à télécharger</h2>
	        <p>Ces élements visuels sont à usage exclusif de la presse et des médias qui couvrent le Festival de Cannes. Aucune utilisation commerciale ou promotionnelle de ces visuels n’est autorisée.</p>
        </div>
    </div>


	<div id="horizontal-menu" class="owl-carousel sliderDrag ">
      <div class="vid">
        <p><a class="active" href="#" data-filter="affiche">affiche officielle</a></p>
      </div>
      <div class="vid">
        <p><a href="#" data-filter="signature">signatures</a></p>
      </div>
      <div class="vid">
        <p><a  href="#" data-filter="animation">animation</a></p>
      </div>
      <div class="vid">
        <p><a href="#" data-filter="photos">photos institutionnelles</a></p>
      </div>
      <div class="vid">
        <p><a href="#" data-filter="folder-press">dossier de presse</a></p>
      </div>
    </div>

    <div class="downloads">
	
		<section class="affiche section-active">

			<div class="contain-section container">
				<h3>affiche officielle</h3>
				<div class="portrait">
	              <img src="img/press/press-portrait.jpg" alt="">
	              <p class="caption">© FDC / Lagency / Taste (Paris) / Ingrid Bergman © David Seymour / Estate of David Seymour - Magnum Photos</p>
	              <div class="buttons">
	              	<p class="type-format">Format portrait</p>
	                <div class="buttons">
		                <a href="img/press/press-portrait.jpg" class="button button-already-unlocked"><i class="icon icon_telecharger"></i></i>JPG 72 DPI</a>
		                <a href="img/press/press-portrait.jpg" class="button button-already-unlocked"><i class="icon icon_telecharger"></i></i>JPG 300 DPI</a>
	                </div>
	              </div>
	            </div>
	            <div class="landscape">
	              <img src="img/press/press-landscape.jpg" alt="">
	              <p class="caption">© FDC / Lagency / Taste (Paris) / Ingrid Bergman © David Seymour / Estate of David Seymour - Magnum Photos</p>
	              <div class="buttons">
	              	<p class="type-format">Format paysage</p>
	              	<div class="buttons-locked">
		                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>JPG 72 DPI</a>
		                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>JPG 300 DPI</a>
	                </div>
	                <div class="buttons-unlocked">
		                <a href="img/press/press-landscape.jpg" class="button"><i class="icon icon_telecharger"></i></i>JPG 72 DPI</a>
		                <a href="img/press/press-landscape.jpg" class="button"><i class="icon icon_telecharger"></i></i>JPG 300 DPI</a>
	                </div>
	              </div>
	            </div>
			</div>
		</section>

		<section class="signature ">

			<div class="contain-section container">
				<h3>signatures</h3>
				<div class="dl-container">
				  <div class="img-container">
		              <img src="img/press/dl1.png" alt="">
		              <p class="caption">© FDC / Théophile Delange</p>
	              </div>
	              <div class="dl-infos">
	              	<p class="type-format">signature blanche</p>
	              	<ul>
	                  <li>Bannière carrée 400x400 px</li>
	                  <li>Bannière horizontale 728x90 px</li>
	                  <li>Bannière verticale 160x600 px</li>
	                  <li>Bannière verticale 120x600 px</li>
	                </ul>
	                <div class="buttons">
		              	<div class="buttons-locked">
			                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>tout télécharger</a>
		                </div>
		                <div class="buttons-unlocked">
			                <a href="img/press/dl1.png" class="button"><i class="icon icon_telecharger"></i></i>tout télécharger</a>
		                </div>
	                </div>
	              </div>
	            </div>

				<div class="dl-container">
				  <div class="img-container">
		              <img src="img/press/dl2.jpg" alt="">
		              <p class="caption">© FDC / Théophile Delange</p>
	              </div>
	              <div class="dl-infos">
	              	<p class="type-format">signature bleu #00B6F1</p>
	              	<ul>
	                  <li>Bannière carrée 400x400 px</li>
	                  <li>Bannière horizontale 728x90 px</li>
	                  <li>Bannière verticale 120x600 px</li>
	                </ul>
	                <div class="buttons">
		              	<div class="buttons-locked">
			                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>tout télécharger</a>
		                </div>
		                <div class="buttons-unlocked">
			                <a href="img/press/dl1.png" class="button"><i class="icon icon_telecharger"></i></i>tout télécharger</a>
		                </div>
	                </div>
	              </div>
	            </div>
				<div class="dl-container">
				  <div class="img-container">
		              <img src="img/press/dl3.jpg" alt="">
		              <p class="caption">© FDC / Théophile Delange</p>
	              </div>
	              <div class="dl-infos">
	              	<p class="type-format">signature bleu #00427C</p>
	              	<ul>
	                  <li>Bannière carrée 400x400 px</li>
	                  <li>Bannière horizontale 728x90 px</li>
	                  <li>Bannière verticale 120x600 px</li>
	                  <li>Bannière verticale 120x600 px</li>
	                </ul>
	                <div class="buttons">
		              	<div class="buttons-locked">
			                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>tout télécharger</a>
		                </div>
		                <div class="buttons-unlocked">
			                <a href="img/press/dl1.png" class="button"><i class="icon icon_telecharger"></i></i>tout télécharger</a>
		                </div>
	                </div>
	              </div>
	            </div>

			</div>
		</section>

		<section class="animation container">
			
			<img src="img/press/player.jpg" alt="">
	        <p class="caption">© FDC / Lagency / Taste (Paris) / Ingrid Bergman © David Seymour / Estate of David Seymour - Magnum Photos<br>Film d'animation avec la collaboration de Sonia Tout Court sur un remix du thème musical du Festival, Le Carnaval des animaux de Camille Saint-Saëns, avec un arrangement imaginé par deux musiciens suédois, Patrik Andersson et Andreas Söderström.</p>
			<div class="buttons">
		        <div class="buttons-locked">
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>.MOV</a>
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>.GIF</a>
	            </div>
	            <div class="buttons-unlocked">
	                <a href="#" class="button"><i class="icon icon_telecharger"></i></i>.MOV</a>
	                <a href="#" class="button"><i class="icon icon_telecharger"></i></i>.GIF</a>
	            </div>
            </div>
		</section>

		<section class="photos container photos_container">
			<h3>photos institutionelles <span class="count">(6) </span></h3>
		    <div class="buttons buttons-locked">
	            <a href="#" class="button button-locked"><i class="icon icon_telecharger"></i>tout télécharger</a>
	        </div>
	        <div class="buttons buttons-unlocked">
	            <a href="#" class="button "><i class="icon icon_telecharger"></i>tout télécharger</a>
	        </div>
			<div class="list" >
                  <div class="item">
                      <a id="photo1" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                      <div class="img-container">
                          <div class="img" style="background-image:url(./img/event.jpg)"></div>
                      </div>
                      </a>
                
                  </div>
                  <div class="item">
                    <a id="photo2" class="chocolat-image ajax" href="./img/artist.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                   <div class="img-container">
                        <div class="img" style="background-image:url(./img/artist.jpg)"></div>
                    </div>
                   </a>
                    
                  </div>
                  <div class="item">
                    <a id="photo3" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                   <div class="img-container">
                        <div class="img" style="background-image:url(./img/event.jpg)"></div>
                    </div>
                   </a>
                    
                  </div>
                  <div class="item">
                    <a id="photo4" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                   <div class="img-container">
                        <div class="img" style="background-image:url(./img/event.jpg)"></div>
                    </div>
                   </a>
                    
                  </div>
                  <div class="item">
                    <a id="photo6" class="chocolat-image ajax" href="./img/artist.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                   <div class="img-container">
                        <div class="img" style="background-image:url(./img/artist.jpg)"></div>
                    </div>
                   </a>
                    
                  </div>
                  <div class="item">
                      <a id="photo5" class="chocolat-image ajax" href="./img/event.jpg" title='<span class="category">Conférence de presse</span><span class="date">18.05.2012</span><h2>Sur le tournage de "Deephan" de Jacques Audiard</h2><span class="credit">Crédit Image : VALERY HACHE / AFP</span>'>
                      <div class="img-container">
                          <div class="img" style="background-image:url(./img/event.jpg)"></div>
                      </div>
                      </a>
                
                  </div>
            </div>
		</section>

		<section class="folder-press container">
			
			<div class="buttons">
		        <div class="buttons-locked">
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>dossier de presse</a>
	                <p class="infos"><strong>Mise à jour : </strong> 19.05.15 . 12:30</p>
	                <a href="#" class="button button-locked"><i class="icon icon_cadenas"></i>liste des attachés de presse</a>
	                <p class="infos"><strong>Mise à jour : </strong> 20.05.15 . 14:30</p>
	                <a href="#" class="button button-locked times"><i class="icon icon_cadenas"></i>horaire des projections (presse)</a>
	                <a href="#" class="button button-locked times"><i class="icon icon_cadenas"></i>horaire des projections (grand public)</a>
	                <p class="infos"><strong>Mise à jour : </strong> 12.05.15 . 08:00</p>
	            </div>
	            <div class="buttons-unlocked">
	                <a href="#" class="button"><i class="icon icon_telecharger"></i></i>dossier de presse</a>
	                <p class="infos"><strong>Mise à jour : </strong> 19.05.15 . 12:30</p>
	                <a href="#" class="button"><i class="icon icon_telecharger"></i></i>liste des attachés de presse</a>
	                <p class="infos"><strong>Mise à jour : </strong> 20.05.15 . 14:30</p>
	                <a href="#" class="button times"><i class="icon icon_telecharger"></i></i>horaire des projections (presse)</a>
	                <a href="#" class="button times"><i class="icon icon_telecharger"></i></i>horaire des projections (grand public)</a>
	                <p class="infos"><strong>Mise à jour : </strong> 12.05.15 . 08:00</p>
	            </div>
            </div>
		</section>
	</div>

	
</div>

<div id="popin-press" class="popin">
    <h3><i class="icon icon_cadenas"></i>contenus verrouillés</h3>
    <p>Journalistes, veuillez saisir votre mot de passe pour déverrouiller les contenus qui vous sont réservés.</p>

    <form action="">
      <input type="password" value="" placeholder="Mot de passe" id="password">
      <input type="submit" value="valider">
    </form>
</div>



<!-- build:include ../include/footer_press.html -->
<!-- /build -->
<!-- build:[src]:prod js-concat/press_download.min.js -->
    <script charset="utf-8" src="js-concat/press_download.js"></script>
  <!-- /build -->

</body>
</html>