<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
	<!-- build:[href]:prod css-concat/communiques.min.css -->
    <link rel="stylesheet" href="css-concat/communiques.css" />
    <!-- /build -->
</head>
<body>

<div id="main" class="press" data-menu="communique">
	<!-- build:include ../include/menu_press.html -->
	<!-- /build -->
		<!-- build:include ../include/my_selection.html -->
	<!-- /build -->
	<!-- build:include ../include/header.html -->
	<!-- /build -->

	<div class="header-press">
        <div class="head">
          <span><i class="icon icon_espace-presse"></i>Espace presse</span>
        </div>
        <div class="container">
	        <h2>communiqués et infos</h2>
	        <p>Communiqués, actualités, retrouvez toute l'information à ne pas manquer.</p>
        </div>
	</div>

	

		<div class="filters" id="horizontal-filters">
			
			<div class="filter" id="date">
				<span class="label">Années :</span>
				<div class="select">
		            <span class="active" data-filter="all">Toutes</span>
		            <span data-filter="date1">2016</span>
		            <span data-filter="date2">2015</span>
		            <span data-filter="date2">2014</span>
		            <span data-filter="date2">2013</span>
		            <span data-filter="date2">2012</span>
		            <i class="icon icon_fleche-down"></i>
	          	</div>
			</div>
			<div class="filter" id="type">
				<span class="label">Types :</span>
				<div class="select">
		            <span class="active" data-filter="all">Tous</span>
		            <span data-filter="type1">Communiqués</span>
		            <span data-filter="type2">Infos</span>
		            <i class="icon icon_fleche-down"></i>
	          	</div>
			</div>
			<div class="filter" id="theme">
				<span class="label">Thèmes :</span>
				<div class="select">
		            <span class="active" data-filter="all">Tous</span>
		            <span data-filter="theme1">Conférence de presse</span>
		            <span data-filter="theme2">Cinéma de la plage</span>
		            <span data-filter="theme2">Montée des marches</span>
		            <i class="icon icon_fleche-down"></i>
	          	</div>
			</div>
			<div class="filter" id="format">
				<span class="label">Format :</span>
				<div class="select">
		            <span class="active" data-filter="all">Tous</span>
		            <span data-filter="format1">Articles</span>
		            <span data-filter="format2">Photos</span>
		            <span data-filter="format3">Vidéo</span>
		            <span data-filter="format4">Audio</span>
		            <i class="icon icon_fleche-down"></i>
	          	</div>
			</div>
		</div>



	<div class="container" id="news">


		<div class="list" id="list-articles">
			<div class="item date1 theme1 format1 type1 communique">
				<a href="article-press.html"></a>
				<div class="img-container">
					
					<div class="picto"><i class="icon icon_communique-presse"></i></div>
					<img src="./img/slider/slider01.jpg" alt="">
	            	<!-- <img src="./img/slider/slider01.jpg" alt=""> -->
	            </div>
	            <div class="info">
	            	<div class="top-info">
		              	<p class="category">Cinéma de la plage</p>
		              	<span class="date">18.05.15</span>.
		              	<span class="hour">09:00</span>
	              	</div>
	              	<h2>Enragés, polar hybride d'Eric Hannezo</h2>
	            </div>

			</div>
			<div class="item date1 theme2 format1 type2 communique">
				<a href="article-press.html"></a>
				<div class="img-container">
					
					<div class="picto"><i class="icon icon_communique-presse"></i></div>
	            	<img src="./img/slider/slider01.jpg" alt="">
	            </div>
	            <div class="info">
	                <div class="top-info">
		              	<p class="category">Cinéma de la plage</p>
		              	<span class="date">18.05.15</span>.
		              	<span class="hour">09:00</span>
	              	</div>
	              	<h2>Enragés, polar hybride d'Eric Hannezo</h2>
	            </div>

			</div>
			<div class="item date1 theme1 format1 type2">
				<a href="article-press.html"></a>
				<div class="img-container">
					
					<div class="picto"><i class="icon icon_article"></i></div>
	            	<img src="./img/slider/slider01.jpg" alt="">
	            </div>
	            <div class="info">
	              	<div class="top-info">
		              	<p class="category">Cinéma de la plage</p>
		              	<span class="date">18.05.15</span>.
		              	<span class="hour">09:00</span>
	              	</div>
	              	<h2>Enragés, polar hybride d'Eric Hannezo</h2>
	            </div>

			</div>
			<div class="item date4 theme2 format4 type2">
				<a href="article-press.html"></a>
				<div class="img-container">
					
					<div class="picto"><i class="icon icon_audio"></i></div>
	            	<img src="./img/slider/slider01.jpg" alt="">
	            </div>
	            <div class="info">
	              	<div class="top-info">
		              	<p class="category">Cinéma de la plage</p>
		              	<span class="date">18.05.15</span>.
		              	<span class="hour">09:00</span>
	              	</div>
	              	<h2>Enragés, polar hybride d'Eric Hannezo</h2>
	            </div>

			</div>
			<div class="item date3 theme1 format1 type1 communique">
				<a href="article-press.html"></a>
				<div class="img-container">
					
					<div class="picto"><i class="icon icon_communique-presse"></i></i></div>
	            	<img src="./img/slider/slider01.jpg" alt="">
	            </div>
	            <div class="info">
	              	<div class="top-info">
		              	<p class="category">Cinéma de la plage</p>
		              	<span class="date">18.05.15</span>.
		              	<span class="hour">09:00</span>
	              	</div>
	              	<h2>Enragés, polar hybride d'Eric Hannezo</h2>
	            </div>

			</div>
		</div>

		<a href="#" class="read-more ">Afficher <strong>plus d'articles</strong></a>
		
	</div>
	
	<div class="banner-img vCenter" style="background-image:url(./img/pushactu.jpg);">
     <div class="vCenterKid">
       <h2 class="title one-line">l'actualité à la une
       <a href="home.html"><i class="icon icon_fleche-right"></i>suivez la manifestation au jour le jour</a>
       </h2>
     </div>
 	</div>

</div>
<!-- build:include ../include/footer_press.html -->
<!-- /build -->
    
	<!-- build:[src]:prod js-concat/communiques.min.js -->
    <script charset="utf-8" src="js-concat/communiques.js"></script>
	<!-- /build -->

</body>
</html>