<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />

    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/press_maps.min.css -->
    <link rel="stylesheet" href="css-concat/press_maps.css" />
    <!-- /build -->

</head>
<body>

<div id="main" class="press press_maps" data-menu="programmation">
	<!-- build:include ../include/menu_press.html -->
	<!-- /build -->
		<!-- build:include ../include/my_selection.html -->
	<!-- /build -->
	<!-- build:include ../include/header.html -->
	<!-- /build -->


	<div class="header-press">
        <div class="head">
          <span><i class="icon icon_espace-presse"></i>Espace presse</span>
        </div>
        <div class="container">
	        <h2>Plan des salles</h2>
	        
        </div>
    </div>

    <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
          <div class="vid">
            <p><a href="#" data-map="lumiere" class="active">Grand théatre Lumière</a></p>
          </div>
          <div class="vid">
            <p><a href="#" data-map="debussy" class="">Salle debussy</a></p>
          </div>
          <div class="vid">
            <p><a href="#" data-map="60e" class="">salle du 60E</a></p>
          </div>
           <div class="vid">
            <p><a href="#" data-map="bunuel" class="">Salle buñuel</a></p>
          </div>
          <div class="vid">
            <p><a href="#" data-map="bazin" class="">salle Bazin</a></p>
          </div>
          <div class="vid">
            <p><a href="#" data-map="press" class="">Salle de presse</a></p>
          </div>
          <div class="vid">
            <p><a href="#" data-map="mace" class="">place macé</a></p>
          </div>
    </div>


    <div class="maps">
         
        <div id="lumiere" class='active'>
            <img src="./img/press/seating-chart/theatre-lumiere.jpg" alt="" class="map">
            <h3>la zone festival</h3>
            <img src="img/press/seating-chart/festival-map.png" alt="" class="zone">
        </div>
        <div id="debussy">
            <img src="./img/press/seating-chart/default-map.jpg" alt="" class="map">
            <h3>la zone festival</h3>
            <img src="img/press/seating-chart/festival-map.png" alt="" class="zone">
        </div>
        <div id="60e">
            <img src="./img/press/seating-chart/theatre-lumiere.jpg" alt="" class="map">
            <h3>la zone festival</h3>
            <img src="img/press/seating-chart/festival-map.png" alt="" class="zone">
        </div>
        <div id="bunuel">
            <img src="./img/press/seating-chart/default-map.jpg" alt="" class="map">
            <h3>la zone festival</h3>
            <img src="img/press/seating-chart/festival-map.png" alt="" class="zone">
        </div>
        <div id="bazin">
            <img src="./img/press/seating-chart/theatre-lumiere.jpg" alt="" class="map">
            <h3>la zone festival</h3>
            <img src="img/press/seating-chart/festival-map.png" alt="" class="zone">
        </div>
        <div id="press">
            <img src="./img/press/seating-chart/default-map.jpg" alt="" class="map">
            <h3>la zone festival</h3>
            <img src="img/press/seating-chart/festival-map.png" alt="" class="zone">
        </div>
        <div id="mace">
            <img src="./img/press/seating-chart/theatre-lumiere.jpg" alt="" class="map">
            <h3>la zone festival</h3>
            <img src="img/press/seating-chart/festival-map.png" alt="" class="zone">
        </div>
    </div>

	
</div>





<!-- build:include ../include/footer_press.html -->
<!-- /build -->
<!-- build:[src]:prod js-concat/press_maps.min.js -->
    <script charset="utf-8" src="js-concat/press_maps.js"></script>
  <!-- /build -->

</body>
</html>