<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Festival de Cannes 2016
        </title>
        <meta name="viewport" content="user-scalable=no, width=640" />
        <!-- Include css ressources -->
        <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'/>
        <!-- Include css files -->
        <!-- build:[href]:prod css-concat/selection.min.css -->
        <link rel="stylesheet" href="css-concat/selection.css" />
        <!-- /build -->
    </head>
    <body>

        <div id="main" class="articles dark-background selection cannesclassic" data-menu="selection">
            <!-- build:include ../include/menu.html -->
            <!-- /build -->
            <!-- build:include ../include/my_selection.html -->
            <!-- /build -->
            <!-- build:include ../include/header.html -->
            <!-- /build -->
            <div id="banner-top">
            <div class="banner-img vCenter" style="background-image:url(./img/selection-officielle/selection-bandeau.jpg)">
                <div class="vCenterKid">
                    <h2 class="title">
                        sélection officielle
                    </h2>
                </div>
            </div>
            </div>
            <div class="selection-container">
                <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_competition.html">
                                compétition
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a data-url="selectionofficielle_uncertainregard.html" >
                                un certain regard
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_horscompetition.html">
                                hors compétition
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_seancesspeciales.html">
                                séances spéciales
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_cinefondation.html">
                                cinéfondation
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_courtsmetrages.html">
                                courts métrages
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a class="active"  data-url="selectionofficielle_cannesclassic_invit.html">
                                cannes classics
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_cinemadelaplage.html">
                                cinéma de la plage
                            </a>
                        </p>
                    </div>
                </div>
                <div class="content-selection">
                <div id="horizontal-menu2" class="owl-carousel sliderDrag videosSlider">
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_cannesclassic_invit.html">
                                invité d'honneur
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a  data-url="selectionofficielle_cannesclassic_hommage.html" >
                                hommages
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a  data-url="selectionofficielle_cannesclassic_copies.html">
                                copies restaurées
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a  data-url="selectionofficielle_cannesclassic_world.html">
                                world cinema project
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a  class="active" data-url="selectionofficielle_cannesclassic_docu.html">
                                documentaires
                            </a>
                        </p>
                    </div>
                </div>
                <div class="content-selection2">
                <div class="selection dark-background">
                <section>
                  <div class="title-list-cat">
                      <p class="subtitle alone">Dans le cadre de Cannes Classics, seront projetés les documentaires sur le cinéma suivants :</p>
                  </div>
                  <div class="owl-carousel film-slider">
                    <div data-id="film1" class="thumb active">
                      <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
                      <div class="info">
                        <p>HITCHCOCK / TRUFFAUT</p>
                        <a class="director" href="#">Kent JONES</a>
                        <p class="duration">2015 - 1h28</p>
                      </div>
                      <div class="text">
                      <p>Co-écrit par Kent Jones et Serge Toubiana. Produit par Artline Films, Cohen Media Group et Arte France.</p>
                    </div>
                    </div>
                    <div data-id="film2" class="thumb active">
                      <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
                      <div class="info">
                        <p>DEPARDIEU GRANDEUR NATURE</p>
                        <a class="director" href="#">Richard Melloul</a>
                        <p class="duration">2014 - 1h</p>
                      </div>
                      <div class="text">
                      <p>Produit par Richard Melloul Productions et Productions Tony Comiti.</p>
                    </div>
                    </div>
                    </div>
                    
                </section>
                <section>
                  <div class="title-list-cat">
                      <h2 class="title tall four-lines">
                          CELEBRATION DES SOIXANTE ANS DE LA CREATION DE LA PALME D’OR
                      </h2>
                  </div>
                  <div class="owl-carousel film-slider">
                    <div data-id="film1" class="thumb active">
                      <div class="img-container" style="background-image:url(./img/palmares/cover-film-cinefondation1.jpg)"></div>
                      <div class="info">
                        <p>LA LÉGENDE DE LA PALME D'OR</p>
                        <a class="director" href="#">Alexis Veller</a>
                        <p class="duration">2015 - 1h10</p>
                      </div>
                      <div class="text">
                      <p>Produit par AV productions.</p>
                    </div>
                    </div>
                    
                    </div>
                    
                </section>
                </div>
            </div>
            </div></div>
            <div id="banner-bottom">
            <div class="banner-img vCenter" style="background-image:url(./img/selection-officielle/push.jpg);">
                <div class="vCenterKid">
                    <h2 class="title tall">
                        Copies Restaurées
                        <a href="selectionofficielle_uncertainregard.html">
                            <i class="icon icon_fleche-right">
                            </i>
                            Découvrir la rubrique
                        </a>
                    </h2>
                </div>
            </div>
            </div>
        </div>
        <!-- build:include ../include/footer.html -->
        <!-- /build -->
        <!-- build:[src]:prod js-concat/selection.min.js -->
        <script charset="utf-8" src="js-concat/selection.js">
        </script>
        <!-- /build -->
    </body>
</html>
