<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
    <!-- build:[href]:prod css-concat/selection.min.css -->
    <link rel="stylesheet" href="css-concat/selection.css" />
    <!-- /build -->
</head>
<body>

<div id="main" class="articles selection dark-background" data-menu="selection">
	<!-- build:include ../include/menu.html -->
	<!-- /build -->
	<!-- build:include ../include/my_selection.html -->
	<!-- /build -->
  <!-- build:include ../include/header.html -->
  <!-- /build -->
<div id="banner-top">
	<div class="banner-img vCenter" style="background-image:url(./img/selection-officielle/selection-bandeau.jpg)">
		<div class="vCenterKid">
      <h2 class="title">sélection officielle</h2>
    </div>
	</div>
  </div>
	<div class="selection-container">
      <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
                    <div class="vid">
                        <p>
                            <a class="" data-url="selectionofficielle_competition.html">
                                compétition
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a data-url="selectionofficielle_uncertainregard.html" >
                                un certain regard
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a  data-url="selectionofficielle_horscompetition.html">
                                hors compétition
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a  data-url="selectionofficielle_seancesspeciales.html">
                                séances spéciales
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a  data-url="selectionofficielle_cinefondation.html">
                                cinéfondation
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a data-url="selectionofficielle_courtsmetrages.html">
                                courts métrages
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a   data-url="selectionofficielle_cannesclassic_invit.html">
                                cannes classics
                            </a>
                        </p>
                    </div>
                    <div class="vid">
                        <p>
                            <a class="active" data-url="selectionofficielle_cinemadelaplage.html">
                                cinéma de la plage
                            </a>
                        </p>
                    </div>
                </div>

        <div class="content-selection">
            <div class="selection dark-background">
              <section >
                  <div class="title-list-cat">
                      <p class="subtitle alone">Les projections du Cinéma de la Plage, qui se jouent chaque soir sous les étoiles, sont ouvertes au public.</p>
                  </div>
                  <div class="movie-container">

                    <div class="img" style="background-image:url(./img/palmares/cover-film-camerador.jpg)"></div>

                    <div class="infos-item-list">
                      <p class="date-pres-item">Jeudi 14 mai <span class="hour-pres-item"> 21h30 </span></p>
                      <h3 class="title-item">Le grand blond avec une chaussure noire</h3>
                      <span class="name-item">Yves ROBERT</span>
                      <span class="date-item">1972 - 1h30</span>
                      <p class="text">Restauration 2K présentée par Gaumont. Travaux image effectués par Eclair, son restauré par Diapason en partenariat avec Eclair.</p>
                  </div>
                  </div>
                  <div class="movie-container">

                    <div class="img" style="background-image:url(./img/palmares/cover-film-camerador.jpg)"></div>

                    <div class="infos-item-list">
                      <p class="date-pres-item">Jeudi 14 mai <span class="hour-pres-item"> 21h30 </span></p>
                      <h3 class="title-item">Le grand blond avec une chaussure noire</h3>
                      <span class="name-item">Yves ROBERT</span>
                      <span class="date-item">1972 - 1h30</span>
                      <p class="text">Restauration 2K présentée par Gaumont. Travaux image effectués par Eclair, son restauré par Diapason en partenariat avec Eclair.</p>
                  </div>
                  </div>
                  <div class="movie-container">

                    <div class="img" style="background-image:url(./img/palmares/cover-film-camerador.jpg)"></div>

                    <div class="infos-item-list">
                      <p class="date-pres-item">Jeudi 14 mai <span class="hour-pres-item"> 21h30 </span></p>
                      <h3 class="title-item">Le grand blond avec une chaussure noire</h3>
                      <span class="name-item">Yves ROBERT</span>
                      <span class="date-item">1972 - 1h30</span>
                      <p class="text">Restauration 2K présentée par Gaumont. Travaux image effectués par Eclair, son restauré par Diapason en partenariat avec Eclair.</p>
                  </div>
                  </div>

            </section>
            </div>
            
          

        </div>

	</div>
<div id="banner-bottom">
  <div class="banner-img vCenter" style="background-image:url(./img/selection-officielle/push.jpg);">
     <div class="vCenterKid">
       <h2 class="title">competition
     <a href="selectionofficielle_competition.html"><i class="icon icon_fleche-right"></i> Découvrir la rubrique</a>
     </h2>
     </div>
  </div>
</div>

	
</div>
<!-- build:include ../include/footer.html -->
<!-- /build -->
    

    
    <!-- build:[src]:prod js-concat/selection.min.js -->
    <script charset="utf-8" src="js-concat/selection.js"></script>
  <!-- /build -->

</body>
</html>