<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festival de Cannes 2016</title>
    <meta name="viewport" content="user-scalable=no, width=640" />
    <!-- Include css ressources -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- Include css files -->
<!-- build:[href]:prod css-concat/webtvTrailer.min.css -->
    <link rel="stylesheet" href="css-concat/webtvTrailer.css" />
    <!-- /build -->
</head>
<body>
<div id="main" class="articles" data-menu="webtv">
	<!-- build:include ../include/menu.html -->
	<!-- /build -->
	<!-- build:include ../include/header.html -->
	<!-- /build -->
	
	<div id="banner-top">
	  	<div class="banner-img vCenter" style="background-image:url(./img/webtv/001.jpg)">
	  		<div class="vCenterKid">
	  			<h2 class="title tall tallIcon"><i class="icon icon_player"></i><br> les bandes annonces et extraits</h2>
	  		</div>
	  	</div>
  	</div>

  	<div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
          <div class="vid">
            <p><a href="#" data-url="webtv_trailer_competition.html">compétition</p>
          </div>
          <div class="vid">
            <p><a href="#" data-url="webtv_trailer_uncertainregard.html">un certain regard</a></p>
          </div>
          <div class="vid">
            <p><a href="#" data-url="webtv_trailer_horscompetition.html">hors compétition</a></p>
          </div>
           <div class="vid">
            <p><a href="#" data-url="webtv_trailer_seancesspeciales.html">séances spéciales</a></p>
          </div>
           <div class="vid">
            <p><a href="#" class="active" data-url="webtv_trailer_cinefondation.html">cinéfondation</a></p>
          </div>
           <div class="vid">
            <p><a href="#" data-url="webtv_trailer_courtmetrage.html">courts métrages</a></p>
          </div>
           <div class="vid">
            <p><a href="#" data-url="webtv_trailer_cannesclassics.html">cannes classics</a></p>
          </div>
           <div class="vid">
            <p><a href="#" data-url="webtv_trailer_cinemadelaplage.html">cinéma de la plage</a></p>
          </div>
    </div>

    <div class="content-selection">
		<div class="grid list">
			<div class="grid-item grid-item--small">
				<a href="ba.html"></a>
				<div class="img-container">
					<div class="infos">
						<div class="picto"><i class="icon icon_playlist"></i></div>
						<div class="right">
			              	<p class="category">Sils Maria</p>
			              	<p>Olivier ASSAYAS</p>
		              	</div>
	            	</div>
					
	            	<div class="img" style="background-image:url(./img/slide001.jpg)"></div>
	            </div>
			</div>
			<div class="grid-item grid-item--small">
				<a href="ba.html"></a>
				<div class="img-container">
					<div class="infos">
						<div class="picto"><i class="icon icon_playlist"></i></div>
						<div class="right">
			              	<p class="category">Sils Maria</p>
			              	<p>Olivier ASSAYAS</p>
		              	</div>
	            	</div>
					
	            	<div class="img" style="background-image:url(./img/slide001.jpg)"></div>
	            </div>
			</div>
			<div class="grid-item grid-item--small">
				<a href="ba.html"></a>
				<div class="img-container">
					<div class="infos">
						<div class="picto"><i class="icon icon_playlist"></i></div>
						<div class="right">
			              	<p class="category">Sils Maria</p>
			              	<p>Olivier ASSAYAS</p>
		              	</div>
	            	</div>
					
	            	<div class="img" style="background-image:url(./img/slide001.jpg)"></div>
	            </div>
			</div>
			<div class="grid-item grid-item--small">
				<a href="ba.html"></a>
				<div class="img-container">
					<div class="infos">
						<div class="picto"><i class="icon icon_playlist"></i></div>
						<div class="right">
			              	<p class="category">Sils Maria</p>
			              	<p>Olivier ASSAYAS</p>
		              	</div>
	            	</div>
					
	            	<div class="img" style="background-image:url(./img/slide001.jpg)"></div>
	            </div>
			</div>
			<div class="grid-item grid-item--small">
				<a href="ba.html"></a>
				<div class="img-container">
					<div class="infos">
						<div class="picto"><i class="icon icon_playlist"></i></div>
						<div class="right">
			              	<p class="category">Sils Maria</p>
			              	<p>Olivier ASSAYAS</p>
		              	</div>
	            	</div>
					
	            	<div class="img" style="background-image:url(./img/slide001.jpg)"></div>
	            </div>
			</div>
			<div class="grid-item grid-item--small">
				<a href="ba.html"></a>
				<div class="img-container">
					<div class="infos">
						<div class="picto"><i class="icon icon_playlist"></i></div>
						<div class="right">
			              	<p class="category">Sils Maria</p>
			              	<p>Olivier ASSAYAS</p>
		              	</div>
	            	</div>
					
	            	<div class="img" style="background-image:url(./img/slide001.jpg)"></div>
	            </div>
			</div>
		</div>
	</div>
				
	
<!-- build:include ../include/footer.html -->
<!-- /build -->
    

<!-- build:[src]:prod js-concat/webtvTrailer.min.js -->
    <script charset="utf-8" src="js-concat/webtvTrailer.js"></script>
  <!-- /build -->
</body>
</html>