services:
    #soif logger
    base.soif.logger_manager:
        class: Base\SoifBundle\Manager\LoggerManager
        calls:
            - ['setSoifLog', ['%soif_log%']]
            - ['setSoifLogDirectory', ['%soif_log_directory%']]
    #soif core
    base.soif.core_manager:
        abstract: true
        class: Base\SoifBundle\Manager\CoreManager
        calls:
            - ['setEntityManager', ['@doctrine.orm.entity_manager']]
            - ['setLogger', ['@logger']]
            - ['setSoifLogger', ['@base.soif.logger_manager']]
            - ['setWebserviceUrl', ['%soif_url%']]
            - ['setValidator', ['@validator']]

    #soif children
    base.soif.award_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\AwardManager
        arguments: ['@base.soif.festival_manager', '@base.soif.prize_manager', '@base.soif.film_manager', '@base.soif.person_manager']

    base.soif.country_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\CountryManager
        arguments: []

    base.soif.festival_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\FestivalManager
        arguments: []

    base.soif.festival_poster_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\FestivalPosterManager
        arguments: ['@base.soif.festival_manager', '@base.soif.media_stream_manager']

    base.soif.film_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\FilmManager
        arguments: ['@base.soif.festival_manager', '@base.soif.media_manager', '@base.soif.person_manager']

    base.soif.film_atelier_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\FilmAtelierManager
        arguments: ['@base.soif.festival_manager', '@base.soif.person_manager']

    base.soif.jury_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\JuryManager
        arguments: ['@base.soif.festival_manager', '@base.soif.person_manager']

    base.soif.jury_function_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\JuryFunctionManager
        arguments: []

    base.soif.media_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\MediaManager
        arguments: ['@base.soif.festival_manager', '@base.soif.media_stream_manager', '@base.soif.media_category_manager']

    base.soif.media_category_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\MediaCategoryManager
        arguments: []

    base.soif.media_stream_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\MediaStreamManager
        arguments: []
        calls:
            - ['setSonataMediaManager', ['@sonata.media.manager.media']]
            - ['setSoifUploadDirectory', ['%soif_upload_directory%']]

    base.soif.person_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\PersonManager
        arguments: ['@base.soif.media_manager']

    base.soif.prize_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\PrizeManager
        arguments: []

    base.soif.projection_manager:
        parent: base.soif.core_manager
        class: Base\SoifBundle\Manager\ProjectionManager
        arguments: ['@base.soif.festival_manager', '@base.soif.film_manager', '@base.soif.media_stream_manager']