{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading">
        <div class="content-news">
            {% include 'FDCMarcheDuFilmBundle::homepage/partials/topSliders.html.twig' with {'slidersTop': slidersTop, 'sliders' : sliders} %}
            <div id="articles-wrapper">
                {% include 'FDCMarcheDuFilmBundle::homepage/partials/content.html.twig' with { 'contentBlock': contentBlock } %}
                {% include 'FDCMarcheDuFilmBundle::homepage/partials/services.html.twig' %}
                {% include 'FDCMarcheDuFilmBundle::partials/newsBlock.html.twig' with { 'news': news } %}
                {% include 'FDCMarcheDuFilmBundle::partials/contactBlock.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
