# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #locales
    locale:  fr
    locales: [fr, en, es, zh]
    locales_admin: [fr]
    locale_default_translation: fr
    locale_fallback: fr

    # admin
    admin_homepage_id: ~
    admin_press_homepage_id: ~
    admin_press_guide_id: ~
    admin_press_contact_id: ~
    admin_press_download_id: ~
    admin_press_medialibrary_id: ~
    admin_press_accredit_id: ~
    admin_press_cinemamap_id: ~
    admin_press_projection_id: ~
    admin_fdc_page_web_tv_channels_id: ~
    admin_fdc_page_web_tv_live_id: ~
    admin_fdc_page_web_tv_trailers_competition_id: ~
    admin_fdc_page_web_tv_trailers_certain_regard_id: ~
    admin_fdc_page_web_tv_trailers_hors_competition_id: ~
    admin_fdc_page_web_tv_trailers_seances_speciales_id: ~
    admin_fdc_page_web_tv_trailers_cinefondation_id: ~
    admin_fdc_page_web_tv_trailers_courts_metrages_id: ~
    admin_fdc_page_web_tv_trailers_cannes_classics_id: ~
    admin_fdc_page_web_tv_trailers_cinema_plage_id: ~
    # routes where are displayed the translation legend
    admin_routes_translation_legend_without_master:
        - admin_base_core_theme_list
        - admin_base_core_contacttheme_list
        - admin_base_core_tag_list
        - admin_base_core_webtv_list
        - admin_base_core_mediaimagesimple_list
    admin_routes_translation_legend:
        - admin_base_core_newsarticle_list
        - admin_base_core_event_list
        - admin_base_core_mediaimage_list
        - admin_base_core_mediaaudio_list
        - admin_base_core_mediavideo_list
        - admin_base_core_newsimage_list
        - admin_base_core_newsaudio_list
        - admin_base_core_newsvideo_list
        - admin_base_core_statementarticle_list
        - admin_base_core_statementimage_list
        - admin_base_core_statementaudio_list
        - admin_base_core_statementvideo_list
        - admin_base_core_infoarticle_list
        - admin_base_core_infoimage_list
        - admin_base_core_infoaudio_list
        - admin_base_core_infovideo_list
    admin_routes_translation_lock:
        - admin_base_core_newsarticle_edit
        - admin_base_core_webtv_edit
        - admin_base_core_tag_edit
        - admin_base_core_theme_edit
        - admin_base_core_contacttheme_edit
        - admin_base_core_event_edit
        - admin_base_core_mediaimage_edit
        - admin_base_core_mediaaudio_edit
        - admin_base_core_mediavideo_edit
        - admin_base_core_newsimage_edit
        - admin_base_core_newsaudio_edit
        - admin_base_core_newsvideo_edit
    # soif
    soif_preprod_url: ~
    soif_prod_url: ~
    soif_url: '%soif_preprod_url%'
    soif_log: ~
    soif_log_directory: ~
    # soif_log_expiration uses a string format (1 day, 1 month...), check http://php.net/manual/fr/dateinterval.createfromdatestring.php
    soif_log_expiration: ~
    soif_login: ~
    soif_password: ~
    soif_upload_directory: ~
    #api
    api_version: '1.0'
    api_page_offset: 10
    # amazon s3
    s3_access_key: ~
    s3_secret_key: ~
    # amazon s3 global
    s3_global_bucket_name: ~
    s3_global_region: ~
    # amazon s3 video
    s3_video_bucket_name: ~
    s3_video_region: ~
    # amazon s3 audio
    s3_audio_bucket_name: ~
    s3_audio_region: ~
    # amazon s3 archive
    s3_archive_bucket_name: ~
    s3_archive_region: ~
    # fdc
    fdc_event_domain: ~
    fdc_event_scheme: ~
    fdc_press_domain: ~
    fdc_press_scheme: ~
    fdc_corporate_domain: ~
    fdc_press_domain_regexp: ~
    fdc_app_android_download_url: '#'
    fdc_app_ios_download_url: '#'
    header_fdc: 'http://www.festival-cannes.com/fr.html'
    header_cine: 'http://www.cinefondation.com/fr/'
    header_ccm: 'http://www.cannescourtmetrage.com/fr/'
    header_mdf: 'http://www.marchedufilm.com/fr/'
    header_account: 'http://sub.festival-cannes.fr/'
    partner_chopard: '//www.chopard.fr/'
    partner_loreal: '//www.loreal-paris.fr/index.aspx'
    partner_hp: '//www8.hp.com/fr/fr/home.html'
    partner_kering: '//www.kering.com/fr'
    partner_renault: '//group.renault.com'
    partner_mastercard: '//www.mastercard.com/fr/particuliers/index.html'
    footer_boutique: '//www.boutiqueofficielle.festival-cannes.com/'
    social_appli: 'application-mobile'
    social_facebook: 'http://www.facebook.com/pages/Festival-de-Cannes-PageOfficielle/197710070249937'
    social_twitter: 'https://twitter.com/Festival_Cannes'
    social_instagram: 'https://instagram.com/festivaldecannes'
    social_tumblr: 'http://festivaldecannesofficiel.tumblr.com/'
    social_rss: '#'
    social_youtube: 'https://www.youtube.com/user/TVFestivaldeCannes'
    social_dailymotion: 'http://www.dailymotion.com/CannesFestTV'
    social_podcast: '#'
    jwplayer_key: ~
    fdc_event_slug: ~
    fdc_year: ~
    twitter_consumer_key: ~
    twitter_consumer_secret: ~
    twitter_token: ~
    twitter_token_secret: ~
    instagram_consumer_key: ~
    instagram_consumer_secret: ~
    instagram_token: ~
    tumblr_consumer_key: ~
