#admin
admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin
    options: { i18n: false }

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin
    options: { i18n: false }

gallery:
    resource: '@SonataMediaBundle/Resources/config/routing/gallery.xml'
    prefix: /media/gallery
    options: { i18n: false }

media:
    resource: '@SonataMediaBundle/Resources/config/routing/media.xml'
    prefix: /media
    options: { i18n: false }

#Sonata User
sonata_user_security:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_security_1.xml"
    prefix: /

sonata_user_resetting:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_resetting_1.xml"
    prefix: /resetting
    options: { i18n: false }

#sonata_user_profile:
#    resource: "@SonataUserBundle/Resources/config/routing/sonata_profile_1.xml"
#    prefix: /profile
#    options: { i18n: false }

#sonata_user_register:
#    resource: "@SonataUserBundle/Resources/config/routing/sonata_registration_1.xml"
#    prefix: /register


sonata_user_change_password:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_change_password_1.xml"
    prefix: /profile
    options: { i18n: false }

sonata_user:
    resource: '@ApplicationSonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin
    options: { i18n: false }

JMSTranslationBundle_ui:
    resource: @JMSTranslationBundle/Controller/
    type:     annotation
    prefix:   /admin/_trans
    options: { i18n: false }

#api
NelmioApiDocBundle:
    resource: "@NelmioApiDocBundle/Resources/config/routing.yml"
    prefix:   /api/doc
    options: { i18n: false }

#fos js routing
fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"
    options: { i18n: false }

#coresphere_console
coresphere_console:
    resource: .
    prefix: /admin/tools
    options: { i18n: false }
    type: extra

#base
base_admin:
    resource: "@BaseAdminBundle/Controller/"
    type:     annotation
    prefix:   /admin
    options: { i18n: false }

base_api:
    resource: "@BaseApiBundle/Resources/config/routing.yml"
    prefix:   /api
    options: { i18n: false }

base_core:
    resource: "@BaseCoreBundle/Controller/"
    type:     annotation
    prefix:   /

base_soif:
    resource: "@BaseSoifBundle/Controller/"
    type:     annotation
    prefix:   /

# fdc websites
fdc_corporate:
    resource: "@FDCCorporateBundle/Controller/"
    type:     annotation
    prefix:   /corporate
    host:     "%fdc_corporate_domain%"

# desktop event
fdc_event:
    resource: "@FDCEventBundle/Controller"
    type:     annotation
    prefix:   /
    host: "%fdc_event_domain%"

fdc_press:
    resource: "@FDCPressBundle/Resources/config/routing.yml"
    prefix:   /press

# mobile event
fdc_event_mobile:
    resource: "@FDCEventMobileBundle/Resources/config/routing.yml"
    prefix:   /
    host:     "%fdc_event_mobile_domain%"

fdc_press_mobile:
    resource: "@FDCPressMobileBundle/Resources/config/routing.yml"
    prefix:   /press
    host:     "%fdc_event_mobile_domain%"

# marche du film
fdc_marche_du_film:
    resource: "@FDCMarcheDuFilmBundle/Controller"
    type:     annotation
    prefix:   /
    host: "%fdc_marche_du_film_domain%"

fdc_court_metrage:
    resource: "@FDCCourtMetrageBundle/Controller"
    type:     annotation
    prefix:   /
    host: "%fdc_court_metrage_domain%"