<div class="text-presentation projection presse whoarewe">
    <img src="/img/mdf.png" alt="Marché du film">
    <h5 class="caption">Terrasse d'un pavillon au Village International- © Alexandra Fleurantin - 2015</h5>
</div>
