{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading">
        <div class="bigContainer">
            <div class="text-presentation projection presse">
                {% include 'FDCMarcheDuFilmBundle:contentTemplate/partials:blockTitleHeader.html.twig' with {'titleHeader': titleHeader} %}
                {% for widget in widgets %}
                    {% if widget.translatable.isWidgetText() %}
                        {% include 'FDCMarcheDuFilmBundle:contentTemplate/partials:blockText.html.twig' with {'widget': widget} %}
                    {% endif %}
                {% endfor %}

                {% include 'FDCMarcheDuFilmBundle:contentTemplate/partials:blockImage.html.twig' %}
                {% include 'FDCMarcheDuFilmBundle:contentTemplate/partials:blockDownload.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}