{% trans_default_domain 'FDCPressBundle' %}

<div class="container" id="news">
    <div class="list" id="list-articles">
        {% include 'FDCPressMobileBundle:News:list/article-list-ajax.html.twig' %}
    </div>
    {% if pressNewsLeft != false %}
    <a href="#" class="read-more" data-offset="{{ pressNewsLeft }}">
        {{ 'press.actu.btn.afficherplusdarticles'|trans|raw }}
    </a>
    {% else %}
    <a href="#" class="read-more" style="visibility: hidden">
        {{ 'press.actu.btn.afficherplusdarticles'|trans|raw }}
    </a>
    {% endif %}
</div>