//       SUMMARY TABLE     
// =========================
// 1. CamphorHeavy
// 2. CamphorBold
// 3. CamphorRegular
// 4. CamphorMedium
// 5. CamphorItalic
// 6. PlayfairRegular
// 7. PlayfairBold
// 8. PlayfairItalic
// =========================


// 1. CamphorHeavy
// =========================

@font-face {
    font-family: 'CamphorHeavy';
    src: url('../fonts/CamphorHeavy/camphor+heavy.eot');
    src: url('../fonts/CamphorHeavy/camphor+heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CamphorHeavy/camphor+heavy.woff') format('woff'),
         url('../fonts/CamphorHeavy/camphor+heavy.ttf') format('truetype'),
         url('../fonts/CamphorHeavy/camphor+heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// 2. CamphorBold
// =========================

@font-face {
    font-family: 'CamphorBold';
    src: url('../fonts/CamphorBold/camphor+bold.eot');
    src: url('../fonts/CamphorBold/camphor+bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CamphorBold/camphor+bold.woff') format('woff'),
         url('../fonts/CamphorBold/camphor+bold.ttf') format('truetype'),
         url('../fonts/CamphorBold/camphor+bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// 3. CamphorRegular
// =========================

@font-face {
    font-family: 'CamphorRegular';
    src: url('../fonts/CamphorRegular/camphor+regular.eot');
    src: url('../fonts/CamphorRegular/camphor+regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CamphorRegular/camphor+regular.woff') format('woff'),
         url('../fonts/CamphorRegular/camphor+regular.ttf') format('truetype'),
         url('../fonts/CamphorRegular/camphor+regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// 4. CamphorMedium
// =========================

@font-face {
    font-family: 'CamphorMedium';
    src: url('../fonts/CamphorMedium/camphor+medium.eot');
    src: url('../fonts/CamphorMedium/camphor+medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CamphorMedium/camphor+medium.woff') format('woff'),
         url('../fonts/CamphorMedium/camphor+medium.ttf') format('truetype'),
         url('../fonts/CamphorMedium/camphor+medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// 5. CamphorItalic
// =========================

@font-face {
    font-family: 'CamphorItalic';
    src: url('../fonts/CamphorItalic/camphor+italic.eot');
    src: url('../fonts/CamphorItalic/camphor+italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CamphorItalic/camphor+italic.woff') format('woff'),
         url('../fonts/CamphorItalic/camphor+italic.ttf') format('truetype'),
         url('../fonts/CamphorItalic/camphor+italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// 9. PlayfairRegular
// =========================

@font-face {
    font-family: 'PlayfairRegular';
    src: url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff') format('woff'),
         url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf') format('truetype'),
         url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// 7. PlayfairBold
// =========================

@font-face {
    font-family: 'PlayfairBold';
    src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold?#iefix') format('embedded-opentype'),
         url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff') format('woff'),
         url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf') format('truetype'),
         url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// 8. PlayfairItalic
// =========================

@font-face {
    font-family: 'PlayfairItalic';
    src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot');
    src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic?#iefix') format('embedded-opentype'),
         url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.woff') format('woff'),
         url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.ttf') format('truetype'),
         url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

