//       SUMMARY TABLE     
// =========================
// 1. Global
// 2. Navigation
// =========================


// 1. Global
// =========================

html {
  font-size: 16px;
}

body {
  background-color: $black;
  font-family: $CamphorRegular;
  font-size: 16px;
  overflow-x: hidden;
  padding-top: 230px;
}

::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.fullHeight {
  height: 100%;
}

.vCenter {
  display: inline-table;
  height: 100%;
  width: 100%;
}

.vCenterKid {
  display: table-cell;
  vertical-align: middle;
}

.vCenterKidBottom {
  display: table-cell;
  vertical-align: bottom;
}

.vCenterKidTop {
  display: table-cell;
  vertical-align: top;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 977px;
}

#main {
  background-color: #fff;
  clear: both;
  position: relative;
  
  &:after {
    background-color: $black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;
    @include transition(all 0.5s $smoothTransition);
  }

  &.overlay:after {
    opacity: 0.8;
    visibility: visible;
  }

  &:before {
    background-color: $black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;
    @include transition(all 0.9s $smoothTransition);
  }

  &.loading:before {
    opacity: 1;
    visibility: visible;
  }

  &.overlay {
    cursor: pointer;
  }
}

.shadow-bottom {
  &:before {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 70%, rgba(20,20,20,0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(56%, rgba(0,0,0,0)), color-stop(70%, rgba(0,0,0,0)), color-stop(100%, rgba(20,20,20,0.8)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 70%, rgba(20,20,20,0.8) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 70%, rgba(20,20,20,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 70%, rgba(20,20,20,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 70%, rgba(20,20,20,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#141414', GradientType=0 );
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}




// 2. Navigation
// =========================
