//       SUMMARY TABLE     
// =========================
// 1. Colors
// 2. Fonts
// 3. Animations
// 4. Values
// =========================


// 1. Colors
// =========================
$dark: #080808;
$black: #141414;
$gold: #c8a461;
$grey: #8c8c8c;

// 2. Fonts
// =========================
$CamphorHeavy: 'Camphor W01 Heavy';
$CamphorBold: 'Camphor W01 Bold';
$CamphorRegular: 'Camphor W01 Regular';
$CamphorMedium: 'Camphor W01 Medium';
$CamphorItalic: 'Camphor W01 Italic';
$Playfair: 'Playfair Display';

// 3. Animations
// =========================
$smoothTransition : cubic-bezier(0.15, 0.9, 0.34, 0.95);
$linear : cubic-bezier(0.250, 0.460, 0.450, 0.940);


// 4. Values
// =========================
