//       SUMMARY TABLE     
// =========================
// 1. Colors
// 2. Fonts
// 3. Animations
// 4. Values
// =========================


// 1. Colors
// =========================
$dark: #080808;
$black: #141414;
$gold: #c8a461;
$grey: #8c8c8c;

// 2. Fonts
// =========================
$CamphorHeavy: 'CamphorHeavy';
$CamphorBold: 'CamphorBold';
$CamphorRegular: 'CamphorRegular';
$CamphorMedium: 'CamphorMedium';
$PlayfairRegular: 'PlayfairRegular';
$PlayfairBold: 'PlayfairBold';
$PlayfairItalic: 'PlayfairItalic';

// 3. Animations
// =========================
$smoothTransition : cubic-bezier(0.15, 0.9, 0.34, 0.95);


// 4. Values
// =========================
