{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block field %}
    <div>
        {% if object.festival is defined and object.festival is not null%}
            {{ object.festival.year }}
        {% endif %}
    </div>
{% endblock %}