{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block field %}
    <div>
        {% if object|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
            {% set directors = object|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
            {%- for key,director in directors -%}
                {%- if director -%}
                    {{ loop.first == true ? '' : ',' }}
                    {{ director.fullName }}
                {%- endif -%}
            {%- endfor -%}
        {% endif %}
    </div>
{% endblock %}