{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block field %}
    <div>
        {% if object|trans_fallback('title') %}
            {{ object|trans_fallback('title') }}
        {% else %}
            {{ object.titleVO }}
        {% endif %}
    </div>
{% endblock %}