<div class="aboutVideos">
    <div id="slider-aboutVideos" class="owl-carousel">
        {# For #}
        <div class="item">
            <div class="video-container state-init video"
                 data-name="test"
                 data-file='[{"file":"./files/mov_bbb.mp4"}]'>
                <div id="v_1" class="video-player">
                </div>
                <div class="video-overlay"></div>
                <div class="infos-bar">
                    <div class="picto"><i class="icon icon_video"></i></div>
                    <div class="info">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <a href="#" class="category">Bande-annonce</a><span class="date">18.05.15</span> . <span class="hour">09:00</span>
                                <p>The Lobster</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# End for #}
        </div>
    </div>
</div>