.Article-content .Article-picture-dual-col {
    width: 50%;
    vertical-align: top;
    display: inline-block;
}
.Article-content .Article-picture-dual-col .Article-picture-caption strong {
    font-size: 0.8rem;
	display: inline;
	font-weight: bold;
}
.Article-content .Article-picture-dual-col .Article-picture-caption  {
	line-height: 10px;
}
.Article-content .cntb {
	display:none;
}
.Article-header .cntb {
	padding: 2px 2px 0 0;
}
.Article-header .cnta {
	display:none;
	font-weight:normal;
}
.Article-content .cnta strong {
	bottom:40px;
	font-weight:bold;
}
@media screen and (max-width: 375px){
	.Article-content .cnta {
		bottom:60px;
	}
}