.Article-content .Article-picture-dual-col {
    width: 50%;
    vertical-align: top;
    display: inline-block;
}
.Article-content .Article-picture-dual-col .Article-picture-caption strong {
    font-size: 0.8rem;
	display: inline;
	font-weight: bold;
}
.Article-content .Article-picture-dual-col .Article-picture-caption  {
	line-height: 10px;
}
.Article-content .cntb {
	display:none;
}
.Article-content .cnta {
	bottom:40px;
}
.Article-header .cnta {
	display:none;
}