.Article-content .Article-picture-dual-col {
    width: 50%;
    vertical-align: top;
    display: inline-block;
}
.Article-content .Article-picture-dual-col .Article-picture-caption strong {
    font-size: 0.8rem;
	display: inline;
	font-weight: bold;
}

.Article-content .Article-slider-count {
	padding: 2px;
}
.Article-content .Article-picture-dual-col .Article-picture-caption  {
	line-height: 10px;
}
    