<div class="c-filters">
    <div class="filters-02">
        <div class="block-01 container">
            <ul>
                {% for filter in filters %}
                    <li>{{ filter|trans }}  <i class="icon icon-close"></i></li>
                {% endfor %}
                <!--li class="more" data-url="ajax-result-more-filter.html">...</li-->
            </ul>
        </div>
        <a href="#" class="submit result-more">Filtrer les résultats</a>
    </div>
</div>