{% trans_default_domain 'FDCCorporateBundle' %}

<div class="grid-01 isotope-01 padding-bottom add-ajax-request">
    <div class="grid-sizer"></div>
    {% include "FDCCorporateBundle:Media:components/medias.html.twig" with {"medias": medias} %}
</div>

{% if not last and since %}
    <div>
        <a href="{{ path('fdc_corporate_media_index_ajax', {'since': since|date('U')}) }}{{ filtersString }}"
           class="read-more block-01 ajax-request">{{ 'mediatheque.moreresults'|trans|raw }}</a>
    </div>
{% endif %}