{% include "FDCCorporateBundle:Media:components/medias.html.twig" with {"medias": medias} %}

{% if not last and since %}
    <div>
        <a href="{{ path('fdc_corporate_media_index_ajax', {'since': since|date('U')}) }}"
           class="read-more block-01 ajax-request">{{ 'mediatheque.moreresults'|trans|raw }}</a>
    </div>
{% endif %}