{% trans_default_domain 'FDCPressBundle' %}

{% if widget|trans_fallback('title') is not null %}
    <h4 class="title-contain">{{ widget|trans_fallback('title') }}</h4>
{% endif %}
{{ widget|trans_fallback('content')|raw }}
