{% if homeArticles|length %}
    {% if homeArticles|length %}
        <div class="articles right pad">
            {% for article in homeArticles|slice(0, 3) %}
                {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': loop.first ? 'double w2' : '')}) %}
            {% endfor %}
        </div>
    {% endif %}

    {% if homeArticles|length > 3 %}
        <div class="articles left">
            {% for article in homeArticles|slice(3) %}
                {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': loop.index == 2 ? 'double w2' : '')}) %}
            {% endfor %}
        </div>
    {% endif %}

    <script type="text/javascript">
        $('#home-news-statements-more').attr('href', '{{ path('fdc_corporate_default_getarticlesfrom') }}?timestamp={{ lastPublishedAt }}');
    </script>
{% else %}
    {% trans_default_domain 'FDCEventBundle' %}
    <script type="text/javascript">
        $('#home-news-statements-more').replaceWith('' +
            '<a id="home-news-statements-more"' +
            'href="{{ path('fdc_corporate_news_getarticles',{year: festivalYear}) }}"' +
            'class="read-more">{{ "article.list.title.touslesarticles"|trans|raw }}</a>');
    </script>
{% endif %}