{% trans_default_domain 'FDCCorporateBundle' %}
{% set trans = photo.findTranslationByLocale(app.request.locale) %}
{% if trans is null or trans.file is null %}
    {% set trans = photo.findTranslationByLocale('fr') %}
{% endif %}
{% set file = trans.file %}
{% set copyright = photo|trans_fallback('copyright') %}
{% set alt = (photo|trans_fallback('alt') == '') ? photo|trans_fallback('legend') : photo|trans_fallback('alt') %}
{% thumbnail file with {'alt': alt, 'title': alt } %}
{% if hideCopyright is not defined %}
    <p class="caption">{{ photo|trans_fallback('legend') }}{% if copyright is not empty %} © {{ copyright }}{% endif %}</p>
{% endif %}