{% set trans = widget.findTranslationByLocale(app.request.locale) %}
{% if trans is null %}
    {% set trans = widget.findTranslationByLocale('fr') %}
{% endif %}

{% set header = widget.image %}
{% if header is not null %}
    {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
    {% if imageTrans is null or imageTrans.file is null %}
        {% set imageTrans = header.findTranslationByLocale('fr') %}
    {% endif %}
{% endif %}
{% if imageTrans is defined %}
    {% set image = imageTrans.file %}
{% endif %}

<div class="center block-videos">
    <article class="video">
        <div class="video-container state-init video video-player"
             data-link="http://cdn-media.festival-cannes.com/media_video_encoded/direct_encoded/2016/Videos-Web/BEST-OF_2016_2.mp4"
             data-email="http://cdn-media.festival-cannes.com/media_video_encoded/direct_encoded/2016/Videos-Web/BEST-OF_2016_2.mp4"
             data-file="[{&quot;file&quot;:&quot;{{ trans.url }}&quot;}]"
             data-img="{% if image is defined %}{% path image, 'reference' %}{% elseif image_s3 is defined %}{{ image_s3 }}{% endif %}"
             data-name="Le Best-of du 69e Festival de Cannes">
            <div id="video-player-{{ widget.id }}" class="jwplayer jw-reset">
            </div>
            <div class="video-overlay"></div>
            <div class="infos-bar">
                <div class="picto"><i class="icon icon-video"></i></div>
                <div class="info ">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <p>{{ trans.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>