<div class="results-sections">
    <div class="results-boxes firstBox resultClick seeallResults">
        <h6 class="active customClass4">Tout</h6>
        <span class="active">{{ total }}</span>
    </div>
    <div class="results-boxes resultClick" rel="contenu">
        <h6>Contenu</h6>
        <span>{{ totalContentResults }}</span>
    </div>
    <div class="results-boxes resultClick" rel="medias">
        <h6>médias</h6>
        <span>{{ totalMediaResults }}</span>
    </div>
    <div class="results-boxes resultClick" rel="documents">
        <h6>Documents</h6>
        <span>{{ totalDocumentResults }}</span>
    </div>
</div>