{% trans_default_domain 'FDCEventBundle' %}
<html>
    <head>
        <title>{{ 'website.title'|trans }}</title>

        {% stylesheets "@FDCEventBundle/Resources/assets/styles/styles.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        {% include 'FDCEventBundle::header.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include 'FDCEventBundle::footer.html.twig' %}
    </body>
</html>