{% trans_default_domain 'FDCEventBundle' %}
<html>
    <head>

        <!-- //// META \\\\ -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- //// TITLE \\\\ -->
        <title>{{ 'website.title'|trans }}</title>

        {% block stylesheets %}

            <!-- //// FONTS \\\\ -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="//fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css" rel='stylesheet' type='text/css'>
            <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>

            <!-- //// CSS \\\\ -->
            {% stylesheets "bundles/fdcevent/styles/*.css" filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            <!-- //// JS \\\\ -->
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        {% endblock %}
        {% block javascripts_head %}
            <script>
                var GLOBALS = {
                    "locale" : "{{ app.request.locale }}",
                    "defaultDate" : "2016-05-12",
                    "api" : {
                        "instagram" : {
                            "token" : "18360510.5b9e1e6.de870cc4d5344ffeaae178542029e98b",
                            "hashtag" : "Cannes2016",
                        },
                        "twitter" : {
                            "hashtag" : "%23Cannes2016",
                            "count" : 15,
                            "uri" : "search_tweets",
                            "url" : "twitter.php"
                        }
                    },
                    "baseUrl" : "{{ url('fdc_event_default_index') }}",
                    "urls" : {
                        "calendarProgrammationUrl" : "calendarprogrammation.html",
                        "eventUrl" : "load-evenements.php",
                        "newsUrl" : "news.html",
                        "newsUrlNext" : "news_page2.html",
                        "loadPressRelease" : "load-communique.php",
                        "selectionUrl" : "selection.html"
                    },
                    "texts" : {
                        "url" : {
                            "title" : "titre test"
                        },
                        "popin" : {
                            "error" : "valide",
                            "empty" : "renseignée",
                        },
                        "googleMap" : {
                            "title" : "Festival de Cannes"
                        },
                        "readMore" : {
                            "more" : "Afficher <strong>plus d'actualités</strong>",
                            "nextDay" : "Passer au <strong>jour précédent</strong>"
                        },
                        "newsletter" : {
                            "errorsNotValide" : "L'adresse e-mail n'est pas valide",
                            "errorsMailEmpty" : "Veuillez saisir une adresse e-mail valide"
                        },
                        'agenda' : {
                            'delete' : "Supprimer de votre agenda"
                        }
                    },
                    "player": {
                        "file" : "./files/mov_bbb.mp4",
                        "image" : "//dummyimage.com/960x540/c8a461/000.png",
                        "title" : "Video 1"
                    }
                }
            </script>
        {% endblock %}
    </head>
    <body>
        {% include 'FDCEventBundle::header.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include 'FDCEventBundle::footer.html.twig' %}
    </body>
</html>