{% trans_default_domain 'FDCEventBundle' %}
<html>
    <head>
        <title>{{ 'website.title'|trans }}</title>
        {% block stylesheets %}
        {% stylesheets "bundles/fdcevent/styles/*.css" filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'FDCEventBundle::header.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include 'FDCEventBundle::footer.html.twig' %}
    </body>
</html>