{% trans_default_domain 'FDCEventBundle' %}
<html>
    <head>

        <!-- //// META \\\\ -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- //// TITLE \\\\ -->
        <title>{{ 'website.title'|trans }}</title>

        {% block stylesheets %}

            <!-- //// FONTS \\\\ -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="//fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css" rel='stylesheet' type='text/css'>
            <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>

            <!-- //// CSS \\\\ -->
            {% stylesheets "bundles/fdcevent/styles/*.css" filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
    </head>
    <body>
        {% include 'FDCEventBundle::header.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include 'FDCEventBundle::footer.html.twig' %}
    </body>
</html>