header #navigation ul li a.red:hover,
header #navigation ul li a.red.active {
    color: #ec3050;
}

header #navigation ul li a.blue:hover,
header #navigation ul li a.blue.active {
    color: #1bafd1;
}

header #navigation ul li a.golden:hover,
header #navigation ul li a.golden.active {
    color: #a1844f;
}

.noWdBr {
    word-break: keep-all;
}

.infosPagePeople .articles:nth-child(3n+1) {
    clear: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.pressReview a {
    text-transform: none;
}

.color-inherit {
    color: inherit;
}

.pagination-active {
    border: 1px solid #2b2b2b;
    background: #2b2b2b;
}

.pagination-active span {
    color: white !important;
}

.fifth-active-border {
     border-left: 1px solid #dfdfdf !important;
}

.fifth-inactive-border {
    border-left: 0px solid #dfdfdf !important;
}

#logo-wrapper {
    overflow: hidden;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Plus de détails';
    padding-left: 30px;
    color: black;
    -moz-transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    -o-transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    -webkit-transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.arrow-inactive {
    color: #f8f8f8;
}

.arrow-inactive:hover {
    border: 1px solid #dfdfdf !important;
    background: #ffffff !important;
}

.arrow-inactive:hover i {
    color: #f8f8f8 !important;
}

.graphical-charter {
    height: 0px !important;
}

/* Accreditation slider */
#owl-accred .altImgCustom, #owl-projections .altImgCustom {
    width: 100%;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;

}

/* Slideshow share */
.share {
    padding: 0px 0px 0px 0px;
    border-top: 0px;
}

.plusPrices {
    height: auto;
    overflow: auto;
}

.plusPrices .plusPricestextCustom {
    width: 100%;
    opacity: 0.9;
    display: inline-block;
    text-align: center;
}

.plusPrices .plusPricestextCustom p {
    color: white !important;
}

.accreditationsCustom {
    height: inherit !important;
}

@media screen and (max-width: 1280px) {
    .conferenceMenu .box {
        min-height: inherit !important;
    }
}

em {
  font-style: italic;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  margin-left: 5px;
}

.contentTemplateDownload {
    margin-bottom: 20px;
}

.marche h4 p {
  font-size: 16px;
  line-height: 40px;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #141414;
}

header .user-nav li a.account {
    display: none!important;
}


header.sticky #sticky-user .user-nav a {
    background: #141414!important;
}

@media screen and (min-width: 1279px) {
    .tabpicturesBox img {
        width: 266px;
    }
}

.minTab {
    min-height: 20px !important;
    padding-bottom: 30px;
}

.tab_container .tabBox {
    min-height: 20px !important;
    padding-bottom: 50px;
}