/* ESPACE PRESSE */
.cke_editable h5.container-title {
    font-size: 0.75rem;
    letter-spacing: .2em;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 16px;
}
.cke_editable h3 {
    font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
    font-size: 0.850rem;
    line-height: 1.6em;
    margin-bottom: 30px;
}
.cke_editable h4 {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 0.88rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 10px;
    color: #c8a461;
}
.cke_editable a {
    color: #c8a461;
    text-decoration: none;
}
.cke_editable ul {
    list-style: none;
}

.cke_editable ul li strong {
    color: #000;
    letter-spacing: .2em;
    font-size: 0.75rem;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.cke_editable .info {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #d2b990;
    padding: 25px 38px;
    line-height: 30px;
    font-size: 1rem;
    margin-bottom: 43px;
}
.cke_editable .info strong {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    display: block;
}
.cke_editable .bold {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
}
.cke_editable a {
    color: #c8a461;
}
.cke_editable h5 {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 24px;
}
.cke_editable strong.title-center {
    width: 607px;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 auto;
    line-height: 36px;
    text-transform: none;
    display: block;
    margin-bottom: 20px;
}
.cke_editable p.descrip-title {
    text-align: center;
    line-height: 26px;
    font-size: 0.81rem;
}
.cke_editable p.descrip-title strong {
    color: #c8a461;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 0.81rem;
}
.cke_editable .googlemap-descrip {
    font-size: .75rem;
    color: #333333;
    font-family: "Camphor W01 Medium", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    display: block;
}