<p>Bonjour,<br>
Vous avez une nouvelle demande de contact :</p>
<ul>
    <li>Nom : {{ contact_name }}</li>
    <li>Email : {{ contact_email }}</li>
    <li>Sujet : {{ contact_subject }}</li>
    <li>Message : {{ contact_message }}</li>
</ul>

