{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="audio-live">
    <iframe src="https://www.moustic.fr/players/cannes/" width="100%" hieght="100%"></iframe>
</div>
{% endblock %}