{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="legal-notice">
        <h2 class="title">{{ 'credits.title.credits'|trans }}</h2>
        <section class="legal-notice-container">

            {% for article in content %}
                <article class="legal-notice-art">
                    <h4 class="legal-notice-art-title">{{ article.title }}</h4>
                    <p>{{ article.content }}</p>
                </article>
            {% endfor %}

        </section>
    </div>
{% endblock %}