{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="legal-notice loading">
    <h2 class="title">{{ 'politiqueconfidentialite.title.politiqueconfidentialite'|trans }}</h2>
    <section class="legal-notice-container">
        <h3 class="legal-notice-description">{{ 'politiqueconfidentialite.text.cesite'|trans }}</h3>

        {% for article in content %}
            <article class="legal-notice-art">
                <h4 class="legal-notice-art-title">{{ article.title }}</h4>
                <p>{{ article.content }}</p>
            </article>
        {% endfor %}

    </section>
</div>
{% endblock %}