#create-event-pop .container form .time .pictodate {
    height: 46px;
    margin-bottom: 14px;
}

#create-event-pop .container form .time .hours {
    top: 0px;
}

.fc-event-custom .category, .calendar .venues .venue .v-container .fc-event.fc-event-custom .remove-evt {
    color: #000000;
}

.fc-event {
    -webkit-backface-visibility: hidden;
}