#main.articles .selection-item .jury-info {
    height: 105px;
    padding-bottom: 40px;
}
#main.articles .selection-item .jury-info .vCenterKid {
    vertical-align: bottom;
}
#main.articles .selection-item .jury-info .name {
    padding-top: 0;
}