.movie-page .section.videos .slideshow .caption {
    margin-bottom: 0;
    margin-top: 14px;
    height: auto;
}
.movie-page .section.videos .slideshow .container {
    border-bottom: 1px solid #2c2c2c;
    padding:30px 40px;
}

.movie-page .section.videos  .slideshow-img .images {
    height: auto;
}

.movie-page .section.videos  .slideshow .container, .channel .slideshow .container{
    width: 100%;
    padding:30px 40px 20px;
    box-sizing:border-box;
}

.section.videos .slideshow .time {
    margin-left: 9px;
    color: #666;
    font-size: .88rem;
    text-transform: uppercase;
}

.m-video > .container {
    position: absolute;
    bottom: 0;
    left: 65px;
}

.m-video .jwplayer .jw-preview {
    background-size: cover;
}

.m-video .jw-state-playing + .container, .m-video .jw-state-paused + .container {
    display: none;
}

.movie-page .section.videos .slideshow-img .images {
    overflow: hidden;
}

.movie-page .main-movie-img {
    background: #000;
    text-align: center;
}

.movie-page .main-movie-img img {
    max-width: 100%;
}

.competition .info p {
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
}

.competition .info .item-sub-title {
    display: block;
    font-size: 15px;
}

.competition .info .director {
    font-family: "Camphor W01 Italic",Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.jw-controls .jw-reset {
    z-index: 2;
}

.movie-page .section.videos .slideshow .container {
    z-index: 2;
}

.movie-page .section.videos .slideshow-img .images::before,
.slideshow .thumbnails .thumb:before {
    background: transparent;
    background: -moz-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(56%, transparent), color-stop(57%, transparent), color-stop(100%, rgba(20, 20, 20, 0.8)));
    background: -webkit-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
    background: -o-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
    background: -ms-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 57%, rgba(20, 20, 20, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#141414', GradientType=0 );
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
