.fdc-widget {
    border: 1px solid #00a65a;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.btn-add-fdc-widget {
    margin-right: 10px;
}

.help-block {
    margin: 0 !important;
}

/* used to hide the sonata media img on ajax query */
.fdc-sonata-media-ajax-hidden {
    display: none;
}