<nav class="navigation-sticky">
    <ul>
        <li><a href="retrospective-poster.html">L'affiche</a></li>
        <li class="active"><a href="selection.html">La sélection</a></li>
        <li><a href="jury.html">Les jurys</a></li>
        <li><a href="retrospective-palmares.html">Le palmarès</a></li>
        <li><a href="evenements.html">Les évènements</a></li>
        <li><a href="medias.html">Les médias</a></li>
        <li><a href="articles.html">L'actualité</a></li>
    </ul>
</nav>