<div class="image-wrapper">
    <img src="{{ channel.img.path }}" alt="" />
</div>
<a class="linkVid" href="#"></a>
<div class="info">
    <div class="picto"></div>
    <div class="info-container">
        <div class="vCenter">
            <div class="vCenterKid">
                <a href="#" class="category">{{ channel.theme }}</a>
                <span>{{ channel.nbVideos }} {{ 'webtv.direct.text.videos'|trans }}</span>
            </div>
        </div>
    </div>
</div>