<div id="filter-update">
{% include 'FDCEventBundle:News:components/filters.html.twig' %}
</div>

{% set vars = {'isDouble': 'double'} %}
{% for article in homeArticles %}
    {% if loop.first %}
    <div class="articles right pad">
    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' with vars %}
    {% elseif loop.index == 4 %}
    <div class="articles left">
    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' with vars %}
    {% else %}
    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' %}
    {% endif %}
    {% if loop.index == 3 %}
    </div>
    {% endif %}
    {% if loop.last %}
    </div>
    {% endif %}
{% endfor %}
    {% if homeArticlesSlider is not empty %}
        {% include 'FDCEventBundle:News:widgets/slideshow-actu-home.html.twig' %}
    {% endif %}
{% if homeArticlesNext %}
    <div class="articles right nextDay">
        {% for article in homeArticlesNext %}
            {% if loop.first %}
            {% include 'FDCEventBundle:News:widgets/article-home.html.twig' with vars %}
            {% else %}
            {% include 'FDCEventBundle:News:widgets/article-home.html.twig' %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}