{% set vars = {'isDouble': true} %}
{% for article in homeArticles %}
    {% if loop.first %}
    <div class="articles right pad">
    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' with vars %}
    {% else %}
    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' %}
    {% endif %}
    {% if loop.index == 4 %}
    <div class="articles left">
    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' with vars %}
    {% else %}
    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' %}
    {% endif %}
    {% if loop.index == 3 %}
    </div>
    {% endif %}
    {% if loop.last %}
    </div>
    {% endif %}
{% endfor %}
{% if homeArticlesNext %}
    <div class="articles right nextDay">
        {% for article in homeArticlesNext %}
            {% include 'FDCEventBundle:News:widgets/article-home.html.twig' %}
        {% endfor %}
    </div>
{% endif %}