{% trans_default_domain 'FDCEventBundle' %}

<div class="image-wrapper">


{%  if channel.image is defined and channel.image is not null  %}
    {% set transImage = channel.image.findTranslationByLocale(app.request.locale) %}
    {% if transImage is null or transImage.file is null %}
        {% set transImage = channel.image.findTranslationByLocale('fr') %}
    {% endif %}
    {% thumbnail transImage.file, '586x370' %}
{% elseif channel.mediaVideos[0].image is defined and channel.mediaVideos[0].image != null %}
    {% thumbnail channel.mediaVideos[0].image|trans_fallback('file'), '586x370' %}
{% else %}
    {% thumbnail channel.mediaVideos[0]|trans_fallback('imageAmazonUrl'), '586x370' %}
{% endif %}

</div>
<a class="linkVid" href="{{ path('fdc_event_television_getchannel', { 'slug': channel|trans_fallback('slug') }) }}"></a>
<div class="info">
    <div class="picto">
        <i class="icon icon_playlist"></i>
    </div>
    <div class="info-container">
        <div class="vCenter">
            <div class="vCenterKid">
                <a href="{{ path('fdc_event_television_getchannel', { 'slug': channel|trans_fallback('slug') }) }}" class="category">{{ channel|trans_fallback('name') }}</a>
                <span>
                    {{ 'webtv.direct.nb_videos'|transchoice(channel.mediaVideos|length) }}
                </span>
            </div>
        </div>
    </div>
</div>

