{% trans_default_domain 'FDCEventBundle' %}

<div class="post {% if i == 0 or i == 1%}big{% elseif i == 8  %}big right{% endif %} ">
    <div class="side side-1"></div>
    <div class="side side-2"></div>
</div>