{% trans_default_domain 'FDCEventBundle' %}
{% set file = news.audio %}
{% set trans = file.findTranslationByLocale(app.request.locale) %}
{% if trans is null or trans.file is null %}
    {% set trans = file.findTranslationByLocale('fr') %}
{% endif %}
{% set file = trans.file %}
<div class="audio-player audio actu-article-audio" data-sound="{% path file, 'reference' %}">
    <div class="image" style="background-image: url({% path news.audio.image, '975x616' %});"></div>
    <a href="#" class="playpause"><i class="icon icon_video"></i></a>
    <div class="off">
        <div class="vCenter">
            <div class="vCenterKid">
                <div class="picto"></div>
                <div class="info">
                    <a href="#" class="category">{{ news.audio.theme|trans_fallback('name') }}</a>
                    <span class="date">{{ news.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ news.createdAt|date('H:i') }}</span>
                    <p>{{ news.audio.image.copyright }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="on">
        <div class="vCenter">
            <div class="vCenterKid">
                <div class="duration">
                    <span class="curr">0:00</span>/<span class="total">0:00</span>
                </div>
                <div class="wave-container" id="wave-0">
                    <wave style="display: block; position: relative; -webkit-user-select: none; height: 55px; overflow-x: auto; overflow-y: hidden;"><canvas style="position: absolute; z-index: 1; left: 0px; top: 0px; bottom: 0px; width: 550px;" width="1100" height="110"></canvas><wave style="position: absolute; z-index: 2; left: 0px; top: 0px; bottom: 0px; overflow: hidden; width: 0px; display: block; box-sizing: border-box; border-right-style: solid; border-right-width: 0px; border-right-color: rgb(51, 51, 51);"><canvas width="1100" height="110" style="width: 550px;"></canvas></wave></wave>
                </div>
                <div class="volume">
                    <span></span>
                    <i class="icon icon_son"></i></div>
                <a href="#" class="fullscreen"><i class="icon icon_fullscreen"></i></a>
            </div>
        </div>
    </div>
</div>