{% trans_default_domain 'FDCEventBundle' %}

<div class="single-photo">
    <div class="photo-container">
        {% set trans = photo.findTranslationByLocale(app.request.locale) %}
        {% if trans is null or trans.file is null %}
            {% set trans = photo.findTranslationByLocale('fr') %}
        {% endif %}
        {% set file = trans.file %}
        {% thumbnail file, '975x616' with {'alt': photo|trans_fallback('alt') } %}
        <p class="caption">{{ photo|trans_fallback('copyright') }}</p>
    </div>
</div>