<div class="video-player video actu_article_video">
    <div class="image" style="background-image: url(img/article/004.jpg);"></div>
    <div class="picto"></div>
    <div class="info">
        <a href="#" class="category">Bande-annonce</a><span class="date">18.05.15</span> . <span class="hour">09:00</span>
        <p>The Lobster</p>
    </div>
</div>
