{% trans_default_domain 'FDCEventBundle' %}

<div class="text">
    {% for translation in widget.translations %}
        {% if app.request.get('_locale') == translation.locale and translation.content|trim %}
            {{ translation.content|raw }}
        {% endif %}
    {% endfor %}
</div>