<div>
    <div class="video">
        <video preload muted>
            <source src="https://broken-links.com/tests/media/BigBuck.m4v">
            <source src="https://broken-links.com/tests/media/BigBuck.webm" type="video/webm">
        </video>
        <div class="img" style="background-image:url(/img/slider/slider01.jpg)"></div>
    </div>
    <div class="textVideo">
        <div class="info">
            <div class="vCenter">
                <div class="vCenterKid">
                    <span class="category">Compétition</span>
                    <h2>Sils Maria</h2>
                    <p class="director">de <a href="#">Olivier ASSAYAS</a></p>
                </div>
            </div>
        </div>
        <div class="links">
            <a href="#" class="seances">Voir les séances</a>
            <a href="#" class="all">Tous les films</a>
        </div>
    </div>
</div>
