<div id="breadcrumb">
    <div class="container">
        <ul>
            <li>
                <a href="#">L'actualité</a>
                <i class="icon icon_fleche-right"></i>
            </li>
            <li>
                <a href="#">Jour après jour</a>
                <i class="icon icon_fleche-right"></i>
            </li>
            <li>
                <a href="#">Jour après jour</a>
                <i class="icon icon_fleche-right"></i>
            </li>
            <li>
                <a href="#" class="active">Enragés, polar hybride d'éric han ...</a>
            </li>
        <span class="goTop">
          Haut de la page
          <i class="icon icon_fleche-top"></i>
        </span>
        </ul>

    </div>
</div>
<footer class="loading">
    <div class="container">
        <!--<h2 class="title">Newsletter</h2>
        <h3 class="subtitle">Toute l'actualité du festival</h3>

        <div class="newsletter">
          <form action="" novalidate>
            <input id="email" type="email" name="email" placeholder="Votre adresse email">
            <input id="submit" type="submit" name="submit" value="S'abonner">
          </form>
          <div id="confirmation">
            <p>Votre abonnement a bien été enregistré !<br />Un e-mail de confirmation a été envoyé à l’adresse <span></span></p>
          </div>
        </div>-->

        <div class="social">
            <!--<p class="footerLogo">Cannes Court Métrage</p>-->
            <img width="250" src="{{ asset('bundles/fdccourtmetrage/img/Cannes-Court-blanc.png') }}" alt="Festival de Cannes">
            <ul>
                <li><a class="facebook" href="//www.facebook.com/pages/Festival-de-Cannes-PageOfficielle/197710070249937" target="_blank"><i class="icon icon_facebook"></i></a></li>
                <li><a class="twitter" href="//twitter.com/Festival_Cannes" target="_blank"><i class="icon icon_twitter"></i></a></li>
            </ul>
        </div>

        <div class="footer-menu">
            <ul>
                <li class="copyright">© Copyright 2017</li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Crédits</a></li>
                <li><a href="#">Mentions Légales</a></li>
                <li><a href="#">Plan du Site</a></li>
                <li><a href="#">Politique de Confidentialité</a></li>
            </ul>
        </div>

    </div>
</footer>
<div id="siteLoader" class="canvasloader"></div>
