{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% for duplicate in object.duplicates %}
            {{ loop.index0 ? ', ' : '' }}{{ duplicate.id }}
        {% endfor %}
    </div>
{% endblock %}