{% if module.translations[app.request.getLocale()] is defined and module.translations[app.request.getLocale()] is not null %}
    {% set translation = module.translations[app.request.getLocale()] %}
    <div class="item large">
        <i class="icon {{ translation.picto }}"></i>
        <strong class="transport">{{ translation.title }}</strong>
        <span class="info">{{ translation.description|raw }}</span>
        {% if translation.url is not null %}
            <a href="{{ translation.url }}" {% if fdc_court_metrage_domain in translation.url %}target="_blank"{% endif %} class="btn"><i class="icon icon_creer"></i>En savoir plus</a>
        {% endif %}
    </div>
{% endif %}
