<div class="contain-infos">
    <div class="single-image vFlexAlign">
        <img src="{% path widget.translatable.image|trans_fallback('file'), 'reference' %}" alt="image">
    </div>

    <div class="download no-flex">
        <span class="title-img-top">{{ widget.title }}</span>
        <p class="caption">{{ widget.legend|raw }}</p>
    </div>
</div>

<div class="a-left s-margin-top">
    <div class="buttons buttons-02 a-left">
        {% if widget.fileTitle %}
            <a href="{% path widget.file, 'reference' %}" class="button" target="_blank"><i class="icon icon-download"></i> {{ widget.fileTitle }}</a>
        {% endif %}

        {% if widget.file2Title %}
            <a href="{% path widget.file2, 'reference' %}" class="button" target="_blank"><i class="icon icon-download"></i> {{ widget.file2Title }}</a>
        {% endif %}
    </div>

    <a href="#" class="link a-left">Contraintes techniques</a>
</div>
