<div class="bandeau-list">
    <div class="bandeau-list-img bandeau-head vCenter subHeader eventsHeader" style="background-image:url({% path filmRegisterPage.translatable.headerPhoto|trans_fallback('file'), '976x535' %})">
        <h3>{{ filmRegisterPage.title }}</h3>
    </div>
</div>
