{% trans_default_domain 'FDCPressBundle' %}
{% for room in rooms %}
    <div class="venue">
        <div class="v-head">
            {%- set trans_slug = 'programmation.salle.' ~ room.name|remove_accents|sonata_slugify -%}
            {%- set trans = trans_slug|trans({}, 'FDCEventBundle') -%}
            {%- if trans_slug != trans -%}
                {{- trans -}}
            {%- else -%}
                {{- room.name|upper -}}
            {%- endif -%}
        </div>
        <div class="v-container">
            {% for event in projections[room.id] %}
                {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
