{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}jury dark retrospective retrospective-home restrospective-init{% endblock %}

{% block body %}
<section class="s-slider-retrospective">

    {% include 'FDCCorporateBundle:Retrospective:components/years_slider_mini.html.twig' %}

    <div class="ajax-section"><div class="contain-ajax">

    {% include 'FDCCorporateBundle:Retrospective:components/menu.html.twig' %}

    <nav class="navigation-sticky-02">
        <ul>
            {% for tab in pages %}
                <li class="{% if app.request.attributes.get('slug') == (tab|trans_fallback('slug')) %}active {% endif %}ajax">
                    <a href="{{ path('fdc_event_jury_get', {'slug': tab|trans_fallback('slug')}) }}">
                        {{ (tab|trans_fallback('overrideName'))?:(tab.juryType|trans_fallback('name')) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="all-contain">
        <div class="block-jury">
            <div class="contain-img" style="background-image:url(media/images/jury-01.jpg)">
            </div><!--
              --><div class="contain-txt">
                <strong class="title-18">président du jury</strong>
                <h1 class="title-19">Emir KUSTURICA</h1>
                <strong class="title-20">Réalisateur, Scénariste, Producteur</strong>
                <p class="texte-01">
                    « Ma foi dans le cinéma est bien vivante et la meilleure confirmation de cela est ma participation dans un jury qui met en valeur le cinéma d’auteur». Emir Kusturica est né à Sarajevo. Il fait ses études à l’Académie du Cinéma de Prague (FAMU). Son premier long métrage "Te souviens-tu de Dolly Bell ?" (1981), reçoit le Lion d’or de la première oeuvre à Venise. En 1985, "Papa est en voyage d’affaires" est couronné de la Palme d’or à Cannes. En 1989, c’est le Prix de la mise en scène qui récompense "Le Temps des Gitans". Puis l’Ours d’argent pour "Arizona Dream" à Berlin, en 1993. "Underground", présenté à Cannes en 1995, lui vaudra sa deuxième Palme d’or. En 1998, "Chat Noir, Chat Blanc" obtient le Lion d’argent à Venise.
                    <br><br>
                    Il se tourne vers le documentaire avec "Super 8 Stories" (2001), sur son groupe de musique « The No Smoking Orchestra ». En 2004, il présente à Cannes La Vie est un miracle. C’est sur le lieu de tournage de ce dernier film qu’il décide de construire son propre village : Kustendorf, où il souhaite créer un modèle de vie nouvelle. Il revient au Festival en 2007 avec "Promets-moi" puis en 2008 avec son documentaire "Maradona by Kusturica". Emir Kusturica vient de publier son autobiographie « Où suis-je dans cette histoire ? »
                </p>
            </div>
        </div>

        <div class="contain-title vFlexAlign ">
            <strong class="title-01">membres du jury des longs métrages</strong>
        </div>

        <div class="isotope-01 bright grid-jury">
            <div class="grid-sizer"></div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="media/images/jury-02.jpg" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Fatih AKIN</span>
                        <span class="title-12">Réalisateur, Scénariste, Producteur</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="media/images/jury-03.jpg" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Javier BARDEM</span>
                        <span class="title-12">Comédien</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="media/images/jury-04.jpg" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Nandita DAS</span>
                        <span class="title-12">Comédienne</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="media/images/jury-05.jpg" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Fatih AKIN</span>
                        <span class="title-12">Réalisateur</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Salma HAYEK</span>
                        <span class="title-12">Comédienne</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Salma HAYEK</span>
                        <span class="title-12">Comédienne</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Salma HAYEK</span>
                        <span class="title-12">Comédienne</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Salma HAYEK</span>
                        <span class="title-12">Comédienne</span>
                    </div>
                </a>
            </div>

            <div class="item block-poster">
                <a href="#">
                    <div class="contain-img">
                        <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt=""  >
                    </div>
                    <div class="contain-txts vFlexAlign">
                        <span class="title-11">Salma HAYEK</span>
                        <span class="title-12">Comédienne</span>
                    </div>
                </a>
            </div>

        </div>
    </div> <!-- end all contain -->
</div>
</div>
</section>
{% endblock %}