{% trans_default_domain 'FDCCorporateBundle' %}

{% import 'FDCCorporateBundle:Macro:article.html.twig' as macroArticle %}

<div class="grid-01 isotope-01 add-ajax-request">
    <div class="grid-sizer"></div>
    {% for article in articles %}
        {{ macroArticle.retrospectiveInfoOrStatement(article, loop.last) }}
    {% endfor %}
</div>

{% if not last %}
    <div class="bright" style="display:none">
        <a id="infos-and-statements-more"
           href="{{ path('fdc_corporate_news_infosandstatementsmore', {'timestamp': time, 'year': festival.year}) }}"
           class="read-more ajax-request block-01">{{ 'info.and.statements.more'|trans }}</strong></a>
    </div>
{% endif %}