
<div class="compute-filters">
    <span class="" data-filter="theme-import">Thème import</span>
    <span class="" data-filter="institutionnel">Institutionnel</span>
    <span class="" data-filter="rencontre">Rencontre</span>
    <span class="" data-filter="village-international">Village International</span>
    <span class="" data-filter="70e-festival-de-cannes">70e Festival de Cannes</span>
</div>


<div class="articles ajax-filter-cards-container" style="opacity:0">
    <div class="cards grid-01 isotope-01">
        <div class="grid-sizer"></div>
        <article
                class="card item all theme-import article to-init info"
                data-format="article"
                data-theme="theme-import" data-time="1455909420"
                data-end="false">
            <div class="image">
                <div class="image-wrapper">
                    <img src="http://affif-sitepublic-media-preprod.s3-website-eu-west-1.amazonaws.com/media_image/0001/85/thumb_84508_media_image_926x584.jpeg" alt=""/>
                </div>

                <a href="/app_dev.php/fr/corporate/infos-communiques/info/articles/mommy-la-revelation-de-differents-talents"
                   class="linkImage"></a>
                <span class="picto">
                        <i class="icon icon-article"></i>
                    </span>
            </div>
            <div class="info">
                <a href="#"
                   class="category">Thème import</a><span
                        class="date">09.03.17</span> . <span
                        class="hour">11:32</span>
                <strong><a href="/app_dev.php/fr/corporate/infos-communiques/info/articles/mommy-la-revelation-de-differents-talents">Mommy, la révélation de différents talents</a></strong>
            </div>
        </article>                                                    <article
                class="card item all theme-import article to-init communique"
                data-format="article"
                data-theme="theme-import" data-time="1455909420"
                data-end="false">
            <div class="image">
                <div class="image-wrapper">
                    <img src="http://affif-sitepublic-media-preprod.s3-website-eu-west-1.amazonaws.com/media_image/0001/85/thumb_84506_media_image_926x584.jpeg" alt=""/>
                </div>

                <a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/evan-peters-a-la-production"
                   class="linkImage"></a>
                <span class="picto">
                        <i class="icon icon-communique"></i>
                    </span>
            </div>
            <div class="info">
                <a href="#"
                   class="category">Thème import</a><span
                        class="date">09.03.17</span> . <span
                        class="hour">11:21</span>
                <strong><a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/evan-peters-a-la-production">Evan Peters à la production</a></strong>
            </div>
        </article>                                                    <article
                class="card item all institutionnel article to-init communique"
                data-format="article"
                data-theme="institutionnel" data-time="1455909420"
                data-end="false">
            <div class="image">
                <div class="image-wrapper">
                    <img src="http://affif-sitepublic-media-preprod.s3-website-eu-west-1.amazonaws.com/media_image/0001/85/thumb_84505_media_image_926x584.jpeg" alt=""/>
                </div>

                <a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/vera-farmiga-attendue-au-70eme-festival-de-cannes"
                   class="linkImage"></a>
                <span class="picto">
                        <i class="icon icon-communique"></i>
                    </span>
            </div>
            <div class="info">
                <a href="#"
                   class="category">Institutionnel</a><span
                        class="date">09.03.17</span> . <span
                        class="hour">11:17</span>
                <strong><a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/vera-farmiga-attendue-au-70eme-festival-de-cannes">Vera Farmiga attendue au 70ème Festival de Cannes</a></strong>
            </div>
        </article>                    </div>
</div>

<div class="articles article-inverse ajax-filter-cards-container" style="opacity:0">
    <div class="cards grid-01 isotope-01">
        <div class="grid-sizer"></div>
        <article
                class="card item all rencontre article to-init communique"
                data-format="article"
                data-theme="rencontre" data-time="1455909420"
                data-end="false">
            <div class="image">
                <div class="image-wrapper">
                    <img src="http://affif-sitepublic-media-preprod.s3-website-eu-west-1.amazonaws.com/media_image/0001/43/thumb_42585_media_image_926x584.jpg" alt=""/>
                </div>

                <a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/test-communique-articles"
                   class="linkImage"></a>
                <span class="picto">
                        <i class="icon icon-communique"></i>
                    </span>
            </div>
            <div class="info">
                <a href="#"
                   class="category">Rencontre</a><span
                        class="date">16.02.17</span> . <span
                        class="hour">12:03</span>
                <strong><a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/test-communique-articles">Test communiqué Articles</a></strong>
            </div>
        </article>                                                                                                            <article
                class="card item all village-international video to-init communique"
                data-format="video"
                data-theme="village-international" data-time="1455909420"
                data-end="false">
            <div class="image">
                <div class="image-wrapper">
                    <img src="http://affif-sitepublic-media-preprod.s3-website-eu-west-1.amazonaws.com/media_image/0001/43/thumb_42585_media_image_926x584.jpg" alt=""/>
                </div>

                <a href="/app_dev.php/fr/corporate/infos-communiques/communique/videos/test-communique-video"
                   class="linkImage"></a>
                <span class="picto">
                        <i class="icon icon-communique"></i>
                    </span>
            </div>
            <div class="info">
                <a href="#"
                   class="category">Village International</a><span
                        class="date">16.02.17</span> . <span
                        class="hour">12:01</span>
                <strong><a href="/app_dev.php/fr/corporate/infos-communiques/communique/videos/test-communique-video">Test communiqué vidéo</a></strong>
            </div>
        </article>                                                    <article
                class="card item all 70e-festival-de-cannes article to-init communique"
                data-format="article"
                data-theme="70e-festival-de-cannes" data-time="1455909420"
                data-end="false">
            <div class="image">
                <div class="image-wrapper">
                    <img src="http://affif-sitepublic-media-preprod.s3-website-eu-west-1.amazonaws.com/media_image/0001/43/thumb_42547_media_image_926x584.jpg" alt=""/>
                </div>

                <a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/test-de-comm-article-du-13-janvier-num-2"
                   class="linkImage"></a>
                <span class="picto">
                        <i class="icon icon-communique"></i>
                    </span>
            </div>
            <div class="info">
                <a href="#"
                   class="category">70e Festival de Cannes</a><span
                        class="date">13.01.17</span> . <span
                        class="hour">15:05</span>
                <strong><a href="/app_dev.php/fr/corporate/infos-communiques/communique/articles/test-de-comm-article-du-13-janvier-num-2">test de comm article du 13 janvier num 2</a></strong>
            </div>
        </article>                    </div>
</div>

<a id="home-news-statements-more"
   href="/app_dev.php/fr/corporate/home-more-infos?page=3"
   data-reverse=""
   class="read-more ajax-request">Afficher <strong>plus d'infos</strong></a>
