//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.app{
  height: 533px;
  background-color: #000 !important;
  background-image: url(../img/app.png);
  background-repeat: no-repeat;
  background-position: 133px 113px;
  .contain-app{
    height: 533px;
    float: right;
    width: 65%;
    h1{
      color: #fff;
      text-transform: uppercase;
      font-size: 1.875rem;
      padding-top: 145px;
      text-align: center;
      letter-spacing: 5px;
    }
    h2{
      font-family: $Playfair;
      font-size: 1.125rem;
      color: #fff;
      padding-top: 25px;
      text-align: center;
      font-style: italic;
    }
    .logo-app{
      text-align: center;
      padding-top: 30px;
      
      a{
        margin-right: 30px;
      }
      img{
        cursor: pointer;
      }
    }
  }
}