//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================
.artist{

    padding: 0px 0px;
    padding-top: 65px;
  .nav.next, .nav.prev{
      @include transition(all 0.2s $smoothTransition);
  }
  .info{
    .category{
      margin-right: 2px;
    }
  }
  .button{
    padding: 0 19px 0 39px;
  }
  .small-container{
    margin: 0 auto;
    width: 649px;
  }
  .single-photo{
    margin-bottom: 76px;
  }
  .city{
    text-transform: uppercase;
  }
  .title-article{
    margin-top: 16px;
    margin-bottom:29px;
  }
  .title-cat-artist{
    font-family: $Playfair;
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.375rem;
    padding-bottom: 40px;
    margin-bottom: 0px;
    font-weight: normal;
  }
  .title-art-artist{
    font-family: $Playfair;
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.375rem;
    margin-bottom: 50px;
    padding-top: 45px;
    border-top: 1px solid #dfdfdf;
    font-weight: normal;
  }
  .paragraph{
    color: #666;
    font-size: 1rem;
    line-height: 1.7em;
    margin-bottom: 5px;
  }
  .biographie{
     margin-bottom: 70px;
  }
  .contain-films-list{

    .item{
      line-height: 18px;
      margin: 0px 16px;
      display: inline-block;
      min-height: 418px;
      vertical-align: bottom;
      width: 181px;
      .compat-object-fit-b {
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        height: 284px;
        img {
          opacity: 0;
        }
	   }
      .content-text{
       margin: 0 auto;
       text-align: center;
        .item-title{
          font-family: $CamphorBold;
          text-transform: uppercase;
          color:#c8a461;
          font-size: .875rem;
          display: block;
          padding-top: 13px;
        }
        .item-date{
          font-family: $CamphorRegular;
          color:#999999;
          font-size: .6875rem;
          padding-right: 5px;
        }
        .item-categ{
          font-family: $CamphorMedium;
          text-transform: uppercase;
          font-size: .6875rem;
          color:#333333;
        }
        .item-details{
          font-family: $CamphorRegular;
          font-size: .75rem;
          color:#666666;
          display: block;
        }
        .item-sub-title{
          font-size: .625rem;
           text-transform: uppercase;
          color:#c8a461;
          display: block;
        }
      }
    }
  }
  
  .jury{
    text-align: center;
    padding-bottom: 50px;
    .rank{
      font-family: $CamphorBold;
      color:#c8a461;
      font-size: 1.125rem;
    }
    .role{
      text-transform: uppercase;
      font-size: .875rem;
      font-family: $CamphorMedium;
    }
    .item-separate{
      color:#c8a461;
      font-family: $CamphorBold;
      font-size: 1.125rem;
      padding: 0 7px;
    }
  }
  
  .realisateurs{
    background-color: #f6f6f6;
    padding-bottom: 48px;
    .title{
      padding: 70px 0px;
      padding-bottom: 53px;
    }
    .owl-carousel .owl-item{
            width: auto !important;
    }
    #slide-artist{
      .item{
        .compat-object-fit-c {
          background-size: cover;
          background-position: top center;
          background-repeat: no-repeat;
		  width: 210px;
          height: 284px;
          img {
            opacity: 0;
          }
  	   }
	   figcaption {
		   margin-top:15px;
		   height:30px;
	   }
      }
    }
    .first{
//       margin-left: 128px !important;
    }
    #slide-artist .item img{
      display: block;
      width: auto;
      height: auto;
      margin-bottom: 19px;
    }
    .owl-controls{
      display: none;
    }
    figure{
      text-align: center;
      margin: 0px 20px;
      span{
        display: block;
      }
      .name{
        text-transform: uppercase;
        font-family: $CamphorBold;
        padding-bottom: 4px;
        font-size: .875rem;
      }
      .rank{
        color:#c8a461;
        font-size:.8125rem;
        font-family: $CamphorItalic;
      }
    }
  }
}