/* BOX PRODUCERS WORKSHOP */

.producersWorkshop {
    width: 100%;
    height: 310px;
    padding: 0px 0px;
    background: url("/img/redBackg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0px solid #404040;
    overflow: hidden;
    h3 {
      color: white;
      margin: 85px 0px 105px 0px;
      text-transform: initial;
      letter-spacing: 1px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
}

.opportunites {
    width: 100%;
    height: 310px;
    padding: 0px 0px;
    background: url("/img/ligthblueBckg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0px solid #404040;
    overflow: hidden;

    h3 {
      color: white;
      margin: 90px 0px 100px 0px;
      text-transform: initial;
      letter-spacing: 1px;
    }
}

.subNavigation {
  background: black;
  height: 50px;
  line-height: 50px;

    .active {
      color: #ec3050;
    }

    ul {
      font-size: 0.875rem;
      li {
        display: inline-block;
        margin-left: 40px;
        a {
          color: #fff;
          font-family: $CamphorHeavy;
          display: block;
          padding-right: 20px;
          text-transform: uppercase;
          -moz-transition: color 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
          -o-transition: color 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
          -webkit-transition: color 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
          transition: color 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
          letter-spacing: 1px;
          font-weight: normal;
        }
      }
    }
}

.opportunites {
  .subNavigation {
    .active {
      color: #1bafd1;
    }
  }
}

/* END BOX PRODUCERS WORKSHOP */