/* CONFERENCE PAGE */

.calendar {
    width: 100%;
    height: 240px;
    padding: 0px 0px;
    background: url(/img/redBackg2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0px solid #404040;
    overflow: hidden;
    h3 {
      color: white;
      margin: 75px 0px 0px 0px;
      text-transform: initial;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
}

.events {
  p {
    color: #b1b1b1;
    text-align: left;
  }
}

.conference {

  height: auto!important;

  h5 {
    margin-bottom: 50px;
    padding: 0px 90px;
  }

  h6 {
    text-align: left;
    margin-top: 10px;
    font-family: $CamphorRegular;
    font-size: 10px;
    color: #666666;
    margin-left: 85px;
  }

  img {
    max-width: 977px;
    width: 100%;
  }
}

.conferences {
  padding: 0px;
  margin: 50px 0px 0px 0px;
  height: auto;

    .content {
      background: white;
    }

   .open-selected-conf{
      background: #c60e2d!important;
      color: white!important;
      padding-bottom: 25px;
      transition: opacity 500 ease-in-out;
      @include transition(all 0.3s $smoothTransition);

       .open {
        padding: 40px 0px;
        @include transition(all 0.3s $smoothTransition);
       }
   } 

   .open {
    font-family: $CamphorBold;
    padding: 20px 0px;
    margin-left: 25px;
    @include transition(all 0.3s $smoothTransition);
   }

  .dropdown {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  
  .selector {
    width: 100%;
    float: left;
  }

  .selectbtn {
    letter-spacing: 2px;
  }
  
  .conferencesMenu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
    position: relative;

    @media screen and (max-width: $mobileWidth) {
      width: 90%;
    }
  }
  .conferenceMenu {
    width: 100%;
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: $mobileWidth) {
      width: 90%;
    }
  }

  li {
    padding: 0px 25px 0px 25px;
    text-transform: uppercase;
    color: #505050;
    background: #f8f8f8;
    line-height: 50px;
    border-bottom: 3px solid white;
    text-align: left;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    @include transition(all 1s $smoothTransition);
  }

  .dropdown span {
    color: #505050!important;
     font-size: 16px;
     text-transform: uppercase;
     margin-right: 15px;   
  }
  select, option {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: transparent;
     border:none;
     color: #c60e2d!important;
     font-size: 22px;
  }
  select::-ms-expand, option::-ms-expand { /* for IE 11 */
      display: none;
  }

  .openPlus {
    color: #333;
    float: right;
    margin-right: 30px;
    font-size: 25px;
    font-family: $CamphorHeavy;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  .openMinus {
    display: none;
    color: white;
    float: right;
    margin-right: 30px;
    font-size: 25px;
    font-family: $CamphorHeavy;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  .noDisplay {
    display: none;
  }

  .doDisplay {
    display: block;
  }

  .conf10 {
    width: 15%;
    float: left;
    color: #505050;
    font-family: $CamphorHeavy;
    text-transform: uppercase;
    line-height: 30px;
    padding-top: 100px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;

    @media screen and (max-width: 1280px) {
      display: none;
    }
  }

  .conf60, .conf70 {
    display: block;
    width: 47%;
    float: left;
    color: #505050;
    text-transform: initial;
    line-height: 30px;
    text-align: left;
    padding-top: 15px;
    min-height: 200px;
    height: auto;
    padding-right: 30px;

    p {
      font-family: $CamphorRegular;
      font-size: 14px;
      color: #505050;
      text-align: left;
      text-transform: none!important;
    }


    @media screen and (max-width: 1280px) {
       width: 50%;
       padding-left: 65px;
    }

    .conf60title {
      display: none;
      color: #505050;
      font-size: 12px;
      font-family: $CamphorHeavy;
      text-transform: uppercase;
      @media screen and (max-width: $mobileWidth) {
         display: block;
      }
    }

    hr {
      display: none;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-right: -100px;
      width: 140px;
      border-right: 1px solid #e7e7e7;
      margin-top: -115px;
      opacity: 0.2;
      @media screen and (max-width: 1280px) {
          margin-right: -95px;
          margin-top: -140px;
        }
    }

    a {
      color: #505050!important;
    }

    .confButton {
      position: relative;
      text-transform: uppercase;
      font-family: $CamphorHeavy;
      font-size: 12px;
      opacity: 0.7;
      margin-top: 40px;
      letter-spacing: 1px;
      color: #505050!important;

      .ensavoirplus {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            color: #c60e2d;
            margin-right: 5px;
      }
    }

    span {
      text-transform: uppercase;
      font-size: 16px;
      color: #ec3050!important;
      font-family: $CamphorBold;
      line-height: 50px;
      letter-spacing: 1px;
    }
  }

  .conf70 { 
    width: 59%;
    padding-left: 3%;
    height: auto;

    @media screen and (max-width: 1280px) {
        width: 55%;
    }

    img {
      max-width: 120px;
      height: 160px;
      text-align: left;
    }
    
    hr {
      display: none;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-right: -255px;
      width: 440px;
      border-right: 1px solid #e7e7e7;
      margin-top: 60px;
      margin-bottom: -27px;
      opacity: 0.2;
      float: right;
      @media screen and (max-width: 1280px) {
          /*margin-right: -95px;
          margin-top: -70px;*/
        }
    }
  }

  .conf30Sharp {
      width: 35%!important;

      /*&:before {
        height: 445px;
        display: block;
        width: 1px;
        background: #ececec;
        border-right: 1px white;
        content: '';
        position: relative;
        float: left;
        margin-top: 45px;
      }*/
    }
  /*.conf30 {
      &:before {
        height: 200px;
        display: block;
        width: 1px;
        background: #ececec;
        border-right: 1px white;
        content: '';
        position: relative;
        float: left;
        margin-top: 20px;
      }

  }*/
  .conf30, .conf30Sharp {
    width: 35%;
    float:left;
    color: #505050;
    text-transform: initial;
    line-height: 30px;
    text-align: left;
    padding-top: 30px;
    font-size: 14px;
    margin-top: 30px;
    border-left: 1px solid #ECECEC;

    p {
      margin-left: 30px;
      color: #505050;
      opacity: 0.9;
      text-align: left;
      font-family: $CamphorRegular;
      font-size: 14px;
    }

    span {
      color: #505050;
      text-transform: uppercase;
      opacity: 0.4;
      font-family: $CamphorBold;
      letter-spacing: 1px;
    }

    div {
          padding-left: 45px;
    }
    div:first-child {
          &:before {  
            content: url(/img/access.png);
            position: relative;
            top: 25px;
            left: -10px;
            /* margin-right: 30px; */
            width: 20px;
        }
    }

    div:nth-child(2) {
      &:before {
            content: url(/img/clock.png);
            position: relative;
            top: 25px;
            left: -10px;
            /* margin-right: 30px; */
            width: 20px;
        }
    }
    div:nth-child(3) {
      &:before {
            content: url(/img/pin.png);
            position: relative;
            top: 25px;
            left: -10px;
            /* margin-right: 30px; */
            width: 20px;
        }
    }
  }

.box {
  height: auto;
  cursor: default;
  position: relative;
  overflow: hidden !important;
  padding-bottom: 15px;
  border-bottom: 4px solid #c60e2d!important;
    
    @media screen and (max-width: 1280px) {
        min-height: 325px!important;
    }
}

  .confDetails {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $CamphorHeavy;
    color: #505050!important;
    line-height: 50px;
  }

  .confDetailsTop {
    color: #505050!important;
  }
}

  .conferenceMenu {
    .box {
      height: auto;
      /*min-height: 900px!important;*/
      cursor: default;
      position: relative;
      overflow: hidden !important;
      padding-bottom: 15px;
        @media screen and (max-width: 1280px) {
            min-height: 1000px!important;
        }
    }

    .minBox {
      /*min-height: 600px!important;*/
    }
  }


.confPeople {
  .quarterWidth {
    width: 25%;
    float: left;
    min-height: 300px;
    text-align: left;
    font-size: 10px;
    font-family: $CamphorHeavy;
    span {
      font-size: 12px!important;
      text-align: left;
    }

    h6 {
      text-align: left;
      line-height: 25px;
      text-transform: uppercase;
      font-size: 11px;
      color: #ec3050 !important;
      font-family: $CamphorBold;
      line-height: 20px;
    }

    .name {
      height: 60px;
      width: 130px;
      text-align: left;
      text-transform: uppercase;
      line-height: 20px;

      h6 {
        font-size: 10px!important;
        letter-spacing: 1px;
        font-family: $CamphorHeavy;
      }

      p {
        text-align: left;
        color: #505050;
        font-size: 10px!important;
        font-family: $CamphorHeavy;
        line-height: 20px;
      }
    }

    .alignLeft {
        text-align: left;
        margin-left: 15px;
    }

    p {
      text-align: left;
      color: #505050;
      font-size: 10px;
    }
  }
}

.minPadding {
  padding: 90px 0px 47px 0px !important;
  height: auto !important;
}

.minMargin {
    margin-bottom: 20px!important;
    line-height: 40px;
    padding: 0px 100px;
    font-size: 17px!important;
}

.producersProgramme {
  height: auto!important;
  display: block;
  margin-bottom: 100px;
}

/* END CONFERENCE PAGE*/