//       SUMMARY TABLE
// =========================
// 1. Global
// =========================


// 1. Global
// =========================
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=submit] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.contact {
  padding-top: 60px;

  h2.title {
    color: #333;
    font-family: $Playfair;
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 60px;
  }

  .coords, .success {
    background-color: #f4f4f4;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    padding: 35px 0;

    h3 {
      color: $gold;
      font-family: $CamphorBold;
      font-size: 0.875em;
      letter-spacing: 0.3em;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    p {
      color: #666;
      line-height: 1.4em;
    }
  }

  .success {
    display: none;
  }

  .container p {
    color: #666;
    line-height: 1.6em;
    margin: 50px 0 25px 0;
    text-align: center;
  }

  #form {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 70px;
    width: 525px;

    ::-webkit-input-placeholder {
        color:    #999;
        font-size: 0.875rem;
    }
    :-moz-placeholder {
        color:    #999;
        font-size: 0.875rem;
    }
    ::-moz-placeholder {
        color:    #999;
        font-size: 0.875rem;
    }
    :-ms-input-placeholder {
        color:   #999;
        font-size: 0.875rem;
    }

    .required {
      color: #999;
      float: right;
      font-size: 0.875rem;
    }

    input, textarea {
      background: #fff;
      border: 1px solid #c1c1c1;
      box-sizing: border-box;
      color:   #999;
      font-family: $CamphorRegular;
      font-size: 0.875rem;
      display: block;
      margin-bottom: 15px;
      outline: none;
      padding: 0 25px;
      width: 100%;

      @include transition(all 0.3s $smoothTransition);

      &:focus {
        border-color: $black;
      }
    }

    textarea {
      height: 190px;
      padding-top: 20px;
      resize: none;

      &.invalid {
        border-color: #e93939;
        color: #e93939;
      }
    }

    input {
      height: 50px;
      line-height: 50px;

      &.invalid {
        border-color: #e93939;
        color: #e93939;
      }

      &.valid {
        border-color: green;
      }

      &[type="submit"] {
        border-color: $gold;
        color: $gold;
        cursor: pointer;
        float: left;
        font-family: $CamphorHeavy;
        font-size: 0.625rem;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        width: 180px;
        @include transition(all 0.9s $smoothTransition);

        &:hover {
          border-color: #000;
          color: #000;
        }
      }
    }

    .select {
      border: 1px solid #c1c1c1;
      box-sizing: border-box;
      color:   #999;
      line-height: 50px;
      font-family: $CamphorHeavy;
      font-size: 0.688rem;
      display: block;
      height: 50px;
      margin-bottom: 15px;
      outline: none;
      padding: 0 25px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      position: relative;

      &.invalid {
        border-color: #e93939;
        color: #e93939;
      }

      #triggerSelect {
        position: absolute;
        display: block;
        height: 50px;
        top: 0;
        right: 0;
        width: 50%;
        z-index: 2;
        cursor: pointer;
      }

      label {
        color: #333;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
      }

      select {
        background: none;
        height: 50px;
        line-height: 50px;
        margin-top: -3px;
        border: none;
        color: $gold;
        display: inline-block;
        vertical-align: middle;
        font-family: $CamphorHeavy;
        font-size: 0.688rem;
        outline: none;
        -webkit-appearance: none;
        text-transform: uppercase;
        padding-right: 10px;
      }
    }

    .errors {
      border: 1px solid #e93939;
      color: #e93939;
      clear: both;
      font-size: 0.875rem;
      opacity: 0;
      padding: 20px;
      visibility: hidden;
      @include transition(all 0.3s $smoothTransition);

      &.show {
        opacity: 1;
        visibility: visible;
      }

      ul {
        list-style-type: disc;
        padding-left: 20px;

        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}