/* CONFERENCE PAGE */

.calendar {
    width: 100%;
    height: 350px;
    padding: 0px 0px;
    background: url(/img/redBackg.png);
    background-size: 100% 350px;
    background-repeat: no-repeat;
    border: 0px solid #404040;
    overflow: hidden;
    h3 {
      color: white;
      margin: 135px 0px 70px 0px;
      text-transform: initial;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
}

.conference {

  h5 {
    margin-bottom: 50px;
  }

  h6 {
    text-align: left;
    margin-top: 10px;
    font-family: $CamphorRegular;
    font-size: 12px;
    color: #666666;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 550px;
  }
}

.conferences {
  padding: 30px;
  margin: 50px 0px 0px 0px;
  height: auto;

    .content {
      background: white;
    }

   .open-selected-conf{
      background: #c60e2d!important;
      color: white!important;
      padding-bottom: 25px;
      transition: opacity 500 ease-in-out;
      @include transition(all 1s $smoothTransition);
   } 

   .open {
    font-family: $CamphorBold;
    padding: 20px 0px;
    margin-left: 25px;
   }

  .dropdown {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  
  .selector {
    width: 100%;
    float: left;
  }
  
  .conferencesMenu {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 50px;
  }
  .conferenceMenu {
    width: 100%;
    margin-top: 550px;
    margin-bottom: 50px;
  }

  li {
    padding: 0px 25px 0px 25px;
    text-transform: uppercase;
    color: #505050;
    background: #f8f8f8;
    line-height: 50px;
    border-bottom: 3px solid white;
    text-align: left;
  }

  .dropdown span {
    color: #505050!important;
     font-size: 16px;
     text-transform: uppercase;
     margin-right: 15px;   
  }
  select, option {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: transparent;
     border:none;
     color: #c60e2d!important;
     font-size: 22px;
  }
  select::-ms-expand, option::-ms-expand { /* for IE 11 */
      display: none;
  }

  .openPlus {
    color: #333;
    float: right;
    margin-right: 30px;
    font-size: 25px;
    font-family: $CamphorHeavy;
  }

  .openMinus {
    display: none;
    color: white;
    float: right;
    margin-right: 30px;
    font-size: 25px;
    font-family: $CamphorHeavy;
  }

  .noDisplay {
    display: none;
  }

  .doDisplay {
    display: block;
  }

  .conf10 {
    width: 15%;
    float: left;
    color: #505050;
    font-family: $CamphorBold;
    text-transform: uppercase;
    line-height: 30px;
    padding-top: 100px;
    opacity: 0.8;
    font-size: 12px;
    line-height: 20px;
    text-align: center;

    @media screen and (max-width: 1280px) {
      display: none;
    }
  }

  .conf60, .conf70 {
    width: 47%;
    float: left;
    color: #505050;
    text-transform: initial;
    line-height: 30px;
    text-align: left;
    padding-top: 35px;
    height: 200px;
    padding-right: 30px;


    @media screen and (max-width: 1280px) {
       width: 55%;
       padding-left: 65px;
    }

    .conf60title {
      display: none;
      color: #505050;
      font-size: 12px;
      font-family: $CamphorHeavy;
      text-transform: uppercase;
      @media screen and (max-width: $mobileWidth) {
         display: block;
      }
    }

    hr {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-right: -85px;
      width: 140px;
      border-right: 1px solid #e7e7e7;
      margin-top: -90px;
      opacity: 0.2;
      @media screen and (max-width: 1280px) {
          margin-right: -95px;
          margin-top: -70px;
        }
    }

    .confButton {
      position: relative;
      bottom: -15%;
      text-transform: uppercase;
      font-family: $CamphorHeavy;
      font-size: 12px;
      opacity: 0.8;
    }

    span {
      text-transform: uppercase;
      font-size: 16px;
      color: #ec3050!important;
      font-family: $CamphorBold;
    }
  }

  .conf70 { 
    width: 55%;
    padding-left: 5%;
  }

  .conf30Sharp {
      width: 35%!important;
    }

  .conf30, .conf30Sharp {
    width: 35%;
    float:left;
    color: #505050;
    text-transform: initial;
    line-height: 30px;
    text-align: left;
    padding-top: 30px;
    font-size: 14px;
    color: #505050;


    p {
      margin-left: 30px;
    }

    span {
      color: #505050;
      text-transform: uppercase;
      opacity: 0.6;
      font-family: $CamphorBold;
    }

    div {
          padding-left: 45px;
    }
    div:first-child {
          &:before {
            content: url(/img/clock.png);
            position: relative;
            top: 10px;
            left: -10px;
            /* margin-right: 30px; */
            width: 20px;
        }
    }

    div:nth-child(2) {
      &:before {
            content: url(/img/pin.png);
            position: relative;
            top: 10px;
            left: -10px;
            /* margin-right: 30px; */
            width: 20px;
        }
    }
    div:nth-child(3) {
      &:before {
            content: url(/img/access.png);
            position: relative;
            top: 10px;
            left: -10px;
            /* margin-right: 30px; */
            width: 20px;
        }
    }
  }

  .box {
    min-height: 280px;
    height: auto;
    border-bottom: 2px solid #c60e2d!important;
  }

  .confDetails {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $CamphorHeavy;
    color: #505050!important;
    line-height: 50px;
  }
}

  .conferenceMenu {
    .box {
      height: auto;
      min-height: 800px;
    }
  }


.confPeople {
  .quarterWidth {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 10px;
    font-family: $CamphorHeavy;
    span {
      font-size: 12px!important;
      text-align: left;
    }

    p {
      text-align: left;
      margin-left: 15px;
    }
  }
}

.minPadding {
  padding: 90px 0px 47px 0px !important;
  height: auto !important;
}

.minMargin {
    margin-bottom: 20px!important;
    line-height: 40px;
    padding: 0px 30px;
    font-size: 17px!important;
}


/* END CONFERENCE PAGE*/