//       SUMMARY TABLE     
// =========================
// 1. Global
// 2. Single evenement
// 3. Media bandeau push
// =========================
// 1. Global
// =========================
.evenement {
  .title {
    margin-bottom: 20px;
  }
  #gridEvent {
    padding-top: 60px;
  }
  .grid {
    padding-top: 0px;
  }
  .grid-wrapper {
    margin-top: 0px;
    margin-bottom: 70px;
  }
  .grid:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .read-more {
    border: 1px solid #d9d9d9;
    clear: both;
    color: #999;
    display: block;
    height: 55px;
    font-family: "Camphor W01 Heavy";
    font-size: 0.625rem;
    line-height: 55px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 95%;
    letter-spacing: .1em;
    @include transition(all 0.9s $smoothTransition);
    margin-top: 37px;
    margin-bottom: 70px;
    strong {
      color: #000;
      font-weight: normal;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  .list-article .bandeau-list .bandeau-list-img {
    height: 300px;
    background-size: cover;
  }
  .bandeau-list-img {
    height: 444px !important;
  }
  .bandeau-list-img {
    height: 443px !important;
    @include transition(all 0.9s $linear);
  }
}

.evenement:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// 2. single evenement
// =====================
.single-evenement {
  padding-bottom: 0px;
  border-bottom: 1px solid #2c2c2c;
  
  .slideshow {
    .caption {
      border-bottom: 1px solid #e5e5e5;
      margin: 0px 0px;
      padding: 20px 0px;
    }
  }
  a.nav.bottom {
    bottom: 85px;
  }
  .title-article {
    margin-bottom: 37px;
  }
  .single-photo {
    margin-top: 64px;
  }
  .quote {
    padding: 60px 0px;
    width: auto;
    blockquote {
      font-size: 1.5rem !important;
      font-family: $CamphorItalic;
      padding: 40px 88px;
    }
  }
  .text {
    //    padding-top: 60px; 
    width: 634px;
    a {
      color: #c8a461;
    }
    .text-quote {
      font-style: italic;
    }
  }
  .title {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.375rem;
    margin-bottom: 35px;
    font-weight: 200;
  }
  .paragraph {
    padding-top: 40px;
  }
  .small-container {
    width: 634px;
    margin: 0 auto;
  }
  .chapeau {
    margin-bottom: 40px;
  }
  .film {
    height: 290px;
    .programmation-film {
      background-color: #141414;
      float: none;
      height: 100%;
      overflow: hidden;
      width: 100%;
      .wrapper {
        margin: 0 auto;
        max-width: 630px;
        float: none;
        ul {
          width: 630px;
          li {
            width: auto;
            margin-right: 14px;
          }
          margin-bottom: 35px;
        }
        .location {
          margin: 10px 0px !important;
          text-transform: uppercase;
          color: #bababa !important;
          font-size: 0.63rem;
          font-family: $CamphorBold;
        }
        .location:after {
          background-color: #525252;
          bottom: -18px;
          content: '';
          display: none !important;
          height: 1px;
          left: 0;
          position: absolute;
          width: 27px;
        }
        .date {
          color: #bababa !important;
        }
        .descript {
          font-size: 1rem;
          font-family: $CamphorRegular;
          color: #fff;
        }
      }
    }
  }
  .video {
    .vCenterKid {
      text-align: left;
    }
  }
}

//3. media bandeau push
// ==========================
@media screen and (min-width: 1920px) {
  .evenement .bandeau-list-img {
    height: 444px !important;
  }
  .evenement .title-list-header {
    //      padding-top: 210px !important;
  }
}

@media screen and (min-width: 1600px) and (max-width:1919px) {
  .evenement .bandeau-list-img {
    height: 373px !important;
  }
  .evenement .title-list-header {
    //      padding-top: 173px !important;
  }
}

@media screen and (min-width: 1280px) and (max-width:1599px) {
  .evenement .bandeau-list-img {
    height: 296px !important;
  }
  .evenement .title-list-header {
    //      padding-top: 134px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
  .evenement .bandeau-list-img {
    height: 294px !important;
  }
  .evenement .title-list-header {
    //      padding-top: 134px !important;
  }
}

@media screen and (max-width:1023px) {
  .evenement .bandeau-list-img {
    height: 294px !important;
  }
  .evenement .title-list-header {
    //      padding-top: 134px !important;
  }
}