 //       SUMMARY TABLE     
 // =========================
 // 1. Global
 // 2. Bandeau
 // 3. Selection officielles
 // 4. Invit honnor 
 // 5. Cannes classic
 // =========================

 // 1. Global
 // =========================

 .container-list {
   width: 100%;
   clear: both;
 }
 
 .categorie-items {
   clear: both;
   .titre-document {
     color: #999;
     width: 958px;
     margin: 0 auto;
   }
   .title-list-cat {
     color: #ffffff;
     padding: 50px;
     border-bottom: #202020 1px solid;
     border-top: #202020 1px solid;
     font-size: 1rem;
     text-align: center;
     .title {
       margin-bottom: 0px;
       width: 549px;
       margin: 0 auto;
       font-size: 1rem;
       line-height: 30px;
     }
     .title-item {
       text-align: center;
       padding: 20px;
       font-size: .875rem;
       width: 977px;
       margin: 10px auto;
       line-height: 26px;
       font-family: $CamphorItalic;
     }
     .title-big {
       color: #ffffff;
       font-family: "Playfair Display";
       font-size: 3rem;
       font-weight: 400;
       line-height: 1.3em;
       margin: 20px auto;
       max-width: 700px;
       text-align: center;
       padding-bottom: 20px;
     }
     #share-article {
       background: url("../img/svg/share.svg") no-repeat 13% 47%;
       background-size: 18px;
     }
     .button {
       border: 1px solid #2c2c2c;
       color: #c8a461;
       display: inline-block;
       font-family: "Camphor W01 Bold";
       font-size: 0.688rem;
       height: 38px;
       line-height: 38px;
       margin: 0 0 0 0;
       padding: 0 20px 0 40px;
       text-transform: uppercase;
       -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
       -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
       -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
       transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
     }
     .button:hover {
       border: 1px solid #c8a461;
     }
     .print {
       background: url("../img/svg/print.svg") no-repeat 15% center;
       background-size: 18px;
       font-size: 0.63rem; 
     }
   }
   .sub-cat-title {
     padding: 20px;
     background-color: #656565;
     color: #fff;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 3px;
   }
   article {
     height: 418px;
     box-sizing: border-box;
     float: none;
     padding-left: 0px;
     clear: both;
     color: #ffffff;
     width: 100%;
     min-height: 405px;
     background-size: cover;
     background-position: center center;
     .bck-hover {
       background-color: #141414;
       width: 100%;
       padding: 32px;
       height: 418px;
       display: table;
       @include transition-property(background);
       @include transition-duration(.5s);
       box-sizing: border-box;
     }
     .bck-hover:hover {
       background-color: rgba(20, 20, 20, 0.08);
     }
     .contain_item {
       width: 977px;
       max-width: 100%;
       margin: 0 auto;
       display: table;
       .list-camera-or {
         //Centrer les informations seulement pour la version Camera Or
         .title-item {
           padding-top: 85px;
         }
       }
     }
     img {
       float: left;
       margin-right: 50px;
       margin-left: 70px;
     }
     .infos-item-list {
      text-align: center;
      vertical-align: middle;
      width: 475px;
      display: table-cell;
      padding-right: 123px;
       .title-item {
         text-transform: uppercase;
         padding-bottom: 4px;
         font-size: 0.875rem;
         line-height: 16px;
         font-family: $CamphorBold;
       }
       .sub-title-item {
         padding-bottom: 4px;
         font-size: 0.63rem;
         text-transform: uppercase;
       }
       .nom-item {
         color: #c8a461;
         font-style: italic;
         display: block;
         padding-bottom: 4px;
         font-family: $CamphorItalic;
         font-weight: 700;
         font-size: 0.8125rem;
       }
       .date-item {
         font-weight: 100;
         padding-bottom: 4px;
         color: #999999;
         font-size: 0.6875rem;
       }
       .description-item {
         padding-top: 40px;
         line-height: 26px;
         font-size: 0.875rem;
         strong {
           color: #c8a461;
           font-family: $CamphorBold;
         }
       }
       .date-pres-item {
         text-transform: uppercase;
         color: #fff;
         letter-spacing: 3px;
         margin-bottom: 18px;
         display: inline-block;
         font-size: 0.75rem;
        font-family: $CamphorBold;
       }
       .heure-pres-item {
         color: #999;
         letter-spacing: 3px;
         text-transform: uppercase;
         font-size: 0.75rem;
         font-family: $CamphorBold;
       }
     }
   }
   .contain-article-invit {
     color: #ffffff;
     .title-list-cat {
       margin-bottom: 60px;
     }
     .contain-img-honneur {
       position: relative;
       width: 975px;
       margin: 0 auto;
       margin-bottom: 80px;
       .copy {
         position: absolute;
         bottom: 18px;
         left: 18px;
         color: #DEDEDE;
         font-size: 0.63rem;
       }
     }
     .pres-honneur {
       width: 975px;
       margin: 0 auto;
       text-align: center;
       font-size: 1.125rem;
       line-height: 36px;
       padding-bottom: 30px;
       a {
         text-decoration: underline;
         color: #c8a461;
       }
     }
     .small-pres {
       width: 632px;
       margin: 0 auto;
       color: #999999;
       font-size: 1rem;
       line-height: 26px;
       p {
         padding: 40px 0px;
         strong {
           color: #c8a461;
         }
       }
       h3 {
         color: #cccccc;
         strong {
           color: #c8a461;
         }
       }
       h4 {
         color: #cccccc;
       }
       .video {
         line-height: 18px;
         padding-top: 30px;
         position: relative;
         margin-bottom: 80px;
         .picto {
           background-image: url("../img/svg/video.svg");
           background-size: 22px;
         }
         p {
           padding: 0px;
         }
       }
     }
     .share {
       color: white;
       border-top: 1px solid #2C2C2C;
       .button {
         border: 1px solid #2c2c2c;
       }
     }
   }
 }
 
 // 1. Bandeau
 // =========================
 .list-article {
   background-color: #141414 !important;
   .bandeau-list {
     background-color: #1b1b1b;
     .bandeau-list-img {
       height: 300px;
       background-size: cover;
       .title-list-header {
         color: #ffffff;
         font-size: 1.75rem;
         padding-top: 138px;
         margin-bottom: 20px;
       }
       .bandeau-lien {
         color: #c8a461;
         width: 165px;
         margin: 0 auto;
         display: block;
         font-weight: 600;
         text-transform: uppercase;
         font-size: 0.75rem;
         font-family: $CamphorHeavy;
       }
     }
     .sub-nav-list {
       width: 1000px;
       margin: 0 auto;
       text-align: center;
       a {
         color: #686868;
         font-size: 0.8rem;
         letter-spacing: 1px;
       }
       a.active {
         color: #c8a461;
       }
       li {
         display: inline-block;
         padding: 16px 6.5px;
         text-transform: uppercase;
       }
     }
     .nav-movie{
       a{
         color: #fff;
         font-size: 0.63rem;
         font-family: $CamphorHeavy;
       }
       a:hover{
         color: #c8a461;
       }
     }
     .nav-movie.sticky{
       z-index: 100000;
       width: 100%;
       background-color: #1b1b1b;
     }
     .nav-list {
       margin: 0 auto;
       text-align: center;
       font-family: $CamphorBold; 
       background-color: #202020;
       width: 100%;
       z-index: 1000000;
       transition: .3s;
       a {
         color: #999999;
         font-size: 0.75rem;
       }
       a.active {
         color: #c8a461;
       }
       a:hover {
         color: #c8a461;
       }
       li {
         display: inline-block;
         padding: 16px 6.5px;
         text-transform: uppercase;
       }
     }
   }
 }
 
 // 3. Selection officielle
 //==========================
 .selection-officielle {
   .single-article{
     padding: 0px !important;
   }
   figure {
     figcaption {
       height: 103px;
       text-align: center;
       .name {
         color: #fff;
         text-transform: uppercase;
         text-align: center;
         font-family: $CamphorBold;
         font-size: .875rem;
         display: block;
         padding-top: 25px;
       }
       .sub-name {
         color: #fff;
         text-transform: uppercase;
         text-align: center;
         font-family: $CamphorBold;
         font-size: .625rem;
         display: block;
       }
       .author {
         text-align: center;
         font-family: $CamphorItalic;
         font-size: .8125rem;
         color: #c8a461;
       }
     }
   }
   .container:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
   }
   .grid {
     padding-top: 0px;
     .grid-wrapper {
       margin-top: 0px;
     }
   }
 }

// 4. Invit honneur 

.honneur-invit{
  .container{
    padding: 0px ;
  }
}

// 5. cannes Classic

.cannes-classic{
     .title-list-cat:first-child{
       border-top: 0px solid #000;
     }
}