//       SUMMARY TABLE
// =========================
// 1. Global
// 2. Photos
// 3. Audios
// 4. Articles
// 5. Webtv
// 6. Jury
// 7. Selection officielle
// 8. Events
// =========================


// 1. Global
// =========================
.grid {
  padding-top: 60px;

  h2.title {
    color: #333;
    font-family: $Playfair;
    font-weight: 700;
    font-size: 1.625rem;
  }

  .grid-sizer {
    width: calc(100%/4);
  }

  .grid-wrapper {
    margin-top: 60px;
    overflow: hidden;
  }

  .item {
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
    position: relative;
    width: calc(100%/4);

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .info {
      color: #9c9c9b;
      font-family: $CamphorBold;
      position: absolute;
      bottom: 8px;
      height: 44px;
      left: 70px;
      width: calc(100% - 70px);
      z-index: 2;

      .category {
        color: $gold;
        display: inline-block;
        font-size: 0.625rem;
        letter-spacing: 0.1em;
        margin-right: 12px;
        text-transform: uppercase;
      }

      span {
        color: #9c9c9b;
        display: inline-block;
        font-size: 0.625rem;
      }

      p {
        color: #fff;
        font-family: $CamphorRegular;
        font-size: 0.850rem;
        text-align: left;
        margin-top: 3px;
        width: auto;
      }
    }

    .picto {
      z-index: 2;
    }
  }

  .item.w2 {
    width: calc(200%/4);
  }

  .filter-actived .item.w2 {
    width: calc(100%/6);
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


// 2. Photos
// =========================
#gridPhotos {
  background: #000;

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #2b2b2b;
    bottom: -1px;
    left: 0;
    position: absolute;
    z-index: 5;
  }

  @media screen and (min-width: 320px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/1);
    }

    .item {
        width: calc(100%/1);
    }

    .item.w2 {
        width: calc(200%/1);
    }
  }

  @media screen and (min-width: 1024px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/3);
    }

    .item {
        width: calc(100%/3);
    }

    .item.w2 {
        width: calc(200%/3);
    }
  }

  @media screen and (min-width: 1280px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/4);
    }

    .item {
        width: calc(100%/4);
    }

    .item.w2 {
        width: calc(200%/4);
    }
  }

  @media screen and (min-width: 1600px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/5);
    }

    .item {
        width: calc(100%/5);
    }

    .item.w2 {
        width: calc(200%/5);
    }
  }

  @media screen and (min-width: 1920px) {
    /* 6 columns for larger screens */
    .grid-sizer {
      width: calc(100%/6);
    }

    .item {
        width: calc(100%/6);
    }

    .item.w2 {
        width: calc(200%/6);
    }
  }

  .thumbnails {
    display: none;
  }

  .item {
    cursor: pointer;
    overflow: hidden;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    img {
      @include transform(translateZ(0));
      @include transition(all 4s $linear);
    }

    &:hover {
      img {
        @include transition(all 8s $linear);
        @include transform(scale(1.05) translateZ(0));
      }
    }
  }
}

.all-photos {
  .item .chocolat-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }

  .shadow-bottom {
    &:before {
      background: rgba(0,0,0,0);
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(40%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 100%);
      background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%);
    }
  }
}


// 3. Audios
// =========================
.all-audios #gridAudios,
.all-videos #gridVideos {
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #2b2b2b;
    bottom: -1px;
    left: 0;
    position: absolute;
    z-index: 5;
  }
}

#gridAudios,
#gridVideos {
  @media screen and (min-width: 1600px) {
    /* 5 columns for larger screens */
    .grid-sizer { width:calc(100%/5); }
    .item { width:calc(100%/5); }
    .item.w2 { width: calc(200%/5); }
  }

  @media screen and (min-width: 1920px) {
    /* 5 columns for larger screens */
    .grid-sizer { width: calc(100%/6); }
    .item { width: calc(100%/6); }
    .item.w2 { width: calc(200%/6); }
  }

  .item {
    cursor: pointer;
    overflow: hidden;
    visibility: hidden;

    .press.press-actu & {
      cursor: default
    }

    &.visible {
      visibility: visible;
    }

    img {
      @include transform(translateZ(0));
      @include transition(all 4s $linear);
    }

    &:hover {
      img {
        @include transition(all 8s $linear);
        @include transform(scale(1.05) translateZ(0));
      }
    }
  }
}


// 4. Articles
// =========================
.all-articles {
  .item {
    height: 305px;

    &:hover .img .read-later {
       opacity: 1;
       visibility: visible;
     }

    .img {
      margin: 0 auto 23px auto;
      height: auto;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      width: 79%;

      img {
        display: block;
        height: auto;
        width: 100%;
        @include transition(all 4s $linear);
      }
    }

    &:hover img {
      @include transition(all 8s $linear);
      @include transform(scale(1.05) translateZ(0));
    }

    article {
      float: none;
      padding: 0;
      width: 100%;

      .info {
        font-family: $CamphorBold;
        color: #666;
        position: relative;
        bottom: auto;
        left: auto;
        height: auto;
        margin: 0 auto;
        width: 80%;
      }

      .picto {
        bottom: 20px;
        top: auto;
        left: 20px;
      }
    }

    &.w2 {
      height: 610px;

      .img {
        height: auto;
        width: 90%;
      }

      h2 {
        font-size: 2.250rem;
      }

      h3 {
        font-size: 2.250rem;
      }
      .picto {
        left: 20px;
        bottom: 20px;
        top: auto;
      }
    }
  }

  @include breakpoint(1180px) {
    #gridAudios,
    #gridVideos {
      @include transform(translateX(15px));
    }

    .grid-sizer {
      width: 30%;
    }

    .item {
      height: 305px;
      box-sizing: border-box;
      padding-left: 45px;
      position: relative;
      width: 30%;
    }

    .item.w2 {
      height: 610px;
      padding-left: 45px;
      width: 60%;
    }
  }

  .read-later {
    content: '';
    display: block;
    height: 40px;
    opacity: 0;
    visibility: hidden;
    width: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    @include transition(all 0.3s $smoothTransition);
    color:#000;
    background-color: #fff;
    
    .icon{
      margin-top: 12px;
      margin-left: 12px;
    }

    span {
      background-color: $black;
      position: fixed;
      display: block;
      font-family: $CamphorBold;
      font-size: 0.625rem;
      opacity: 0;
      visibility: hidden;
      height: 48px;
      line-height: 48px;
      width: 200px;
      color: #fff;
      letter-spacing: 0.1em;
      top: -59px;
      left: -80px;
      z-index: 5;
      text-align: center;
      text-transform: uppercase;
      @include transform(translateY(6px));
      @include transition(opacity 0.3s $smoothTransition, transform 0.3s $smoothTransition);

      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;

        border: 7px solid transparent;
        border-top-color: $black;
        top: 100%;
        left: 92px;
      }
    }
  }
}

// 5. Web TV
// ============================
#gridWebtv{
  @media screen and (min-width: 320px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/1);
    }

    .item {
        width: calc(100%/1);
    }

    .item.w2 {
        width: calc(200%/1);
    }
  }

  @media screen and (min-width: 768px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/3);
    }

    .item {
        width: calc(100%/3);
    }

    .item.w2 {
        width: calc(200%/3);
    }
  }

  @media screen and (min-width: 1024px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/4);
    }

    .item {
        width: calc(100%/4);
    }

    .item.w2 {
        width: calc(200%/4);
    }
  }

  @media screen and (min-width: 1400px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/5);
    }

    .item {
        width: calc(100%/5);
    }

    .item.w2 {
        width: calc(200%/5);
    }
  }
}


// 6. jury
// ============================
#gridJurys{
  @media screen and (min-width: 320px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/1);
    }

    .item {
        width: calc(100%/1);
    }

    .item.w2 {
        width: calc(200%/1);
    }
  }

  @media screen and (min-width: 768px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/3);
    }

    .item {
      width: calc(100%/3);
    }

    .item.w2 {
      width: calc(200%/3);
    }
  }

  @media screen and (min-width: 1024px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/4);
    }

    .item {
      width: calc(100%/4);
    }

    .item.w2 {
      width: calc(200%/4);
    }
  }

  @media screen and (min-width: 1400px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/5);
    }

    .item {
      width: calc(100%/5);
    }

    .item.w2 {
      width: calc(200%/5);
    }
  }
}

#gridJurys:after{
  content:'';
  display:block;
  clear: both;
}

// 7. Selection Officiel
// =========================
#gridFilmSelection {
  @media screen and (min-width: 320px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/2);
    }

    .item {
      width: calc(100%/2);
    }

    .item.w2 {
      width: calc(200%/2);
    }
  }

  @media screen and (min-width: 768px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/3);
    }

    .item {
      width: calc(100%/3);
    }

    .item.w2 {
      width: calc(200%/3);
    }
  }

  @media screen and (min-width: 1024px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/4);
    }

    .item {
      width: calc(100%/4);
    }

    .item.w2 {
      width: calc(200%/4);
    }
  }

  @media screen and (min-width: 1280px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/5);
    }

    .item {
      width: calc(100%/5);
    }

    .item.w2 {
      width: calc(200%/5);
    }
  }


  @media screen and (min-width: 1600px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/6);
    }
    .item {
        width: calc(100%/6);
    }
    .item.w2 {
        width: calc(200%/6);
    }
  }

  @media screen and (min-width: 1920px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100%/8);
    }

    .item {
        width: calc(100%/8);
    }

    .item.w2 {
        width: calc(200%/8);
    }
  }
}


// 8. Grid evenement
// =======================
#gridEvent {
  @media screen and (min-width: 1600px) {
    /* 5 columns for larger screens */
    .grid-sizer { width:calc(100%/5); }
    .item { width:calc(100%/5); }
    .item.w2 { width: calc(200%/5); }
  }

  @media screen and (min-width: 1920px) {
    /* 5 columns for larger screens */
    .grid-sizer { width: calc(100%/6); }
    .item { width: calc(100%/6); }
    .item.w2 { width: calc(200%/6); }
  }

  .item {
    cursor: pointer;
    overflow: hidden;

    img {
      @include transform(translateZ(0));
      @include transition(all 4s $linear);
    }

    &:hover {
      img {
        @include transition(all 8s $linear);
        @include transform(scale(1.05) translateZ(0));
      }
    }
  }
}