 //       SUMMARY TABLE.....
// =========================
// 1. Global
// 2. Bandeau (media)
// =========================


// 1. Global
// =========================

.palmares-list{
  .bandeau-list{
    .bandeau-list-img{
      @include transition(all 1s $linear);
    }
  }
  .sub-nav-list{
    a{
    font-family: $CamphorBold;
    font-size:0.75rem !important;
    color:#999999 !important;
    }
    a:hover{
      color:#c8a461 !important;
    }
    a.active{
       color:#c8a461 !important;
    }
  }
  .sticky{
      z-index: 10;
      width: 100% !important;
      background-color: #1b1b1b;
    }
  .sub-cat-title{
    background-color: #202020;
    padding: 29px;
    font-family: $CamphorBold;
    font-size: 0.75rem;
    letter-spacing: .2em;
  }
  .bandeau-list{
    background-color: #202020;
    
  }
  .bandeau-list-img{
    height: 372px;
    .title-list-header{
     padding-top: 172px;
    }
  }
    .categorie-items {
        article{
          height: 447px;
          .bck-hover{
            height: 447px;
            padding: 0px;
          }
            .contain-article{
              vertical-align: text-top;
              height: 447px;
              padding: 0px;
            }
            .infos-item-list{
                text-align: center;
                padding-top: 0px;
                display: table-cell;
//                vertical-align: top;
                /* padding-bottom: 82px; */
                /* padding-left: 100px; */
            }
            img{
                float: none;
                display: inline-block;
                margin-left: 190px;
                margin-top: 50px;
                margin-right: 86px;
            }
            .lot-item{
                padding-top: 0px;
            }
            .contain_item{
                height: 336px;
                width: 677px;
            }
            .infos-item-list{
                position: relative;
                width: 450px;
              .sub-title-item{
                font-family: $CamphorBold;
              }
                .logo-palme-dor-container{
                    .palme-dor-img{
                        float: none;
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                    .palme-dor-portrait{
                        margin: 0 auto;
                        padding-bottom: 10px;
                    }
                    .palme-dor-text{
                        display: block;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        padding: 10px;
                        line-height: 20px;
                        width: 331px;
                        font-size: 1.13rem;
                    }
                    .verticalline:after{
                        content: "";
                        display: block;
                        height: 20px;
                        width: 2px;
                        padding: 0px;
                        margin: 10px auto;
                        background-color: #434343;
                    }
                }
            }
        }
    }
}



//2. bandeau media
// ==========================



  @media screen and (min-width: 1920px) {
    .palmares-list .bandeau-list-img{
      height: 450px !important;
    }
    .palmares-list .title-list-header {
      padding-top: 217px !important;
    }
  }

  @media screen and (min-width: 1600px) and (max-width:1919px) {

    .palmares-list .bandeau-list-img{
      height: 375px !important;
    }
    .palmares-list .title-list-header {
      padding-top: 183px !important;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width:1599px) {

    .palmares-list .bandeau-list-img{
      height: 299px !important;
    }
    .palmares-list .title-list-header {
      padding-top: 144px !important;
    }
  }

  @media screen and (min-width: 1024px) and (max-width:1279px) {
    .palmares-list .bandeau-list-img{
      height: 298px !important;
    }
    .palmares-list .title-list-header {
      padding-top: 143px !important;
    }
  }

  @media screen and (max-width:1023px) {
    .palmares-list .bandeau-list-img{
      height: 298px !important;
    }
    .palmares-list .title-list-header {
      padding-top: 143px !important;
    }
  }
