//       SUMMARY TABLE
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.sitemap{
    h2{
     padding: 60px;
        font-size: 28px;
    }
    section{
        background-color: #fff;
        width: 1122px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        article{
            height: auto;
            box-sizing: border-box;
            float: none;
            padding-left: 0px;
            margin-bottom: 100px;
            position: relative;
            width: 363px;
            display: inline-block;
            padding: 13px;
            vertical-align: top;
            text-align: center;

            .title{
                text-align: center;
                padding-bottom: 30px;
                border-bottom: 1px solid #e5e5e5;
                font-weight: 300;
                margin-bottom: 27px;
            }

            a{
                color: $gold;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-family: $CamphorBold;
                @include transition(all 0.9s $linear);

                &:hover{
                    color: #966505;
                }
            }
            li{
                padding-bottom: 20px;
                letter-spacing: 3px;
            }
        }
    }
}
