//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.sitemap{
    h2{
     padding: 60px; 
        font-size: 28px;
    }
    section{
        background-color: #fff;
        width: 1122px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        article{
            height: auto;
            box-sizing: border-box;
            float: none;
            padding-left: 0px;
            margin-bottom: 100px;
            position: relative;
            width: 363px;
            display: inline-block;
            padding: 13px;
            vertical-align: top;
            text-align: center;
            
            .title{
                text-align: center;
                padding-bottom: 30px;
                border-bottom: 1px solid #e5e5e5;
            }  
            
            a{
                color: #c8a461;
                text-transform: uppercase;
            }
            li{
                padding-bottom: 20px;
                letter-spacing: 3px;
            }
        }
    }
}