//       SUMMARY TABLE
// =========================
// 1. Global
// =========================
// 1. Global
// =========================
.downloading-press.lock {
  .block .container .contain-dp .large {
    border-right: 1px solid #b0b0b0;
    width: 276px;
    a {
      color: #b0b0b0;
    }
  }
  .buttons .button {
    border-color: #b0b0b0;
    color: #b0b0b0;
    background-image: url('../img/svg/cadenas-grey.svg');
    background-repeat: no-repeat;
    background-position: 15px 45%;
    background-size: 12px;
    border-color: #b0b0b0;
    color: #b0b0b0;
    pointer-events: none;
    a {
      color: #b0b0b0;
    }
  }
  .block .container .imgs-container .button {
    border: 1px solid #b0b0b0;
  }
  .buttons .button:hover {
    background-color: #fff;
    border-color: #b0b0b0;
    color: #b0b0b0;
    a {
      color: #b0b0b0;
    }
  }
  .download-btns {
    .download {
      border-color: #b0b0b0;
      color: #b0b0b0;
      a {
        color: #b0b0b0;
      }
    }
    .download:hover {
      border-color: #b0b0b0;
      color: #b0b0b0;
      a {
        color: #b0b0b0;
      }
    }
  }
  
  .affiche{
        .active-btn .button {
      padding: 1px 15px 0 39px;
      border-color: $gold;
      background-image: url('../img/svg/telecharger-gold.svg');
      background-repeat: no-repeat;
      background-position: 15px 12px;
      background-size: 14px;
      position: relative;
      &:after {
        background: url('../img/svg/telecharger-white.svg') no-repeat 15px 12px;
        background-size: 14px;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.9s $smoothTransition);
      }
      &:hover {
        background-color: $gold;
        border-color: $gold;
        color: #fff;
      }
      &:hover:after {
        opacity: 1;
        visibility: visible;
      }
    }
    .active-btn {
      .button {
        pointer-events: all;
        color: #c29f5f !important;
        border-color: #c29f5f !important;
      }
      .button:hover {
        color: #fff !important;
        background-color: #c29f5f !important;
      }
    }
  }
    .active-btn .button {
    padding: 1px 15px 0 39px;
    border-color: $gold;
    background-image: url('../img/svg/telecharger-gold.svg');
    background-repeat: no-repeat;
    background-position: 15px 12px;
    background-size: 14px;
    position: relative;
    &:after {
      background: url('../img/svg/telecharger-white.svg') no-repeat 15px 12px;
      background-size: 14px;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      @include transition(all 0.9s $smoothTransition);
    }
    &:hover {
      background-color: $gold;
      border-color: $gold;
      color: #fff;
    }
    &:hover:after {
      opacity: 1;
      visibility: visible;
    }
  }
  .active-btn {
    .button {
      pointer-events: all;
      color: #c29f5f !important;
      border-color: #c29f5f !important;
    }
    .button:hover {
      color: #fff !important;
      background-color: #c29f5f !important;
    }
  }
}

.downloading-press {
  .slideshow {
    border-bottom: 0px solid #fff;
  }
  .buttons {
    text-align: left;
    .button {
      background-image: url('../img/svg/telecharger-gold.svg');
      background-repeat: no-repeat;
      background-position: 15px 12px;
      background-size: 14px;
      position: relative;
      color: #c29f5f;
      border-color: #c29f5f;
      &:after {
        background: url('../img/svg/telecharger-white.svg') no-repeat 15px 12px;
        background-size: 14px;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.9s $smoothTransition);
      }
    }
    .button:hover {
      color: #fff;
    }
  }
  .buttons .button:after {
    background: url("../img/svg/telecharger-white.svg") no-repeat 15px 12px;
    background-size: 14px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    @include transition(all 0.9s $smoothTransition);
  }
  .button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  .contact-press {
    .button {
      color: #c29f5f;
      border: 1px solid #c29f5f;
    }
    .button:hover {
      background-color: #c29f5f;
      border-color: #c29f5f;
      color: #fff;
    }
  }
  .grid {
    padding: 0px !important;
  }
  .grid-wrapper {
    margin: 0px;
  }
  //  .button{
  //    color: #c29f5f;
  //    border: 1px solid #c29f5f;
  //    a{
  //      color: #c29f5f;
  //    }
  //  }
  //  .button:hover a{
  //    color:#fff ;
  //  }
  //  .button a:hover{
  //    color:#fff;
  //  }
  .downloading-nav {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    background-color: white;
    ul {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      li {
        display: inline-block;
        margin: 14px 14px;
        margin-top: 13px;
        a {
          color: #999999;
          line-height: 14px;
          font-family: $CamphorBold;
          text-transform: uppercase;
          font-size: 0.75rem;
          @include transition(all 0.5s $linear);
        }
        a:hover {
          color: #c29f5f;
        }
        a.active {
          color: #c29f5f;
        }
      }
    }
  }
  .affiche {
    padding-top: 59px;
    padding-bottom: 59px;
    .container {
      width: 970px;
    }
    .caption {
      margin-top: 12px;
    }
    //    .buttons{
    //      .button{
    //        border-color:#c29f5f;;
    //      }
    //    }
    p {
      margin-top: 45px;
    }
  }
  .block {
    .container {
      margin-bottom: 61px;
      padding-top: 60px;
      border-top: 1px solid #dfdfdf;
      .title-press {
        margin-bottom: 30px;
      }
      .container-title {
        position: relative;
        .number {
          color: #c29f5f;
          font-size: 0.88rem;
          letter-spacing: .2em;
        }
        .right-btn {
          position: absolute;
          top: -12px;
          right: 0px;
          text-transform: uppercase;
          font-size: 0.60rem;
          font-family: $CamphorHeavy;
          float: left;
          letter-spacing: .01em;
        }
      }
      .imgs-container {
        width: 293px;
        display: inline-block;
        vertical-align: top;
        margin: 0px 45px;
        .container-img {
          display: block;
          width: 293px;
          height: 293px;
          text-align: center;
          border: 1px solid #dfdfdf;
          margin-bottom: 11px;
          img {
            border: 0px solid #dfdfdf‡;
            vertical-align: middle;
          }
        }
        .container-img:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
        .infos {
          h4 {
            line-height: 24px;
            font-size: 0.75rem;
            letter-spacing: .2em;
            font-family: $CamphorBold;
            text-transform: uppercase;
            padding-top: 32px;
            padding-bottom: 4px;
          }
          ul {
            height: 90px;
          }
          li {
            color: #666666;
            font-size: 0.75rem;
            list-style: disc;
            list-style-position: inside;
            line-height: 20px;
          }
        }
        //        .button{
        //            border: 1px solid #c29f5f;
        //          a{
        //            color: #c29f5f;
        //          }
        //        }
        //          .button:hover a{
        //            color:#fff;
        //          }
      }
      .first {
        margin: 0px;
      }
      .last {
        margin: 0px;
      }
      .caption {
        color: #666666;
        font-size: 0.75rem;
        margin-bottom: 21px;
        display: block;
      }
      .player {
        margin-bottom: 18px;
      }
      .download-btns {
        padding: 40px 0px;
        .download {
          //          color: #c29f5f;
          //          border: 1px solid #c29f5f;
          padding-right: 14px;
          padding-left: 38px;
          text-transform: uppercase;
          font-size: 0.60rem;
          font-family: $CamphorHeavy;
          float: left;
          padding-top: 16px;
          padding-bottom: 16px;
          letter-spacing: .01em;
          @include transition(all 0.5s $linear);
        }
        .download:first-child {
          border-right: 0px solid #000;
        }
        //        .download:hover{
        //          background-color: #c29f5f;
        //          color:#fff;
        //        }
      }
      .contain-dp {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        .btns .button:first-child {
          border-bottom: 0px solid #fff;
        }
        .large {
          border-right: 1px solid #c8a461;
          width: 276px;
          @include transition(all 0.5s $linear);
          a {
            color: #c8a461;
          }
          a:hover {
            color: #fff;
          }
        }
        .large:hover {
          a {
            color: #fff;
          }
        }
        .large:first-child {
          border-bottom: 0px solid #fff;
        }
        .infos {
          margin-top: 9px;
          color: #666666;
          font-size: 0.63rem;
          font-family: $CamphorBold;
          text-transform: uppercase;
          strong {
            color: #c8a461;
          }
        }
      }
    }
  }
}