.results {
    
    min-height: 1000px;
    height: auto;

     @media screen and (max-width: 1280px) {
      .innerWrapper {
        width: 90%!important;
        max-width: 90%!important;
      }
    }

    span {
      color: #29afcf;
      text-transform: uppercase;
      font-size: 12px;
      font-family: $CamphorHeavy;
      letter-spacing: 1px;
    }

    .resultTitle {
        border-bottom: 2px solid #e5e5e5;
        padding-bottom: 30px;
        margin-bottom: 50px;
        margin-top: 80px;

        input[type=text] {
            color: #141414!important;
        }

        h3, input {
          font-size: 36px;
          text-transform: intitial;
          color: #141414;
          width: 340px;
          margin: 0px 0px 0px 0px;
          font-family: "Playfair Display",Times New Roman,Times,serif;
          border-right: 1px solid #e5e5e5!important;
          padding: 0px 30px 0px 0px;
          line-height: 45px;
          float: left;
          margin-top: -35px;
          border: none;

            &::-webkit-input-placeholder {
               color: #141414!important;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: #141414!important;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: #141414!important;
            }

            &:-ms-input-placeholder {  
               color: #141414!important;
            }
            &:focus::-webkit-input-placeholder { color:transparent!important; }
            &:focus:-moz-placeholder { color:transparent!important; } /* FF 4-18 */
            &:focus::-moz-placeholder { color:transparent!important; } /* FF 19+ */
            &:focus:-ms-input-placeholder { color:transparent!important; } /* IE 10+ */
        }

        span {
            color: #e5e5e5;
            font-family: $CamphorHeavy;
            font-size: 10px;
            border-right: 1px solid #e5e5e5;
            padding-right: 10px;
            margin-top: -10px;
            float: right;
            width: 10%;
            margin-right: 25px;
            line-height: 25px;
            cursor:pointer;
        
        }

        .loupe {
            float: right;
            width: 1px; 
            background: transparent;
            border: none !important;
            background: url(/img/loupeGold.png) no-repeat;
            margin-top: -10px;
            display: block;
        }
    }

    .results-sections {
      width: 20%;
      height: auto;
      float: left;
    }
    
    .results-content {
      width: 80%;
      height: auto;
      float: left;

    .hide {
        display: none!important;
    }

    .contents {

        padding-bottom:20px;
        display: block;
        float: left;
        width: 100%;

        hr {
            width: 95%;
            border-top: 2px solid #e5e5e5;
        }

        .projection {
            display: block;
            height: auto;
            padding-top: 7%;

            .programme {
                margin-bottom: 20px!important;
                font-family: $Playfair;
                font-weight: bold!important;
                width: 90%;
                margin: 0 auto;
                padding: 50px 20px 60px 20px;
            }
        }
    }
    
    .resultsTitle {

        line-height: 50px;


            h6 {
                text-align: left;
                width: 47%;
                float: left;
                text-transform: uppercase;
                color: #141414;
                font-size: 13px;
                font-family: $CamphorBold;
                margin-left: 3%;
                letter-spacing: 1px;
            }

            .seeAll {
                width: 45%;
                float: left;
                text-align: right;
                text-transform: uppercase;
                color: #c3a05f;
                font-size: 13px;
                font-family: $CamphorBold;
                margin-right: 1%;
            }
        }

      .articles {
        width: 27%;
        height: 295px;
        margin: 0% 3%;
        float: left;

        .photoWrapper {
            width: 100%;
            height: 140px;
            overflow: hidden;
            display: block;

            .mainPic {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .floatingIcon {
                position: absolute;
                margin-top: 85px;
                margin-left: 15px;
            }
        }

        .textWrapper {
            text-align: left;
            display: block;

            h6, span {
                font-size: 10px;
                color: #c3a05f;
                font-family: $CamphorHeavy;
                text-transform: uppercase;
                line-height: 60px;
                letter-spacing: 1px;
                @media screen and (max-width:$mobileWidth) {
                    font-size: 10px;
                    line-height: 45px;
                    letter-spacing: 0px;
                }
            }

            span {
                color: #505050;
                margin-left: 5px;
            }

            p {
                font-size: 16px;
                color: #141414;
                letter-spacing: 1px;
                opacity: 0.9;
                font-family: $Playfair;
                line-height: 22px;
                text-align: left;
            }

            .redtitle {
                color:#ec3050;
            }

            .blackTitle {
                color: #505050;
                font-family: $CamphorBold;
                line-height: 22px;
                margin-top: 20px;
                font-size: 13px;
            }
        }
      }
    }

    .hideOverflow {
      overflow: hidden;
    }

      .results-boxes {
        @include transition(all .6s $smoothTransition);
        text-align:left;
        width: 135px;
        height: 40px;
        float: left;
        display: block;
        background:#FFFFFF;
        z-index: 1002;
        margin-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom:10px;

        span {
          color: #141414;
          text-transform: uppercase;
          font-size: 14px;
          font-family: $CamphorHeavy;
          letter-spacing: 1px;
            width: 10%;
            float: left;
            line-height: 50px;
        }

        h6 {
            color: #141414;
            font-family: $CamphorBold;
            text-transform: uppercase;
            line-height: 50px;
            font-size: 14px;
            width: 80%;
            float: left;
        
            &:hover {
                cursor: pointer;
            }
          }
        .active {
            color: #c3a05f;
        }
      }
}