/* Menu */


.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: opacity 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.st-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 600px;
  height: 100%;
  background: #141414;
  -webkit-transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: opacity 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

/* content style */


/* Slide in on top */
.st-effect.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect.st-menu-open .st-effect.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect.st-menu::after {
  display: none;
}
#menu{
  /*height: 100%;*/
  overflow-y: scroll; 
}
#menu #logo{
  display: block;
    text-align: center;
    vertical-align: middle;
    width: 225px;
    margin: 50px auto 40px;
}

#menu #logo img.palm{
    display: block;
    margin: 0 auto;
    width: 156px;
    -moz-transition: width 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    -o-transition: width 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    -webkit-transition: width 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    transition: width 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
 #menu #logo h1 {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 1.250rem;
    font-weight: normal;
    text-align: center;
}
 #menu #logo h2 {
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    font-size: 0.850rem;
    font-weight: normal;
    margin-top: 2px;
    text-align: center;
}

#menu #logo h2 a {
    color: #c8a461;
    text-transform: uppercase;
}
#menu .menu-section{
  border-top: 1px solid #2c2c2c;
}
#menu .small-separator{
  margin: 25px 60px 0;
  background-color: #2c2c2c;
  height: 1px;
}
#menu .section-title, #menu .section-contain{
  padding: 0 60px;
  position: relative;
}
#menu .section-title h3{
  color: #fff;
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bolder;
  padding: 25px 0;
  text-transform: uppercase;
}
#menu .section-title h3.open{
  
}
#menu .section-title .more-minus{
  display: block;
    position: absolute;
    top: 21px;
    right: 60px;
    font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
font-weight: bolder;
    font-size: 2rem;
}
#menu .section-contain a{
  color:#fff;
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding: 25px 0;
  text-transform: uppercase;
  display: block;
}
#menu .section-open .open .section-title h3{
  color:#c8a461;
}
#menu .section-open .section-title h3{
  color:#434343;
}
#menu .section-open .open .section-title h3{
  color:#c8a461;
}
#menu .section-contain {
  height: 0;
  -moz-transition: all 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  overflow: hidden;
}
#menu .open .section-contain.subsection-1{
  height: 370px;
}
#menu .open .section-contain.subsection-2{
  height: 220px;
}
#menu .second-nav, #menu .third-nav{
  padding: 25px 60px;
}
#menu .second-nav a, #menu .third-nav a, #menu .third-nav ul{
  color:#9d9d9d;
  padding: 25px 0;
  display: block;
  font-size: 28px;
  font-weight: 700;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
}
#menu .second-nav a{
  text-transform: uppercase;
  font-size: 26px;
}
#menu .third-nav a, #menu .third-nav ul, #menu .third-nav .language .icon{
  color:white;
}
#menu .second-nav .icon, #menu .third-nav .icon, #menu .third-nav .language .icon{
  margin-right: 25px
}
#menu .third-nav .language .icon{
  font-size: 28px;
}
#menu .socials{
  padding: 25px 60px;
}
#menu .socials h3{
  color: #fff;
  padding: 25px 0;
}
#menu .socials ul{
  width: 110%;
  margin-left: -8px;
  padding: 25px 0;
}
#menu .socials li{
  display: inline-block;
}
#menu .socials li a{
  color: #fff;
  display: inline-block;
    width: 49px;
    /* text-align: center; */
    font-size: 2.1rem;
    margin-right: 4px;
    
}
#menu #partners{
  padding: 25px 60px;
}
#menu #partners a{
  width: 132px;
    display: inline-block;
    margin-right: 34px;
    margin-top:24px;
    margin-bottom: 24px;
    text-align: center;
}
#menu #partners a:nth-child(3n+3){
  margin-right: 0;
}
#menu .footer-menu{
  padding: 0px 60px 60px;
}
#menu .footer-menu p, #menu .footer-menu a{
  color: #878787;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  font-size: 19px;
  padding: 16px 0;
  display: inline-block;
}
#menu .footer-menu li{
  float: left;
  width: 50%;
}
#menu .footer-menu .clear{
  clear: both;
}
#menu #top-menu{
  height: 72px;
  background: #080808;
}
#menu #top-menu{
      font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
}
#menu .top-nav li{
  display: inline-block;
  margin: 0;
}
#menu #top-menu .item{
  height: 100%;
}
#menu #top-menu a{
  color: #8c8c8c;
    display: block;
    font-size: 1.28rem;
    font-weight: 700;
    padding: 27px 34px;
    text-transform: uppercase;
    -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#menu #top-menu a.active {
    background-color: #141414;
    color: #c8a461;
}
#menu #top-menu .owl-stage{

  height: 100%;
}
#menu #top-menu .owl-stage-outer{

  width: 100%;
  margin-left: 0;
}
#menu .active-page .section-title h3, #menu .second-nav .active-page a,#menu .third-nav .active-page a, #menu .footer-menu .active-page a{
  color: #c8a461;
}
#menu .language ul{
  display: inline-block;
}
#menu .language li{
  display: none;
  padding: 0 10px;
}
#menu .language li.active-language{
  display: inline-block;
}
#menu .language .show li.active-language{
  color: #c8a461;
}
#menu .language .show li{
display: inline-block;
}