.count{

	color:#c8a461;;
}
.my-selection {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 600px;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  overflow-y: scroll; 
  padding: 0 75px 40px 100px;
  box-sizing:border-box;
}
.st-effect.my-selection {
  visibility: visible;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.st-effect.st-selection-open .st-effect.my-selection {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#main::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  content: '';
  z-index: 51;
}
#main.st-selection-open::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: opacity 0.5s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}


/*ARTICLES*/

.my-selection .title.one-line{
  margin: 70px 0 50px 0;
}
.my-selection .content-container{

  width: 430px;
}
.my-selection .img-container{

	position: relative;
	width: 400px;
	height: 250px;
  float: none;
  margin: 0;
}
.my-selection .thumb{
	position: relative;
	margin-bottom: 60px;
}
.my-selection .thumb .img{
	width: 515px;
}
.my-selection .thumb  img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}
.my-selection .thumb .picto{
	position: absolute;
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	z-index: 2;
}
.my-selection .thumb .picto .icon{

	color:#c8a461;
	/*font-size: 1.5rem;*/
	font-size: 30px;
}
.my-selection  .info{
	width: 355px;
	margin: 30px auto 0 auto;
	font-family: "Camphor W01 Medium", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#666666;
}
.my-selection  .info .category{

	color: #c8a461;   
    letter-spacing: 0.1em;
    margin-right: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
    display: inline-block;

}
.my-selection  .info h2{

	color: #000;
	text-align: center;
	margin-top: 15px;
	font-family: "Playfair Display", Times New Roman, Times, serif;
	font-size: 25px;
	line-height: 30px
}
.my-selection .top-info{

	margin: 0 auto;
	display: table;
	text-align: center;
}

.my-selection .thumb a:not(.delete){

  display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}
.delete{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    content: '';
    display: block;
    height: 55px;
    position: absolute;
    right: 0;
    top: -22px;
    width: 55px;
    z-index: 5;
    text-align: center;
    line-height: 55px;
}
.delete .icon{
  color:#7f7f7f;
  font-size: 12px;
}
.container .owl-item a:not(.director):not(.titleLink):not(.category),.film .owl-item a:not(.director):not(.titleLink):not(.category){

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}
/*FILTERS*/
#myselection-filters{
  height: 110px;
  z-index: 50;
  width: 141%;
  margin-left: -23%; 
  margin-bottom: 20px;
}

#myselection-filters .vid {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 165px;
  line-height: 110px;
  padding: 0 20px 0 20px;

}

#myselection-filters .vid p{
  
  display: block;
  font-size: 1.5rem;
  margin-top: 3px;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
#myselection-filters .vid p a{
  color:  #999999;
}
#myselection-filters .vid p a.active{
  color: #c8a461;
}
#myselection-filters .owl-stage{

  height: 100%;
}
.suggestion{
	display: none;
}