<body class="plan" id="main">
<section>
    <div class="section-contain" >
        {% for widget in plan.widgets %}
            {% if class(widget) == "FDCPageParticipateSectionWidgetTypeone" %}
                {% include 'FDCEventBundle:Mobile/widgets:widget_one.html.twig' with {'widget': widget} %}
            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypetwo" %}
                {% include 'FDCEventBundle:Mobile/widgets:widget_two.html.twig' with {'widget': widget} %}
            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypethree" %}
                {% include 'FDCEventBundle:Mobile/widgets:widget_three.html.twig' with {'widget': widget} %}
            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefour" %}
                {% include 'FDCEventBundle:Mobile/widgets:widget_four.html.twig' with {'widget': widget} %}
            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefive" %}
                {% include 'FDCEventBundle:Mobile/widgets:widget_five.html.twig' with {'widget': widget} %}
            {% elseif class(widget) == "FDCPageParticipateSectionWidgetSubTitle" %}
                {% include 'FDCEventBundle:Mobile/widgets:widget_subtitle.html.twig' with {'widget': widget} %}
            {% endif %}
        {% endfor %}
    </div>
</section>
</body>