{% trans_default_domain 'FDCPressBundle' %}

<div class="contain-good-practice">
    <div class="item-good-practice">
        <i class="icon icon_enregistreur"></i>
        <strong>Pas d'utilisation d'enregistreur vidéos/audios/photos</strong>
    </div>
    <div class="item-good-practice">
        <i class="icon icon_selfie"></i>
        <strong>Pas de selfies sur les marches</strong>
    </div>
    <div class="item-good-practice">
        <i class="icon icon_telephone"></i>
        <strong>Pas de téléphone dans les salles</strong>
    </div>
    <div class="item-good-practice">
        <i class="icon icon_dress-code"></i>
        <strong>Dress Code exigé</strong>
    </div>
</div>