{% trans_default_domain 'FDCPressBundle' %}

<div class="contain-map">
    <strong class="name">Dans le palais</strong>
    <img src="img/participate/map4.jpg" alt="" class="map">
    <span class="loc">Salles B à H - <strong>Localisation</strong> : niveau F+3</span>
    <span class="loc">Salles I - J - K <strong>Localisation</strong> : niveau F + 4</span>
</div>
<div class="contain-map">
    <strong class="name">Dans le palais</strong>
    <img src="img/participate/map4.jpg" alt="" class="map">
    <span class="loc">Salles B à H - <strong>Localisation</strong> : niveau F+3</span>
    <span class="loc">Salles I - J - K <strong>Localisation</strong> : niveau F + 4</span>
</div>
<div class="contain-map">
    <strong class="name">Dans le palais</strong>
    <img src="img/participate/map4.jpg" alt="" class="map">
    <span class="loc">Salles B à H - <strong>Localisation</strong> : niveau F+3</span>
    <span class="loc">Salles I - J - K <strong>Localisation</strong> : niveau F + 4</span>
</div>