{% trans_default_domain 'FDCPressBundle' %}

<div class="item-partners">
    <div class="contain-img">
        <img src="img/participate/Logo-partners1.jpg" alt="">
    </div>
    <div class="text-partners">
        <h4 class="title-partners">Air france</h4>
        <p class="descrip-partners">
            Air France, partenaire officiel du Festival de Cannes, s'attache à faire vibrer tout au long de l'année le cinéma à bord de ses avions. La compagnie offre l'accès à plus de 1 000 heures de programmation à la demande sur de larges écrans tactiles sur ses vols long-courriers, idéal pour une projection en plein ciel.</p>
        <a href="#" class="link">Site internet</a>
    </div>
</div>