{% if sliders is defined and sliders is not null %}
    {% set isMultiple = sliders|length > 1 %}
    {% if isMultiple %}
        <div id="owl-accred" class="owl-carousel owl-theme">
    {% endif %}
        {% for slider in sliders %}
            {% if isMultiple %}
                <div class="item">
            {% endif %}
                <div class="contact-box altImgCustom" style="background: url('{% path slider.translatable.image|trans_fallback('file'), 'reference' %}'); background-size: cover; background-repeat: no-repeat;">
                    <div class="text-presentation accreditation">
                        <h3>{{ slider.title }}</h3>
                        <h5>{{ slider.subTitle }}</h5>
                        <div class="container">
                            <a href="{{ slider.url }}">
                                <div class="blackBtn">{{ 'read_more'|trans }}</div>
                            </a>
                        </div>
                    </div>
                </div>
            {% if isMultiple %}
                </div>
            {% endif %}
        {% endfor %}
    {% if isMultiple %}
        </div>
    {% endif %}
{% endif %}