<div class="our-news dynamic">
    <span>DECOUVREZ</span>
    <h3>les derniÈrEs actualités</h3>
    <div class="innerWrapper">
        {% for newsItem in news %}
            <div class="articles">
                <div class="readMore">...</div>
                {% if newsItem.translatable.image is not empty %}
                    <div class="articles-img"><img src="{% path newsItem.translatable.image|trans_fallback('file'), 'reference' %}"></div>
                {% endif %}
                <div class="articles-content">
                    <span>{{ newsItem.newsTheme }} <span class="article-date">{{ newsItem.translatable.publishedAt|date("d M Y") }}</span></span>
                    <h6>{{ newsItem.newsTitle }}</h6>
                    <p>{{ newsItem.description|raw }}</p>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
