@media print{

  body{
    -webkit-print-color-adjust: exact;
    padding: 10px;
    margin: 0px;
    width: 700px !important;
    overflow: auto;
    margin-top: 0px !important;
    background-color: #fff !important;
  }

  .list-article, .honneur-invit, .contain-article-invit{
    background-color: #fff !important;
    color:#000 !important;

    .video-player, .video{
      display: none;
    }

    .half-photo{
      margin-right: 20px !important;
      width: 45% !important;
    }

    .audio-player {
      display: none;
    }

    .slideshow{
      display: none;
    }

    .contain-img-honneur img{
      max-width: 100%;
    }

    .quote blockquote{
      color: #000 !important;
    }

    .categorie-items article{
      display: none !important;
    }

  }

  .categorie-items .title-list-cat, .categorie-items .title-list-cat .title-big{
    color: #000;
  }


  .accreditation #accreditation .wrapper,  .contain-img-honneur, .pres-honneur, .categorie-items .title-list-cat .title-item{
      width: 500px !important;
      margin: 0 auto ;
  }

  .container{
    width: 600px !important;
    margin: 0px auto !important;
  }

  .single-article {
    padding: 0px 0px;

    .video-player{
      display: none;
    }

    .half-photo{
      margin-right: 20px !important;
      width: 45% !important;
    }

    .audio-player {
      display: none;
    }

    .slideshow{
      display: none;
    }

  }

  .header-press{
    .head{
      display: none;
    }

    p{
      display: none;
    }
  }

  .slideshow .slideshow-img{
    background-color: #fff !important;
  }

  .article_photo .slideshow-img .images .img {
    // opacity: 1 !important;
    display: block !important;
    visibility: visible !important;
  }

  .contact-press{
    .button{
      display: none;
    }
  }

  .nav-container{
    .buttons{
      display: none;
    }
  }

  .request{
    display: none;
  }

  #breadcrumb{
    display: none;
  }

  footer, header, header.press, #share-article, .print, .nav.prev, .nav.next, .nav-accre, .share, .film, .focus, .same-day, .bandeau-list, .nav-movie{
    display: none !important;
  }

  .owl-stage{
    margin-left: 0px !important;
    padding: 0px;
  }

  .main-image{
      display: none !important;
  }

  .trailer{
    display: none !important;
  }

  .poster.video{
    display: none;
  }

  .info-film{
    color: #000 !important;
  }

  .single-movie{
    padding-top: 0px !important;

     .palmares{
       width: 100% !important;
     }

     #nav-movie{
       display: none !important;
     }

     .videos, .slideshow-img, .news, .audios, .press{
       display: none;
     }
  }

}
