<a href="/{{app.request.locale}}/">
    {% if settings.festivalStartsAt and settings.festivalEndsAt %}
        {% if app.request.locale == 'zh' %}
            2017年5月17至28日
        {% else  %}
            17-28 {{ settings.festivalEndsAt|localizeddate('medium', 'none', app.request.locale, null, 'LLLL') }} 2017
        {% endif  %}
    {% endif %}
</a>