<a href="/">
    {% if settings.festivalStartsAt and settings.festivalEndsAt %}
        {{ settings.festivalStartsAt|date('d') }}-{{ settings.festivalEndsAt|localizeddate('medium', 'none', app.request.locale) }}
    {% endif %}
</a>