{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle:Search:base.html.twig' %}
{% block content %}
    {% for article in items %}
        <article class="article" data-format="article" data-theme="competition">
            <div class="image">
                <img src='{% path article.image|trans_fallback('file'), '265x165' %}' alt="{{ article.header|trans_fallback('alt') }}"/>
                <a href="{{ path('fdc_event_participate_getpage', {'slug': article|trans_fallback('slug') }) }}" class="linkImage"></a>
                <span class="picto"><i class="icon icon_article"></i>
                </span>
            </div>
            <div class="info">
                <h2>
                    <a href="{{ path('fdc_event_participate_getpage', {'slug': article|trans_fallback('slug') }) }}">
                        {{ article|trans_fallback('title')|truncate(40) }}
                    </a>
                </h2>
            </div>
        </article>
    {% endfor %}
{% endblock %}