.jwplayer {

	&.jw-skin-fdc.jw-state-playing,
	&.jw-skin-fdc.jw-state-complete {
		.jw-title {
			display: block;
			top: 1rem;
			margin-left: 10.3rem;

			.Article-header & {
				top: 2.2rem;
			}
		}

		.jw-text-elapsed,
		.jw-text-duration {
			display: none;
		}
		
		.jw-icon-playback {
			background: url(../../img/article/audioPlayer/pause.png) no-repeat 2rem 3rem;
			background-position: 2rem center;
			background-size: 1.2rem;
			left: 3.7rem;
			top: -0.2rem;

			&:before {
				content: "";
			}
		}
	}

	&.jw-skin-fdc-video.jw-state-buffering {
		.jw-display-icon-container .jw-icon-display, .jw-controlbar {
			display: none;
		}	
	}

	&.jw-skin-fdc.jw-state-idle {
		.jw-icon-playback {
			background: transparent;
		}

		.jw-title {
			top: 2.2rem;
		}

		.jw-text-elapsed,
		.jw-text-duration {
			display: none;
		}

	}

	&.jw-skin-fdc.jw-state-paused {
		.jw-title {
			display: block;
		}

		.jw-icon-playback {
			background-position: 2rem center;
			background-size: 1.2rem;
			left: 3.7rem;
			top: -0.2rem;

			&:before {
				content: "";
			}
		}

		.jw-controlbar-center-group {
			display: none;
		}
	}

	&.jw {
		&-skin-fdc {
			height: 9rem;
			background: transparent;

			.jw-icon-volume {display: none!important }
			.jw {
				&-icon-fullscreen {
					display: none;
				}

				&-time-tip {
					display: none;
				}

				&-background-color {
					background-color: #c9a45e;
					width: 100%;
					height: 100%;
					top: 0px;
					margin-top: 0px;

					.Article-header & {
						background-color: transparent;
						background-image: inherit;
					}
				}

				&-rail, &-buffer, &-progress {
					background: rgba(255,255,255,.2);
				}

				&-knob {
					background: #fff;
				}

				&-controlbar {
					> * {
						vertical-align: middle;
					}
				}

				&-title {
					background: none;
					z-index: 1;
					height: auto;
					margin-left: 9rem;
					top: 1.7rem;

					&-primary {
						height: auto;
						padding: 0px;
						min-height: initial;
						width: 80%;
						font-family: "Playfair Display";
						font-size: 1.4rem;
						font-weight: normal;
						overflow: hidden;
					}

					&-secondary {
						height: auto;
						padding: 0px;
						min-height: initial;
						font-size: 0.8rem;
						font-family: "Open Sans";
						text-transform: uppercase;
						margin-top: 1.8rem;
						overflow: hidden;
					}
				}

				&-icon-playback {

					background: url(../../img/article/audioPlayer/play.png) no-repeat 2rem 3rem;
					background-size: 1.8rem;

					&:before {
						content: "";
					}
				}

				&-slider-container {
					vertical-align: top;
					height: 100%;
				}

				&-slider-horizontal {
					height: 0.5rem;
					overflow: hidden;
					width: 85%;
					float: right;
				}

				&-controlbar-left-group {
					background: url(../../img/article/audioPlayer/mic.png) no-repeat 2.5rem 3rem;
					background-size: 1.8rem;
				}

				&-display-icon-container {
					.jw-icon-display {
						text-align: left;
						background: url(../../img/article/audioPlayer/mic.png) no-repeat 2.5rem 3rem;
						background-size: 1.8rem;

						&:before {
							content: "";
							width: 1.2rem;
							height: 1.9rem;
							display: inline-block;
							background: url(../../img/article/audioPlayer/play.png) no-repeat left top;
							background-size: 100%;
							vertical-align: top;
							margin-top: .5rem;
							margin-left: 6.3rem;
						}
					}
				}
			}
		}

		&-skin-fdc-video {
			position: relative;
			margin-bottom: 2rem;

			.Article-header & {
				margin-bottom: 0px;
			}

			&.jw-state-complete {
				.jw-display-icon-container{
					& > .jw-icon {
						background: transparent;
					}
				} 
			}
			.jw-display-icon-container{
				& > .jw-icon {
					width: 100%;
					height: 100%;
					position: absolute;
					background: transparent url(../../img/article/video-play-btn.png) no-repeat center;
					background-size: 2.2rem;
					z-index: 1;

					.Article-header & {
						background-size: 3.5rem;
					}
				}
			} 

			.jw-slider-container {
				height: 3px;
				top: -18px;
				overflow: hidden;
			}

			.jw-icon {
				color: #fff;
			}

			&.jw-state-idle .jw-icon-display:before {
				content: "";
			}

			.jw-tooltip-time, .jw-icon-hd {
				display: none!important;
			}

			.jw-background-color,
			.jw-display-icon-container {
				background: transparent!important;
				background-color: transparent!important;
			}

			.jw-controlbar {
				width: 100%;

				&-left-group {
					width: 18%;
					display: inline-block;
				}

				&-center-group {
					width: 66%;
					display: inline-block;
				}

				&-right-group {
					width: 15%;
					display: inline-block;
					text-align: right;
				}
			}


			.jw-title {
				position: absolute;
				left: 0px;
				bottom: 0px;
				top: auto;
				color: #fff;
				width: 100%;
				padding: 0 5% 5% 5%;
				height: auto;

				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
				background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(0, 0, 0)),color-stop(1, rgba(0, 0, 0, 0)));
				background-image: -webkit-repeating-linear-gradient(bottom,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
				background-image: repeating-linear-gradient(to top,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
				background-image: -ms-repeating-linear-gradient(bottom,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);

				&--hidden {
					display: none;
				}

				&-primary {
					min-height: 0px;
					padding: 0px;
					overflow: visible;
					
					width: 100%;
					position: relative;
				}

				&-secondary {
					padding: 0px;
					padding-top: 1rem;
					overflow: visible;
					font-weight: normal;
					font-family: "Open Sans";
					font-weight: 300;
					font-size: 1.2rem;
					line-height: 1.5rem;
					white-space: initial;
					width: 100%;
				}
				
				h4 {
					display: inline;
					color: #c9a45e;
					text-transform: uppercase;
					font-size: 1rem;
					font-family: "Camphor W01 Heavy";
				}

				.Article-content & p {
					display: inline;
					font-family: "Camphor W01 Regular";
					font-size: 1rem;
					color: #b8b8b8;
				}
			}
		}
	}
}