<ul class="a2lix_translationsLocales nav nav-tabs">
    {% for translationsFields in form %}
        {% set locale = translationsFields.vars.name %}
        <li data-locale="{{ locale }}" {% if currentLocale == locale %}class="nav-tab-active active"{% endif %}>
            <a {% if translationsFields.vars.value is not null %}class="{{ translationsFields.vars.value.status|translate_status_to_admin_class }}"{% endif %} href="#" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
                {{ ('lang.' ~ locale)|trans({}, 'BaseAdminBundle') }}<br/>
                {% if form.vars.default_locale == locale %}[MASTER]{% else %}<br/>{% endif %}
            </a>
        </li>
    {% endfor %}
</ul>