<div class="top-texts">
    <a href="search-result-more.html" class="see-all">Tout voir</a>
    <h3>Médias - 12 résultats</h3>
</div>

<section class="medias">
    <article class="block-poster-search medias">
        <div class="item video">
            <a href="#">
                <div class="contain-img landscape">
                    <img src="media/images/search-06.jpg" alt=""  >
                    <i class="picto icon icon-video"></i>
                    <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                </div>
                <div class="contain-txts">
                    <span class="title-type-media">montée des marches</span>
                    <span class="title-dates">18.05.15  .  09:00</span>
                    <span class="title-media">Vincent Cassel dans Tale<br>of Tales</span>
                </div>
            </a>
        </div>
    </article>

    <article class="block-poster-search medias">
        <div class="item video">
            <a href="#">
                <div class="contain-img landscape">
                    <img src="media/images/search-06.jpg" alt=""  >
                    <i class="picto icon icon-audio"></i>
                    <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                </div>
                <div class="contain-txts">
                    <span class="title-type-media">montée des marches</span>
                    <span class="title-dates">18.05.15  .  09:00</span>
                    <span class="title-media">Vincent Cassel dans Tale<br>of Tales</span>
                </div>
            </a>
        </div>
    </article>

    <article class="block-poster-search medias">
        <div class="item video">
            <a href="#">
                <div class="contain-img landscape">
                    <img src="media/images/search-06.jpg" alt=""  >
                    <i class="picto icon icon-video"></i>
                    <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                </div>
                <div class="contain-txts">
                    <span class="title-type-media">montée des marches</span>
                    <span class="title-dates">18.05.15  .  09:00</span>
                    <span class="title-media">Vincent Cassel dans Tale<br>of Tales</span>
                </div>
            </a>
        </div>
    </article>

    <article class="block-poster-search medias">
        <div class="item last audio">
            <a href="#">
                <div class="contain-img landscape">
                    <img src="media/images/search-06.jpg" alt=""  >
                    <i class="picto icon icon-audio"></i>
                    <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                </div>
                <div class="contain-txts">
                    <span class="title-type-media">montée des marches</span>
                    <span class="title-dates">18.05.15  .  09:00</span>
                    <span class="title-media">Vincent Cassel dans Tale<br>of Tales</span>
                </div>
            </a>
        </div>
    </article>
</section>