{% trans_default_domain 'FDCCorporateBundle' %}

{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}{% endblock %}

{% block body %}

<section class="brigth search-page-result" id="main">
    <div>

        {% include 'FDCCorporateBundle:Search:components/filters.html.twig' with {'filters': filters} %}

        <div class="block-search block-01">
            <div class="content-result result-more">

                {% set itemType = app.request.attributes.get('_route_params') %}
                {% set itemType = itemType['searchFilter'] %}
                {% include 'FDCCorporateBundle:Search:' ~ itemType ~ '.html.twig' with {'result': result} %}

            </div>

            {% include 'FDCCorporateBundle:Search:components/pushs.html.twig' %}

        </div>
    </div>
</section>

{% endblock %}