{% trans_default_domain 'FDCCorporateBundle' %}

{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}{% endblock %}

{% block body %}

<section class="brigth search-page-result" id="main">
    <div>

        {% include 'FDCCorporateBundle:Search:components/filters.html.twig' with {'filters': filters} %}

        <div class="block-search block-01">
            <div class="content-result result-more">

                {% set itemType = app.request.attributes.get('_route_params') %}
                {% set itemType = itemType['searchFilter'] %}
                {% include 'FDCCorporateBundle:Search:' ~ itemType ~ '.html.twig' with {'result': result} %}

            </div>

            <div class="block-push-03">
                <div class="half-div block-push block-push-item">
                    <div class="vFlexAlign">
                        <div>
                            <strong class="title">Les meilleurs interprètes masculins depuis 1960</strong>
                            <a class="link" href="#"><i class="icon icon-arrow-right"></i> découvrir</a>
                        </div>
                    </div>
                    <img src="media/images/search-01.jpg" alt="">
                </div><!--
    --><div class="half-div block-push block-push-item">
                    <div class="vFlexAlign">
                        <div>
                            <strong class="title">Les meilleures interprètes féminines depuis 1960</strong>
                            <a class="link" href="#"><i class="icon icon-arrow-right"></i> découvrir</a>
                        </div>
                    </div>
                    <img src="media/images/search-02.jpg" alt="">
                </div>
            </div>

            <div class="block-push block-push-03-alone">
                <div class="vFlexAlign">
                    <div>
                        <strong class="title-2">Les jurys de l’édition 2010</strong>
                        <a class="link" href="#"><i class="icon icon-arrow-right"></i> découvrir</a>
                    </div>
                </div>
                <img src="media/images/search-03.jpg" alt="">
            </div>

        </div>
    </div>
</section>

{% endblock %}