{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}

<div id="main" class="press loading practicalguide lock">

    {% include 'FDCPressBundle:Global:components/headerPress.html.twig' %}

    <div id='praticalguide'>
        {% for key, section in guideContent.section %}

            <section class="container-pguide {% if key == 'arrive' %}active{% endif %}">
                <div class="wrapper">
                    {% if key == 'arrive' %}
                        {% include 'FDCPressBundle:Guide:components/arrive.html.twig' %}
                    {% elseif key == 'infos' %}
                        {% include 'FDCPressBundle:Guide:components/infos.html.twig' %}
                    {% elseif key == 'appointment' %}
                        {% include 'FDCPressBundle:Guide:components/appointment.html.twig' %}
                    {% elseif key == 'service' %}
                        {% include 'FDCPressBundle:Guide:components/service.html.twig' %}
                    {% endif %}
                </div>
            </section>

        {% endfor %}
    </div>

    {{ render(controller('FDCPressBundle:Global:contact')) }}

</div>
{% endblock %}