{% trans_default_domain 'FDCEventBundle' %}

<h4>{{ widget.description }}</h4>
<div class="shadow-bottom video w2 video-player">
    <img src="{{ widget.image.path }}" alt="">
    <div class="picto"></div>
    <div class="info">
        <div class="vCenter">
            <div class="vCenterKid">
                <a href="#" class="category">Cannes Classic</a><span class="date">18.05.15 . 09:00</span>
                <p>La Bande Annonce de Z</p>
            </div>
        </div>
    </div>
</div>