// Global
// =========================
#filteredArticles article:nth-of-type(3n-1) {
  margin: 0 6.5%;
}

.card {
  height: 305px;
  box-sizing: border-box;
  float: left;
  padding-left: 21px;
  padding-right: 21px;
  position: relative;
  width: 32%;
  padding-top: 24px;

  .linkAllCover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top:0;
    left: 0;
    z-index: 4;
  }

  .evenements &, .articles-list &  {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    min-height: 310px;
  }

  .evenements &, .articles-list &  {
    height: auto !important;

    .image {
      .image-wrapper {
        img {
          min-height: unset !important;
        }
      }
    }
  }

  .evenements & .info, .articles-list & .info{
    height: auto !important;
  }

  &.w2.double {
    height: 613px;
    //padding-left: 21px;
    padding-left: 0px;

    .evenements &, .articles-list &  {
      padding-left: 0px;
      min-height: 610px;
    }

    .image {
      height: 362px;
      width: 572px;

      .evenements &, .articles-list &  {
        width: 89.9%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;

        img {
          position: relative;
        }
      }
    }
  }

  .info {
    font-family: $CamphorMedium;
    text-align: center;
    height: 44px;

    .category {
      color: $gold;
      display: inline-block;
      font-size: 0.625rem;
      letter-spacing: 0.1em;
      margin-right: 12px;
      text-transform: uppercase;
    }

    span {
      color: #666;
      display: inline-block;
      font-size: 0.625rem;
    }

    strong {
      max-width: 92%;

      .evenements &, .articles-list & {
        max-width: 74%;
        font-family: $CamphorThin;
        font-weight: normal;
      }

      .articles-list & {
        font-family: $CamphorThin;
      }
    }
  }

  &.double {
    height: 575px;
    padding-left: 0;
    width: 68%;

    strong {
      font-size: 1.875rem;
      line-height: 1.3em;
      margin-top: 20px;
      max-width: 74%;

      .evenements &, .articles-list &  {
        font-size: 2.25rem;
        font-family: $CamphorThin;
        font-weight: normal;
      }
    }

    .image {
      height: 362px;
      margin-bottom: 35px;
    }
  }

  &:hover .image .read-later {
    opacity: 1;
    visibility: visible;
  }

  &:hover .image .image-wrapper img {
    @include transition(all 4s $linear);
    @include transform(scale(1.08) translateZ(0));
  }

  .image {
    .image-wrapper {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 0;
      top: 0px;
      left: 0px;

      img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;

        .evenements &, .articles-list &  {
          min-height: initial !important;
          display: block;
        }

        max-width: 100%;
        width: auto;
        height: auto;
        @include transition(all 3s $linear);
        object-fit: cover;
      }
    }

    height: 165px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    .evenements &, .articles-list &  {
      width: 79.1%;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;

      img {
        position: relative;
      }
    }

    .linkImage {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .read-later.rAlign span:after {
    left: 132px;
  }

  &.small-left {
    padding-left: 0px;
    padding-right: 45px;
  }

  &.double-right {
    height: 329px;
  }

}

.card-01 {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  //height: 202px;
  position: relative;
  height: auto;

  .image .image-wrapper, &.card.w2.double {
    height: auto;
  }

  .image .image-wrapper img {
    min-height: initial;
    position: relative;
    display: block;
  }

  &.double {
    .image {
      margin-bottom: 0px;
      height: auto;
    }
  }

  &.double.w2 {
    //height: 404px;
    padding-left: 0px;

    .image {
      height: auto;
    }
  }

  .image {
    margin-bottom: 0px;
    height: auto;
  }

  .info {
    position: absolute;
    text-align: left;
    bottom: 15px;
    left: 15px;
    z-index: 3;

    .contain-txt {
      padding-left: 55px;
    }
    strong {
      font-size: .875rem;
      margin: 0px 0px;
      max-width: 100%;
      font-family: $CamphorMedium;
      text-align: left;
      

      .medias & {
        font-family: $CamphorRegular;
      }

      a {
        color: #fff;
      }
    }

    span {
      color: #9c9c9b;
    }

    .picto {
      color: $gold;
      left: 0px;
      bottom: 0px;
    }
  }

  &.portrait {
    height: auto;
  }
}

.article-inverse {
  .card:not(.w2):not(.double) {
    padding-left: 0px;
  }

  .card.w2.double {
    padding-left: 41px;
  }
}


.mob .read-later {
  opacity: 1 !important;
  visibility: visible !important;
}


.floatr {
  float: right;
}

.floatl {
  float: left;
}

.articles-list-medias {
  .card-01.double.w2 .image {
    width: auto;
  }
}