//       SUMMARY TABLE
// =========================
// 1. Global
// =========================


// 1. Global
// =========================
.filters {
  text-align: center;
  padding-bottom: 24px;

  .icon{
    font-size: .4rem;
    vertical-align: baseline;
  }

  div {
    display: inline-block;
    font-family: $CamphorHeavy;
    font-size: 0.625rem;
    margin-right: 40px;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    .label {
      color: #141414;
      margin-right: 15px;
      letter-spacing: 0.1em;
    }

    .select {
      color: $gold;
      cursor: pointer;
      @include transition(opacity .9s $smoothTransition);

      &:hover {
        opacity: 0.5;
      }

      span {
        display: none;
        padding-right: 10px;

        &.active {
          display: inline-block;
        }
      }
    }
  }
}

#filters {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  z-index: 15;
  @include transition(opacity 0.7s $smoothTransition, visibility 0.7s $smoothTransition);
  overflow-y:auto;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  span {
    color: #fff;
    display: block;
    font-family: $CamphorBold;
    letter-spacing: 0.4em;
    opacity: 0;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    visibility: hidden;
    @include transform(translateY(20px) translateZ(0));

    &.show {
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0) translateZ(0));
    }

    &.active {
      color: $gold;
    }

    &:hover {
      color: $gold;
      cursor: pointer;
    }

    &:nth-child(1) {
      @include transition(opacity .5s $smoothTransition 0.1s, transform .5s $smoothTransition 0.1s, color .9s $smoothTransition);
    }

    &:nth-child(2) {
      @include transition(opacity .5s $smoothTransition 0.15s, transform .5s $smoothTransition 0.15s, color .9s $smoothTransition);
    }

    &:nth-child(3) {
      @include transition(opacity .5s $smoothTransition 0.2s, transform .5s $smoothTransition 0.2s, color .9s $smoothTransition);
    }

    &:nth-child(4) {
      @include transition(opacity .5s $smoothTransition 0.25s, transform .5s $smoothTransition 0.25s, color .9s $smoothTransition);
    }

    &:nth-child(5) {
      @include transition(opacity .5s $smoothTransition 0.3s, transform .5s $smoothTransition 0.3s, color .9s $smoothTransition);
    }

    &:nth-child(6) {
      @include transition(opacity .5s $smoothTransition 0.35s, transform .5s $smoothTransition 0.35s, color .9s $smoothTransition);
    }

    &:nth-child(7) {
      @include transition(opacity .5s $smoothTransition 0.4s, transform .5s $smoothTransition 0.4s, color .9s $smoothTransition);
    }

    &:nth-child(8) {
      @include transition(opacity .5s $smoothTransition 0.45s, transform .5s $smoothTransition 0.45s, color .9s $smoothTransition);
    }

    &:nth-child(9) {
      @include transition(opacity .5s $smoothTransition 0.5s, transform .5s $smoothTransition 0.5s, color .9s $smoothTransition);
    }

    &:nth-child(10) {
      @include transition(opacity .5s $smoothTransition 0.55s, transform .5s $smoothTransition 0.55s, color .9s $smoothTransition);
    }

    &:nth-child(11) {
      @include transition(opacity .5s $smoothTransition 0.6s, transform .5s $smoothTransition 0.6s, color .9s $smoothTransition);
    }

    &:nth-child(12) {
      @include transition(opacity .5s $smoothTransition 0.65s, transform .5s $smoothTransition 0.65s, color .9s $smoothTransition);
    }

    &:nth-child(13) {
      @include transition(opacity .5s $smoothTransition 0.7s, transform .5s $smoothTransition 0.7s, color .9s $smoothTransition);
    }

    &:nth-child(14) {
      @include transition(opacity .5s $smoothTransition 0.75s, transform .5s $smoothTransition 0.75s, color .9s $smoothTransition);
    }

    &:nth-child(15) {
      @include transition(opacity .5s $smoothTransition 0.8s, transform .5s $smoothTransition 0.8s, color .9s $smoothTransition);
    }
  }
}

.close-button {
  border: 1px solid $gold;
  cursor: pointer;
  height: 85px;
  opacity: 0.6;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 85px;
  @include transition(all 0.9s $smoothTransition);
  text-align: center;

  &:hover {
    opacity: 1;
  }

  .icon{
    color:$gold;
    line-height: 85px;
  }
}

.filters-02 {
  border-bottom: 1px solid #eaeaea;
  position: relative;

  &.hidden {
    display: none;
  }

  .container {
    min-height: 77px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 134vw;
  }

  &.sticky {
    position: fixed;
    top: 91px;
    background-color: #fff;
    width: 100vw;
    z-index: 4;

    @media screen and (max-width: 768px) {
      width: 100%;
      top: 69px;
    }
  }

  ul{
    padding: 30px 0;
    display: inline-block;
  }

  li {
    color: $gold;
    text-transform: uppercase;
    font-family: $CamphorHeavy;
    font-size: .625rem;
    display: inline-block;
    margin-right: 45px;
    letter-spacing: 1px;
    transition: .4s;

    &:hover{
      opacity: .8;
      cursor: pointer;
    }
  }

  .submit {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: $CamphorHeavy;
    font-size: .625rem;
    display: inline-block;
    letter-spacing: 1px;
    position: absolute;
    top: 0px;
    right:0px;
    background-color: $gold;
    height: 100%;
    line-height: 80px;
    width: 199px;
    text-align: center;
  }

  .icon-close {
    font-size: .4rem;
    vertical-align: super;
    margin: 5px;
  }
}
