.articles-list {
  h2.title {
    color: #333;
    font-family: "Playfair Display", Times New Roman, Times, serif;
    font-weight: 700;
    font-size: 1.625rem;
    padding-top: 60px;
  }

  .card .info strong {
    color: #333;
    font-family: "Playfair Display", Times New Roman, Times, serif;
    font-weight: 700;
    font-size: 1.625rem;

    a {
      color: #333;
    }
  }
}

.isotope-01 {

  .item {
    img {
      width: 100%;
    }

    .contain-img {
      overflow: hidden;
      background-size: cover;
      width: 100.5%;
      height: 340px;
      overflow: hidden;
    }
  }

 .grid-selection & .item .title-13 {
  display: block;
  position: relative;
  top: -4px;
 }

 body#home .article-inverse & .item:not(.w2):not(.double) {
    padding-left: 0px !important;
    padding-right: 60px !important;
  }

  /*
  body#home .article-inverse & .item.w2.double {
    margin-left: -20px;
  }*/


  body#home & {

    .card {
      height: 300px;
      min-height: 321px; 
    }

    .card.w2 {
      height: 600px;
    }

    .item {

      img {
        width: 100%;
      }

      .contain-img {
        overflow: hidden;
        background-size: cover;
      }
    }


    @media screen and (max-width: 1280px) {
      .grid-sizer {
        width: calc(100% / 3);
      }

      .card .image {
        height: 167px;
      }

      .w2.double .image {
        height: 426px;
        width: 650px;
      }

      .item {
        width: 325px;
        padding: 0px;
        padding-left: 60px;

        //padding-left: 61px;
      }

      .item.w2 {
        //width: 672px;

        width: 650px;
        padding: 0px
      }

      .three-cards {
        width: 305px;
        padding: 0px 25px;
      }

      .first-card {
        padding-left: 0px !important;
      }
    }

    @media screen and (min-width: 1280px) {
      .grid-sizer {
        width: calc(100% / 3);
      }

      .card .image {
        height: 167px;
      }

      .w2.double .image {
        height: 426px;
        width: 650px;
      }

      .item {
        width: 325px;
        padding: 0px;
        padding-left: 60px;

        //padding-left: 61px;
      }

      .item.w2 {
        //width: 672px;

        width: 650px;
        padding: 0px
      }

      .three-cards {
        width: 305px;
        padding: 0px 25px;
      }

      .first-card {
        padding-left: 0px !important;
      }
    }

    @media screen and (min-width: 1600px) {
      .grid-sizer {
        width: calc(100% / 3);
      }

      .card .image {
        height: 167px;
      }

      .w2.double .image {
        height: 426px;
        width: 650px;
      }

      .item {
        width: 325px;
        padding: 0px;
        padding-left: 60px;

        //padding-left: 61px;
      }

      .item.w2 {
        //width: 672px;

        width: 650px;
        padding: 0px
      }

      .three-cards {
        width: 305px;
        padding: 0px 25px;
      }

      .first-card {
       padding-left: 0px !important;
      }

    }

    @media screen and (min-width: 1920px) {
      .grid-sizer {
        width: calc(100% / 3);
      }

      .card .image {
        height: 167px;
      }

      .w2.double .image {
        height: 426px;
        width: 650px;
      }

      .item {
        width: 325px;
        padding: 0px;
        padding-left: 60px;

        //padding-left: 61px;
      }

      .item.w2 {
        //width: 672px;

        width: 650px;
        padding: 0px
      }

      .three-cards {
        width: 305px;
        padding: 0px 25px;
      }

      .first-card {
        padding-left: 0px !important;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 3);
    }

    .item {
      width: calc(100% / 3);
    }

    .item.w2 {
      width: calc(200% / 3);
    }
  }

  @media screen and (min-width: 1280px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 4);
    }

    .item {
      width: calc(100% / 4);
    }

    .item.w2 {
      width: calc(200% / 4);
    }
  }

  @media screen and (min-width: 1600px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 5);
    }
    .item {
      width: calc(100% / 5);
    }
    .item.w2 {
      width: calc(200% / 5);
    }
  }

  @media screen and (min-width: 1920px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 6);
    }

    .item {
      width: calc(100% / 6);
    }

    .item.w2 {
      width: calc(200% / 6);
    }
  }

  .grid-selection & {

    @media screen and (max-width: 1280px) {
      /* 5 columns for larger screens */
      .grid-sizer {
        width: calc(100% / 4);
      }

      .item {
        width: calc(100% / 4);
      }

      .item.w2 {
        width: calc(200% / 4);
      }
    }

    @media screen and (min-width: 1280px) {
      /* 5 columns for larger screens */
      .grid-sizer {
        width: calc(100% / 5);
      }

      .item {
        width: calc(100% / 5);
      }

      .item.w2 {
        width: calc(200% / 5);
      }
    }

    @media screen and (min-width: 1600px) {
      /* 5 columns for larger screens */
      .grid-sizer {
        width: calc(100% / 6);
      }
      .item {
        width: calc(100% / 6);
      }
      .item.w2 {
        width: calc(200% / 6);
      }
    }

    @media screen and (min-width: 1920px) {
      /* 5 columns for larger screens */
      .grid-sizer {
        width: calc(100% / 8);
      }

      .item {
        width: calc(100% / 8);
      }

      .item.w2 {
        width: calc(200% / 8);
      }
    }

  }

  .jury & {
    .item .contain-img {
      position: relative;
      z-index: 1;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
    }
  }
}

.isotope-02 { //with gutter

  margin-top: 39px;

  .item {
    width: 163px;

    img {
      width: 100%;
      object-fit: cover;
    }

    .contain-img {
      overflow: hidden;
    }
  }
}

.grid-01 {
  margin-top: 15px;
}

.isotope-03 {
  .item {

    img {
      width: 100%;
      object-fit: cover;
    }

    .contain-img {
      overflow: hidden;
    }
  }

  /*
  @media screen and (min-width: 320px) {
  */
  /* 5 columns for larger screens */
  /*
    .grid-sizer {
      width: calc(100%/3);
    }

    .item {
      width: calc(100%/3);
    }

    .item.w2 {
      width: calc(200%/3);
    }
  }

  @media screen and (min-width: 768px) {
    !* 5 columns for larger screens *!
    .grid-sizer {
      width: calc(100%/3);
    }

    .item {
      width: calc(100%/3);
    }

    .item.w2 {
      width: calc(200%/3);
    }
  }
  */

  @media screen and (max-width: 1280px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 3);
    }

    .item {
      width: calc(100% / 3);
    }

    .item.w2 {
      width: calc(200% / 3);
    }
  }

  @media screen and (min-width: 1280px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 4);
    }

    .item {
      width: calc(100% / 4);
    }

    .item.w2 {
      width: calc(200% / 4);
    }
  }

  @media screen and (min-width: 1600px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 4);
    }
    .item {
      width: calc(100% / 4);
    }
    .item.w2 {
      width: calc(200% / 4);
    }
  }

  @media screen and (min-width: 1920px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 4);
    }

    .item {
      width: calc(100% / 4);
    }

    .item.w2 {
      width: calc(200% / 4);
    }
  }
}

.grid-jury {
  /*@media screen and (min-width: 320px) {*/
  /* 5 columns for larger screens */
  /*
    .grid-sizer {
      width: calc(100%/2);
    }

    .item {
      width: calc(100%/2);
    }

    .item.w2 {
      width: calc(200%/2);
    }
  }

  @media screen and (min-width: 768px) {
    !* 5 columns for larger screens *!
    .grid-sizer {
      width: calc(100%/3);
    }

    .item {
      width: calc(100%/3);
    }

    .item.w2 {
      width: calc(200%/3);
    }
  }
  */

  @media screen and (max-width: 1280px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 4);
    }

    .item {
      width: calc(100% / 4);
    }

    .item.w2 {
      width: calc(200% / 4);
    }
  }

  @media screen and (min-width: 1400px) {
    /* 5 columns for larger screens */
    .grid-sizer {
      width: calc(100% / 5);
    }

    .item {
      width: calc(100% / 5);
    }

    .item.w2 {
      width: calc(200% / 5);
    }
  }
}
