//       SUMMARY TABLE
// =========================
// 1. Navigation Sticky
// 2. Navigation 02 Sticky
// =========================

// 1. Navigation Sticky
.navigation-sticky {
  background-color: #0c0c0c;
  height: 45px;
  line-height: 45px;
  z-index: 7;
  -webkit-transform: translate3d(0px,0px,0px);

  a {
    color: #999999;
    transition:.5s;
  }

  ul {
    display : flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  li {
    font-size: .75rem;
    text-transform: uppercase;
    font-family: $CamphorBold;
    padding: 0px 7.5px;

     &.active {
       a {
         color:$gold;
       }
     }

     & {
       a:hover {
         color:$gold;
       }
     }
  }

  &.sticky{
    position:fixed;
    top: 91px;
    width: 100%;

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        top: 68px;
    }
  }
}


// 2. Navigation 02 Sticky
.navigation-sticky-02{
  background-color: #141414;
  height: 45px;
  line-height: 45px;
  z-index: 2;

  a {
    color: #fff;
    transition:.5s;
    letter-spacing: 1.1px;
  }

  ul {
    display : flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  li {
    font-size: .625rem;
    text-transform: uppercase;
    font-family: $CamphorHeavy;
    padding: 0px 7px;


    @include breakpoint(768px) {
      font-size: .55rem;
    }


     &.active {
       a {
         color:$gold;
       }
     }

     & {
       a:hover {
         color:$gold;
       }
     }
  }

  &.sticky{
    position:fixed;
    top: 91px;
    width: 100%;
  }
}
