//       SUMMARY TABLE
// =========================
// 1. Slider home
// 2. Slider 01
// =========================


// 1. Slider home
// =========================

.slider-home {
  position: relative;
  height: 581px;
  margin-bottom: 29px;
  transition: height .5s;

  .slider-carousel, .owl-stage-outer, .owl-stage, .owl-item {
    height: 100%;
  }

  .owl-item {
    min-width: 527px;
  }

  .owl-dots {
    position: absolute;
    bottom: 113px;
    width: 100%;
    text-align: center;
  }

  .owl-carousel .owl-controls .owl-dot {
    height: 6px;
    width: 6px;
    display: inline-block;
    border-radius: 100%;
    margin: 7px;
    border: 0px solid $gold;
    background-color: #000;
    vertical-align: middle;

    &.active {
      border: 3px solid $gold;
      background-color: rgba(255, 255, 255, 0);
    }
  }

  .vFlexAlign {
    flex-direction: column;
  }

  .container-images {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;

    .item {
      width: 80%;
      height: 100%;
      background-size: cover;
      display: none;
    }

    .item.active {
      display: block;
    }
  }

  .container-txts {
    position: relative;
    height: 497px;
  }

  .texts {
    width: 525px;
    height: 497px;
    background-color: #f7f7f7;
    position: absolute;
    right: 0;
    top: 43px;

    strong {
      display: block;
      text-align: center;
    }

    .title-4a {
      width: 310px;
      margin-bottom: 16px;
      color:#141414;
    }

    p {
      width: 335px;
      text-align: center;
      color: #838383;
      margin-top: 29px;
      padding-bottom: 72px;
      font-size:.875rem;
      line-height:24px;
      font-size:$CamphorMedium;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1599px) {
      &{
        height: 577px;

        .container-images .item {
          width: 76%;
        }

        .texts {
          top:42px;
          right: -103px;
        }
      }
  }

  @media screen and (min-width: 1600px) and (max-width: 1920px) {
      &{
        height: 683px;

        .container-images .item {
          width: 71.3%;
        }

        .texts {
          top:115px;
          right: -111px;
        }
      }
  }

  @media screen and (min-width: 1920px){
    &{
      height: 774px;

      .container-images .item {
        width: 67.7%;
      }

      .texts {
        top:115px;
        right: -111px;
      }
    }
  }
}

// 2. Slider 01
// =========================
.slider-01 {
  margin-bottom: 9px;

  .owl-stage {
    margin-left: -147px;
  }

  & .owl-stage-outer {
    overflow: visible;
  }

  .item {
    position:relative;

    &:after {
      content:'';
      width: 100%;
      height: calc(100% - 20px);
      opacity: .5;
      background-color:#fff;
      position:absolute;
      top:0;
      left:0;
      transition:.5s;
    }
  }

  .center {

    .item:after {
      opacity:0;
    }

    figcaption {
      opacity:1;
    }
  }

  figcaption {
    opacity:0;
    transition:.5s;
  }
}

// 2. Slider 02
// =========================
.slider-02 {
  .owl-stage {
    margin-left: -419px;
  }

  @media screen and (max-width: 1024px) {
    & .owl-stage-outer {
      overflow: hidden !important;
    }
  }

  & .owl-stage-outer {
    overflow: visible;
  }
}
