
#news + #social-wall {
  padding-top: 0px;
}

#social-wall {
  padding-top: 16px;

  #graph {
    border-bottom: 1px solid #eaeaea;
    height: 200px;
    margin-bottom: 20px;
    position: relative;

    #tipGraph {
      background-color: $gold;
      color: #fff;
      font-size: 0.625rem;
      padding: 2px 10px;
      font-family: $CamphorBold;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      @include transform(translateY(10px));
      @include transition(transform 0.3s $smoothTransition, opacity 0.3s $smoothTransition);

      &.show {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
      }

      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;

        border: 4px solid transparent;
        border-top-color: $gold;
        top: 100%;
        left: 35%;
      }
    }

    circle {
      cursor: pointer;
    }

    ul {
      left: 52px;
      position: absolute;
      top: 0;
      width: calc(100% - 30px);

      li {
        color: #f3f3f3;
        display: inline-block;
        font-family: $CamphorBold;
        font-size: 0.688rem;
        text-align: center;
        width: 76px;

        &:last-child {
          width: 65px;

          @include breakpoint(1024px) {
            width: 45px;
            text-align: right;
          }
        }

        &.active {
          color: #000;
        }

        span {
          display: block;
          font-family: $CamphorHeavy;
          font-size: 14px;
        }
      }
    }

    #hashtag {
      color: $gold;
      float: left;
      font-family: $CamphorBold;
      font-size: 0.750rem;
      height: 100%;
      width: 86px;

      img {
        display: block;
      }
    }
    //TODO CSS//
    .icon{
      color:$gold;
      font-size: 4rem;
      margin-left: 5px;
    }

    svg {
      display: block;
      float: left;
      width: 891px;
    }
  }


  #wall {
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    padding-bottom: 45px;

    .post {
      float: left;
      height: 125px;
      max-width: 12.5%;
      position: relative;
      width: 125px;

      .instagram:after {
        background: url('../img/svg/instagram.svg') no-repeat;
        background-size: contain;
        bottom: 5px;
        content: '';
        display: block;
        left: 10px;
        position: absolute;
        height: 17px;
        width: 17px;
      }

      .twitter:after {
        background: url('../img/svg/twitter-gold.svg') no-repeat;
        background-size: contain;
        bottom: 5px;
        content: '';
        display: block;
        left: 10px;
        position: absolute;
        height: 16px;
        width: 16px;
      }

      p {
        box-sizing: border-box;
        padding: 0 10px;
        width: 125px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .twitter.hasimg:after {
        background-image: url('../img/svg/twitter.svg');
      }

      .side {
        backface-visibility: hidden;
        background-size: cover;
        cursor: default;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform-origin: 50% 50% 0px;
        @include transition(all 1.5s $smoothTransition);
        width: 100%;

        .ov {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: #000;
          opacity: 0;
          visibility: hidden;
          @include transition(all 1s $smoothTransition);
        }

        &.overlay .ov {
          opacity: 0.7;
          visibility: visible;
        }

        &.hasimg {
          cursor: pointer;

          .txt {
            opacity: 0;
            visibility: hidden;
          }

          &:hover .txt {
            opacity: 1;
            visibility: visible;
          }
        }

        .txt {
          background-color: #fff;
          font-family: $CamphorMedium;
          font-size: 0.625rem;
          height: 100%;
          width: 100%;
          @include transition(all 0.8s $smoothTransition);
        }

        a, strong {
          color: $gold;
          font-weight: normal;
        }

        &.side-1 {
          @include transform(rotateY(0deg));

          &.flip {
            @include transform(rotateY(180deg));
          }
        }

        &.side-2 {
          background-color: #f6f6f6;
          @include transform(rotateY(180deg));

          &.flip {
            @include transform(rotateY(0deg));
          }
        }
      }

      img {
        height: 100%;
        width: 100%;
      }

      &.big {
        height: 250px;
        max-width: 25%;
        width: 250px;

        .side {
          .txt {
            font-family: $CamphorBold;
          }

          p {
            font-size: 1rem;
            padding: 0 25px;
            width: 250px;
          }

          &.twitter:after {
            bottom: 25px;
            left: 25px;
          }

          &.twitter.hasimg:after {
            bottom: 10px;
            left: 10px;
          }
        }
      }

      &.right {
        float: right;
      }
    }
  }
}

#networks {
  overflow: hidden;
  padding: 40px 0 50px 0;

  p {
    color: #333;
    float: left;
    font-family: $CamphorHeavy;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  ul {
    float: right;

    li {
      display: inline-block;
      margin-left: 15px;

      a {
        color: #999;
        display: block;
        font-family: $CamphorRegular;
        font-size: 0.875rem;
        line-height: 16px;
        position: relative;
        @include transform(translateZ(0));
        @include transition(color 0.9s $smoothTransition);

        &:hover {
          color: $gold;

          &:after {
            opacity: 1;
            visibility: visible;
          }
        }

        &:after {
          content: '';
          display: block;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          @include transition(all 0.9s $smoothTransition);
        }
      }
      .icon{
        margin-left: 10px;
        &.icon_youtube{
          font-size: 1.15rem;
          vertical-align: bottom !important;
        }
        &.icon_dailymotion{
          vertical-align: text-top !important;
        }
        &.icon_tumblr{
          vertical-align: text-top !important;
        }
      }
    }
  }
}
