{% trans_default_domain 'FDCEventBundle' %}

<div class="image-wrapper">
    {% if video.image|trans_fallback('file') %}
        <img src="{% path video.image|trans_fallback('file'), '975x616' %}" alt="">
    {% else %}
        <img src="{% path video.image|trans_fallback('file', 'fr'), '975x616' %}" alt="">
    {% endif %}
</div>
<a class="linkVid" href="#"></a>
<div class="info">
    <div class="picto">
        <i class="icon icon_playlist"></i>
    </div>
    <div class="info-container">
        <div class="vCenter">
            <div class="vCenterKid">
                <a href="#" class="category">{{ video.theme }}</a>
                <span>{{ video.nbVideos }} {{ 'webtv.direct.text.videos'|trans }}</span>
            </div>
        </div>
    </div>
</div>