{% trans_default_domain 'FDCEventBundle' %}
{% import 'FDCCorporateBundle:Macro:movie.html.twig' as macroMovie %}
{% if prev is not null %}
    {{ macroMovie.navigation(prev, 'prevmovie') }}
{% endif %}
{% if next is not null %}
    {{ macroMovie.navigation(next, 'nextmovie') }}
{% endif %}
<div class="arrows">
    {% if prev is not null %}
        <a href="{{ path('fdc_corporate_movie_get', {'slug':  prev.slug }) }}" class="nav prev"><i
                    class="icon icon-arrow-left"></i></a>
    {% endif %}
    {% if next is not null %}
        <a href="{{ path('fdc_corporate_movie_get', {'slug':  next.slug }) }}" class="nav next"><i
                    class="icon icon-arrow-right"></i></a>
    {% endif %}
</div>