{% trans_default_domain 'FDCEventBundle' %}

<div class="bandeau-list push-footer vCenter">
    <div class="bandeau-list-img bandeau-list-footer vCenterKid" style="background-image:url({{ section.bottom_img }});">
        <h2 class="title title-list-header">{{ section.bottom_title }}</h2>
        <a href="{{ section.bottom_link }}" class="bandeau-lien">
            <i class="icon icon_fleche-right"></i>
            {{ 'palmares.btn.decouvrirrubrique'|trans }}
        </a>
    </div>
</div>