{% trans_default_domain 'FDCEventBundle' %}

<div class="banner-bottom">
    <div class="banner-img vCenter" style="background-image:url('{% path next.image|trans_fallback('file'), '2560x1103' %}');">
        <div class="vCenterKid">
            <h2 class="title one-line">{{ next|trans_fallback('name') }}</h2>
            <a href="{{ path('fdc_eventmobile_palmares_get', {'slug': next|trans_fallback('slug')}) }}" class="bandeau-lien">
                <i class="icon icon_fleche-right"></i>
                {{ 'palmares.btn.decouvrirrubrique'|trans }}
            </a>
        </div>
    </div>
</div>
