{% trans_default_domain 'FDCEventBundle' %}

<div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
    {% for tab in pages %}
        {% set tabActive = (app.request.attributes.get('slug') == tab|trans_fallback('slug')) ? true : false %}
        {% set tabPath = path('fdc_eventmobile_palmares_get', {'slug': tab|trans_fallback('slug') }) %}
        <div class="vid">
            <p>
                <a href="{{ tabPath }}" data-url="{{ tabPath }}" class="{% if tabActive %}active{% endif %} ajaxi">
                    {{ tab|trans_fallback('name') }}
                </a>
            </p>
        </div>
    {% endfor %}
</div>