{% set translations = widget.file.findTranslationByLocale(app.request.locale) %}
{% set  file = widget.file|trans_fallback('file') %}
{% set url%}{%path widget.file|trans_fallback('file'), 'reference'%}{% endset%}
<a class="link" href="{{path('fdc_marche_du_film_amazon', {'url':url|url_encode, 'name':file.providermetadata['filename']})}}">
    <div class="programme">
        <div>
            <img src="{{ asset('bundles/fdcmarchedufilm/img/trombonne.png') }}">
        </div>
        <div class="customClass1">
            {% set translations = widget.file.findTranslationByLocale(app.request.locale) %}
            <h6 class="customClass1">{{ translations.name|length > 45 ? translations.name|slice(0, 45) ~ '...' : translations.name  }}</h6>
        </div>
        <div class="customClass1">
            <img src="{{ asset('bundles/fdcmarchedufilm/img/boutonDLRond.png') }}">
        </div>
    </div>
</a>
