{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="list-article participate loading">


        <div class="bandeau-list vCenter">
            {% set mainTrans = participatePage.image.findTranslationByLocale(app.request.locale) %}
            {% if mainTrans is null or mainTrans.file is null %}
                {% set mainTrans = participatePage.image.findTranslationByLocale('fr') %}
            {% endif %}
            {% set mainImage = mainTrans.file %}
            <div class="bandeau-list-img vCenterKid"
                 style="background-image:url({% path mainImage, '1280x808' %})">
                <h2 class="title title-list-header">
                    <i class="icon {{ participatePage|trans_fallback('icon') }}"></i>
                    <br> {{ participatePage|trans_fallback('title') }}
                </h2>
            </div>
        </div>

        {#                  #}
        {#     SECTIONS     #}
        {#                  #}
        {% for section in participatePage.downloadSection %}
            <section class="content-manual">
                <div class="contain-section participate-active">
                    <h3 class="title-section"><i class="icon icon_horaires"></i>Horaires</h3><i class="icon icon_moins accordion"></i>s
                    <div class="descrip-section">
                        <p>
                            Autour du Palais des Festivals et du Riviera, la zone Festival s’étend du Village international Pantiero au Village international Riviera jusqu’au Cinéma de la Plage.  La zone Festival est accessible aux badges professionnels par toutes les entrées, de 9h à 18h30.
                        </p>
                    </div>
                    <div class="item-manual">
                        <div class="contain-img">
                            <img src="img/participate/item-manual1.jpg" alt="">
                            <img src="img/participate/item-manual2.jpg" alt="">

                        </div>
                        <div class="text-manual">
                            <h4 class="title-manual">Cas particuliers</h4>
                            <p class="descrip-manual">
                                <strong>Entrée Méditérranée :</strong> accessible à tous les badges professonnels de 9h à 18h30.
                            </p>
                            <p class="descrip-manual title-descript">
                                <strong>Entrée principale (13 au 24 mai) :</strong> accessible à tous les badges professonnels.</p>
                            <ul>
                                <li>Dès 8h15 pour les projections programmées au Palais avant 9h (porte située à droite)
                                </li>
                                <li>Jusqu’à 22h30 pour l’accès aux projections Buñuel ou à la salle de Presse et pour les salles Marché. </li>
                            </ul>
                            <p class="descrip-manual">
                                Fermeture de l'accès à la zone d'exposition à 18h30.
                            </p>
                            <p class="descrip-manual title-descript"><strong>Entrée Riveria (13 au 22 mai) :</strong> pour les badges Marché</p>
                            <ul>
                                <li>De 9h à 22h45 pour les badges Marché</li>
                                <li>De 8h à 21h pour les exposants</li>
                                <li>Jusqu'à 22h45 pour les projections Lérins et Riveria</li>
                                <li>De 9h à 18h30 pour les badges Festival et Presse</li>
                            </ul>
                            <p class="descrip-manual title-descript"><strong>Village international (Pantiero et Riveria) :</strong> pour les badges Marché</p>
                            <ul>
                                <li>De 8h à 20h pour les exposants des Pavillions du 13 au 24 mai (de 8h à 16h le 24 mai)</li>
                                <li>De 9h à 18h30 pour les Badges Professionnels</li>
                            </ul>
                            <p class="descrip-manual">(de 9h à 16h le 15 mai)</p>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}


</div>
{% endblock body %}