{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    {#<div id="main" class="list-article participate loading">#}
    <div id="main" class="list-article participate">
        <div class="bandeau-list vCenter">
            <div class="bandeau-list-img vCenterKid" style="background-image:url({{ asset('bundles/fdcevent/img/participate/bandeau3.jpg') }})">
                <h2 class="title title-list-header">
                    {% image '@FDCEventBundle/Resources/public/img/participate/Handshake.png' %}
                    <img src="{{ asset_url }}" class="logo" alt="{{ 'participer.prepare.title.partenaires'|trans }}" />
                    {% endimage %}
                    <br> {{ 'participer.prepare.title.partenaires'|trans }}
                </h2>
            </div>
        </div>

    </div>
{% endblock %}