{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    {#<div id="main" class="list-article participate loading">#}
    <div id="main" class="list-article participate">
        <div class="bandeau-list vCenter">
            <div class="bandeau-list-img vCenterKid" style="background-image:url({{ asset('bundles/fdcevent/img/participate/manual.jpg') }})">
                <h2 class="title title-list-header">
                    {% image '@FDCEventBundle/Resources/public/img/svg/palme-white.svg' %}
                    <img src="{{ asset_url }}" class="logo palm" alt="{{ 'participer.festival.title.modeemploi'|trans }}" />
                    {% endimage %}
                    <br> {{ 'participer.festival.title.modeemploi'|trans }}
                    </h2>
            </div>
        </div>

    </div>
{% endblock %}