{% if gallery.id is defined and gallery.id is not null %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Galerie photo associée</th>
    </tr>
    </thead>
    <tbody class="sonata-ba-tbody ui-sortable">
    <tr>
        <td class="control-group"><span class="inner-field-short-description"><a href="{{ path('admin_base_core_gallery_edit', {id:gallery.id} ) }}">{{ gallery.name }}</a></span></td>
    </tr>
    </tbody>
</table>
{% endif %}