.hidden {
    display: none;
}
.half-div.v2 .half-photo img {
    position: relative;
}
.half-div.v2 .half-photo .photo-container {
    overflow: hidden;
}
.single-article .chapeau {
    text-align: left;
    max-width: 100%;
}
.visible-popin {
    z-index: 1007;
}

.all-articles.grid #gridAudios .item {
    cursor: default;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

i {
  font-style: italic;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  margin-left: 5px;
}

sup {
  vertical-align: super;
  font-size: smaller;
  margin-left: 5px;
}

.wysiwyg a {
    color: #c8a461;
}

.topiconsContainer .icon-border-right {
    border-right: 1px solid #404040;
}

.topiconsContainer .icon-border-left {
    border-left: 1px solid #404040;
}

.seatingchart #seatingchart .maps img {
    max-width: 100%;
}

.contact .success.show {
    display: block;
}

.confcourt .eventPhoto .eventPhotoContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 500px;
}
