<article class="card item article  date-18-05-5 all competition" data-format="article"
         data-theme="competition"
         data-time="1455909420" data-end="false" >
    <div class="image">
        <div class="image-wrapper">
            <img src="media/images/home-image1.jpg" alt=""/>
        </div>
        <a href="article.html" class="linkImage"></a>
        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
        <span class="picto"><i class="icon icon-video"></i></span>
    </div>
    <div class="info">
        <a href="#" class="category">compétition</a><span class="date">8.05.15</span> . <span
            class="hour">09:00</span>
        <strong><a href="article.html">Nie Yinniang (The Assassin) de Hou Hsiao-Hsien</a></strong>
    </div>
</article>

<article class="card item photo  double w2 date-18-05-5 all photocall" data-format="photo"
         data-theme="photocall" data-time="1455909420"
         data-end="false" >
    <div class="image">
        <div class="image-wrapper">
            <img src="media/images/home-image2.jpg" alt=""/>
        </div>
        <a href="article.html" class="linkImage"></a>
        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
        <span class="picto"><i class="icon icon-photo"></i></span>
    </div>
    <div class="info">
        <a href="#" class="category">Photocall </a><span class="date">18.05.15</span> . <span
            class="hour">09:00</span>
        <strong><a href="article.html">Benjamin Millepied aux côtés de son épouse Natalie
            Portman</a></strong>
    </div>
</article>

<article class="card item video date-18-05-5 all competition " data-format="video"
         data-theme="competition" data-time="1455909420"
         data-end="false" >
    <div class="image">
        <div class="image-wrapper">
            <img src="media/images/home-image3.jpg" alt=""/>
        </div>
        <a href="article.html" class="linkImage"></a>
        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
        <span class="picto"><i class="icon icon-video"></i></span>
    </div>
    <div class="info">
        <a href="#" class="category">Entretien</a><span class="date">18.05.15</span> . <span
            class="hour">09:00</span>
        <strong><a href="article.html">Z de Costa-Gravas</a></strong>
    </div>
</article>

<article class="card item article  date-18-05-5 all photocall double w2 " data-format="article"
         data-theme="competition"
         data-time="1455909420" data-end="false" >
    <div class="image">
        <div class="image-wrapper">
            <img src="media/images/home-image1.jpg" alt=""/>
        </div>
        <a href="article.html" class="linkImage"></a>
        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
        <span class="picto"><i class="icon icon-article"></i></span>
    </div>
    <div class="info">
        <a href="#" class="category">compétition</a><span class="date">8.05.15</span> . <span
            class="hour">09:00</span>
        <strong><a href="article.html">Nie Yinniang (The Assassin) de Hou
            Hsiao-Hsien</a></strong>
    </div>
</article>

<article class="card item photo date-18-05-5 all photocall" data-format="photo"
         data-theme="photocall" data-time="1455909420"
         data-end="false" >
    <div class="image">
        <div class="image-wrapper">
            <img src="media/images/home-image2.jpg" alt=""/>
        </div>
        <a href="article.html" class="linkImage"></a>
        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
        <span class="picto"><i class="icon icon-photo"></i></span>
    </div>
    <div class="info">
        <a href="#" class="category">Photocall </a><span class="date">18.05.15</span> . <span
            class="hour">09:00</span>
        <strong><a href="article.html">Benjamin Millepied aux côtés de son épouse Natalie
            Portman</a></strong>
    </div>
</article>

<article class="card item video date-18-05-5 all competition " data-format="video"
         data-theme="competition" data-time="1455909420"
         data-end="false" >
    <div class="image">
        <div class="image-wrapper">
            <img src="media/images/home-image3.jpg" alt=""/>
        </div>
        <a href="article.html" class="linkImage"></a>
        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
        <span class="picto"><i class="icon icon-video"></i></span>
    </div>
    <div class="info">
        <a href="#" class="category">Entretien</a><span class="date">18.05.15</span> . <span
            class="hour">09:00</span>
        <strong><a href="article.html">Z de Costa-Gravas</a></strong>
    </div>
</article>