<!DOCTYPE html>
<html lang="fr">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body id="app">

<!-- build:include ../include/header.html -->
<!-- /build -->


<div id="main" class="app">
    <div class="contain-app">
        <h1>Téléchargez <br> l'application officielle</h1>
        <h2>L'application officielle du festival de Cannes est disponible<br> sur Iphone, Ipad et Android</h2>
        <div class="logo-app">
            <a href=""><img src="media/images/appstore.png" alt="apple"></a>
            <a href=""><img src="media/images/appgoogle.png" alt="android"></a>
        </div>
    </div>
</div>

<!-- build:include ../include/footer.html -->
<!-- /build -->


<!-- build:include ../include/script.html -->
<!-- /build -->

</body>
</html>