<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body>
<!-- build:include ../include/header.html -->
<!-- /build -->

<div id="main" class="legal-notice single-article">
    <h2 class="title">Crédits</h2>
    <section class="legal-notice-container text">
        <p>Crédits: © Association Française du Festival International du Film</p>

        <p>Le site Festival de Cannes est une réalisation de l’agence <a href="https://www.ohwee.fr/" target="_blank"><strong>Ohwee</strong></a></p>

        <p>La traduction et la localisation multilingue sont réalisées par la société <a href="http://datawords.com/" target="_blank"><strong>Datawords</strong></a></p>

        <p>Le Festival dispose d'accords, notamment auprès des agences AFP et Getty Images, concernant les droits d'utilisation des images. Sauf indication contraire, ces images ne peuvent être utilisées ou reproduites par des tiers sans l'accord des ayant droits.</p>

        <p>L'utilisation ou la reproduction des textes est soumise à l'accord du Festival de Cannes.</p>

        <p>&nbsp;</p>
    </section>
</div>

<!-- build:include ../include/footer.html -->
<!-- /build -->

<!-- build:include ../include/script.html -->
<!-- /build -->
</body>
</html>
