<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body>
  <!-- build:include ../include/header.html -->
  <!-- /build -->

  <div id="main" class="legal-notice single-article">
    <h2 class="title">Politique de confidentialité</h2>
    <section class="legal-notice-container text">
      <h3 class="sub-title">Qu’est-ce qu’un cookie ?</h3>

      <p>Un cookie est un fichier de données envoyées par un site internet et qui est stocké sur votre navigateur internet lorsque vous visitez un site Web. Il permet de sauvegarder temporairement des informations anonymes concernant les visites et visiteurs du site. A chaque visite d’un internaute sur le site, les données de sa précédente visite sont récupérées. Certains cookies sont nécessaires à l’utilisation du site, d’autres permettent de personnaliser et d’optimiser l’affichage des contenus, de récupérer les préférences de l’utilisateur et d’autres à mesurer les performances et anomalies du site et à sécuriser l’accès au site.</p>

      <h3 class="sub-title">L’utilisation des cookies lors de votre visite sur notre site</h3>

      <p>Sur ce site, nous utilisons des cookies, lorsque vous naviguez sur notre site vous autorisez par défaut Festival-Cannes.com à stocker des cookies dans votre navigateur. Si vous ne souhaitez pas que notre site stocke des cookies dans votre navigateur, vous pouvez désactiver les cookies en modifiant les paramètres de votre navigateur. Dans ce cas certaines pages du site risquent de ne pas fonctionner pas correctement.</p>

      <h3 class="sub-title">Les cookies que nous utilisons</h3>

      <table align="left" border="1" cellpadding="1" cellspacing="1" class="table-article" style="width:600px">
        <tbody>
        <tr>
          <td><strong>Nom du cookie </strong></td>
          <td><strong>Description du cookie </strong></td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>

            <p>_utma, _utmb, _utmc, _utmt, _utmz</p>
          </td>
          <td>
            <p>&nbsp;</p>

            <p>Utilisé par le logiciel Google Analytics : surveiller le trafic et mettre en évidence les problèmes auxquels les personnes parcourant notre site Web peuvent être confrontées.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>

            <p>datr, locale, reg_ext_ref, reg_fb_gate, reg_fb_ref, wd</p>
          </td>
          <td>
            <p>&nbsp;</p>

            <p>Ces cookies servent au partage des contenus sur Facebook et pour l'identification via Facebook Connect</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>

            <p>HSID, GEUP, VISITOR_INFO1_LIVE, YSC, SAPISID, APISID, SSID, LOGIN_INFO, SID, PREF, NID</p>
          </td>
          <td>
            <p>&nbsp;</p>

            <p>Ces cookies permettent de visualiser les vidéos partagées depuis la plateforme Youtube sur ce site.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>&nbsp;</p>

            <p>comply_cookie</p>
          </td>
          <td>
            <p>&nbsp;</p>

            <p>Ce cookie sert pour l’acceptation de la pop-in associée aux cookies lorsqu’un internaute navigue sur le site pour la première fois.</p>
          </td>
        </tr>
        </tbody>
      </table>


      <h3 class="sub-title">Que faire si vous ne souhaitez pas de cookies</h3>

      <p>Vous avez la possibilité de bloquer des cookies ou supprimer les cookies qui ont déjà été placés, mais notez toutefois que si vous désactivez les cookies un certain nombre de fonctionnalités ne seront plus disponibles sur notre site et sur certains sites web. Vous avez la possibilité de configurer votre navigateur pour accepter ou refuser tous les cookies, être alerté quand un cookie est émis, de voir sa durée de validité et son contenu, et de supprimer vos cookies périodiquement. Vous pouvez également taper «&nbsp;cookies&nbsp;» dans la rubrique «&nbsp;aide&nbsp;» de votre navigateur afin d’accéder aux instructions de paramétrage. Pour en savoir plus sur les cookies, y compris la façon comment les cookies ont été placés et la façon de les gérer et de les supprimer, visitez le <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/" target="_blank">site de la CNIL</a></p>
    </section>
  </div>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
