<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="retrospective selection retrospective-home restrospective-init dark loading">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section class="border-bottom s-slider-retrospective">

    <div class="slides-calc2 navigation prev" style="display: none;"><i class="icon icon-arrow-left"></i></div>
    <div class="slides-calc2 navigation next" style="display: none;"><i class="icon icon-arrow-right"></i></div>

    <div class="slides-calc1 animated fadeOut" style="display: none;">
      <div class="slide">
        <div class="date" data-date="1948">1946</div>
      </div>
    </div>

    <div class="slides">

      <div data-slide="0" class="first-slide slider-restropective animated fadeOut isOpen block-push block-push-top background-effet" style="background-image: url('media/images/retrospective-home-01.jpg')">
        <div class="container block-01 vFlexAlign">
          <div class="vFlexAlign">
            <h1 class="title-big">69 ans de festival</h1>
            <p>Revivez tous les moments forts de l'histoire du Festival de Cannes à travers cette timeline interactive</p>
            <div class="block-drag">
              <div class="avance"><span class="square"></span></div>
              <i class="icon icon-drag-hand"></i>
            </div>
          </div>
        </div>

      </div>

      <div data-slide="1" class="slider-restropective big isOpen block-push block-push-top background-effet" style="background-image: url(&quot;media/images/retrospective-slider01.jpg&quot;);">
        <div class="container block-01 vFlexAlign">

          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>

        <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="" class="open" style="display: none;">
            <div class="texts animated visible pulse">
              <span class="title-4">1<sub>E</sub> édition</span>
              <h2 class="title-2">1946</h2>
              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

      <div data-slide="2" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1946</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1948</a><i class="icon icon-arrow-fill"></i></div>

          <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="">
            <div class="texts">
              <span class="title-4">2<sub>E</sub> édition</span>
              <h2 class="title-2">1947</h2>
              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

      <div data-slide="3" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1949</a><i class="icon icon-arrow-fill"></i></div>

          <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="">
            <div class="texts">
              <span class="title-4">3<sub>E</sub> édition</span>
              <h2 class="title-2">1948</h2>

              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="block-01">
      <div class="timelapse block-drag" style="display: none;">
        <span class="date date-first" data-firstdate="1946">1946</span>
        <div class="avance noUi-target noUi-ltr noUi-horizontal noUi-background" id="timelapse-01"><span class="square"></span><div class="noUi-base"><div class="noUi-origin" style="left: 1.42857%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
        <span class="date date-last" data-lastdate="2015">2015</span>
      </div>
    </div>


   <div class="ajax-section"><div class="contain-ajax">
      <nav class="navigation-sticky">
        <ul>
          <li><a href="retrospective-poster.html">L'affiche</a></li>
          <li class="active"><a href="selection.html">La sélection</a></li>
          <li><a href="jury.html">Les jurys</a></li>
          <li><a href="retrospective-palmares.html">Le palmarès</a></li>
          <li><a href="evenements.html">Les évènements</a></li>
          <li><a href="medias.html">Les médias</a></li>
          <li><a href="articles.html">L'actualité</a></li>
        </ul>
      </nav>
      <nav class="navigation-sticky-02">
        <ul>
          <li><a href="selection.html">En Compétition</a></li>
          <li><a href="selection-cr.html">Un certain regard</a></li>
          <li><a href="selection-hc.html">Hors compétition</a></li>
          <li><a href="selection-ss.html">Séances spéciales</a></li>
          <li><a href="selection-cf.html">Cinéfondation</a></li>
          <li><a href="selection-cm.html">courts métrages</a></li>
          <li><a href="selection-cc.html">cannes classics</a></li>
          <li class="active"><a href="selection-cp.html">cinéma de la plage</a></li>
        </ul>
      </nav>

      <div class="all-contain">

        <div class="contain-title contain-title-small vFlexAlign border-bottom">
          <h2 class="title-04">Les projections du Cinéma de la Plage, qui se jouent chaque soir sous les étoiles, sont ouvertes au public.</h2>
        </div>

        <article class="block-movie-preview" style="background-image: url(&quot;media/images/retrospective-poster-01.jpg&quot;)">
          <div class="bck-hover">
            <div class="wrapper-item">
              <div class="poster">
                <img src="media/images/retrospective-poster-01.jpg" alt="images films"  >
              </div>
              <div class="infos">
                <span class="date-infos">Jeudi 12 mai  <span class="hours">21:30</span></span>

                <a href="#"><strong class="name-f">VOYAGE A TRAVERS LE CINEMA FRANCAIS</strong></a>
                <a href="#"><span class="names-a">Frédéric MENANT - Tim GARCIA</span></a>
                <span class="date">2016 - 03:10</span>

                <p class="description">
                  Le Festival de Cannes a choisi pour l’affiche de sa 58e édition un couple qui incarne à la perfection l’esprit du cinéma. L'affiche a été conçue et réalisée par Frédéric Menant et Tim Garcia de l'agence It'suptoyou.
                </p>
              </div>
            </div>
          </div>
        </article>

      </div> <!-- end all contain -->
    </div>
  </div>
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
