<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body>
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <div id="main" class="sitemap">
    <h2 class="title">Plan du Site</h2>
    <section class="sitemap-container">
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">L'actualité</h3>
        <ul>
          <li><a href="/fr/">Jour après jour</a></li>
          <li><a href="/fr/articles">Articles</a></li>
          <li><a href="/fr/photos">Photos</a></li>
          <li><a href="/fr/videos">Vidéos</a></li>
          <li><a href="/fr/audios">Audios</a></li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Web TV</h3>
        <ul>
          <li><a href="/fr/web-tv/live">Direct</a></li>
          <li><a href="/fr/web-tv/channels">Chaines</a></li>
          <li><a href="/fr/web-tv/trailers">Bandes annonces</a></li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">La sélection</h3>
        <ul>
          <li><a href="/fr/selection/competition">Compétition</a></li>
          <li><a href="/fr/selection/un-certain-regard-3">Un Certain Regard</a></li>
          <li><a href="/fr/selection/hors-competition">Hors Compétition</a></li>
          <li><a href="/fr/selection/seances-speciales">Séances spéciales</a></li>
          <li><a href="/fr/selection/cinefondation-3">Cinéfondation</a></li>
          <li><a href="/fr/selection/courts-metrages">Courts métrages</a></li>
          <li><a href="/fr/selection/cannes-classics/copies-restaurees">Cannes classics</a></li>
          <li><a href="/fr/selection/cinema-de-la-plage">Cinéma de la plage</a></li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Les jurys</h3>
        <ul>
          <li>
            <a href="/fr/juries/longs-metrages">
              Longs Métrages
            </a>
          </li>
          <li>
            <a href="/fr/juries/cinefondation-courts-metrages">
              Cinéfondation &amp; Courts métrages
            </a>
          </li>
          <li>
            <a href="/fr/juries/un-certain-regard-3">
              Un Certain Regard
            </a>
          </li>
          <li>
            <a href="/fr/juries/camera-d-or-3">
              Caméra d'or
            </a>
          </li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Le palmarès</h3>
        <ul>
          <li>
            <a href="/fr/palmares/competition-1">
              Compétition
            </a>
          </li>
          <li>
            <a href="/fr/palmares/un-certain-regard-2">
              Un Certain Regard
            </a>
          </li>
          <li>
            <a href="/fr/palmares/cinefondation-2">
              Cinéfondation
            </a>
          </li>
          <li>
            <a href="/fr/palmares/camera-d-or-2">
              Caméra d'or
            </a>
          </li>
          <li>
            <a href="/fr/palmares/tout-le-palmares">
              Tout le palmarès
            </a>
          </li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Les évènements</h3>
        <ul>

          <li>
            <a href="/fr/event/la-palme-d-or-d-honneur-a-jean-pierre-leaud">
              La Palme d’or d’honneur à Jean-Pierre Léaud
            </a>
          </li>
          <li>
            <a href="/fr/event/la-lecon-de-cinema-de-william-friedkin">
              La Leçon de Cinéma de William Friedkin
            </a>
          </li>
          <li>
            <a href="/fr/event/forum-europeen-du-film-2016">
              Forum Européen du Film 2016
            </a>
          </li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Programmation</h3>
        <ul>
          <li><a href="/fr/programmation/">Programmation</a></li>
          <li><a href="/fr/programmation/agenda">Agenda</a></li>
          <li><a href="/fr/programmation/room">Plan des salles</a></li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Participer</h3>
        <ul>
          <li><a href="/fr/participer/prepare"> Préparer son séjour</a></li>
          <li><a href="/fr/participer/prepare/festival-mode-d-emploi"> Festival mode d'emploi</a></li>
          <li><a href="/fr/participer/prepare/acces-aux-projections"> Accès aux projections</a></li>
          <li><a href="/fr/participer/prepare/partenaires"> Partenaires</a></li>
          <li><a href="/fr/participer/prepare/fournisseurs"> Fournisseurs</a></li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Espace presse</h3>
        <ul>
          <li>
            <a href="/fr/press/">
              Accueil
            </a>
          </li>
          <li>
            <a href="/fr/press/press-actu">
              Communiqués
            </a>
          </li>
          <li>
            <a href="/fr/press/accredit">
              S'accréditer
            </a>
          </li>
          <li>
            <a href="/fr/press/guide">
              Guide pratique
            </a>
          </li>
          <li>
            <a href="/fr/press/programmation/">
              Programmation
            </a>
          </li>
          <li>
            <a href="/fr/press/media/3">
              Médiathèque
            </a>
          </li>
          <li>
            <a href="/fr/press/download">
              à télécharger
            </a>
          </li>
        </ul>
      </article>
      <article class="sitemap-item">
        <h3 class="title sitemap-item-title">Footer</h3>
        <ul>
          <li>
            <a href="/fr/contact">
              Contact
            </a>
          </li>
          <li>
            <a href="/fr/faq">
              FAQ
            </a>
          </li>
          <li>
            <a href="/fr/credits">
              Crédits
            </a>
          </li>
          <li>
            <a href="/fr/mentions-legales">
              Mentions Légales
            </a>
          </li>
          <li>
            <a href="/fr/sitemap">
              Plan du Site
            </a>
          </li>
          <li>
            <a href="/fr/privacy">
              Politique de Confidentialité
            </a>
          </li>
        </ul>
      </article>
    </section>
  </div>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
