{% trans_default_domain 'FDCPressBundle' %}

<div class="header-press">
    <div class="head">
        <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
    </div>
    <div class="container">
        <h2>{{ headerInfo.title }}</h2>
        <p>
            <span class="vCenter">
              <span class="vCenterKid">
                  {{ headerInfo.description|raw }}
              </span>
            </span>
        </p>
    </div>
</div>