{% trans_default_domain 'FDCPressBundle' %}

<div class="locked">
    <div class="vCenter">
        <div class="vCenterKid">
            <h3 class="title-press">
                <i class="icon icon_cadenas"></i>
                {{ 'press.header.title.contenusverouilles'|trans }}
            </h3>
            <p>{{ 'press.header.text.journalistesveuillezsvousrendredanslespacepresse'|trans }}</p>
        </div>
    </div>
    <div class="buttons">
        <a href="{{ path('fdc_press_agenda_scheduling') }}">{{ 'press.header.text.allerdanslespacepresse'|trans }}</a>
    </div>
</div>