{% trans_default_domain 'FDCEventBundle' %}


<div class="title-list-cat">
    <h2 class="title">
        {{ subpages['camera_d_or']['page']|trans_fallback('nameEnCompetition') }}
    </h2>
</div>
{% include 'FDCEventBundle:Palmares:competition.html.twig' with (subpages['competition']|merge({'all': true })) %}

<div class="title-list-cat">
    <h2 class="title">
        {{ subpages['certain_regard']['page']|trans_fallback('name') }}
    </h2>
</div>
{% include 'FDCEventBundle:Palmares:simple.html.twig' with (subpages['certain_regard'])%}

<div class="title-list-cat">
    <h2 class="title">
        {{ subpages['cinefondation']['page']|trans_fallback('name') }}
    </h2>
</div>
{% include 'FDCEventBundle:Palmares:simple.html.twig' with (subpages['cinefondation'])%}

<div class="title-list-cat">
    <h2 class="title">
        {{ subpages['camera_d_or']['page']|trans_fallback('name') }}
    </h2>
</div>
{% include 'FDCEventBundle:Palmares:camerador.html.twig' with (subpages['camera_d_or'])%}