{% trans_default_domain 'FDCEventBundle' %}

<section class="categorie-items">
    {% set awardIds = [] %}
    {% for award_association in award_associations %}
        {% if award_association.award not in awardIds %}
            {% include 'FDCEventBundle:Palmares:widgets/movie.html.twig' %}
        {% endif %}
    {% endfor %}
</section>
