{% trans_default_domain 'FDCEventBundle' %}

<section class="categorie-items">
    {% for award_association in award_associations %}
        {% include 'FDCEventBundle:Palmares:widgets/movie.html.twig' %}
    {% endfor %}
</section>
