{% trans_default_domain 'FDCEventBundle' %}

{% set displayOnylCameraDorWinner = true %}

<section>
    <h3>
        {{ subpages['camera_d_or']['page']|trans_fallback('nameEnCompetition') }}
    </h3>
</section>
{% include 'FDCEventMobileBundle:Palmares:competition.html.twig' with (subpages['competition']|merge({'all': true })) %}

<section>
    <h3>
        {{ subpages['certain_regard']['page']|trans_fallback('name') }}
    </h3>
</section>
{% include 'FDCEventMobileBundle:Palmares:simple.html.twig' with (subpages['certain_regard'])%}

<section>
    <h3>
        {{ subpages['cinefondation']['page']|trans_fallback('name') }}
    </h3>
</section>
{% include 'FDCEventMobileBundle:Palmares:simple.html.twig' with (subpages['cinefondation'])%}

<section>
    <h3>
        {{ subpages['camera_d_or']['page']|trans_fallback('name') }}
    </h3>
</section>
{% include 'FDCEventMobileBundle:Palmares:camerador.html.twig' with (subpages['camera_d_or'])%}