{% trans_default_domain 'FDCPressBundle' %}

{% if app.user is empty or (app.user is not empty and is_granted("ROLE_FDC_PRESS_REPORTER") == false) %}
    <div class="locked">
        <h3>
            <i class="icon icon_cadenas"></i>
            {{- 'press.header.title.contenusverouilles'|trans -}}
        </h3>
        <p>{{ 'press.header.text.journalistesveuillezsaisirvotremotdepasse'|trans }}</p>
        {{ render(controller('FDCPressMobileBundle:Security:setCurrentRoute', {'originalRequest': app.request})) }}
    </div>
{% endif %}