{% trans_default_domain 'FDCPressBundle' %}

<div class="locked">
    <h3>
        <i class="icon icon_cadenas"></i>
        {{ 'press.header.title.contenusverouilles'|trans }}
    </h3>
    <p>{{ 'press.header.text.journalistesveuillezsvousrendredanslespacepresse'|trans }}</p>
    <div class="buttons">
        <a href="{{ path('fdc_pressmobile_agenda_scheduling') }}" class="button go-to-press">{{ 'press.header.text.allerdanslespacepresse'|trans }}</a>
    </div>
</div>