//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.audio-player {
  box-sizing: border-box;
  height: 87px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;

  &.bigger {
    height: 116px;

    .wave-container {
      height: 100%;
    }

    .fullscreen {
      bottom: 49px;
    }
  }

  &.pause .playpause {
    background-image: url('../img/svg/pause.svg');
    background-size: 15px;
  }

  .on {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 87px;
    height: 100%;
    width: calc(100% - 87px);
    z-index: 3;
    @include transition(all 0.3s $smoothTransition);

    .duration {
      display: inline-block;
      vertical-align: middle;
      font-family: $CamphorBold;
      color: rgba(255, 255, 255, .3);
      font-size: 0.875rem;
      width: 80px;
      margin-top: 2px;

      .curr {
        color: #fff;
        display: inline-block;
        margin-right: 8px;
      }

      .total {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }

  .off {
    border-left: 1px solid rgba(255, 255, 255, .1);
    position: absolute;
    top: 0;
    left: 87px;
    height: 100%;
    width: calc(100% - 87px);
    z-index: 3;
    @include transition(all 0.3s $smoothTransition);
  }

  &.on {
    .on, .wave-container {
      opacity: 1;
      visibility: visible;
    }

    .off {
      opacity: 0;
      visibility: hidden;
    }
  }

  .playpause {
    background: url('../img/svg/video-white.svg') no-repeat center;
    background-size: 25px;
    display: block;
    height: 20px;
    left: 37px;
    position: absolute;
    width: 20px;
    top: 50%;
    margin-top: -10px;
    z-index: 2;
  }

  .volume {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50px;
    height: 3px;
    margin-left: 20px;

    &:before {
      content: '';
      display: block;
      height: 15px;
      width: 15px;
      background: url('../img/svg/volume.svg') no-repeat center;
      background-size: contain;
      position: absolute;
      margin-top: -6px;
      margin-left: -20px;
    }

    span {
      background-color: #fff;
      border-radius: 5px;
      display: block;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 75%;
      height: 100%;
      @include transition(all 0.3s $smoothTransition);
    }
  }

  .image {
    background-size: cover;
    background-position: center;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    @include transform(scale(1.1));
    @include filter(blur(7px));
  }

  &:after {
    background: url('../img/svg/loading.svg');
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 30%;
    opacity: 0;
    margin-top: -16px;
    visibility: hidden;
    width: 32px;
    @include transition(all 0.3s $smoothTransition);
  }

  &:before {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    visibility: visible;
    width: 100%;
    z-index: 2;
    @include transition(all 0.5s $smoothTransition);
  }

  &.overlay-channels:before {
    opacity: 0.8;
    visibility: visible;
  }

  &.on.loading {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  .wave-container {
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    display: inline-block;
    margin: 0 0 0 13px;
    vertical-align: middle;
    opacity: 0;
    height: 55px;
    margin: 0 20px;
    position: relative;
    visibility: hidden;
    width: calc(100% - 270px);
    @include transition(all 0.3s $smoothTransition);

    wave {
      overflow: hidden!important;
    }
  }

  .picto {
    bottom: auto;
    left: auto;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    pointer-events: initial;
    vertical-align: middle;
  }

  .info {
    color: #969696;
    font-family: $CamphorMedium;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: 13px;
    vertical-align: middle;

    .category {
      color: $gold;
      display: inline-block;
      font-size: 0.625rem;
      letter-spacing: 0.1em;
      margin-right: 12px;
      text-transform: uppercase;
    }

    span {
      color: #969696;
      display: inline-block;
      font-size: 0.625rem;
    }

    p {
      color: #fff;
      font-family: $CamphorRegular;
      font-size: 0.850rem;
      text-align: left;
      margin-top: 5px;
      width: auto;
    }
  }

  .fullscreen {
    background: url('../img/svg/fullscreen.svg') no-repeat center;
    background-size: contain;
    bottom: 36px;
    display: block;
    height: 15px;
    position: absolute;
    right: 30px;
    width: 20px;
  }

  @media only screen and (max-device-width: 1024px){
    .fullscreen {
      display: none;
    }
  }

  &.full {
    height: 100%;
    margin-bottom: 0!important;
    width: 100%!important;
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding: 0;

    .playpause {
      bottom: 41px;
      top: auto;
    }

    .on {
      height: 100px;
      bottom: 0;
      top: auto;
      z-index: 3;
    }

    .info, .picto {
      display: none;
    }

    .fullscreen {
      bottom: 43px;
    }

    #channels-audio {
      height: 185px;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -92px;
      z-index: 3;
      @include transform(translate3d(0, 30px, 0));
      @include transition(all .8s $smoothTransition);

      .info, .picto {
        display: block;
      }

      .info-container {
        text-align: left;
      }

      .owl-item.center + .owl-item, .owl-item.center + .owl-item + .owl-item {
        opacity: 1;

        .linkVid {
          display: block;
        }
      }

      .info {
        bottom: 15px;
        height: auto;

        p {
          font-size: 0.850rem;
        }
      }

      .picto {
        background-image: url('../img/svg/audio.svg');
        background-size: 25px;
        margin-left: 0;
      }

      &.active {
        @include transform(translate3d(0, 0, 0));
        opacity: 1;
        visibility: visible;
      }
    }

    .top {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      height: 80px;
      left: 0;
      margin: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $black;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        @include transform(translateZ(0));
        @include transition(all 0.5s $smoothTransition);
      }

      &:hover {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }

      .channels {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        display: block;
        float: left;
        height: 100%;
        width: 80px;
        position: relative;
        z-index: 1;
        @include transition(all .5s $smoothTransition);

        &:hover, &.active {
          background-color: $gold;
        }
      }

      .info {
        display: block;
        height: 100%;
        float: left;
        position: relative;
        text-align: left;
        z-index: 1;

        .category {
          margin-left: 0;
        }

        p {
          font-size: 1.125rem;
        }
      }

      .buttons {
        float: right;
        position: relative;
        z-index: 1;

        .button {
          border-color: rgba(255, 255, 255, 0.3);
          border-top: none;
          border-bottom: none;
          height: 80px;
          width: 80px;
        }

        a:hover {
          background-color: #fff;
          border-color: rgba(255, 255, 255, 0.3)!important;
        }

        a.facebook {
          background: url('../img/svg/facebook-gold.svg') no-repeat center;
          background-size: 19px;
        }

        a.twitter {
          background: url('../img/svg/twitter-gold.svg') no-repeat center;
          background-size: 16px;
        }

        a.email {
          background: url('../img/svg/mail.svg') no-repeat center;
          background-size: 16px;
        }

        a.link {
          background: url('../img/svg/link.svg') no-repeat center;
          background-size: 16px;
        }
      }
    }

    .wave-container {

    }

    .image-container {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &.popin-audio>.buttons {
      display: none;
    }

    &.popin-audio .buttons {
      top: auto;
      right: auto;
      bottom: auto;
    }

    &.popin-audio .on {
      position: absolute;
    }

    &.popin-audio .info {
      bottom: auto;
      margin-left: 13px;

      p {
        color: #fff;
      }
    }
  }
}

.popin-audio {
  background-color: #fff;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 580px;
  margin: -290px 0 0 -375px;
  padding: 20px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 10;
  @include transform(translateY(30px));
  @include transition(all 1.2s $smoothTransition);

  &:before {
    visibility: hidden;
  }

  .playpause {
    top: 398px;
    margin-top: 0;
  }

  .on {
    height: 100px;
    opacity: 1;
    visibility: visible;
    top: 360px;

    .fullscreen {
      bottom: 42px;
    }
  }

  &.show {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
    @include transform(translateY(0));
  }

  .image-container {
    left: 20px;
    height: 440px;
    overflow: hidden;
    top: 20px;
    position: absolute;
    width: 710px;
  }

  .buttons {
    position: absolute;
    bottom: 25px;
    right: 20px;

    a:hover {
      background-color: #fff;
      border-color: $gold!important;

      + .button {
        border-left-color: $gold;
      }
    }

    a.facebook {
      background: url('../img/svg/facebook-gold.svg') no-repeat center;
      background-size: 19px;
    }

    a.twitter {
      background: url('../img/svg/twitter-gold.svg') no-repeat center;
      background-size: 16px;
    }

    a.email {
      background: url('../img/svg/mail.svg') no-repeat center;
      background-size: 16px;
    }

    a.link {
      background: url('../img/svg/link.svg') no-repeat center;
      background-size: 16px;
    }
  }

  .picto {
    display: none;
  }

  .info {
    position: absolute;
    bottom: 20px;
    height: 80px;
    margin: 0;
    text-align: left;
    width: 710px;

    p {
      color: #333;
      font-size: 1rem;
      margin-top: 5px;
    }
  }
}

.ov {
  background-color: $black;
  content: '';
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 5;
  @include transition(all 0.3s $smoothTransition);

  &.show {
    opacity: 0.8;
    visibility: visible;
  }
}

// 2. Actualité Article audio 
// =========================

.actu-article-audio{
    margin-top: 50px !important;
    height: 600px;
    width: 980px !important;
    .picto{
        position: absolute;
        bottom: 10px;
        margin-left: 0px !important;
    }
    .info{
        position: absolute;
        margin-left: 56px;
        bottom: 17px;
    }
    .wave-container {
        margin: 0 0 0 309px;
        position: absolute;
        bottom: 10px; 
    }
}
