//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.filters {
  text-align: center;

  div {
    display: inline-block;
    font-family: $CamphorHeavy;
    font-size: 0.625rem;
    margin-right: 40px;
    text-transform: uppercase;

    .label {
      color: #333;
      margin-right: 15px;
      letter-spacing: 0.1em;
    }

    .select {
      color: $gold;
      cursor: pointer;
      @include transition(opacity .9s $smoothTransition);

      &:hover {
        opacity: 0.5;
      }

      span {
        background: url('../img/svg/arrow-down-gold.svg') no-repeat right center;
        background-size: 6px;
        display: none;
        padding-right: 20px;

        &.active {
          display: inline-block;
        }
      }
    }
  }
}


#filters {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  z-index: 15;
  @include transition(opacity 0.7s $smoothTransition, visibility 0.7s $smoothTransition);

  &.show {
    opacity: 1;
    visibility: visible;
  }

  span {
    color: #fff;
    display: block;
    font-family: $CamphorBold;
    letter-spacing: 0.4em;
    opacity: 0;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    visibility: hidden;
    @include transform(translateY(20px) translateZ(0));

    &.show {
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0) translateZ(0));
    }

    &.active {
      color: $gold;
    }

    &:hover {
      color: $gold;
      cursor: pointer;
    }

    &:nth-child(1) {
      @include transition(opacity .5s $smoothTransition 0.1s, transform .5s $smoothTransition 0.1s, color .9s $smoothTransition);
    }

    &:nth-child(2) {
      @include transition(opacity .5s $smoothTransition 0.15s, transform .5s $smoothTransition 0.15s, color .9s $smoothTransition);
    }

    &:nth-child(3) {
      @include transition(opacity .5s $smoothTransition 0.2s, transform .5s $smoothTransition 0.2s, color .9s $smoothTransition);
    }

    &:nth-child(4) {
      @include transition(opacity .5s $smoothTransition 0.25s, transform .5s $smoothTransition 0.25s, color .9s $smoothTransition);
    }

    &:nth-child(5) {
      @include transition(opacity .5s $smoothTransition 0.3s, transform .5s $smoothTransition 0.3s, color .9s $smoothTransition);
    }

    &:nth-child(6) {
      @include transition(opacity .5s $smoothTransition 0.35s, transform .5s $smoothTransition 0.35s, color .9s $smoothTransition);
    }

    &:nth-child(7) {
      @include transition(opacity .5s $smoothTransition 0.4s, transform .5s $smoothTransition 0.4s, color .9s $smoothTransition);
    }

    &:nth-child(8) {
      @include transition(opacity .5s $smoothTransition 0.45s, transform .5s $smoothTransition 0.45s, color .9s $smoothTransition);
    }

    &:nth-child(9) {
      @include transition(opacity .5s $smoothTransition 0.5s, transform .5s $smoothTransition 0.5s, color .9s $smoothTransition);
    }
    
  }
}

.close-button {
  background: url('../img/svg/close-gold.svg') no-repeat center;
  background-size: 15px;
  border: 1px solid $gold;
  cursor: pointer;
  height: 85px;
  opacity: 0.6;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 85px;
  @include transition(all 0.9s $smoothTransition);

  &:hover {
    opacity: 1;
  }
}

