//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

header {
  background-color: $dark;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;

  ul {
    cursor: default;
  }

  #sticky-user {
    background: $black;
    font-size: 0.750rem;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    bottom: 18px;
    right: 0;
    @include transform(translate3d(0, 5px, 0));
    @include transition(opacity 0.3s $smoothTransition, transform 0.3s $smoothTransition);
    transition-delay: 0;

    ul {
      padding: 0;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    @include transform(translateZ(0));
    z-index: 15;

    #top-bar, h1 {
      display: none;
    }

    #sticky-user {
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
      float: right;
      pointer-events: initial;
      margin-top: 18px;
      transition-delay: 0.5s;

      .user-nav {
        border: none;

        a.search {
          background: url('../img/svg/search.svg') no-repeat left 1px;
          background-size: 15px;
          margin-right: 0;
        }
      }
    }

    #logo-wrapper {
      height: 50px;
      @include transition(all 0.5s $smoothTransition);

      #logo {
        width: 290px;

        img.palm {
          float: left;
          margin-top: -5px;
          width: 72px;
        }

        h2 {
          display: none;
        }

        p.stick {
          float: left;
          font-size: 1.1rem;
          margin: 12px 0 0 30px;
          opacity: 1;
          visibility: visible;

          &:after {
            transition-delay: 0.4s;
            width: 0;
          }
        }
      }

      #partners, #search {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .user-nav {
    background-color: $black;
    border-left: 1px solid #404040;
    float: right;
    font-family: $CamphorBold;
    padding: 0 15px 0 10px;

    li {
      display: inline-block;

      a {
        color: #fff;
        display: block;
        margin-right: 10px;
        padding: 0 0px 1px 20px;
        @include transition(all 0.9s $smoothTransition);

        &:hover {
          opacity: 0.7;
        }

        &.selection {
          background: url('../img/svg/selection.svg') no-repeat left 48%;
          background-size: 15px;
        }

        &.account {
          background: url('../img/svg/account.svg') no-repeat left 46%;
          background-size: 15px;
        }

        &.language {
          background: url('../img/svg/language.svg') no-repeat left 48%;
          padding-left: 30px;
          background-size: 20px;
          margin-right: 0;

          &:hover {
            opacity: 1;
          }
        }
      }

      .sub-languages {
        height: 0;
        margin-left: 10px;
        opacity: 0;
        position: absolute;
        top: 23px;
        visibility: hidden;
        z-index: 1;
        @include transition(all 0.5s $smoothTransition);
        @include transform(translateY(0));

        li {
          display: block;

          a {
            height: 23px;
            opacity: 0.5;
            @include transition(all 0.9s $smoothTransition);

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &.lang:hover .sub-languages {
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  #top-bar {
    border-bottom: 1px solid #404040;
    font-size: 0.750rem;
    height: 28px;
    line-height: 28px;

    .main-nav {
      float: left;
      font-family: $CamphorBold;

      li {
        display: inline-block;

        a {
          color: $grey;
          display: block;
          padding: 0 12px;
          text-transform: uppercase;
          @include transition(all 0.3s $smoothTransition);
        
          &:hover, &.active {
            color: $gold;
          }

          &.active {
            background-color: $black;
            border-right: 1px solid #404040;
            padding-bottom: 1px;
          }
        }
      }
    }
  }

  #logo-wrapper {
    background-color: $black;
    height: 160px;
    overflow: hidden;
    @include transition(all 0.1s $smoothTransition);
    @include transform(translateY(0));

    .container {
      height: 100%;
      position: relative;
    }

    #logo {
      display: inline-block;
      padding: 5px 100px 0 0;
      text-align: center;
      vertical-align: middle;
      width: 200px;

      h1, p.stick {
        font-family: $CamphorBold;
        font-size: 1.250rem;
        font-weight: normal;

        a {
          color: $gold;
          text-transform: uppercase;
        }
      }

      p.stick {
        opacity: 0;
        visibility: hidden;
        position: relative;

        &:after {
          content: '';
          display: block;
          background-color: $black;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          @include transition(width .5s $smoothTransition);
          @include transform(translateY(0));
        }

        &.noTrans:after {
          @include transition(none);
        }
      }

      h2 {
        font-family: $CamphorRegular;
        font-size: 0.875rem;
        font-weight: normal;
        margin-top: 5px;

        a {
          color: $gold;
          text-transform: uppercase;
        }
      }

      img.palm {
        display: block;
        margin: 0 auto;
        width: 145px;
        @include transition(width 0.3s $smoothTransition);
        @include transform(translateY(0));
      }
    }

    #partners {
      position: absolute;
      top: 60px;
      left: 315px;
      @include transition(all 0.5s $smoothTransition);

      img {
        display: inline-block;
        margin-right: 25px;
        vertical-align: middle;

        &.chopard {
          margin-top: 10px;
        }

        &.oreal {
          margin-top: 2px;
        }

        &.hp {

        }

        &.renault {
          margin-top: 2px;
        }

        &.kering {
          margin-top: -2px;
        }
      }
    }

    #search {
      border: 1px solid #404040;
      display: block;
      float: right;
      height: 63px;
      position: relative;
      margin-top: 47px;
      width: 63px;
      @include transition(all 0.9s $smoothTransition);

      a {
        background: url('../img/svg/search.svg') center no-repeat;
        background-size: 20px;
        display: block;
        height: 100%;
        width: 100%;
      }

      &:hover {
        border-color: #fff;
      }
    }
  }

  #navigation {
    background-color: $black;
    border-bottom: 1px solid #404040;
    border-top: 1px solid #404040;
    height: 39px;
    line-height: 39px;

    /*.container {
      overflow: hidden;
    }*/

    ul {
      float: left;

      li {
        display: inline-block;
        margin-left: -4px;

        &:hover>a {
          color: $gold;
        }

        &:first-child {
          margin-left: 0;
        }

        a {
          color: #fff;
          display: block;
          padding-right: 21px;
          text-transform: uppercase;
          @include transition(color 0.9s $smoothTransition);

          &:hover, &.active {
            color: $gold;
          }
        }

        &.fade a {
          color: #434343;
        }

        ul {
          background-color: $black;
          box-sizing: border-box;
          margin-top: 1px;
          opacity: 0;
          padding-left: 100px;
          position: absolute;
          visibility: hidden;
          width: 977px;
          z-index: 15;
          @include transition(all 0.5s $smoothTransition);
          @include transform(translateY(0));

          &:before {
            background-color: $black;
            border-bottom: 1px solid #404040;
            content: '';
            display: block;
            height: 100%;
            left: -150%;
            position: absolute;
            width: 450%;
            z-index: 0;
          }

          li {
            font-size: 0.688rem;
            position: relative;
            z-index: 2;
            letter-spacing: 0.18em;
          }

          &.tcenter {
            text-align: center;
            width: 639px;
            padding-left: 0;
            left: 0;

            li:last-child a {
              padding-right: 0;
            }
          }
        }

        &:hover ul {
          opacity: 1;
          visibility: visible;
        }
      }

      &.main {
        border-right: 1px solid #404040;
        font-family: $CamphorHeavy;
        font-size: 0.875rem;
        position: relative;
      }

      &.user {
        font-family: $CamphorBold;
        font-size: 0.740rem;

        li:hover>a {
          color: $gold;

          &:after {
            opacity: 1;
            visibility: visible;
          }
        }

        li a {
          color: $grey;
          padding: 0 0 0 28px;
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            @include transition(all .6s $smoothTransition);
          }

          &.programmation {
            background: url('../img/svg/programmation.svg') no-repeat 8% 47%;
            background-size: 15px;

            &:after {
              background: url('../img/svg/programmation-gold.svg') no-repeat 8% 47%;
              background-size: 15px;
            }
          }

          &.participate {
            background: url('../img/svg/participate.svg') no-repeat 12% 47%;
            background-size: 15px;

            &:after {
              background: url('../img/svg/participate-gold.svg') no-repeat 12% 47%;
              background-size: 15px;
            }
          }

          &.press {
            background: url('../img/svg/press.svg') no-repeat 12% 47%;
            background-size: 15px;

            &:after {
              background: url('../img/svg/press-gold.svg') no-repeat 12% 47%;
              background-size: 15px;
            }
          }

          &:hover {
            color: $gold;

            &:after {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        li ul li a {
          color: #fff;
          font-size: 0.750rem;
          font-family: $CamphorHeavy;
        }

        .participate-wrapper ul {
          left: auto;
          margin-left: -762px;
          text-align: right;
          li{
            a{
              font-size: 0.688rem;
            }
          }
        }
      }
    }
  }
}



