//       SUMMARY TABLE
// =========================
// 1. Global
// =========================


// 1. Global
// =========================
img {
  content: none!important;
}
header {
  background-color: $dark;
  position: relative;
  width: 100%;
  z-index: 10;
  top: 0;

  &.press {
    overflow: initial;

    #navigation ul li ul.tcenter {
      width: 836px;
    }

    #navigation ul.main {
      width: 835px;
    }

    #navigation ul.user {
      float: right;
      font-family: $CamphorHeavy;

      li a {
        color: #a7a7a7;

        &:hover {
          color: $gold;
        }
      }
    }
  }

  ul {
    cursor: default;
  }

  #sticky-user {
    background: $black;
    font-size: 0.750rem;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    bottom: 12px;
    right: 0;
    @include transform(translate3d(0, 5px, 0));
    @include transition(opacity 0.3s $smoothTransition, transform 0.3s $smoothTransition);
    transition-delay: 0;

    ul {
      padding: 0;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    @include transform(translateZ(0));
    z-index: 1005;

    #top-bar, h1 {
      display: none;
    }

    #sticky-user {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
      float: right;
      pointer-events: auto;
      margin-top: 18px;
      transition-delay: 0.5s;
      margin-right: 85px;

      .user-nav {
        border: none;

        a.search {
          background-size: 15px;
          margin-right: 0;

          .icon{
            font-size: .7rem; //todo
          }
        }

        a {
          @include transform(translateZ(0));
        }

        a.selection {
          min-width: 71px;
        }
      }
    }

    #logo-wrapper {
      height: 50px!important;
      @include transition(all 0.5s $smoothTransition);

      #logo {
        width:310px;

        img.palm {
          float: left;
          margin-top: -5px;
          width: 72px;
          margin-left: 35px;
          margin-left: 50px;
        }

        h2 {
          display: none;
        }

        p.stick {
          float: left;
          font-size: 1.1rem;
          margin: 7px 0 0 30px;
          opacity: 1;
          visibility: visible;

          &:after {
            transition-delay: 0.4s;
            width: 0;
          }
        }
      }

      #partners, #search {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .user-nav {
    background-color: $black;
    border-left: 1px solid #141414;
    float: right;
    font-family: $CamphorBold;
    padding: 0 15px 0 10px;
    @include transition(all 0s $smoothTransition);
    li {
      display: inline-block;

      a {
        color: #fff;
        display: block;
        margin-right: 10px;
        padding: 0px 0px 1px 4px;
        @include transition(opacity 0.9s $smoothTransition);

        &:hover {
          opacity: 0.7;
        }


        .icon{
          font-size: 0.6rem; //todo
          margin-right: 10px;
        }
        &.account {
          padding-left: 0;

          .icon {
            font-size: 0.6rem; //todo
            margin-right: 10px;
          }
        }

        &.language {
          background-size: 20px;
          margin-right: 0;
          .icon{
            font-size: 1.3rem; //todo
            vertical-align: sub !important;
          }
          &:hover {
            opacity: 1;
          }
        }
      }

      .sub-languages {
        height: 0;
        margin-left: 10px;
        opacity: 0;
        position: absolute;
        top: 23px;
        visibility: hidden;
        z-index: 1;
        @include transition(all 0.5s $smoothTransition);
        @include transform(translateY(0));

        li {
          display: block;

          a {
            height: 23px;
            opacity: 0.5;
            @include transition(all 0.9s $smoothTransition);

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &.lang:hover .sub-languages {
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  #top-bar {
    border-bottom: 0px solid #080808;
    background-color: #141414;
    font-size: 0.750rem;
    height: 35px;
    line-height: 30px;
    @include transition(all .6s $smoothTransition);

    .main-nav {
      float: left;
      font-family: $CamphorBold;
      background-color: #080808;
      @include transition(all .6s $smoothTransition);

      li {
        margin-left: -4px;
        display: inline-block;
        background-color: #080808;
        border-left: 0px solid #404040;
        border-right: 0px solid #404040;
        border-bottom: 1px solid #404040;

        &:last-child {
          border-bottom: 1px solid #141414!important;
        }

        a {
          color: $grey;
          display: block;
          padding: 0 12px;
          text-transform: uppercase;
          @include transition(all 0.3s $smoothTransition);

          &:hover, &.active {
            color: $gold;
            background-color: #141414!important;
          }

          &.active {
            border-left: 1px solid #404040!important;
          }
        }
      }
    }

    .icon_ma-selection, .icon_mon-compte {
      min-width: 9.5px;
    }

    .icon_langue {
      min-width: 20.5px;
    }
  }

  #logo-wrapper {
    background-color: $black;
    height: 160px!important;
    @include transition(all 0.1s $smoothTransition);
    @include transform(translateY(0));

    .container {
      height: 100%;
      position: relative;
      width: 1152px;
      @media screen and (max-width: 1024px) {
        width: 1152px;
      }
    }

    #logo {
      display: inline-block;
      padding: 5px 100px 20px 0;
      text-align: center;
      vertical-align: middle;
      width: 200px;
      positon: relative;

      h1, p.stick {
        font-family: $CamphorBold;
        font-size: 1.250rem;
        font-weight: normal;

        a {
          color: $gold;
          text-transform: uppercase;
        }
      }

      h1 {
        position: absolute;
        /*top: 108px;
        left: 0px;*/
        top: 90px!important;
        left: 10px!important;
      }

      h2 {
        position: absolute;
        top: 130px;
        left: 44px;
      }


      p.stick {
        opacity: 0;
        visibility: hidden;
        position: relative;

        &:after {
          content: '';
          display: block;
          background-color: $black;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          @include transition(width .5s $smoothTransition);
          @include transform(translateY(0));
        }

        &.noTrans:after {
          @include transition(none);
        }
      }

      h2 {
        font-family: $CamphorRegular;
        font-size: 0.875rem;
        font-weight: normal;
        margin-top: 5px;

        a {
          color: $gold;
          text-transform: uppercase;
        }
      }

      img.palm {
        display: block;
        margin: 0 auto;
        width: 165px;
        width: 123px;
        margin-left: 35px;
        @include transition(width 0.3s $smoothTransition);
        @include transform(translateY(0));
      }
    }

    #logo.wichlist {
      margin: 0 auto;
      display: block;
      padding: 5px 0 0 0;
    }

    #partners {
      position: absolute;
      top: 60px;
      left: 315px;
      @include transition(all 0.5s $smoothTransition);

      img {
        display: inline-block;
        margin-right: 25px;
        vertical-align: middle;
        height: 100%;

        &.chopard {
          margin-top: 10px;
        }

        &.oreal {
          margin-top: 2px;
        }

        &.hp {

        }

        &.renault {
          margin-top: 2px;
        }

        &.kering {
          margin-top: -2px;
        }
      }
    }

    #leaderBoard {
      position: absolute;
      width: 720px;
      height: 90px;
      @include transition(all 0.5s $smoothTransition);
      top: 30px;
      left: 405px;
      background: #333333;
      text-align: center;
      color: white;
    }

    #search {
      border: 1px solid #404040;
      display: block;
      float: right;
      height: 63px;
      position: relative;
      margin-top: 47px;
      width: 63px;
      @include transition(all 0.9s $smoothTransition);

      a { //todo back
        color:#fff;
        position: relative;
        background-size: 20px;
        display: block;
        height: 100%;
        width: 100%;
        .icon{
          position: absolute;
          top: 39%;
          left: 39%;
        }
      }

      &:hover {
        border-color: #fff;
      }
    }
  }

  .bigContainer {
    max-width: 1152px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden!important;
  }

  #navigation {
    background-color: $black;
    border-bottom: 1px solid #404040;
    border-top: 1px solid #404040;
    height: 39px;
    line-height: 39px;
    z-index: 1005;
    @include transition(all .8s $smoothTransition);

    /*.container {
      overflow: hidden;
    }*/

    ul {
      float: left;

      li {
        display: inline-block;
        margin-left: 40px;

        @media screen and(max-width: $mobileWidth) {
          margin-left: 5px;
        }

        &:hover>a {
          color: #FFFFFF;
          @include transition(all .8s $smoothTransition);
        }

        &:first-child {
          margin-left: 50px;
          @media screen and(max-width: $mobileWidth) {
            margin-left: 5px;
          }
        }

        a {
          color: #fff;
          display: block;
          padding-right: 20px;
          text-transform: uppercase;
          @include transition(color 0.9s $smoothTransition);

          &:hover, &.active {
            color: #ec3050;
          }
        }

        &.fade a {
          color: #434343;
        }

        ul {
          box-sizing: border-box;
          margin-top: 1px;
          opacity: 0;
          padding-left: 100px;
          position: absolute;
          visibility: hidden;
          width: 977px;
          z-index: 15;
          @include transition(all 0.5s $smoothTransition);
          @include transform(translateY(0));

          &:before {

            border-bottom: 0px solid #404040;
            content: '';
            display: block;
            height: 100%;
            height: auto;
            left: -150%;
            position: absolute;
            width: 450%;
            z-index: 0;
          }

          li {
            font-size: 0.688rem;
            position: relative;
            z-index: 2;
            letter-spacing: 0.18em;
          }

          &.tcenter {
            text-align: center;
            padding-left: 0;
            left: 0;
            opacity: 1;
            min-height: 500px!important;
            visibility: visible;
            display: block;
            @include transition(all 0.5s $smoothTransition);

              li {
                display: block;
                width: 34%;
                text-align: left;
                margin-left: 0px;
                @include transition(all 0.5s $smoothTransition);
              }

              li:last-child a {
                padding-right: 0;
              }
          }

        }

        &:hover ul, &:hover ul li {
          opacity: 1;
          visibility: visible;
          display: block;
          @include transition(all .8s $smoothTransition);
        }
      }

      .redBckg {
        width: 100%;
        position: absolute;
        margin: 0 auto;
        z-index: 1005;
      }

      &.main {
        border-right: 1px solid #404040;
        font-family: $CamphorHeavy;
        font-size: 0.78rem;
        /*position: relative;*/
      }

      &.user {
        float: right;
        font-family: $CamphorBold;
        font-size: 0.740rem;

        li {
          vertical-align: top;
          font-size: 0.78rem;
          @include transition(all .8s $smoothTransition);
        }

        li:hover>a {
          color: #FFFFFF;
          font-size: 0.78rem;
          @include transition(all .8s $smoothTransition);

          &:after {
            opacity: 1;
            visibility: visible;
          }
        }

        li a {
          color: $grey;
          padding: 0 0 0 26px; //todo
          padding: 0px;
          position: relative;
          @include transition(all .8s $smoothTransition);

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            @include transition(all .6s $smoothTransition);
          }
          .icon{
            margin-right: 5px;
            font-size: .6rem;
            margin-left: 14px;
          }
          &:hover {
            color: #FFFFFF;
            @include transition(all .8s $smoothTransition);

            &:after {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        li ul li a {
          color: #fff;
          font-size: 0.78rem;
          font-family: $CamphorHeavy;
          padding: 0 0 0 26px; //todo
          @include transition(all .8s $smoothTransition);
        }

        .participate-wrapper ul {
          left: auto;
          margin-left: -762px;
          text-align: right;
          li{
            a{
              font-size: 0.688rem;
            }
          }
        }

        .programmation-wrapper ul{
          left: auto;
          margin-left: -649px;
          text-align: right;
          li{
            a{
              font-size: 0.688rem;
            }
          }
        }

        .icon_participer, .icon_programmation, .icon_espace-presse{
          min-width: 9.5px;
        }
      }
    }
  }
}

#edition:hover, #edition {
    @include transition(all .8s $smoothTransition);
}

.searchBox {
  @include transition(all  2s $smoothTransition);
  right: 0%;
  display: none;
  width: 0px;
  direction: rtl;
  @include transition(all  0.9s $smoothTransition);

  input {
    background: white;
    height: 30px;
    width: 190px;
    padding-left: 15px;
    
    }
}

#searchInput {
    background-color: white;
    background-image: url("/img/loupe.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;  
}

#searchBar {
    margin-left: 80px!important;
    border-left: 1px solid #404040;
    padding-left: 20px;
  }  
  
.showsearchBox {
  right: 30%;
  direction: rtl;
  @include transition(all  2s $smoothTransition);
  display: inline-block!important;
  width: 100px!important;

}

.marginli {
  margin-left:15px!important;
}

.marginLastli {
  display: none!important;
}

.showsearchBox > *, .searchBox > * {
  direction: ltr;
}

.blackIcon, .icon_recherche:checked {
  color: black!important;
  margin-left: 50px!important;
}

.tleft, .tright {
  @include transition(all 0.2s $smoothTransition);
  opacity: 0;
  visibility: hidden;
  margin-top: -20px;
  height: 0px;
  li {
    &:hover {
      color: #FFFFFF!important;
      opacity: 1!important;
        @include transition(all 0.2s $smoothTransition);
    }
  }
}

.tleft {
    margin-left: 100px;
}

.showT {
  @include transition(all 0.2s $smoothTransition);
  visibility: visible;
  opacity: 1;
  margin-top: 30px;
  height: 300px;

}

#subMenu{
    height: 0px;
    position: absolute;
    width: 100%;
    background: url(/img/purpleBackg.png);
    background-size: 100% 600px;
    border-bottom: 0px solid #404040;
    border: 0px solid #404040;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: middle;
    color: white !important;
    margin-top: 0px;
    z-index: 999;
    @include transition(all 0.8s $smoothTransition);

  ul {
    width: 34%;
    @include transition(all .8s $smoothTransition);
  }

  li {
    max-width: 100%!important;
    display: block!important;
    margin-left: 0px!important;
    font-family: $CamphorHeavy;
    font-size: 0.78rem;
    text-align: left;
    @include transition(all .8s $smoothTransition);
    
    .active, &:hover {
      color: #FFFFFF!important;
      opacity: 1!important;
      @include transition(all .8s $smoothTransition);
    }
    
  }
    
  a {
      &:hover, &.active {
        color: #FFFFFF!important;
      }
    } 
}

.liMargin {
  z-index: 1004;
}

.littleMargin {
  margin-top: 50px;
  height: 50px;
  @include transition(all .6s $smoothTransition);
}

.seeSub {
  @include transition(all .6s $smoothTransition);

  span {
    font-size: 10px;
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.showMenu {
  height: 300px!important;
  @include transition(all .6s $smoothTransition);
}

.rotateArrow {
    width: 5px;
    float: left;
    margin-right: 5px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    @include transition(all .1s $smoothTransition);
    font-size: 10px;
    margin-top: 8px;
}

.arrowRotated {
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  @include transition(all .1s $smoothTransition);
  margin-top: 11px;
}

.subsubMenu  {
  overflow: hidden;
  height: 0px;
  padding-left: 20px!important;
  margin-top: -15px!important;
  margin-bottom: 10px;
  @include transition(all  0.9s $smoothTransition);

  li {
    height: 20px;
    .active, &:hover {
      color: #FFFFFF!important;
      opacity: 1!important;
      text-transform: initial!important;
    }

    a { 
      text-transform: initial!important;
      .active, &:hover {
        color: #FFFFFF;
      }   
    }
  }
}

.seesubsubMenu {
    height: 50px;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
  }

header {

  z-index: 1005;

  #navigation {
    @include transition(all  0.9s $smoothTransition);
        /*.tleft:before {
        background: url("/img/purpleBackg.png");
        background-size: 100% 450px;
        border-bottom: 0px solid #404040;
        border: 0px solid #404040;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:middle;
        }*/
    }

  }

.mob:not(.tablet) {
  #navigation {
    ul {
      li {
        margin-left: -5px;
      }
      ul {
        &:before {
          width: 91% !important;
        }
      }
    }
    ul.user .programmation-wrapper ul {
      margin-left: -662px;
    }
    ul.user .participate-wrapper ul {
      margin-left: -793px;
    }
    ul li ul {
      width: 1024px;
    }
     ul li a {
       padding-right: 12px;
    }
    ul li ul li {
      margin-left:5px;
    }
}

  @include breakpoint(1024px) {
    .mob header #navigation ul.main {
      font-size: 0.8rem;
    }

    .mob header #navigation ul.user {
      font-size: 0.7rem;
    }
  }
}

.blackBckg {
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    margin-top: -30px;
    height: 0%;
    background: black;
    padding: 0px;
    margin: 0px;
    @include transition(all .6s $smoothTransition);
    z-index: 1001;
}

.showblackBckg {
  display: block!important;
  height: 100%!important;
  opacity: 0.9;
  @include transition(all .6s $smoothTransition);
}

@media screen and (max-width: 1155px) {
    .main {
      float:none;
    }

    #navigation {
      ul {
        margin-left: 75px;
      }
    }
}

.minifiedBar {
  display: block!important;
  height: 0px!important;
}

.minifiedNav {
    position: absolute!important;
    right: 0%!important;
    z-index: 1000!important;
}