.title-participate{
	font: 1.3rem "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    color: #c1c1c1;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 365px;
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
    padding: 60px 40px 60px 40px;
    font-weight: 600;
}
.open .title-participate{
	color:#c29f5f;
}
.faq-container .title-participate{
    padding: 30px 20px 30px 0;
    width: 485px;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    line-height: 20px;
}
.faq-container .section-title{
    border-top: 1px solid #c1c1c1;
}
section{
	font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
}
.section-contain{
	overflow: hidden;	
	height: 0;
/*	max-height: 0;
	-moz-transition: all 0.6s ;
    -o-transition: all 0.6s ;
    -webkit-transition: all 0.6s;
    transition: all 0.6s ;*/
	/*display: none;*/
}
.open .section-contain{
    /*max-height: 1000px;*/
    height: auto;

}
.section-title .icon{
    font-size: 3rem;
    color: #c1c1c1;
}
.open .section-title .icon{
    color:#c29f5f
}
.section-title .icon_case-plus{
    font-size: 4rem;
}
.section-title .icon_moins{
    font-size: 1.5rem;
    position: relative;
    left: 20px;
}
.description{
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin-bottom: 50px;

}