/*SECTION AUDIOS*/

.audio-player{

	height: 112px;
	width: 100%;
	background-position: center center;
  	background-size: cover;
  	padding: 20px;
  	box-sizing:border-box;
  	position: relative;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#999999;
    overflow: hidden;
    margin-bottom: 20px;
}
.audio-player .picto{

	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	position: relative;
    left: 0;
    bottom: 0;
    pointer-events: inherit;
    float: left;
    margin-right: 20px;
}
.audio-player .picto .icon{
	color:#c8a461;
	font-size: 30px;
}
.audio-player .category{

	color: #c8a461;   
    letter-spacing: 0.1em;
    text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
	display: inline-block;
}
.audio-player p{
	font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
	color:#fff;
	font-size: 23px;
	max-width: 425px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}
.audio-player .player-on, .audio-player .player-off{
	float: left;
	-moz-transition: all 0.8s; 
    -o-transition: all 0.8s ;
    -webkit-transition: all 0.8s ;
    transition: all 0.8s ;
}

.audio-player .player-on{
	opacity: 0;
}
.audio-player.on .player-off{
	margin-top: -85px;
}
.audio-player.on .player-on{
	opacity: 1;
}
.audio-player .duration{
	font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
.audio-player .duration .curr{
	color: #fff;
	margin-right: 2px;
}
.audio-player .duration .total{
	margin-left: 2px;
}
.audio-player .wave-container{

	width: 425px;
    float: left;
}
.audio-player .picto .icon_pause, .audio-player .picto .icon_play{
	font-size: 20px;
}