.faq-page #horizontal-menu{
	margin-top: 20px;
	background: #fff;
	border-bottom: 1px solid #dfdfdf; 
	border-top: 1px solid #dfdfdf; 
}
.faq-page #horizontal-menu .vid p{
	text-align: left;
	line-height: 110px;
	font-size: 22px;
}
.faq-page #horizontal-menu .vid{
	box-sizing:border-box;
}
.faq-page #horizontal-menu .owl-stage {
    padding-left: 40px;
}