
.section-contain h3{

	font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    padding-bottom: 65px;
    font-weight: 600;
    color: #000;
}


.title-contain{
	text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-bottom: 30px;
    font-weight: 600;
}
.title-contain .icon{
	color: #999999;
	font-size: 1.8rem;
	padding-right: 10px;
	position: relative;
    top: -4px;
}

.description.center{
	text-align: center;
}
.description.center .title-contain{
	text-align: center;
}
img{
	display: inline-block;
	margin-bottom: 15px;
}
strong{
	font-weight: 700;
	font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
}
strong.color{

	color:#c29f5f;
}
.description strong.center{
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
    font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
    display: block;
    padding:60px 0 10px 0;
    letter-spacing: 1px;
}
.description a {

	color: #c29f5f;
    text-decoration: underline;
}
.loc{
	display: block;
}
.contain-good-practice{
	width: 525px;
	margin: 0 auto;
}
.item-good-practice{
	width: 49%;
	display: inline-block;
	text-align: center;
	height: 235px;
	vertical-align: top;
}
.item-good-practice .icon{
	font-size: 3rem;
	color: #999999;
	display: block;
	margin-bottom: 25px;
}
.item-good-practice p{
	width: 240px;
	height: 115px;
	display: block;
	font-size: 24px;
	font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
	line-height: 35px;
	font-weight: 700;
	margin:0 auto;
}