#main.press_maps {
	background: #fff;
}
.press_maps .header-press .container {
	padding: 0;
}
.press_maps .header-press .container h2{
	margin:0;
	padding: 60px 0;
}
.press_maps #horizontal-menu{
	background: #fff;
	border-bottom: 1px solid #dfdfdf; 
	border-top: 1px solid #dfdfdf;
  margin-bottom: 60px;
}
.press_maps #horizontal-menu .vid p{
	text-align: left;
	line-height: 110px;
}
.press_maps #horizontal-menu .vid{
	box-sizing:border-box;
}
.press_maps #horizontal-menu .owl-stage {
    padding-left: 40px;
}
.maps .map{
	width: 560px;
	display: block;
	margin: 0 40px;
	border-bottom: 1px solid #dfdfdf;
    padding-bottom: 30px;
}
.maps h3{
	margin: 30px 40px 20px;
}
.maps .zone{
	margin: 0 40px;
	display: block;
	width: 560px;
}
.maps div{
	display: none;
	opacity: 0;
}
.maps div.active{
	display: block;
}
.maps{
	min-height: 735px;
	margin-bottom: 60px;
}