
#searchContainer {
  
  background-color: #fff;
  position: relative;
  width: 100%;  
  /*height: 80vh;*/
  min-height: 700px;
 }

#searchContainer .container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
#searchContainer p.link {
  margin-top: 25px;
}

#searchContainer p.link a {
  color: #c8a461;
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  font-size: 0.750rem;
  text-transform: uppercase;
  -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#searchContainer ::-webkit-input-placeholder {
  color: #e6e6e6;
  font-size: 2.250rem;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

#searchContainer form {
  display: block;
  margin-top: 40px;
  position: relative;
  padding: 0;
  width: 100%;
}
#searchContainer #inputSearch {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  color: #333;
  line-height: 1em;
  padding: 0 0 10px;
  font-family: "Playfair Display", Times New Roman, Times, serif;
  letter-spacing: 0.1em;
  font-size: 2.250rem;
  outline: none;
  width: 100%;
}
#searchContainer #submitSearch {
  opacity: 0;
  visibility: hidden;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 50px;
  width: 50px;
  -moz-transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#searchContainer #footerSearch {
  background-color: #000;
  height: 300px;
  margin-top: 40px;
  position: relative;
  width: 100%;
}
#searchContainer #footerSearch .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.3;
  width: 100%;
  background: url("../img/search/footer.jpg") no-repeat top center;
  background-size: cover;
}
#searchContainer #footerSearch .txtFooter {
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 1;
}
#searchContainer #footerSearch .txtFooter h2 {
  font-size: 1.750rem;
}
#searchContainer #footerSearch .txtFooter h3 {
  font-size: 0.750rem;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 12px;
}
#searchContainer #count {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  color: #000;
  opacity: 0.4;
  right: 45px;
  font-size: 0.688rem;
  font-family: "Playfair Display", Times New Roman, Times, serif;
  height: 25px;
  line-height: 25px;
  top: 19px;
  padding-right: 10px;
  position: absolute;
  z-index: 1;
}
#searchContainer #results {
  overflow: hidden;
  padding-left: 120px;
}
#searchContainer #results #filtered {
  display: none;
}
#searchContainer #results #filtered .filters {
  display: none;
  height: 48px;
  border-bottom: 1px solid #dfdfdf;
  line-height: 42px;
  margin-top: 3px;
  margin-left: 55px;
}
#searchContainer #results #filtered #filteredContent {
  margin-left: 55px;
  padding-top: 15px;
}
#searchContainer #results #filtered #filteredContent article {
  margin-left: 40px;
  width: 240px;
}
#searchContainer #results #filtered #filteredContent article .image {
  height: 150px;
}
#searchContainer #results #filtered #filteredContent article:first-child {
  margin-left: 0;
}
#searchContainer #results #filtered #filteredContent article:nth-child(3n+1) {
  margin-left: 0;
}
#searchContainer #results #filtered #filteredContent .film.big .info h2 {
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
}
#searchContainer #results #filtered #filteredContent .film.big .info .date {
  padding-top: 5px;
}
#searchContainer #results .big {
  float: left;
  margin-bottom: 50px;
  margin-left: 40px;
  width: 170px;
}
#searchContainer #results .big:first-child {
  margin-left: 0;
}
#searchContainer #results .big:nth-child(4n+1) {
  margin-left: 0;
}
#searchContainer #results .big img {
  display: block;
  margin-bottom: 17px;
}
#searchContainer #results .big .info {
  text-align: center;
}
#searchContainer #results .big .info h2 {
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
}
#searchContainer #results .big .info h2 a {
  color: #2c2c2c;
  -moz-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#searchContainer #results .big .info h2 a:hover {
  opacity: 0.6;
}
#searchContainer #results .big .info .category {
  color: #c8a461;
  display: block;
  font-size: 0.813rem;
  font-style: italic;
  margin: 5px 0;
}
#searchContainer #results .big .info .country {
  color: #999;
  text-transform: uppercase;
  display: block;
  font-size: 0.688rem;
}
#searchContainer #results .big .info .date {
  color: #999;
  font-size: 0.625rem;
  display: block;
  text-transform: uppercase;
}
#searchContainer #results .big.film .info .category {
  color: #a7a7a7;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-size: 0.750rem;
  font-style: normal;
  text-transform: uppercase;
}
#searchContainer #results .big.film .info a.director {
  color: #c8a461;
  font-style: italic;
  font-size: 0.813rem;
  margin-bottom: 5px;
}
#searchContainer #results .resultWrapper {
  display: none;
  overflow: hidden;
  padding-top: 22px;
}
#searchContainer #results .resultWrapper .resultsContainer {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
#searchContainer #results .resultWrapper .resultsContainer.noBorder {
  border: none;
}
#searchContainer #results .resultWrapper .resultsContainer h2.titleSection {
  font-family: "Camphor W01 Medium", Arial, Helvetica, sans-serif;
  font-size: 0.750rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#searchContainer #results .resultWrapper .resultsContainer .view-all {
  color: #c8a461;
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  font-size: 0.688rem;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  -moz-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#searchContainer #results .resultWrapper .resultsContainer .view-all:hover {
  opacity: 0.6;
}
#searchContainer #results .resultWrapper .small {
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}
#searchContainer #results .resultWrapper .small img {
  float: left;
  margin-right: 15px;
}
#searchContainer #results .resultWrapper .small .info {
  float: left;
  height: 66px;
}
#searchContainer #results .resultWrapper .small .info h2 {
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  font-size: 0.688rem;
  text-transform: uppercase;
}
#searchContainer #results .resultWrapper .small .info h2 a {
  color: #2c2c2c;
  -moz-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#searchContainer #results .resultWrapper .small .info h2 a:hover {
  opacity: 0.6;
}
#searchContainer #results .resultWrapper .small .info .category {
  color: #c8a461;
  display: block;
  font-size: 0.625rem;
  margin: 5px 0;
}
#searchContainer #results .resultWrapper .small .info .country {
  color: #999;
  text-transform: uppercase;
  display: block;
  font-size: 0.625rem;
}
#searchContainer #results .resultWrapper .small .info .date {
  color: #999;
  font-size: 0.625rem;
  position: absolute;
  top: 12px;
  right: 0;
}
#searchContainer #results .resultWrapper .small.film .info .category {
  color: #999;
}
#searchContainer #results .resultWrapper .small.film .info .category a {
  color: #c8a461;
  font-style: italic;
  -moz-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#searchContainer #results .resultWrapper .small.film .info .category a:hover {
  opacity: 0.6;
}
#searchContainer #results article {
  height: auto;
  padding: 0 0 40px 0;
  width: 225px;
}
#searchContainer #results article .info {
  color: #666;
}
#searchContainer #results article .category {
  display: block;
  margin: 0;
}
#searchContainer #results article .image {
  height: 140px;
}
#searchContainer #results article:nth-child(2n) {
  margin-left: 40px;
}
#searchContainer #results #wide {
  float: left;
  padding: 22px 55px 0 55px;
  width: 490px;
}
#searchContainer #results #wide .big {
  width: 136px;
}
#searchContainer #results #wide .big:nth-child(4n+1) {
  margin-left: 40px;
}
#searchContainer #results #wide .big:nth-child(3n+1) {
  margin-left: 0;
}
#searchContainer #results #short {
  float: left;
  width: 257px;
}
#searchContainer #results #noResult {
  display: none;
  padding-top: 70px;
  text-align: center;
}
#searchContainer #results #noResult h3 {
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  opacity: 0.2;
  color: #000;
  text-transform: uppercase;
}
#searchContainer #results #noResult p.link {
  margin-top: 20px;
}

#suggest {
  width: 100%;
  z-index: 3;
}
.searchpage #suggest{
  position: absolute;
}
#suggest li {
  background-color: #fff;
  color: #a3a3a3;
  font-family: "Playfair Display", Times New Roman, Times, serif;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  height: 70px;
  line-height: 70px;
  padding-left: 15px;
  padding-right: 25px;
  position: relative;
  width: 530px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
#suggest li strong {
  color: #333;
  font-weight: 700;
}

#suggest li:nth-child(2n) {
  background-color: #f7f7f7;
}
#suggest li:nth-child(2n):hover {
  background-color: #ededed;
}