.searchpage #horizontal-menu{
	background: #fff;
	border-bottom: 1px solid #dfdfdf; 
  margin-bottom: 60px;
}
.searchpage ::-webkit-input-placeholder {
  color: #e6e6e6;
  font-size: 2.250rem;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

.searchpage form {
  display: block;
  margin-top: 40px;
  position: relative;
  padding: 0;
  width: 560px;
  margin: 30px auto 0;
}
.searchpage #inputSearch {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  color: #333;
  line-height: 1em;
  padding: 0 0 10px;
  font-family: "Playfair Display", Times New Roman, Times, serif;
  letter-spacing: 0.1em;
  font-size: 2.250rem;
  outline: none;
  width: 100%;
}
#filtered{
	display: none;
}
#filtered.show{
	display: block;
}
.resultsContainer{
	width: 560px;
	margin: 0 auto 60px;

  border-bottom: 1px solid #dfdfdf;
	position: relative;
}
.resultsContainer:last-child{
	border-bottom:none;
}
.resultsContainer h2.titleSection {
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.resultsContainer .view-all {
  color: #c8a461;
  font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  -moz-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.9s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

/*SLIDERS*/
.portrait-slider{
	margin: 60px 0;
	width: 640px;
	height: 530px;
	margin-left: -40px;
}
.portrait-slider .owl-item{

	width: 280px;
	height: 530px;
}
.portrait-slider .img-container{

	width: 280px;
	height: 380px;
	background-position: center center;
  	background-size: cover;
}
.portrait-slider .info{
	margin-top: 35px;
	text-align: center;
}
.portrait-slider .info p{
	text-transform: uppercase;
	color: #2c2c2c;
	font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 8px;
}
.portrait-slider .info p.subtitle{
	font-size: 18px;
}
.portrait-slider .info p.countrie, .portrait-slider .info p.year{
	font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
	color:#999999;
	font-size: 20px;
	margin-top: 8px;
	text-transform: uppercase;
	font-weight: 100;
}
.portrait-slider .info p.director{
	color: #2c2c2c;
	font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-transform: none;
	font-size: 20px;
}
.portrait-slider .info p.job, .portrait-slider .info p.director strong{
	font-size: 20px;
	font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
	color:#c8a461;
}
.portrait-slider .owl-stage-outer{
	margin-left: 0;
}

/*ARTICLES*/
.landscape-carousel {
	width: 640px;
	height: 490px;
	margin-left: -40px;
	position: relative;
	margin-bottom: 30px;
}
.landscape-carousel .owl-stage{
	margin-left: 40px;
}
.landscape-carousel .owl-item{

	width: 516px;
	height: 490px;
}
.landscape-carousel .img-container{

	position: relative;
}
.landscape-carousel .thumb img{
	width: 515px;
}
.landscape-carousel .thumb .picto{
	position: absolute;
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
}
.landscape-carousel .thumb .picto .icon{
	color:#c8a461;
	/*font-size: 1.5rem;*/
	font-size: 30px;
}
.landscape-carousel  .info{
	width: 355px;
	margin: 30px auto 0 auto;
	font-family: "Camphor W01 Medium", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#666666;
}
.landscape-carousel  .info .category{
	color: #c8a461;   
    letter-spacing: 0.1em;
    margin-right: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Camphor W01 Heavy", Arial, Helvetica, sans-serif;
}
.landscape-carousel  .info h2{
	color: #000;
	text-align: center;
	margin-top: 15px;
	font-family: "Playfair Display", Times New Roman, Times, serif;
	font-size: 25px;
	line-height: 30px
}
.landscape-carousel .top-info{

	margin: 0 auto;
	display: table;
}
.searchpage .banner-img {
	margin-bottom: 0;
	padding-bottom: 0;
	height: 301px;
	overflow: hidden;
}
.searchpage .banner-img .title{
	font-size: 24px;

	margin-top: 35px;
}
.searchpage .banner-img p{
	text-transform: uppercase;
	color: #fff;
	font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	z-index: 2;
	position: relative;
	letter-spacing: 0.3rem;
}
.searchpage #filtered{
	-webkit-transition: all 0.6s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  	transition: all 0.6s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  	opacity: 0;
	display: none;
}

#filteredContent{
	min-height: 640px;
}