
.selection-container{
	position: relative;
	width: 100%;
	font-size: 0;
	background-color: #202020;
	
}
.dark-background .selection-container{
  background: none;
}
.selection-item{
	display: inline-block;
	width: 50%;
	height: 580px;
	vertical-align: top;
	background-color: #141414;
  position: relative;

}
.selection-item a{

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;

}
.selection-item .img{
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 435px;
}
.selection-item .name, .selection-item .sub-name{
	color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding-top: 25px;
    font-weight: 600;
    max-width: 190px;
    margin: 0 auto;

}
.selection-item .sub-name
{
	font-size: 1rem;
	padding: 0;
}
.selection-item .author, .selection-item .rank{

	text-align: center;
  font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #c8a461;
  padding-top: 10px;
  font-style: italic;
}
.title-list-cat{
  border-bottom: 1px solid #2c2c2c;
  border-top:1px solid #2c2c2c;
  width: 640px;
  margin-left: -40px;
}

.title-list-cat .title{
  color: #fff;
  margin: 60px auto;
}
.title-list-cat .subtitle{
  color: #fff;
  font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 10px;
  font-style: italic;
  line-height: 28px;
  margin: 0 40px 60px;
  max-height: 300px;
}
.title-list-cat .subtitle.alone{
  margin-top: 60px;
  padding-top: 0;
}

/*SLIDERS*/
.film-slider{
  margin: 60px 0;
}
.film-slider .owl-item{
  width: 380px;
}
.film-slider .img-container{

  width: 280px;
  height: 380px;
  margin: auto;
  background-position: center center;
    background-size: cover;
}
.film-slider .info{
  margin-top: 35px;
  text-align: center;
}
.film-slider .info p{
  text-transform: uppercase;
  color: #fff;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 8px;
  max-width: 380px;
}
.film-slider .info p.subtitle{
  font-size: 18px;

}
.film-slider .info p.duration{
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  color:#999999;
  font-size: 18px;
  margin-top: 8px;
}
.film-slider .info a{

  font-size: 22px;
  font-style: italic;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  color:#c8a461;
}
.film-slider .owl-stage-outer{
  margin-left: 0;
}
.film-slider .text{
  display: block;
    height: auto;
    font-size: 20px;
    width: 380px;
    text-align: center;
    color: #fff;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    line-height: 28px;
}
.film-slider .text strong{
  color: #c8a461;
}
.film-slider .text p:last-child{
  margin-top: 30px;
}

#horizontal-menu2{
  height: 110px;
  background-color: #1b1b1b;
  z-index: 50;
}

#horizontal-menu2 .vid {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: auto;
  line-height: 110px;
  /*padding: 0 20px 0 20px;*/

}

#horizontal-menu2 .vid p{
  
  display: block;
  font-size: 1.5rem;
  margin-top: 3px;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
#horizontal-menu2 .vid p a{
  color:  #999999;
}
#horizontal-menu2 .vid p a.active{
  color: #c8a461;
}
#horizontal-menu2 .owl-stage{

  height: 100%;
}


.selection section{
  padding: 0 40px;
}
.selection section h2.title{
  
}

a{

  color:#c8a461;;
}
.slideshow{

  border: none;
}
.selection .container{
  padding-top: 50px;
  font-size: 0;
}
#player{
    margin-bottom: 40px;
}
.article-title{
  font-family: "Camphor W01 Medium", Arial, Helvetica, sans-serif;
  text-align: center;
  max-height: 200px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #666;
}
.article-title .category {
  color: #c8a461;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-right: 12px;
  text-transform: uppercase;
}
.article-title span {
  color: #666;
  display: inline-block;
  font-size: 20px;
}
.article-title h2 {
  color: #fff;
  font-family: "Playfair Display", Times New Roman, Times, serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 46px;
  width: 420px;
  margin: 0px auto 0 auto;
  padding-top: 40px;
  text-align: center;
}
.text-content{
    font-size: 24px;
    color:#999999;
    max-height: 1000px;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin: 40px auto;
}
.text-content h3{
  color: #999999;
  margin: 20px 0;
}
.text-content h3 strong{
  color: #c8a461;
}
/*SECTION*/

.section{
  padding: 30px 0;

}
.title-section{
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  color:#000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
  /*font-size: 1.5rem;*/
  font-size: 22px;

}

.section p{

  color:#666666;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  /*font-size: 1.5rem;*/
  line-height: 30px;
  font-size: 24px;
}

/*SLIDER*/

section .owl-stage-outer{

  width: 640px;
  margin-left: -32px;
}
.video{
  position: relative;
}
.video .infos{
  position: absolute;
}
.slideshow .video .info .titleLink{

  font-size: 23px;
  max-width: 445px;
}
.slideshow{

  padding: 0;
  margin: 0;
}


/*PHOTO */
.photo-container{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 0;
}
.photo-container img{

  max-width: 100%;
}
.photo-container .caption {
    color: #969696;
    font-size: .750rem;
    line-height: 20px;
    margin: 10px 0 0 0;
    text-align: left;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
}
.half-photo{
  vertical-align: top;
  width: 47%;
  height: 410px;
}
.half-photo + .half-photo{

  float: right;
}
.half-photo img{

  height: 100%;
  object-fit:cover;
}
.quote{
  margin-top: 40px;
}
.quote blockquote {
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-size: 25px;
    line-height: 35px;
    padding: 40px 15px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
}

/*INFO FILM*/
.film {
    height: 730px;
    overflow: hidden;
    background-color: #2e2e2e;
    margin-top: 40px;
}
.info-film {
    background-color: #2e2e2e;
    color: #fff;
    height: 50%;
    overflow: hidden;
}
.film .info-film .wrapper{
  height: 100%;
  margin-left: 70px;
}
.film .info-film .wrapper .poster {
    display: inline-block;
    margin-right: 65px;
    vertical-align: middle;
}
.film .info-film .wrapper .text-container {
    display: inline-block;
    vertical-align: middle;
}
.film .info-film .wrapper .category {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
}
.film .info-film .wrapper h3 {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    font-weight: 700;
}
.film .info-film .wrapper p.director {
    color: #c8a461;
    font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 35px;
    position: relative;
    font-style: italic;
}
.film .info-film .wrapper p.director:after {
    background-color: #bababa;
    bottom: -18px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 27px;
}
.film .info-film .wrapper p {
    color: #bababa;
    font-size: 15px;
    margin: 10px 0;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
}
.film .programmation-film {
    background-color: #141414;
    height: 50%;
    overflow: hidden;
}
.film .programmation-film .wrapper {
    color: #fff;
    height: 100%;
    margin-left: 70px;
}
.film .programmation-film .wrapper .category {
    color: #c8a461;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size:20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
}
.film .programmation-film .wrapper ul {
    padding: 38px 0 0 0;
}
.film .programmation-film .wrapper ul li {
    display: inline-block;
    font-size: 15px;
    width: 280px;
}
.film .programmation-film .wrapper ul li span {
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    color: #bababa;
    margin-right: 8px;
}
.film .programmation-film .wrapper ul li span.type {
    color: #787878;
    text-transform: uppercase;
}
.film .programmation-film .wrapper ul li span.location {
    color: #fff;
    display: block;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 18px 0 40px 0;
    position: relative;
}
.film .programmation-film .wrapper ul li span.location:after {
    background-color: #525252;
    bottom: -18px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 27px;
}
.film .programmation-film .wrapper ul li:nth-child(3) span.location:after, .film .programmation-film .wrapper ul li:nth-child(4) span.location:after {
  display: none;
}
.film .programmation-film .wrapper .button {
    border-color: #c8a461;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
}
/*CREDITS AND CASTING*/

.credits p, .casting p{
  /*font-size: 0.8rem;*/
  font-size: 22px;
  line-height:30px;
}
.credits p.middle, .casting p.middle{
  margin-bottom: 30px;
}

/* SUMMARY */
.summary{
  color: #fff;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.trailer-container p{
  margin-bottom: 0;
    margin-top: 14px;
    height: auto;
    color: #fff;
    font-size:19px;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    margin: 20px 0;
}
.trailer-container .container{
  padding: 0;
  margin: 0px 0 40px;
}
.trailer-container .jwplayer, .trailer-container .jwplayer#player {
    margin-bottom: 20px;
}
p.title-video {
    margin-bottom: 0;
    margin-top: 14px;
    height: auto;
    color: #fff;
    font-size: 24px;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.caption{
    color: #c8a461;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-right: 12px;
    text-transform: uppercase;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;

}

/* slideshow */

.slideshow {
  position: relative;
  width: 100%;
}
.slideshow .images{
  width: 100%;
  height: 356px;
  position: relative;
}
.slideshow .img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}
.slideshow .img.active{
  display: block;
}
.slideshow .img a{
  width: 100%;
  height: 100%;
}
.slideshow .img img{
  width: 100%;
  height: 100%;
}
.slideshow {

  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
  padding: 30px 0 0px 0;
}

.slideshow .thumbnails {
  padding-top: 26px;
  padding-bottom: 25px;
    width: 640px;
    /*margin-left: -40px;*/
}

.slideshow .thumbnails .owl-item.center + .owl-item, .slideshow .thumbnails .owl-item.center + .owl-item + .owl-item {
  opacity: 1;
}
.slideshow .thumbnails .owl-item.center + .owl-item .linkVid, .slideshow .thumbnails .owl-item.center + .owl-item + .owl-item .linkVid {
  display: block;
}

.slideshow .thumbnails .thumb {
  height: 106px;
  overflow: hidden;
  position: relative;
  width: 160px;
}
.slideshow .thumbnails .thumb img {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.slideshow .thumbnails .thumb .image-wrapper img {
  display: block;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.slideshow .thumbnails .thumb.active:before {
  content: '';
  display: block;
  height: 90px;
  width: 144px;
  position: absolute;
  top: 0px;
  left: 0;
  border:8px solid #c8a461;
  z-index: 1;
}

.slideshow .thumbnails .thumb img {
  display: block;
}
.slideshow .thumbnails .owl-nav {
  display: none;
}
.slideshow h3 {
    color: #c8a461;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-right: 12px;
  text-transform: uppercase;
}
.slideshow .caption {
  color: #666;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  font-size: 17px;
  height: 17px;
  margin: 20px 0;
}
.slideshow .caption strong {
  color: #333;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
section:last-child{
  padding-bottom: 40px;
}
.section .audio-player p{
  color: #fff;
}


.movie-container{
  text-align: center;
  width: 100%;
  margin: 40px 0 0px;
  padding-bottom: 60px;
}
.date-pres-item {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2em;
    margin-bottom: 18px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    
}
.hour-pres-item {
    color: #999;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
margin-left: 6px;
    font-weight: 700;
}
.movie-container .title-item {
    text-transform: uppercase;
    color: #fff;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 8px;
    max-width: 480px;
    line-height: 34px;
    margin: 20px auto;
}
.movie-container .name-item {
    font-size: 22px;
    font-style: italic;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    color: #c8a461;
    margin: 20px auto;
}
.movie-container .text{
      font-size: 20px;
    width: 480px;
    text-align: center;
    color: #fff;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    line-height: 28px;
    margin: 10px auto;
}
.movie-container .img {
    width: 280px;
    height: 380px;
    margin: auto;
    background-position: center center;
    background-size: cover;
}
.date-item {
  display: block;
    font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
    color: #999999;
    font-size: 18px;
    margin-top: 8px;

    margin: 10px auto;
    text-transform: uppercase;
    margin-bottom: 8px;
    max-width: 380px;
}