.selection-container{
	position: relative;
	width: 100%;
	font-size: 0;
	background-color: #202020;
	
}
.dark-background .selection-container{
  background: none;
}
.selection-item{
	display: inline-block;
	width: 50%;
	height: 580px;
	vertical-align: top;
	background-color: #141414;
  position: relative;

}
.selection-item a{

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;

}
.selection-item .img{
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 435px;
}
.selection-item .name, .selection-item .sub-name{
	color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding-top: 25px;
    font-weight: 600;
    max-width: 190px;
    margin: 0 auto;

}
.selection-item .sub-name
{
	font-size: 1rem;
	padding: 0;
}
.selection-item .author, .selection-item .rank{

	text-align: center;
  font-family: "Camphor W01 Italic", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #c8a461;
  padding-top: 10px;
  font-style: italic;
}
.title-list-cat{
  border-bottom: 1px solid #2c2c2c;
  border-top:1px solid #2c2c2c;
}
.title-list-cat .title{
  color: #fff;
  width: 470px;
  margin: 60px auto;
}
/*SLIDERS*/
.film-slider{
  margin: 60px 0;
}
.film-slider .owl-item{

  width: 280px;
  height: 530px;
}
.film-slider .img-container{

  width: 280px;
  height: 380px;
  background-position: center center;
    background-size: cover;
}
.film-slider .info{
  margin-top: 35px;
  text-align: center;
}
.film-slider .info p{
  text-transform: uppercase;
  color: #fff;
  font-family: "Camphor W01 Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 8px;
}
.film-slider .info p.subtitle{
  font-size: 18px;

}
.film-slider .info p.duration{
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  color:#999999;
  font-size: 18px;
  margin-top: 8px;
}
.film-slider .info a{

  font-size: 22px;
  font-style: italic;
  font-family: "Camphor W01 Regular", Arial, Helvetica, sans-serif;
  color:#c8a461;
}
.film-slider .owl-stage-outer{
  margin-left: 0;
}