.slideshow .thumbnails .thumb {
  height: 210px;
  overflow: hidden;
  position: relative;
  width: 334px;
}
.slideshow .thumbnails .thumb:before {
  background: transparent;
  background: -moz-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(56%, transparent), color-stop(57%, transparent), color-stop(100%, rgba(20, 20, 20, 0.8)));
  background: -webkit-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: -ms-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 57%, rgba(20, 20, 20, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#141414', GradientType=0 );
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border:none;
  z-index: 1;
}
.slideshow .thumbnails .thumb.active:before {
  background: transparent;
  background: -moz-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(56%, transparent), color-stop(57%, transparent), color-stop(100%, rgba(20, 20, 20, 0.8)));
  background: -webkit-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: -ms-linear-gradient(top, transparent 56%, transparent 57%, rgba(20, 20, 20, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 57%, rgba(20, 20, 20, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#141414', GradientType=0 );
  content: '';
  display: block;
  height: 194px;
  width: 320px;
  position: absolute;
  top: 0px;
  left: 0;
  border:8px solid #c8a461;
  z-index: 1;
}

.slideshow .thumbnails {
  padding-top: 26px;
  padding-bottom: 25px;
    width: 100%;
    margin-left: 0;
}
.slideshow .caption{
    color: #fff;
    font-size: 1.4rem;
}
.slideshow h3{
    font-size: 0.8rem;
    font-weight: 700;
}
.slideshow .info {
  bottom: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.slideshow .info .info-container {
  color: #666;
  float: left;
  height: 44px;
  margin-top: 18px;
}
.slideshow .info .picto {
  bottom: auto;
  float: left;
  left: auto;
  margin: 0 18px 0 20px;
  position: relative;
  top: auto;
  color: #c8a461;
  height: 69px;
  width: 69px;
  text-align: center;
  line-height: 69px;
}
.slideshow .info .picto .icon {

  font-size: 1.5rem;
}

.slideshow .info .category {
  color: #c8a461;
  font-size: 0.925rem;
  letter-spacing: 0.1em;
  margin-right: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.slideshow .info .titleLink {
    color: #fff;
    display: block;
    font-size: 1.3rem;
    margin-top: 8px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}