<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="article-single dark retrospective retrospective-home restrospective-init">
  <!-- build:include ../include/header.html -->
  <!-- /build -->

  <section class="s-slider-retrospective">

    <div class="slides-calc2 navigation prev" style="display: none;"><i class="icon icon-arrow-left"></i></div>
    <div class="slides-calc2 navigation next" style="display: none;"><i class="icon icon-arrow-right"></i></div>

    <div class="slides-calc1 animated fadeOut" style="display: none;">
      <div class="slide">
        <div class="date" data-date="1948">1946</div>
      </div>
    </div>

    <div class="slides">

      <div data-slide="0" class="first-slide slider-restropective animated fadeOut isOpen block-push block-push-top background-effet" style="background-image: url('media/images/retrospective-home-01.jpg')">
        <div class="container block-01 vFlexAlign">
          <div class="vFlexAlign">
            <h1 class="title-big">69 ans de festival</h1>
            <p>Revivez tous les moments forts de l'histoire du Festival de Cannes à travers cette timeline interactive</p>
            <div class="block-drag">
              <div class="avance"><span class="square"></span></div>
              <i class="icon icon-drag-hand"></i>
            </div>
          </div>
        </div>

      </div>

      <div data-slide="1" class="slider-restropective big isOpen block-push block-push-top background-effet" style="background-image: url(&quot;media/images/retrospective-slider01.jpg&quot;);">
        <div class="container block-01 vFlexAlign">

          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>

        <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="" class="open" style="display: none;">
            <div class="texts animated visible pulse">
              <span class="title-4">1<sub>E</sub> édition</span>
              <h2 class="title-2">1946</h2>
              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

      <div data-slide="2" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1946</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1948</a><i class="icon icon-arrow-fill"></i></div>

          <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="">
            <div class="texts">
              <span class="title-4">2<sub>E</sub> édition</span>
              <h2 class="title-2">1947</h2>
              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

      <div data-slide="3" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1949</a><i class="icon icon-arrow-fill"></i></div>

          <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="">
            <div class="texts">
              <span class="title-4">3<sub>E</sub> édition</span>
              <h2 class="title-2">1948</h2>

              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="block-01">
      <div class="timelapse block-drag" style="display: none;">
        <span class="date date-first" data-firstdate="1946">1946</span>
        <div class="avance noUi-target noUi-ltr noUi-horizontal noUi-background" id="timelapse-01"><span class="square"></span><div class="noUi-base"><div class="noUi-origin" style="left: 1.42857%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
        <span class="date date-last" data-lastdate="2015">2015</span>
      </div>
    </div>


    <div class="ajax-section">
      <div class="contain-ajax bright" id="main">
        <nav class="navigation-sticky">
          <ul>
            <li><a href="retrospective-poster.html">L'affiche</a></li>
            <li><a href="selection.html">La sélection</a></li>
            <li><a href="jury.html">Les jurys</a></li>
            <li><a href="retrospective-palmares.html">Le palmarès</a></li>
            <li ><a href="evenements.html">Les évènements</a></li>
            <li><a href="medias.html">Les médias</a></li>
            <li class="active"><a href="articles.html">L'actualité</a></li>
          </ul>
        </nav>

        <div class="arrows">
          <a href="#" class="prev"><i class="icon icon-arrow-left"></i></a>
          <a href="#" class="next"><i class="icon icon-arrow-right"></i></a>
        </div>

        <div class="block-01 padding-bottom"> <!-- class wysiwyg-article voir la page _test_article_wysiwyg -->

          <div class="contain-titles brigth">
            <strong class="title-14">Conférence de presse <span class="date">18.05.15 . 09:00 / Mise à jour : 19.05.15 . 09:00</span></strong>
            <h1 class="title-15">Palme d'Or : "L'Enfant"<br>de Jean-Pierre et Luc Dardenne</h1>
          </div>

          <div class="buttons buttons-01">
            <a href="#" class="button"><i class="icon icon-share"></i>Partager</a>
            <a href="#" class="button"><i class="icon icon-print"></i>Imprimer</a>
          </div>

          <img src="media/images/articl01.jpg" alt=""  >

          <div class="contain-title vFlexAlign block-01-s">
            <span class="title-02">Morgan Freeman et Hilary Swank, tous deux à l'affiche du dernier film de Clint Eastwood <strong>Million Dollar Baby</strong>, ont décerné aux frères réalisateurs Jean-Pierre et Luc Dardenne la Palme d'Or de cette 58ème édition du Festival de Cannes pour <strong>L'Enfant</strong>.</span>
          </div>

          <!-- Same class title 02 -> h4
            <h4>">Morgan Freeman et Hilary Swank, tous deux à l'affiche du dernier film de Clint Eastwood <strong>Million Dollar Baby</strong>, ont décerné aux frères réalisateurs Jean-Pierre et Luc Dardenne la Palme d'Or de cette 58ème édition du Festival de Cannes pour <strong>L'Enfant</strong>.</h4>
          -->

          <p class="quote-02 italic block-01-xs">
            "Tout d'abord merci au Jury d'avoir aimé notre film, ont déclaré les deux frères. Merci beaucoup ! Merci à tous ceux qui nous ont permis de mener cette aventure. En ce moment, on pense particulièrement à nos deux comédiens principaux Jérémie Rénier et Déborah François. Merci beaucoup à vous deux. Merci aussi à notre producteur français Denis Freyd qui a été très précieux pour ce film. Nous voudrions dédier cette Palme à Florence Aubenas et son chauffeur Hussein qui sont enfermés en Irak."
          </p>

          <!-- wysiwyg-article : blockquote same class
            <blockquote>
              "Tout d'abord merci au Jury d'avoir aimé notre film, ont déclaré les deux frères. Merci beaucoup ! Merci à tous ceux qui nous ont permis de mener cette aventure. En ce moment, on pense particulièrement à nos deux comédiens principaux Jérémie Rénier et Déborah François. Merci beaucoup à vous deux. Merci aussi à notre producteur français Denis Freyd qui a été très précieux pour ce film. Nous voudrions dédier cette Palme à Florence Aubenas et son chauffeur Hussein qui sont enfermés en Irak."
            </blockquote>
           -->

          <div class="quote">
            <p class="italic">
              “ Nous voudrions dédier cette Palme à Florence Aubenas et son chauffeur Hussein
              qui sont enfermés en Irak ”
            </p>
          </div>

        <div class="block-01-xs">
          <img src="media/images/article-02.jpg" alt="" class="padding-bottom"  >

          <p class="quote-02 italic block-01-xs">
            En conférence de presse des lauréats, les frères Dardenne ont ajouté : "Les étiquettes ne sont jamais positives. C'est le problème de tous les gens qui font des films, de l'art pour employer un terme plus général. A un moment donné, il faut faire attention à ne pas s'installer dans une forme de cinéma. Comme dirait l'autre, "la plus grande manière est de ne pas avoir de manière". C'est ce qu'on espère effectivement, que le film dépasse toujours son étiquette."
          </p>

          <p class="by-author">Rédigé par <strong>Morgane Urbain</strong></p>
        </div>

      </div> <!-- fin block 01-->

      <div class="border-top">
        <strong class="title-9">Partager la page</strong>
        <div class="block-social-network block-social-network-all ">
          <a href="#"><i class="icon icon-facebook"></i></a><!--
          --><a href="#"><i class="icon icon-twitter"></i></a><!--
          --><a href="#"><i class="icon icon-link"></i></a><!--
          --><a href="#"><i class="icon icon-letter"></i></a><!--
          --><a href="#"><i class="icon icon-print"></i></a>
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
