<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="article bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->

  <section id="main">

    <div class="block-push block-push-top" style="background-image: url('media/images/retrospective-poster-push-01.jpg')">
      <div>
        <a href="" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
      </div>
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-4">58<sub>E</sub> édition</strong>
          <strong class="title-2">2005</strong>
          <div class="date-back"><a href="#">2004</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next"><a href="#">2006</a><i class="icon icon-arrow-fill"></i></div>
        </div>
      </div>
    </div> <!-- end block push -->

    <nav class="navigation-sticky">
      <ul>
        <li><a href="#">L'affiche</a></li>
        <li><a href="#">La sélection</a></li>
        <li><a href="#">Les jurys</a></li>
        <li><a href="#">Le palmarès</a></li>
        <li ><a href="#">Les évènements</a></li>
        <li><a href="#">Les médias</a></li>
        <li class="active"><a href="#">L'actualité</a></li>
      </ul>
    </nav>

    <div class="arrows">
      <a href="#" class="prev"><i class="icon icon-arrow-left"></i></a>
      <a href="#" class="next"><i class="icon icon-arrow-right"></i></a>
    </div>

    <div class="block-01 padding-bottom">

      <div class="contain-titles">
        <strong class="title-14">Conférence de presse <span class="date">18.05.15 . 09:00 / Mise à jour : 19.05.15 . 09:00</span></strong>
        <strong class="title-15">Palme d'Or : "L'Enfant"<br>de Jean-Pierre et Luc Dardenne</strong>
      </div>

      <div class="buttons buttons-01">
        <a href="#" class="button"><i class="icon icon-share"></i>Partager</a>
        <a href="#" class="button"><i class="icon icon-print"></i>Imprimer</a>
      </div>

      <img src="media/images/articl01.jpg" alt="">

      <div class="contain-title vFlexAlign block-01-s">
        <span class="title-02">Morgan Freeman et Hilary Swank, tous deux à l'affiche du dernier film de Clint Eastwood <strong>Million Dollar Baby</strong>, ont décerné aux frères réalisateurs Jean-Pierre et Luc Dardenne la Palme d'Or de cette 58ème édition du Festival de Cannes pour <strong>L'Enfant</strong>.</span>
      </div>

      <p class="quote-02 italic block-01-xs">
        "Tout d'abord merci au Jury d'avoir aimé notre film, ont déclaré les deux frères. Merci beaucoup ! Merci à tous ceux qui nous ont permis de mener cette aventure. En ce moment, on pense particulièrement à nos deux comédiens principaux Jérémie Rénier et Déborah François. Merci beaucoup à vous deux. Merci aussi à notre producteur français Denis Freyd qui a été très précieux pour ce film. Nous voudrions dédier cette Palme à Florence Aubenas et son chauffeur Hussein qui sont enfermés en Irak."
      </p>

      <div class="quote">
        <p class="italic">
          “ Nous voudrions dédier cette Palme à Florence Aubenas et son chauffeur Hussein
          qui sont enfermés en Irak ”
        </p>
      </div>

    <div class="block-01-xs">
      <img src="media/images/article-02.jpg" alt="" class="padding-bottom">

      <p class="quote-02 italic block-01-xs">
        En conférence de presse des lauréats, les frères Dardenne ont ajouté : "Les étiquettes ne sont jamais positives. C'est le problème de tous les gens qui font des films, de l'art pour employer un terme plus général. A un moment donné, il faut faire attention à ne pas s'installer dans une forme de cinéma. Comme dirait l'autre, "la plus grande manière est de ne pas avoir de manière". C'est ce qu'on espère effectivement, que le film dépasse toujours son étiquette."
      </p>

      <p class="by-author">Rédigé par <strong>Morgane Urbain</strong></p>
    </div>

  </div> <!-- fin block 01-->

  <div class="border-top">
    <strong class="title-9">Partager la page</strong>
    <div class="block-social-network block-social-network-all ">
      <a href="#"><i class="icon icon-facebook"></i></a><!--
      --><a href="#"><i class="icon icon-twitter"></i></a><!--
      --><a href="#"><i class="icon icon-link"></i></a><!--
      --><a href="#"><i class="icon icon-letter"></i></a><!--
      --><a href="#"><i class="icon icon-print"></i></a>
    </div>
  </div>

  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
