<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="jury bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section>
    <div class="block-push block-push-top" style="background-image: url('media/images/retrospective-poster-push-01.jpg')">
      <div>
        <a href="" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
      </div>
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-4">58<sub>E</sub> édition</strong>
          <strong class="title-2">2005</strong>
          <div class="date-back"><a href="#">2004</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next"><a href="#">2006</a><i class="icon icon-arrow-fill"></i></div>
        </div>
      </div>
    </div> <!-- end block push -->

    <nav class="navigation-sticky">
      <ul>
        <li><a href="#">L'affiche</a></li>
        <li><a href="#">La sélection</a></li>
        <li class="active"><a href="#">Les jurys</a></li>
        <li><a href="#">Le palmarès</a></li>
        <li><a href="#">Les évènements</a></li>
        <li><a href="#">Les médias</a></li>
        <li><a href="#">L'actualité</a></li>
      </ul>
    </nav>
    <nav class="navigation-sticky-02">
      <ul>
        <li class="active"><a href="#">longs métrages</a></li>
        <li><a href="#">cinéfondation & courts métrages</a></li>
        <li><a href="#">un certain regard</a></li>
        <li><a href="#">Caméra d'or</a></li>
      </ul>
    </nav>

    <div class="all-contain">
      <div class="block-jury">
        <div class="contain-img" style="background-image:url(media/images/jury-01.jpg)">
        </div><!--
        --><div class="contain-txt">
            <strong class="title-18">président du jury</strong>
            <strong class="title-19">Emir KUSTURICA</strong>
            <strong class="title-20">Réalisateur</strong>
            <p class="texte-01">
              « Ma foi dans le cinéma est bien vivante et la meilleure confirmation de cela est ma participation dans un jury qui met en valeur le cinéma d’auteur». Emir Kusturica est né à Sarajevo. Il fait ses études à l’Académie du Cinéma de Prague (FAMU). Son premier long métrage "Te souviens-tu de Dolly Bell ?" (1981), reçoit le Lion d’or de la première oeuvre à Venise. En 1985, "Papa est en voyage d’affaires" est couronné de la Palme d’or à Cannes. En 1989, c’est le Prix de la mise en scène qui récompense "Le Temps des Gitans". Puis l’Ours d’argent pour "Arizona Dream" à Berlin, en 1993. "Underground", présenté à Cannes en 1995, lui vaudra sa deuxième Palme d’or. En 1998, "Chat Noir, Chat Blanc" obtient le Lion d’argent à Venise.
              <br><br>
              Il se tourne vers le documentaire avec "Super 8 Stories" (2001), sur son groupe de musique « The No Smoking Orchestra ». En 2004, il présente à Cannes La Vie est un miracle. C’est sur le lieu de tournage de ce dernier film qu’il décide de construire son propre village : Kustendorf, où il souhaite créer un modèle de vie nouvelle. Il revient au Festival en 2007 avec "Promets-moi" puis en 2008 avec son documentaire "Maradona by Kusturica". Emir Kusturica vient de publier son autobiographie « Où suis-je dans cette histoire ? »
            </p>
        </div>
      </div>

      <div class="contain-title vFlexAlign ">
        <strong class="title-01">membres du jury des longs métrages</strong>
      </div>

      <div class="isotope-01">

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="media/images/jury-02.jpg" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Fatih AKIN</span>
              <span class="title-12">Réalisateur</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="media/images/jury-03.jpg" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Javier BARDEM</span>
              <span class="title-12">Comédien</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="media/images/jury-04.jpg" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Nandita DAS</span>
              <span class="title-12">Comédienne</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="media/images/jury-05.jpg" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Fatih AKIN</span>
              <span class="title-12">Réalisateur</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Salma HAYEK</span>
              <span class="title-12">Comédienne</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Salma HAYEK</span>
              <span class="title-12">Comédienne</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Salma HAYEK</span>
              <span class="title-12">Comédienne</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Salma HAYEK</span>
              <span class="title-12">Comédienne</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">Salma HAYEK</span>
              <span class="title-12">Comédienne</span>
            </div>
          </a>
        </div>

      </div>
    </div> <!-- end all contain -->
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
