<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="jury dark retrospective retrospective-home restrospective-init loading">
<!-- build:include ../include/header.html -->
<!-- /build -->
<section class="s-slider-retrospective">

    <div class="slides-calc2 navigation prev" style="display: none;"><i class="icon icon-arrow-left"></i></div>
    <div class="slides-calc2 navigation next" style="display: none;"><i class="icon icon-arrow-right"></i></div>

    <div class="slides-calc1 animated fadeOut" style="display: none;">
        <div class="slide">
            <div class="date" data-date="1948">1946</div>
        </div>
    </div>

    <div class="slides">

        <div data-slide="0"
             class="first-slide slider-restropective animated fadeOut isOpen block-push block-push-top background-effet"
             style="background-image: url('media/images/retrospective-home-01.jpg')">
            <div class="container block-01 vFlexAlign">
                <div class="vFlexAlign">
                    <h1 class="title-big">69 ans de festival</h1>
                    <p>Revivez tous les moments forts de l'histoire du Festival de Cannes à travers cette timeline
                        interactive</p>
                    <div class="block-drag">
                        <div class="avance"><span class="square"></span></div>
                        <i class="icon icon-drag-hand"></i>
                    </div>
                </div>
            </div>

        </div>

        <div data-slide="1" class="slider-restropective big isOpen block-push block-push-top background-effet"
             style="background-image: url(&quot;media/images/retrospective-slider01.jpg&quot;);">
            <div class="container block-01 vFlexAlign">

                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
                <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="" class="open" style="display: none;">
                    <div class="texts animated visible pulse">
                        <span class="title-4">1<sub>E</sub> édition</span>
                        <h2 class="title-2">1946</h2>
                        <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
                    </div>
                </div>
            </div>
        </div>

        <div data-slide="2" class="slider-restropective small isOpen block-push block-push-top background-effet">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1946</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1948</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-4">2<sub>E</sub> édition</span>
                        <h2 class="title-2">1947</h2>
                        <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
                    </div>
                </div>
            </div>
        </div>

        <div data-slide="3" class="slider-restropective small isOpen block-push block-push-top background-effet">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-4">3<sub>E</sub> édition</span>
                        <h2 class="title-2">1948</h2>

                        <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="block-01">
        <div class="timelapse block-drag" style="display: none;">
            <span class="date date-first" data-firstdate="1946">1946</span>
            <div class="avance noUi-target noUi-ltr noUi-horizontal noUi-background" id="timelapse-01"><span
                    class="square"></span>
                <div class="noUi-base">
                    <div class="noUi-origin" style="left: 1.42857%;">
                        <div class="noUi-handle noUi-handle-lower"></div>
                    </div>
                </div>
            </div>
            <span class="date date-last" data-lastdate="2015">2015</span>
        </div>
    </div>


    <div class="ajax-section">
        <div class="contain-ajax jury">
            <nav class="navigation-sticky">
                <ul>
                    <li><a href="retrospective-poster.html">L'affiche</a></li>
                    <li><a href="selection.html">La sélection</a></li>
                    <li class="active"><a href="jury.html">Les jurys</a></li>
                    <li><a href="retrospective-palmares.html">Le palmarès</a></li>
                    <li><a href="evenements.html">Les évènements</a></li>
                    <li><a href="medias.html">Les médias</a></li>
                    <li><a href="articles.html">L'actualité</a></li>
                </ul>
            </nav>
            <nav class="navigation-sticky-02">
                <ul>
                    <li class="active"><a href="jury.html">longs métrages</a></li>
                    <li><a href="jury-cfcm.html">cinéfondation & courts métrages</a></li>
                    <li><a href="jury-cr.html">un certain regard</a></li>
                    <li><a href="jury-cm.html">Caméra d'or</a></li>
                </ul>
            </nav>

            <div class="all-contain">
                <div class="block-jury bright">
                    <div class="contain-img" style="background-image:url(media/images/jury-01.jpg)">
                    </div><!--
                    --><div class="contain-txt">
                        <strong class="title-18">président du jury</strong>
                        <h1 class="title-19">Emir KUSTURICA</h1>
                        <strong class="title-20">Réalisateur, Scénariste, Producteur</strong>
                        <p class="texte-01">
                            « Ma foi dans le cinéma est bien vivante et la meilleure confirmation de cela est ma
                            participation dans un jury qui met en valeur le cinéma d’auteur». Emir Kusturica est né à
                            Sarajevo. Il fait ses études à l’Académie du Cinéma de Prague (FAMU). Son premier long
                            métrage "Te souviens-tu de Dolly Bell ?" (1981), reçoit le Lion d’or de la première oeuvre à
                            Venise. En 1985, "Papa est en voyage d’affaires" est couronné de la Palme d’or à Cannes. En
                            1989, c’est le Prix de la mise en scène qui récompense "Le Temps des Gitans". Puis l’Ours
                            d’argent pour "Arizona Dream" à Berlin, en 1993. "Underground", présenté à Cannes en 1995,
                            lui vaudra sa deuxième Palme d’or. En 1998, "Chat Noir, Chat Blanc" obtient le Lion d’argent
                            à Venise.
                            <br><br>
                            Il se tourne vers le documentaire avec "Super 8 Stories" (2001), sur son groupe de musique «
                            The No Smoking Orchestra ». En 2004, il présente à Cannes La Vie est un miracle. C’est sur
                            le lieu de tournage de ce dernier film qu’il décide de construire son propre village :
                            Kustendorf, où il souhaite créer un modèle de vie nouvelle. Il revient au Festival en 2007
                            avec "Promets-moi" puis en 2008 avec son documentaire "Maradona by Kusturica". Emir
                            Kusturica vient de publier son autobiographie « Où suis-je dans cette histoire ? »
                        </p>
                    </div>
                </div>

                <div class="contain-title vFlexAlign ">
                    <strong class="title-01">membres du jury des longs métrages</strong>
                </div>

                <div class="isotope-01 bright grid-jury">
                    <div class="grid-sizer"></div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="media/images/jury-02.jpg" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Fatih AKIN</span>
                                <span class="title-12">Réalisateur, Scénariste, Producteur</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="media/images/jury-03.jpg" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Javier BARDEM</span>
                                <span class="title-12">Comédien</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="media/images/jury-04.jpg" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Nandita DAS</span>
                                <span class="title-12">Comédienne</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="media/images/jury-05.jpg" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Fatih AKIN</span>
                                <span class="title-12">Réalisateur</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Salma HAYEK</span>
                                <span class="title-12">Comédienne</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Salma HAYEK</span>
                                <span class="title-12">Comédienne</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Salma HAYEK</span>
                                <span class="title-12">Comédienne</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Salma HAYEK</span>
                                <span class="title-12">Comédienne</span>
                            </div>
                        </a>
                    </div>

                    <div class="item block-poster">
                        <a href="#">
                            <div class="contain-img">
                                <img src="http://dummyimage.com/320x405/d4ae5b/fff" alt="">
                            </div>
                            <div class="contain-txts vFlexAlign">
                                <span class="title-11">Salma HAYEK</span>
                                <span class="title-12">Comédienne</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div> <!-- end all contain -->
        </div>
    </div>
</section>

<!-- build:include ../include/footer.html -->
<!-- /build -->

<!-- build:include ../include/script.html -->
<!-- /build -->
</body>
</html>
