<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="edition-69 palm-gold">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section class="border-bottom">
    <div class="block-push block-push-top" style="background-image: url('media/images/edition-69-gold-palm-push-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-3">La palme d'or</strong>
        </div>
      </div>
    </div> <!-- end block push -->

    <nav class="navigation-sticky">
      <ul>
        <li class="active"><a href="#">Petite histoire de la palme</a></li>
        <li><a href="#">Secrets de fabrication</a></li>
      </ul>
    </nav>

    <div class="contain-title vFlexAlign">
      <strong class="title-02">Découvrez l’évolution de la palme de sa création à nos jours</strong>
    </div>

    <div class="buttons buttons-01">
      <a href="#" class="button"><i class="icon icon-share"></i>Partager</a>
      <a href="#" class="button"><i class="icon icon-print"></i>Imprimer</a>
    </div>

    <article class="block-movie-preview" style='background-image: url("media/images/plam-gold-01.jpg")'>
      <div class="bck-hover">
         <div class="wrapper-item-big">
           <div class="poster">
             <figure>
               <img src="media/images/plam-gold-01.jpg" alt="images films">
               <figcaption>Lorem ipsumt quia.</figcaption>
             </figure>
           </div>
          <div class="infos">
            <strong class="big-date">1940</strong>
            <p class="description">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, iure nam, quasi nesciunt, in, laboriosam consectetur veritatis minima cum facilis similique perferendis iste. Perspiciatis vero ipsum velit est enim alias?
             </p>
          </div>
         </div>
      </div>
    </article>

    <article class="block-movie-preview" style='background-image: url("media/images/plam-gold-02.jpg")'>
      <div class="bck-hover">
         <div class="wrapper-item-big">
           <div class="poster">
             <figure>
               <img src="media/images/plam-gold-02.jpg" alt="images films">
               <figcaption>Lorem ipsumt quia.</figcaption>
             </figure>
           </div>
          <div class="infos">
            <strong class="big-date">1950</strong>
            <p class="description">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, iure nam, quasi nesciunt, in, laboriosam consectetur veritatis minima cum facilis similique perferendis iste. Perspiciatis vero ipsum velit est enim alias?
             </p>
          </div>
         </div>
      </div>
    </article>

    <article class="block-movie-preview" style='background-image: url("media/images/plam-gold-03.jpg")'>
      <div class="bck-hover">
         <div class="wrapper-item-big">
           <div class="poster">
             <figure>
               <img src="media/images/plam-gold-03.jpg" alt="images films">
               <figcaption>Lorem ipsumt quia.</figcaption>
             </figure>
           </div>
          <div class="infos">
            <strong class="big-date">1960</strong>
            <p class="description">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, iure nam, quasi nesciunt, in, laboriosam consectetur veritatis minima cum facilis similique perferendis iste. Perspiciatis vero ipsum velit est enim alias?
             </p>
          </div>
         </div>
      </div>
    </article>

    <div class="black">
      <strong class="title-9">Partager la page</strong>
      <div class="block-social-network block-social-network-all ">
        <a href="#"><i class="icon icon-facebook"></i></a><!--
        --><a href="#"><i class="icon icon-twitter"></i></a><!--
        --><a href="#"><i class="icon icon-link"></i></a><!--
        --><a href="#"><i class="icon icon-letter"></i></a><!--
        --><a href="#"><i class="icon icon-print"></i></a>
      </div>
    </div>

  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
