<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="participate participate-accordion bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section id="main">
    <div class="block-push block-push-top" style="background-image: url('media/images/participate-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <h1 class="title-3">Template page participer</h1>
        </div>
      </div>
    </div> <!-- end block push -->


      <div class="ajax-section">
          <div class="contain-ajax">

              <nav class="navigation-sticky">
                  <ul>
                      <li><a href="participate_template.html">préparer son séjour</a></li>
                      <li><a href="participate_template2.html">festival mode d'emploi</a></li>
                      <li class="active"><a href="participate_template3.html">accès aux projections</a></li>
                  </ul>
              </nav>

              <div class="all-contain">
                  <div class="accordion">
                      <div class="block-accordion block-accordion-02">

                          <div class="item active">
                              <div class="block-01">
                                  <div class="title-contain border-top">
                                      <strong class="title-22">
                                          <i class="noFloat icon icon-hours"></i>Festival de cannes 3
                                      </strong>
                                      <i class="icon icon-nav-accordion icon-minus"></i>
                                  </div>

                                  <div class="contain-infos-02">
                                      <h3>Autour du Palais des Festivals et du Riviera, la zone Festival s’étend du Village international Pantiero au Village international Riviera jusqu’au Cinéma de la Plage. La zone Festival est accessible aux badges professionnels par toutes les entrées, de 9h à 18h30.</h3>

                                      <div class="item-manual">
                                          <div class="contain-img">
                                              <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_101_media_image_simple_363x260.jpg" alt="Palais des Festivals">
                                              <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_72_media_image_simple_363x260.jpg" alt="Marches">
                                          </div>
                                          <div class="text-manual">
                                              <h4 class="title-manual">Cas particuliers</h4>
                                              <p><strong>Entrée Méditerranée : </strong>accessible à tous les badges professionnels de 9h à 18h30.</p>
                                              <p><strong>Entrée principale (11 au 22 mai) :</strong> accessible à tous les badges professionnels</p>

                                              <ul>
                                                  <li>dès 8h15 pour les projections programmées au Palais avant 9h (porte située à droite)</li>
                                                  <li>jusqu’à 22h30 pour l’accès aux projections Buñuel ou à la salle de Presse et pour les salles Marché. Fermeture de l’accès à la zone d’exposition à 18h30</li>
                                              </ul>

                                              <p><strong>Entrée Riviera (11 au 22 mai)</strong> pour les badges Marché</p>

                                              <ul>
                                                  <li>de 9h à 22h45 pour les badges Marché</li>
                                                  <li>de 8h à 21h pour les exposants&nbsp;</li>
                                                  <li>jusqu’à 22h45 pour les projections Lérins et Riviera</li>
                                                  <li>de 9h à 18h30 pour les Badges Festival et Presse</li>
                                              </ul>

                                              <p><strong>Village international (Pantiero et Riviera)</strong></p>

                                              <ul>
                                                  <li>de 8h à 20h pour les exposants des Pavillons du 11 au 22 mai (de 8h à 16h le 22 mai)</li>
                                                  <li>de 9h à 18h30 pour les Badges Professionnels ( de 9h à 16h le 22 mai)&nbsp;</li>
                                              </ul><br>
                                              <h4 class="title-manual">Sur invitation</h4>
                                              <p>Une invitation est exigée pour assister aux projections du Grand Théâtre Lumière. Ces invitations sont strictement personnelles et incessibles. L’utilisation de l’invitation autorise à ce que vous soyez éventuellement photographié(e) et/ou filmé(e).</p>

                                              <p>Chaque soir, deux séances de Gala ont lieu au Grand Théâtre Lumière. Vous devrez vous présenter au bas des Marches Rouges avec votre badge et votre invitation, à l’heure et aux accès précisés sur celle-ci.&nbsp;
                                                  <br> Pour ces séances, le port du smoking ou d’une tenue de soirée est exigé. Pour les autres séances, une tenue correcte est suffisante.</p>

                                              <p>&nbsp;</p>

                                              <p><strong>Retrait des invitations</strong>
                                                  <br> Pour obtenir des invitations aux séances organisées au Grand Théâtre Lumière et à 8h30 dans la salle Debussy, merci de vous reporter au verso personnalisé du document de bienvenue qui vous a été remis lors du retrait de votre badge. Vos souhaits
                                                  seront satisfaits dans la mesure des possibilités, sachant que le nombre de demandes excède largement celui des places disponibles.
                                                  <br> Ces invitations, strictement personnelles, ne peuvent en aucun cas être vendues. Tout contrevenant engage sa responsabilité et s’expose à des poursuites.
                                                  <br> A noter :
                                                  <br> En cas de places encore disponibles, les festivaliers sans invitation mais badgés peuvent assister à toutes les projections du Grand Théâtre Lumière et à celle de 8h30 de la salle Debussy. 3 000 personnes en bénéficient chaque année.&nbsp;</p>

                                              <p>&nbsp;</p>

                                              <p><strong>Retour des invitations</strong>
                                                  <br> Toute invitation reçue doit être utilisée : en cas d’empêchement, le festivalier doit impérativement la retourner au bureau où elle lui a été remise (ou à la billetterie centrale, Hall Méditerranée).
                                                  <br> A défaut du respect de ce principe, des mesures de restriction de distribution des invitations pourront être prises à son encontre.
                                                  <br> Les invitations doivent être retournées :</p>

                                              <ul>
                                                  <li>le jour même avant 12h : pour les séances de 19h30, 22h30 et minuit.</li>
                                                  <li>la veille avant 16h : pour les séances de 8h30, 11h30, 14h et 16h.</li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div> <!-- fin de item-->

                          <div class="item">
                              <div class="block-01">
                                  <div class="title-contain border-top">
                                      <strong class="title-22">
                                          <i class="noFloat icon icon-information"></i>Avec des icones
                                      </strong>
                                      <i class="icon icon-nav-accordion icon-minus"></i>
                                  </div>
                                  <div class="item-manual">
                                      <div class="contain-infos">
                                          <div class="item-infos">
                                              <i class="icon icon-user-fill"></i>
                                              <strong class="title-infos">Points Info</strong>
                                              <p>Pour toute information sur le Festival et le Marché, des « Points Info » sont à votre disposition. Ils sont signalés par un « I » jaune et situés :
                                                  <br>
                                                  <strong>A l'intérieur du Palais</strong>
                                                  <br> Niveau -1 : Allée centrale et Puits de lumière
                                                  <br> Niveau 0 : Hall Méditerranée
                                                  <br> Niveau 3 : Rue intérieure
                                                  <br>
                                                  <strong>Riviera :</strong> entrée principale, côté mer, Allée A
                                                  <br>
                                                  <strong>Pantiero :</strong> entrée Village international</p>

                                              <p>&nbsp;</p>
                                          </div>
                                          <div class="item-infos">
                                              <i class="icon icon-bag"></i>
                                              <strong class="title-infos">Consigne à bagages</strong>
                                              <p>Barrière Bistingo (côté Casino Croisette)
                                                  <br> Du 11 au 22 mai, de 9h à 19h</p>
                                          </div>
                                          <div class="item-infos">
                                              <i class="icon icon-wen-fill"></i>
                                              <strong class="title-infos">Objets Trouvés</strong>
                                              <p><strong>Situé : </strong>Gare Maritime
                                                  <br>
                                                  <strong>T :</strong> +33 (0)4 92 98 72 24
                                                  <br>
                                                  <strong>Horaires : </strong>9h-13h / 14h- 18h</p>
                                          </div>
                                          <div class="item-infos">
                                              <i class="icon icon-emergency"></i>
                                              <strong class="title-infos">Urgences</strong>
                                              <p>Samu - T : 15
                                                  <br> Pompiers - T : 18
                                                  <br> Police secours - T : 17
                                                  <br> Poste de secours sapeurs-pompiers - T : +33 (04) 92 99 25 28
                                                  <br> N° d’urgence interne dans le Palais des Festival, depuis un poste du Palais -&nbsp;T : 84 84</p>

                                              <p><strong>Accident, incendie</strong>
                                                  <br> En cas de nécessité, composez le numéro d'urgence
                                                  <br> T: +33 (0)4 92 99 26 26 ou 25 28</p>

                                              <p>&nbsp;</p>
                                          </div>
                                          <div class="item-infos">
                                              <i class="icon icon-user-fill"></i>
                                              <strong class="title-infos">Le Syndicat des Hôteliers</strong>
                                              <p>En cas de litiges avec un hôtel cannois, vous pouvez contacter :&nbsp;T : +33 (0)4 93 39 15 42
                                                  <br> Horaires : du lundi au vendredi, de 9h30 à 16h30
                                                  <br> e-mail : <a href="mailto:urgence-festival@cannes-hotels.com">urgence-festival@cannes-hotels.com</a></p>
                                          </div>
                                          <div class="item-infos">
                                              <i class="icon icon-emergency"></i>
                                              <strong class="title-infos">Plan Vigipirate</strong>
                                              <p>Dans le cadre du plan vigipirate en vigueur en France,toutes les entrées du Palais et du Riviera sont soigneusement contrôlées. Nous vous remercions de bien vouloir vous conformer à ces mesures destinées à la sécurité de tous, et de tenir
                                                  compte de délais allongés lors de vos déplacements.&nbsp;
                                                  <br> Merci de signaler immédiatement la présence de tout colis suspect au +33(0)4 92 99 26 26 ou 25 28</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="block-01">
                                  <div class="title-contain border-top">
                                      <strong class="title-22">
                                          <i class="noFloat icon icon-information"></i>Avec les mini maps
                                      </strong>
                                      <i class="icon icon-nav-accordion icon-minus"></i>
                                  </div>

                                  <div class="item-manual">
                                      <div class="descrip-section">
                                          <p>Le Marché du Film dispose de salles de projections situées dans le Palais, le Riviera et en ville.&nbsp;
                                              <br>
                                              <strong>Accès :</strong> sur badge Marché, invitation Marché (ou badge Presse si autorisé).</p>
                                      </div>
                                      <div class="contain-map">
                                          <strong class="name">Dans le Palais</strong>
                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_248_media_image_simple_228x181.jpg" alt="Aperçu du plan du Palais" class="map">
                                          <p>Salles B à H -&nbsp;<strong>Localisation :</strong> niveau F+3</p>

                                          <p>Salles I -J- K -&nbsp;<strong>Localisation :</strong> niveau F+4</p>
                                      </div>
                                      <div class="contain-map">
                                          <strong class="name">Au Riviera</strong>
                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_246_media_image_simple_228x181.jpg" alt="Aperçu de la zone Festival" class="map">
                                          <p>Salles Riviera 1 et 2 -&nbsp;<strong>Localisation : </strong>niveau 0</p>

                                          <p>Salles Lérins 1 à 4 -&nbsp;<strong>Localisation : </strong>niveau 1</p>

                                          <p>Salle Doc Corner</p>
                                      </div>
                                      <div class="contain-map">
                                          <strong class="name">En ville</strong>
                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_247_media_image_simple_228x181.jpg" alt="Aperçu plan de la ville de Cannes" class="map">
                                          <p>Arcades, salles 1 à 3 (77, rue Félix Faure)</p>

                                          <p>Olympia, salles 1 à 9 (5, bis rue d’Antibes)</p>

                                          <p>Hôtel Gray d’Albion, salles 1 à 5 (1er étage - 38, rue des Serbes)</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="block-01">
                                  <div class="title-contain border-top">
                                      <strong class="title-22">
                                          <i class="noFloat icon icon-hours"></i>Module partenaire
                                      </strong>
                                      <i class="icon icon-nav-accordion icon-minus"></i>
                                  </div>

                                  <div class="contain-infos-02">
                                      <div class="item-manual">
                                          <div class="contain-infos">
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_273_media_image_simple_270x165.jpg" width="200" alt="Air France">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Air France</h4>
                                                          <p>Tapis rouge en plein ciel. Tout au long de l’année, envolez-vous avec Air France, partenaire officiel du Festival de Cannes et profitez du meilleur des cinémas du monde entier. La Compagnie vous invite à revivre plus de 1 000 heures de
                                                              programmation à la demande grâce à de larges écrans tactiles sur ses vols long-courriers.</p>

                                                          <h4><a href="http://www.airfrance.fr" target="_blank">Site Internet</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <strong class="name"> </strong>
                                                          <span class="rank"></span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_199_media_image_simple_270x165.jpg" width="200" alt="Logo Angénieux">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Angénieux</h4>
                                                          <p>Angénieux est, depuis 1935, la marque mondialement reconnue d’objectifs pour la production cinématographique. Récompensés à plusieurs reprises à Hollywood, les zooms Angénieux sont appréciés partout dans le monde par les professionnels
                                                              de l’image les plus exigeants.</p>

                                                          <h4><a href="http://www.angenieux.com" target="_blank">Site internet</a> &nbsp; <a href="mailto:angenieux@fr.thalesgroup.com">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_200_media_image_simple_60x81.jpg" height="100" alt="Pierre Andurand - Président de Thales Angénieux">
                                                          <strong class="name">Pierre Andurand</strong>
                                                          <span class="rank">Président de Thales Angénieux</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_231_media_image_simple_270x165.jpg" width="200" alt="Logo Canal +">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Canal +</h4>
                                                          <p>Partenaire officiel du Festival de Cannes, CANAL+ produit et diffuse en direct, en clair et en exclusivité, les Cérémonies d’ouverture et de Clôture. CANAL+ dédie également une large part de ses antennes à l’actualité de la croisette,
                                                              avec &nbsp;chaque soir LA MONTEE DES MARCHES ainsi qu’une programmation cinéma éclectique.&nbsp;</p>

                                                          <h4><a href="http://www.canalplus.fr/cinema/pid4034-festival-de-cannes.html" target="_blank">Site Internet</a> &nbsp;<a href="mailto:infos@canalplus.fr">Contact</a>&nbsp;</h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_209_media_image_simple_60x81.jpg" height="100" alt="Jean-Christophe Thiery - Canal +">
                                                          <strong class="name">Jean-Christophe Thiery</strong>
                                                          <span class="rank">Président © Augustin Détienne / Canal+</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_211_media_image_simple_270x165.jpg" width="200" alt="Chopard">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Chopard</h4>
                                                          <p>La Maison suisse d’Horlogerie et de Joaillerie Chopard est Partenaire officiel du Festival de Cannes pour la 19ème fois cette année. Elle contribue à cet événement en réalisant la Palme d’Or, les Minis Palmes, la Caméra d’Or ainsi que
                                                              le Trophée Chopard, qui récompense chaque année deux espoirs du cinéma international.</p>

                                                          <h4><a href="http://www.chopard.fr/" target="_blank">Site Internet&nbsp;</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_210_media_image_simple_60x81.jpg" height="100" alt="Caroline Scheufele - Chopard">
                                                          <strong class="name">Caroline Scheufele</strong>
                                                          <span class="rank">Co-Présidente</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_212_media_image_simple_270x165.jpg" width="200" alt="Dessange">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Dessange</h4>
                                                          <p>Seul Partenaire Officiel Coiffure du Festival de Cannes depuis plus de 30 ans, la Maison DESSANGE est heureuse d’accompagner une nouvelle fois cette année les plus grandes stars françaises et internationales lors de ce prestigieux événement
                                                              du 7ème art. &nbsp;&nbsp;</p>

                                                          <h4><a href="http://www.dessange.com/fr/" target="_blank">Site Internet</a> &nbsp;<a href="mailto:presse@dessange-international.com">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_213_media_image_simple_60x81.png" width="100" alt="Benjamin Dessange - Dessange">
                                                          <strong class="name">Benjamin Dessange</strong>
                                                          <span class="rank">Président du Directoire</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_214_media_image_simple_270x165.jpg" width="200" alt="Europcar">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Europcar</h4>
                                                          <p>Partenaire Officiel du Festival de Cannes, Europcar répond aux besoins de mobilité des Festivaliers avec une large gamme de véhicules : de l’économique au monospace en passant par des berlines, des 4x4 ainsi que des scooters pour optimiser
                                                              leurs déplacements sur Cannes !</p>

                                                          <h4><a href="http://www.europcar.fr/" target="_blank">Site Internet </a>&nbsp;<a href="mailto:julie.cheval@europcar.com">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_215_media_image_simple_60x81.jpg" height="100" alt="Didier Fénix  - Europcar">
                                                          <strong class="name">Didier Fénix</strong>
                                                          <span class="rank">Directeur Général Europcar France</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_216_media_image_simple_270x165.png" width="105" height="105" alt="HP">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">HP</h4>
                                                          <p>HP Inc. crée et développe des technologies qui facilitent la vie de tous, partout dans le monde. À travers notre offre d’imprimantes, de systèmes personnels, de terminaux mobiles, de solutions et de services, nous proposons des expériences
                                                              uniques fondées sur l’innovation.</p>

                                                          <h4><a href="http://www8.hp.com/fr/fr/home.html" target="_blank">Site Internet</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_217_media_image_simple_60x81.jpg" height="100" alt="Dion Weisler - HP">
                                                          <strong class="name">Dion Weisler</strong>
                                                          <span class="rank">Président et CEO de HP Inc.</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_218_media_image_simple_270x165.jpg" width="200" alt="Kering">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Kering</h4>
                                                          <p>Présentée dans le cadre du partenariat officiel entre Kering et le Festival de Cannes, la seconde édition du programme Women in Motion proposera de nouveau cette année les Talks Women in Motion, et les Prix Women in Motion afin de continuer
                                                              à encourager et célébrer les talents féminins du 7ème art.</p>

                                                          <h4><a href="http://www.kering.com/fr/home" target="_blank">Site Internet</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_219_media_image_simple_60x81.jpg" height="100" alt="François-Henri Pinault - Kering © Iku Kageyama">
                                                          <strong class="name">François-Henri Pinault</strong>
                                                          <span class="rank">Président-directeur général © Iku Kageyama</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_220_media_image_simple_270x165.jpg" width="200" alt="L'oréal">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">L'oréal Paris</h4>
                                                          <p>Pour la 19ème année consécutive, L’Oréal Paris est le Maquilleur Officiel du Festival de Cannes. Chaque année, la marque met son expertise et ses innovations produits au service du 7ème Art. Membre Fondateur de la Cinéfondation, L’Oréal
                                                              Paris parraine également les soirées d’Ouverture et de Clôture du Festival. &nbsp;</p>

                                                          <h4><a href="http://www.loreal-paris.fr/index.aspx" target="_blank">Site Internet&nbsp;</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <strong class="name"> </strong>
                                                          <span class="rank"></span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_221_media_image_simple_270x165.png" width="200" alt="MasterCard">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">MasterCard</h4>
                                                          <p>Partenaire officiel du Festival de Cannes,&nbsp;MasterCard est heureux de proposer à quelques heureux détenteurs de cartes MasterCard d'accéder aux coulisses du Festival et de vivre des expériences uniques et mémorables.</p>

                                                          <h4><a href="http://www.mastercard.com/fr/particuliers/index.html" target="_blank">Site Internet</a>&nbsp;&nbsp;<a href="mailto:axel_lintermans@mastercard.com">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <strong class="name"> </strong>
                                                          <span class="rank"></span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_222_media_image_simple_270x165.jpg" height="105" alt="Nestlé">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Nestlé</h4>
                                                          <p>Depuis 150 ans, Nestlé se nourrit de l'esprit français qui mêle expérience, excellence et élégance. Nestlé est heureux d'être partenaire pour la vingt-cinquième année consécutive du Festival de Cannes. Pour prolonger ce partenariat d'exception,
                                                              Nespresso et S.Pellegrino accompagnent désormais Nestlé France.</p>

                                                          <h4><a href="http://www.nestle.fr/" target="_blank">Site Internet</a>&nbsp; <a href="http://festival.de-cannes@fr.nestle.com">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_223_media_image_simple_60x81.jpg" height="100" alt="Richard Girardot - Nestlé">
                                                          <strong class="name">M. Richard Girardot</strong>
                                                          <span class="rank">Président Directeur Général Nestlé France</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_224_media_image_simple_270x165.jpg" width="105" height="105" alt="Orange">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Orange</h4>
                                                          <p>Orange est partenaire officiel du Festival de Cannes depuis plus de 15 ans. Ce partenariat privilégié, avec l’un des plus grands événements du 7ème art, illustre l’engagement d’Orange en faveur de tous les cinémas.</p>

                                                          <h4><a href="http://www.orange.com/fr/accueil" target="_blank">Site Internet</a>&nbsp; <a href="mailto:service.presse@orange.com">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_225_media_image_simple_60x81.jpg" width="100" alt="Stéphane Richard - Orange">
                                                          <strong class="name">Stéphane Richard</strong>
                                                          <span class="rank">Président</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/02/thumb_1697_media_image_simple_270x165.jpg" height="105" alt="Randstad">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Randstad</h4>
                                                          <p>Le groupe Randstad France, spécialiste des services en Ressources Humaines, intervient à toutes les étapes de la vie professionnelle : recrutement, évaluation des compétences, vie au travail, formation et mobilité. Véritable partenaire
                                                              RH, Randstad sélectionne et recrute le personnel pour gérer l’accueil des Festivaliers.</p>

                                                          <h4><a href="http://www.grouperandstad.fr/" target="_blank">Site Internet</a>&nbsp; <a href="mailto:eric.toussaint@randstad.fr">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_227_media_image_simple_60x81.jpg" height="100" alt="François Beharel - Randstad">
                                                          <strong class="name">François Beharel</strong>
                                                          <span class="rank">Président</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_228_media_image_simple_270x165.png" width="200" alt="Renault">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Renault</h4>
                                                          <p>Renault est très fier de consolider son partenariat avec le Festival de Cannes pour la 33ème année consécutive. Le Groupe Renault conçoit et fabrique des véhicules sûrs et respectueux de l’environnement. Cette année, Renault Talisman élue
                                                              «La plus belle voiture de l’année », accompagnera les célébrités jusqu’au tapis rouge.</p>

                                                          <h4><a href="https://group.renault.com/" target="_blank">Site Internet</a> &nbsp;<a href="mailto:claude.hugot@renault.com">Contact</a></h4>
                                                      </div>
                                                      <div class="portrait">
                                                          <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_229_media_image_simple_60x81.jpg" width="100" alt="Carlos Ghosn - Renault">
                                                          <strong class="name">Carlos Ghosn</strong>
                                                          <span class="rank">CEO</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item-partners">
                                                  <div class="contain-img">
                                                      <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_230_media_image_simple_270x165.jpg" width="200" alt="Logo Société Générale">
                                                  </div>
                                                  <div class="text-partners">
                                                      <div class="content-text-with-portrait">
                                                          <h4 class="title-partners">Société Générale Private Banking</h4>
                                                          <p>Société Générale Private Banking, l’activité de gestion de fortune du groupe Société Générale, offre des solutions d’ingénierie patrimoniale, d’investissement et de financement aux particuliers et entrepreneurs fortunés. SGPB soutient
                                                              le Festival de Cannes et la Cinéfondation.</p>

                                                          <h4><a href="https://www.privatebanking.societegenerale.com/fr/" target="_blank">Site Internet</a> &nbsp;<a href="mailto:sgpb-communication.world@socgen.com">Contact</a></h4>

                                                          <p>&nbsp;</p>
                                                      </div>
                                                      <div class="portrait">
                                                          <strong class="name"> </strong>
                                                          <span class="rank"></span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div> <!-- fin de item-->

                          <div class="item">
                              <div class="block-01">
                                  <div class="title-contain border-top">
                                      <strong class="title-22">
                                          <i class="noFloat icon icon-information"></i>Avec des icones
                                      </strong>
                                      <i class="icon icon-nav-accordion icon-minus"></i>
                                  </div>

                                  <div class="item-manual">
                                      <div class="contain-infos">
                                          <div class="contain-good-practice">
                                              <div class="item-good-practice">
                                                  <i class="icon icon-camera-photo"></i>
                                                  <strong><p>Pas d'utilisation d'enregistreur vidéos/audios/photos</p></strong>
                                              </div>
                                              <div class="item-good-practice">
                                                  <i class="icon icon-selfie"></i>
                                                  <strong><p>Pas de selfie sur les marches</p></strong>
                                              </div>
                                              <div class="item-good-practice">
                                                  <i class="icon icon-phone-fill"></i>
                                                  <strong><p>Pas de téléphone dans les salles</p></strong>
                                              </div>
                                              <div class="item-good-practice">
                                                  <i class="icon icon-dress-code"></i>
                                                  <strong><p>Dress Code exigé</p></strong>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div> <!-- fin de accordion -->
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
