<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="participate participate-accordion bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section id="main">
    <div class="block-push block-push-top" style="background-image: url('media/images/participate-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <h1 class="title-3">Template page participer</h1>
        </div>
      </div>
    </div> <!-- end block push -->


    <div class="all-contain">
      <div class="accordion">
        <div class="block-accordion block-accordion-02">

          <div class="item active">
            <div class="block-01">
              <div class="title-contain border-top">
                <strong class="title-22">
                  <i class="noFloat icon icon-app"></i> Festival de cannes
                </strong>
                <i class="icon icon-nav-accordion icon-minus"></i>
              </div>

              <div class="contain-infos-02">
                <h4>Autour du Palais des Festivals et du Riviera, la zone Festival s’étend du Village international Pantiero au Village international Riviera jusqu’au Cinéma de la Plage. La zone Festival est accessible aux badges professionnels par toutes les entrées, de 9h à 18h30.</h4>
                <div class="item-manual">
                  <div class="contain-img">
                    <img src="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image_simple/0001/01/thumb_101_media_image_simple_363x260.jpg" alt="Palais des Festivals">
                  </div>
                  <div class="text-manual">
                    <h5 class="title-manual">Cas particuliers</h5>
                    <p><strong>Entrée Méditerranée : </strong>accessible à tous les badges professionnels de 9h à 18h30.</p>
                    <p><strong>Entrée principale (11 au 22 mai) :</strong> accessible à tous les badges professionnels</p>

                    <ul>
                      <li>dès 8h15 pour les projections programmées au Palais avant 9h (porte située à droite)</li>
                      <li>jusqu’à 22h30 pour l’accès aux projections Buñuel ou à la salle de Presse et pour les salles Marché. Fermeture de l’accès à la zone d’exposition à 18h30</li>
                    </ul>

                    <p><strong>Entrée Riviera (11 au 22 mai)</strong> pour les badges Marché</p>

                    <ul>
                      <li>de 9h à 22h45 pour les badges Marché</li>
                      <li>de 8h à 21h pour les exposants&nbsp;</li>
                      <li>jusqu’à 22h45 pour les projections Lérins et Riviera</li>
                      <li>de 9h à 18h30 pour les Badges Festival et Presse</li>
                    </ul>

                    <p><strong>Village international (Pantiero et Riviera)</strong></p>

                    <ul>
                      <li>de 8h à 20h pour les exposants des Pavillons du 11 au 22 mai (de 8h à 16h le 22 mai)</li>
                      <li>de 9h à 18h30 pour les Badges Professionnels ( de 9h à 16h le 22 mai)&nbsp;</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- fin de item-->

        </div> <!-- fin de accordion -->
      </div>
    </div>
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
