<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="participate bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section id="main">
    <div class="block-push block-push-top" style="background-image: url('media/images/participate-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-3">Inscrire un film</strong>
        </div>
      </div>
    </div> <!-- end block push -->


    <div class="all-contain block-01-ms padding-top block-rules">
      <strong class="title-23">LONGS MÉTRAGES EN COMPÉTITION, HORS COMPÉTITION, UN CERTAIN REGARd</strong>
      <strong class="title-24 title-rules">Réglement 2016</strong>

      <article>
        <strong class="title-24">Article 1</strong>
        <p class="texte-01">Le Festival de Cannes a pour objet, dans un esprit d'amitié et de coopération universelle, de révéler et de mettre en valeur des œuvres de qualité en vue de servir l'évolution de l'art cinématographique et de favoriser le développement de l'industrie du film dans le monde.</p>
      </article>

      <article>
        <strong class="title-24">Article 2</strong>
        <p class="texte-01 bold">Le 69e Festival de Cannes se tiendra du mercredi 11 au dimanche 22 mai 2016.</p>
      </article>

      <article>
        <strong class="title-24">Article 3</strong>
        <p class="texte-01">Le Conseil d'Administration choisit et invite les films qui seront présentés en Compétition, Hors Compétition ou pour Un Certain Regard.<br><br>Chaque film invité en Sélection Officielle par le Conseil d'Administration recevra un diplôme de participation.<br><br>Seuls peuvent être choisis et invités en Sélection Officielle des films répondant aux critères ci après :</p>
        <ul class="text-list">
          <li>Avoir été produits dans les douze mois précédant le Festival ;</li>
          <li>Ne pas avoir été exploités ailleurs que dans leur pays d'origine ;</li>
          <li>Ne pas avoir été présentés dans une autre manifestation cinématographique internationale ;</li>
          <li>Si le film est passé dans une sélection internationale (compétitive ou non) d’un festival, le film n’est pas éligible pour le Festival de Cannes. Une sélection est internationale dès lors qu’elle présente des films de différentes nationalités.</li>
          <li>Ne pas avoir été diffusés sur Internet ;</li>
          <li>Servir l'objet du Festival tel que défini à l'Article premier ;</li>
          S'ils appartiennent à la catégorie "court métrage", la durée de projection des films ne doit pas dépasser 15 minutes, génériques inclus.
        </ul>
      </article>

      <article>
        <strong class="title-24">Article 4</strong>
        <p class="texte-01">Une fois sélectionné, aucun film ne peut être retiré du programme au cours de la manifestation.</p>
      </article>

      <article>
        <strong class="title-24">Article 5</strong>
        <p class="texte-01">Pendant la durée du Festival de Cannes, aucun des films invités ne peut être projeté hors des salles du Festival avant sa présentation officielle.</p>
      </article>

      <article>
        <strong class="title-24">Article 6</strong>
        <p class="texte-01">Tous les films doivent être présentés en version originale et sous-titrés en français. Est considérée comme version originale toute langue dans laquelle le film est ou sera diffusé dans son pays d'origine.<br><br>Le Conseil d'Administration appréciera dans quelle mesure une version qui ne répondrait pas exactement à cette définition pourrait être néanmoins retenue.<br><br>Les films français doivent obligatoirement être sous-titrés en anglais sur la copie. Les frais de sous-titrage sont à la charge du producteur. De plus, tous les films dont les dialogues sont dans une langue autre que l'anglais ou le français seront présentés avec un sous-titrage électronique en anglais, dont la projection sera assurée par le prestataire du Festival.</p>
      </article>

      <article>
        <strong class="title-24">Article 7</strong>
        <p class="texte-01">Le Conseil d'Administration désigne le Président et les huit personnalités françaises et étrangères composant le Jury des films de long métrage en compétition.<br><br>Lors de l’élaboration du palmarès, le vote du jury a lieu au scrutin secret. Les décisions sont prises à la majorité absolue des votants aux deux premiers tours de scrutin et à la majorité relative aux tours suivants.<br><br>Le Président et le Délégué Général du Festival de Cannes assistent aux délibérations du Jury.<br><br>Ils ne prennent pas part au vote.<br><br>Le Conseil d'Administration désigne également le Président et les quatre personnalités composant le Jury de la Cinéfondation et des courts métrages.<br><br>Ne peut faire partie des Jurys quiconque est intéressé à la production ou à l'exploitation d'un film en compétition.</p>
      </article>

      <article>
        <strong class="title-24">Article 8</strong>
        <p class="texte-01">LONGS MÉTRAGES en COMPETITION<br><br>Le Jury doit obligatoirement attribuer dans son Palmarès :</p>

        <ul class="text-list-01">
          <li>La Palme d'Or;</li>
          <li>Le Grand Prix ;</li>
          <li>Le Prix de la Mise en Scène ;</li>
          <li>Le Prix du Jury ;</li>
          <li>Le Prix du Scénario ;</li>
          <li>Le Prix d'Interprétation Féminine ;</li>
          <li>Le Prix d'Interprétation Masculine ;</li>
        </ul>

        <p class="texte-01">Le Palmarès ne peut comporter qu'un seul Prix ex æquo et cette disposition ne peut s'appliquer à la Palme d'Or.<br><br>Un même film ne peut recevoir qu'un seul des prix du Palmarès. Cependant, le Prix du Scénario et le Prix du Jury peuvent être, sur dérogation du Président du Festival, associés à un Prix d'Interprétation.</p>
      </article>

      <article>
        <strong class="title-24">Article 8bis</strong>
        <p class="texte-01">COURTS METRAGES en COMPETITION<br><br>Le Jury de la Cinéfondation et des courts métrages doit obligatoirement attribuer, outre les prix de la Cinéfondation :</p>

        <ul class="text-list-01">
          <li>La Palme d'Or du court métrage.</li>
        </ul>

        <p class="texte-01">Le Palmarès ne peut comporter qu'un seul Prix ex æquo et cette disposition ne peut s'appliquer à la Palme d'Or.<br><br>Un même film ne peut recevoir qu'un seul des prix du Palmarès. Cependant, le Prix du Scénario et le Prix du Jury peuvent être, sur dérogation du Président du Festival, associés à un Prix d'Interprétation.</p>
      </article>

      <article>
        <strong class="title-24">Article 9</strong>
        <p class="texte-01">Tout producteur d'un long métrage invité en Compétition s'engage, si ledit film obtient la Palme d'or ou le Grand Prix, à ne présenter ce film en compétition à aucun autre festival international.<br><br>Les films retenus en Sélection Officielle s'engagent à faire apparaître sur tous supports publicitaires le logotype "Sélection Officielle" du Festival de Cannes.<br><br>De plus, les lauréats et les sociétés de distribution s'obligent à faire figurer sur leurs matériels publicitaires la mention des prix telle que définie dans la <a href="#">charte graphique</a> du Festival de Cannes.</p>
      </article>

      <article>
        <strong class="title-24">Article 10</strong>
        <p class="texte-01">La date limite des inscriptions de films longs métrages proposés à la sélection est fixée au <strong class="bold">11 mars 2016</strong>.<br><br>Concernant les courts métrages la date limite d’inscription est fixée au <strong class="bold">4 mars 2016</strong>.<br><br>Une fiche d'inscription doit être remplie avant cette date via notre site internet <a href="www.festival-cannes.com">www.festival-cannes.com</a><br><br>Les courts-métrages devront être téléchargés directement online.<br><br>Les longs métrages proposés à la sélection doivent être mis à la disposition du Festival au plus tard le <strong class="bold">14 mars 2016</strong>.<br><br>Les courts métrages doivent être téléchargés au plus tard le 7 mars 2016.</p>
      </article>

      <article>
        <strong class="title-24">Article 11</strong>
        <p class="texte-01">Le moment venu, une documentation sur chaque film sélectionné devra parvenir au Département Films.<br><br>La copie définitive de chaque film invité doit parvenir obligatoirement au seul transitaire accrédité par le Festival de Cannes avant le <strong class="bold">9 mai 2016</strong>.<br><br><strong class="bold">Si les copies des films ne sont pas parvenues à la date limite du 9 mai 2016, leur projection ne pourra avoir lieu. Ce délai est impératif.</strong><br><br>Une copie de secours sous-titrée doit parvenir au Festival de Cannes avant son ouverture.</p>
      </article>

      <article>
        <strong class="title-24">Article 12</strong>
        <p class="texte-01">Les frais de transitaire (tant à l'importation qu'à la réexportation) ainsi que les frais de projection et de traduction des films présentés aux membres du comité de sélection, en vue de leur sélection éventuelle, sont entièrement à la charge des producteurs ou organismes habilités.<br><br>Les frais de transport et d'assurance des copies et/ou cassettes à l'aller et au retour sont à la charge de leur propriétaire.<br><br>Le Festival de Cannes prend en charge les frais de magasinage et d'assurance des copies des films sélectionnés, dans et entre les enceintes officielles du Festival, à Cannes.<br><br>En cas de perte ou de détérioration d'une copie, la responsabilité du Festival ne pourrait éventuellement être engagée que dans la limite de la valeur indiquée par le producteur sur la fiche technique.</p>
      </article>

      <article>
        <strong class="title-24">Article 13</strong>
        <p class="texte-01">Le Président de l'Association Française du Festival International du Film a le pouvoir de régler tous les cas non prévus au présent règlement.</p>
      </article>

      <article>
        <strong class="title-24">Article 14</strong>
        <p class="texte-01">La participation au Festival de Cannes implique l'adhésion au présent règlement et le respect préalable des <a href="#">conditions de présélection</a>.<br><br>En cas de désaccord sur l'interprétation du règlement, c'est le texte français qui fera foi.<br><br>Le présent règlement s'applique à l'ensemble de la Sélection Officielle : Compétition court et long métrages, Hors Compétition, Un Certain Regard, excepté la Cinéfondation (cf. <a href="#">Règlement Cinéfondation</a>).</p>
      </article>

    </div> <!-- fin de all-contain block-01-xs padding-top -->

    <div class="border-top border-bottom block-button-bottom">
      <div class="block-01-ms">
          <a href="#" class="button button-long"><i class="icon icon-download"></i> Télécharger la version imprimable en pdf</a>
          <div class="align-flex">
            <a href="#" class="button button-half">Condition de présélection</a>
            <a href="#" class="button button-half">Formulaire d'inscription</a>
          </div>
      </div>
    </div>

    <div class="block-contact block-01-ms">
      <strong class="title-25">Contactez-nous</strong>
      <div class="item i-1">
        <strong class="bold-1">Département Films</strong>
        <ul>
          <li>Longs métrages en Compétition /</li>
          <li>Hors Compétition / Un Certain Regard</li>
          <li>3, rue Amélie - 75007 Paris - France</li>
          <li>Tel. : +33 (0) 1 53 59 61 71</li>
          <li>Fax. : +33 (0) 1 53 59 61 24</li>
        </ul>
        <strong class="bold-1">Email</strong>
        <ul>
          <li><a href="mailto:fbeauville@festival-cannes.fr">fbeauville@festival-cannes.fr</a></li>
          <li><a href="mailto:zklein@festival-cannes.fr">zklein@festival-cannes.fr</a></li>
          <li><a href="mailto:bmunoz@festival-cannes">bmunoz@festival-cannes</a></li>
        </ul>
      </div>

      <div class="item i-2">
        <strong class="bold-1">Vous avez une demande à formuler ou souhaitez faire une suggestion ?</strong>
        <p>Identifiez votre interlocuteur pour un meilleur traitement de votre demande</p>
        <div class="buttons-02">
          <a href="#" class="button">Formulaire de contact</a>
        </div>
      </div>

    </div>

  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
