<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="retrospective palmares dark">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section>
    <div class="block-push block-push-top" style="background-image: url('media/images/retrospective-poster-push-01.jpg')">
      <div>
        <a href="" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
      </div>
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-4">58<sub>E</sub> édition</strong>
          <strong class="title-2">2005</strong>
          <div class="date-back"><a href="#">2004</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next"><a href="#">2006</a><i class="icon icon-arrow-fill"></i></div>
        </div>
      </div>
    </div> <!-- end block push -->

    <nav class="navigation-sticky">
      <ul>
        <li><a href="#">L'affiche</a></li>
        <li><a href="#">La sélection</a></li>
        <li><a href="#">Les jurys</a></li>
        <li class="active"><a href="#">Le palmarès</a></li>
        <li><a href="#">Les évènements</a></li>
        <li><a href="#">Les médias</a></li>
        <li><a href="#">L'actualité</a></li>
      </ul>
    </nav>
    <nav class="navigation-sticky-02">
      <ul>
        <li class="active"><a href="#">Compétition</a></li>
        <li><a href="#">Un certain regard</a></li>
        <li><a href="#">Cinéfondation</a></li>
        <li><a href="#">Caméra d'or</a></li>
        <li><a href="#">Tout le palmarès</a></li>
      </ul>
    </nav>

    <div class="all-contain">

      <div class="contain-title vFlexAlign border-bottom border-top">
        <strong class="title-01">Longs métrages</strong>
      </div>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-palmares-01.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-palmares-01.jpg" alt="images films">
             </div>
            <div class="infos">
              <i class="icon icon-palme"></i>
              <strong class="name-award line">Palme d'or</strong>
              <strong class="name-f">L'enfant</strong>
              <span class="names-a">Jean-Pierre DARDENNE - Luc DARDENNE </span>
            </div>
           </div>
        </div>
      </article>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-palmares-02.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-palmares-02.jpg" alt="images films">
             </div>
            <div class="infos">
              <i class="icon icon-palme"></i>
              <strong class="name-award line">Grand prix</strong>
              <strong class="name-f">broken flowers</strong>
              <span class="names-a">Jim JARMUSCH</span>
            </div>
           </div>
        </div>
      </article>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-palmares-03.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-palmares-03.jpg" alt="images films">
             </div>
            <div class="infos">
              <i class="icon icon-palme"></i>
              <strong class="name-award line">Prix de la mise en scène</strong>
              <strong class="name-f">caché</strong>
              <span class="names-a">Michael HANEKE</span>
            </div>
           </div>
        </div>
      </article>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-palmares-04.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-palmares-04.jpg" alt="images films">
             </div>
            <div class="infos">
              <i class="icon icon-palme"></i>
              <strong class="name-award line">prix du scénario</strong>
              <strong class="name-f">THE THREE BURIALS OF MELQUIADES ESTRADA</strong>
              <strong class="name-fb">(trois enterremens)</strong>
              <span class="names-a">Guillermo ARRIAGA</span>
            </div>
           </div>
        </div>
      </article>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-palmares-04.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-palmares-04.jpg" alt="images films">
             </div>
            <div class="infos">
              <i class="icon icon-palme"></i>
              <strong class="name-award line">Prix d'interprétation masculine</strong>
              <img src="media/images/retrospective-palmares-portrait-01.jpg" alt="" class="portrait">
              <strong class="name-f">Tommy Lee JONES</strong>
              <span class="names-a line">Acteur</span>
              <strong class="name-f">THE THREE BURIALS OF MELQUIADES ESTRADA</strong>
              <strong class="name-fb">(trois enterremens)</strong>
              <span class="names-a">Guillermo ARRIAGA</span>
            </div>
           </div>
        </div>
      </article>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-palmares-05.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-palmares-05.jpg" alt="images films">
             </div>
            <div class="infos">
              <i class="icon icon-palme"></i>
              <strong class="name-award line">Prix Vulcain de l'Artiste- Technicien, décerné<br>par la C.S.T.</strong>
              <strong class="name-f">Last day</strong>
              <span class="names-a">Leslie SHATZ</span>
            </div>
           </div>
        </div>
      </article>

      <div class="contain-title vFlexAlign border-bottom border-top">
        <strong class="title-01">Courts métrages</strong>
      </div>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-palmares-06.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-palmares-06.jpg" alt="images films">
             </div>
            <div class="infos">
              <i class="icon icon-palme"></i>
              <strong class="name-award line">Palme d'or du court métrage</strong>
              <strong class="name-f">PODOROZHNI</strong>
              <strong class="name-fb">(voyageurs)</strong>
              <span class="names-a">Igor STREMBITSKYY</span>
            </div>
           </div>
        </div>
      </article>

      <div class="black">
        <strong class="title-9">Partager la page</strong>
        <div class="block-social-network block-social-network-all ">
          <a href="#"><i class="icon icon-facebook"></i></a><!--
          --><a href="#"><i class="icon icon-twitter"></i></a><!--
          --><a href="#"><i class="icon icon-link"></i></a><!--
          --><a href="#"><i class="icon icon-letter"></i></a><!--
          --><a href="#"><i class="icon icon-print"></i></a>
        </div>
      </div>
    </div> <!-- end all contain -->
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
