<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="retrospective poster dark">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section>
    <div class="block-push block-push-top" style="background-image: url('media/images/retrospective-poster-push-01.jpg')">
      <div>
        <a href="" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
      </div>
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-4">58<sub>E</sub> édition</strong>
          <strong class="title-2">2005</strong>
          <div class="date-back"><a href="#">2004</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next"><a href="#">2006</a><i class="icon icon-arrow-fill"></i></div>
        </div>
      </div>
    </div> <!-- end block push -->

    <nav class="navigation-sticky">
      <ul>
        <li class="active"><a href="#">L'affiche</a></li>
        <li><a href="#">La sélection</a></li>
        <li><a href="#">Les jurys</a></li>
        <li><a href="#">Le palmarès</a></li>
        <li><a href="#">Les évènements</a></li>
        <li><a href="#">Les médias</a></li>
        <li><a href="#">L'actualité</a></li>
      </ul>
    </nav>

    <div class="all-contain">

      <div class="contain-title vFlexAlign border-bottom">
        <strong class="title-01">L’affiche du festival</strong>
      </div>

      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-poster-01.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-poster-01.jpg" alt="images films">
             </div>
            <div class="infos">
              <p class="description">
                Le Festival de Cannes a choisi pour l’affiche de sa 58e édition un couple qui incarne à la perfection l’esprit du cinéma. L'affiche a été conçue et réalisée par Frédéric Menant et Tim Garcia de l'agence It'suptoyou.
              </p>
              <strong class="name-f">Agence it’suptoyou</strong>
              <span class="names-a">Frédéric MENANT - Tim GARCIA</span>
            </div>
           </div>
        </div>
      </article>

      <div class="contain-title vFlexAlign border-bottom border-top">
        <strong class="title-01">L’affiche un certain regard</strong>
      </div>


      <article class="block-movie-preview" style='background-image: url("media/images/retrospective-poster-02.jpg")'>
        <div class="bck-hover">
           <div class="wrapper-item">
             <div class="poster">
               <img src="media/images/retrospective-poster-02.jpg" alt="images films">
             </div>
            <div class="infos">
              <p class="description">
                Le Festival de Cannes a choisi pour l’affiche de sa 58e édition un couple qui incarne à la perfection l’esprit du cinéma. L'affiche a été conçue et réalisée par Frédéric Menant et Tim Garcia de l'agence It'suptoyou.
              </p>
              <strong class="name-f">Portrait de james dean par Floyd McCarty</strong>
              <span class="names-a">Pour “Rebel Without a Cause” (Warner Bros).</span>
            </div>
           </div>
        </div>
      </article>

      <div class="black">
        <strong class="title-9">Partager la page</strong>
        <div class="block-social-network block-social-network-all ">
          <a href="#"><i class="icon icon-facebook"></i></a><!--
          --><a href="#"><i class="icon icon-twitter"></i></a><!--
          --><a href="#"><i class="icon icon-link"></i></a><!--
          --><a href="#"><i class="icon icon-letter"></i></a><!--
          --><a href="#"><i class="icon icon-print"></i></a>
        </div>
      </div>
    </div> <!-- end all contain -->

  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
