<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="retrospective retrospective-home">
<!-- build:include ../include/header.html -->
<!-- /build -->

<section class="s-slider-retrospective">

    <div class="slides-calc2 navigation prev "><i class="icon icon-arrow-left"></i></div>
    <div class="slides-calc2 navigation next "><i class="icon icon-arrow-right"></i></div>

    <div class="slides-calc1">
        <div class="slide">
            <div class="date"></div>
        </div>
    </div>

    <div class="slides">

        <div data-slide="0" class="first-slide slider-restropective"
             style="background-image: url('media/images/retrospective-home-01.jpg')">
            <div class="container block-01 vFlexAlign">
                <div class="vFlexAlign">
                    <h1 class="title-big">69 ans de festival</h1>
                    <p>Revivez tous les moments forts de l'histoire du Festival de Cannes à travers cette timeline
                        interactive</p>
                    <div class="block-drag">
                        <div class="avance"><span class="square"></span></div>
                        <i class="icon icon-drag-hand"></i>
                    </div>
                </div>
            </div>
        </div>

        <div data-slide="1" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">

                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">1<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1946</h2>
                        <a href="#" data-url='selection.html' class="button discover">découvrir (test)</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i2" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
                <!-- TODO symfo random des images cd data-slide=2 ligne 98 -->
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
                <!-- TODO symfo  random des images -->
            </div>
        </div>


        <div data-slide="2" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1946</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1948</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="http://affif-sitepublic-media-preprod.s3-website-eu-west-1.amazonaws.com/media_image/0001/05/thumb_4279_media_image_1280x.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">2<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1947</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

        </div>

        <div data-slide="3" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="4" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">

                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">1<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1946</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i2" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>
        </div>


        <div data-slide="5" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1946</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1948</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">2<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1947</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

        </div>

        <div data-slide="6" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="7" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">

                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">1<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1946</h2>
                        <a href="#" data-url='selection.html' class="button discover">découvrir (test)</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i2" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>
        </div>


        <div data-slide="8" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1946</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1948</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">2<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1947</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

        </div>

        <div data-slide="9" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="10" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">

                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">1<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1946</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i2" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>
        </div>


        <div data-slide="11" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1946</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1948</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">2<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1947</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

        </div>

        <div data-slide="12" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="13" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">

                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">1<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1946</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i2" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>
        </div>


        <div data-slide="14" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1946</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1948</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">2<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1947</h2>
                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="http://dummyimage.com/600x400/000/fff" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

        </div>

        <div data-slide="15" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="16" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="17" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="18" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="19" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="20" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="21" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="22" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="23" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="24" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="25" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="26" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="27" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="28" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="29" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

        <div data-slide="30" class="slider-restropective small">
            <div class="container block-01 vFlexAlign">
                <div class="link-return-c">
                    <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour
                        à la rétrospective</a>
                </div>

                <div class="date-back" data-url='retrospective-poster2.html'><a href="#">1947</a><i
                        class="icon icon-arrow-fill"></i></div>
                <div class="date-next" data-url='retrospective-poster2.html'><a href="#">1949</a><i
                        class="icon icon-arrow-fill"></i></div>

                <div class="vFlexAlign">
                    <img src="media/images/retrospective-slider01.jpg" alt="">
                    <div class="texts">
                        <span class="title-edition">3<sub>E</sub> édition</span>
                        <h2 class="title-big-date">1948</h2>

                        <a href="#" data-url='retrospective-poster.html' class="button discover">découvrir</a>
                    </div>
                </div>
            </div>

            <div class="calc3">
                <img class="i1" src="media/images/retrospective-home-03.jpg" alt="">
                <img class="i2" src="media/images/retrospective-home-04.jpg" alt="">
                <img class="i3" src="media/images/retrospective-home-02.jpg" alt="">
            </div>

            <div class="calc4">
                <img class="i1" src="http://dummyimage.com/210x400/bbbbbb/bbbbbb" alt="">
                <img class="i2" src="http://dummyimage.com/600x400/bbbbbb/bbbbbb" alt="">
                <img class="i3" src="media/images/retrospective-home-03.jpg" alt="">
            </div>

        </div>

    </div>

    </div>

    <div class="block-01">
        <div class="timelapse block-drag">
            <span class="date date-first" data-firstdate='1946'>1946</span>
            <div class="avance" id="timelapse-01"><span class="square"></span></div>
            <span class="date date-last" data-lastdate='2015'>2015</span>
        </div>
    </div>


    <div class="ajax-section">

    </div>
</section>

<!-- build:include ../include/footer.html -->
<!-- /build -->

<!-- build:include ../include/script.html -->
<!-- /build -->
</body>
</html>
