<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="retrospective selection dark">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section class="padding-bottom border-bottom">
    <div class="block-push block-push-top" style="background-image: url('media/images/retrospective-poster-push-01.jpg')">
      <div>
        <a href="" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
      </div>
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-4">58<sub>E</sub> édition</strong>
          <strong class="title-2">2005</strong>
          <div class="date-back"><a href="#">2004</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next"><a href="#">2006</a><i class="icon icon-arrow-fill"></i></div>
        </div>
      </div>
    </div> <!-- end block push -->

    <nav class="navigation-sticky">
      <ul>
        <li><a href="#">L'affiche</a></li>
        <li class="active"><a href="#">La sélection</a></li>
        <li><a href="#">Les jurys</a></li>
        <li><a href="#">Le palmarès</a></li>
        <li><a href="#">Les évènements</a></li>
        <li><a href="#">Les médias</a></li>
        <li><a href="#">L'actualité</a></li>
      </ul>
    </nav>
    <nav class="navigation-sticky-02">
      <ul>
        <li class="active"><a href="#">En Compétition</a></li>
        <li><a href="#">Un certain regard</a></li>
        <li><a href="#">Hors compétition</a></li>
        <li><a href="#">Séances spéciales</a></li>
        <li><a href="#">Cinéfondation</a></li>
        <li><a href="#">courts métrages</a></li>
        <li><a href="#">cannes classics</a></li>
        <li><a href="#">cinéma de la plage</a></li>
      </ul>
    </nav>

    <div class="all-contain">
      <div class="isotope-01">
        
        <div class="grid-sizer"></div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="media/images/selection-01.jpg" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/eee/eee" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-13">(HARCèLEMENT)</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/aaa/aaa" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">QUANDO SEI NATO NON PUOI PIU NASCONDERTI</span>
              <span class="title-13">(UNE FOIS QUE TU ES NÉ...)</span>
              <span class="title-12">Marco Tullio GIORDANA</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/ebebeb/eee" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="media/images/selection-01.jpg" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/eee/eee" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/aaa/aaa" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/ebebeb/eee" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="media/images/selection-01.jpg" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/eee/eee" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/aaa/aaa" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>

        <div class="item block-poster">
          <a href="#">
            <div class="contain-img">
              <img src="http://dummyimage.com/256x348/ebebeb/eee" alt="" data-object-fit="cover">
            </div>
            <div class="contain-txts vFlexAlign">
              <span class="title-11">A HISTORY OF VIOLENCE</span>
              <span class="title-12">David CRONENBERG</span>
            </div>
          </a>
        </div>


      </div> <!-- end isotope 01 -->
    </div> <!-- end all contain -->


  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
