<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="edition-69 story-movie dark">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section class="border-bottom">
    <div class="block-push block-push-top" style="background-image: url('media/images/story-movie-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-3">L'histoire du festival</strong>
        </div>
      </div>
    </div> <!-- end block push -->

    <div class="contain-title vFlexAlign block-01-m">
      <span class="title-02">Le Festival International du Film, a été créé à l’initiative de <strong>Jean Zay</strong>,<br> ministre de l’Instruction Publique et des Beaux-Arts, désireux d’implanter en France un événement culturel international capable de rivaliser avec la Mostra de Venise. </span>
    </div>

    <div class="buttons buttons-01">
      <a href="#" class="button"><i class="icon icon-share"></i>Partager</a>
      <a href="#" class="button"><i class="icon icon-print"></i>Imprimer</a>
    </div>

    <div class="block-01-xs">

      <span class="title-10">Un nouveau festival voit le jour</span>

      <p class="texte-01">
        D’abord prévue en 1939 sous la présidence de Louis Lumière, c’est finalement plus d’un an après la fin de la guerre, le 20 septembre 1946, que la première édition du Festival s’ouvre à Cannes. Il a lieu tous les ans en septembre – sauf en 1948 et 1950 -, avant de se dérouler au mois de mai à partir de 1952.
        <br><br>
        <span class="italic">-> Association loi de 1901 gérée par un Conseil d’administration, le Festival de Cannes a été reconnu d’utilité publique en 1972.</span>
       </p>

      <figure class="padding-bottom">
        <img src="media/images/story-movie-02.jpg" alt="" />
        <figcaption>lorem ipsum dolor sit emet</figcaption>
      </figure>

      <!-- fin du 1 -->

      <span class="title-10">Une renommée internationale rapidement acquise</span>

      <p class="texte-01">
        Si les premières éditions du Festival en font d’abord un événement mondain durant lequel presque tous les films repartent avec un prix, la venue de stars du monde entier sur ses marches et sa médiatisation sans cesse croissante lui forgent rapidement une renommée internationale et légendaire.
         <br><br>
        <span class="italic">-> Dans les années 50, le Festival gagne en popularité grâce à la présence de célébrités telles que Kirk Douglas, Sophia Loren, Grace Kelly, Brigitte Bardot, Cary Grant, Romy Schneider, Alain Delon, Simone Signoret, Gina Lollobrigida,…</span>
       </p>

      <figure class="padding-bottom">
        <img src="media/images/story-movie-03.jpg" alt="" />
        <figcaption>lorem ipsum dolor sit emet</figcaption>
      </figure>

      <!-- fin du 2 -->

      <span class="title-10">Découvrir, Promouvoir, Accompagner</span>

      <p class="texte-01">
        Décernée pour la première fois en 1955 au film Marty de Delbert Mann, <span>la Palme d’or</span> succède au Grand Prix, remis jusque-là au meilleur film en Compétition.
        <br><br>
        <span class="italic">-> « Le but du Festival est d’encourager le développement de l’art cinématographique sous toutes ses formes et créer et maintenir un esprit de collaboration entre tous les pays producteurs de films » (extrait du règlement, 1948.)</span>
        <br><br>
        Dans les années 60, en marge de la Sélection officielle, deux sélections indépendantes voient le jour : <span>la Semaine Internationale</span> de la Critique en 1962 et <span>la Quinzaine des Réalisateurs</span> en 1969.
        <br><br>
        Jusqu’en 1972, les films pouvant prétendre à la sélection sont désignés par leur pays d'origine. A partir de cette date, le Festival affirme son indépendance en devenant le seul décisionnaire de la Sélection officielle des films.
        <br><br>
        En 1978, Gilles Jacob est nommé Délégué Général. La même année, il crée la sélection Un Certain Regard et le prix de la Caméra d'Or qui récompense le meilleur premier film toutes sélections confondues.
        <br><br>
        La Leçon de Cinéma est inaugurée en 1991 par Francesco Rosi. De prestigieux réalisateurs se succèdent pour donner un aperçu de leur parcours d’artiste et de leur vision du cinéma. Sur le même principe, la première Leçon de Musique est donnée en 2003 par Nicola Piovani et la première Leçon d’Acteur par Max Von Sydow en 2004.
        <br><br>
        <span class="italic">-> En 1997, à l’occasion de la Cérémonie du 50e anniversaire du Festival de Cannes, les plus grands réalisateurs mondiaux sont réunis sur scène pour remettre la Palme des Palmes à Ingmar Bergman.</span>
        <br><br>
        En 1998, Gilles Jacob crée la <span>Cinéfondation</span>, une sélection de courts et moyens métrages d’écoles de cinéma du monde entier. L’entité se développe en 2000 avec l’ouverture de <span>La Résidence</span>, où de jeunes réalisateurs viennent mener à bien l’écriture de leur scénario. Puis en 2005, avec <span>l’Atelier</span>, qui aide une vingtaine de réalisateurs par an à trouver des financements pour leur film.
        <br><br>
        Projetées dans le cadre de rétrospectives thématiques jusqu’en 2004, les œuvres du patrimoine sont à partir de cette date présentées à Cannes Classics, une sélection qui rassemble les copies restaurées, les hommages aux cinématographies et les documentaires sur le cinéma.
        <br><br>
        <span class="italic">-> En 2007, pour fêter les 60 ans du Festival de Cannes, 33 des plus grands réalisateurs du monde entier sont invités à participer au film anniversaire <span>Chacun son cinéma</span>, en réalisant en 3 minutes chacun, un court métrage sur le thème de la salle de cinéma.</span>
      </p>

      <figure class="padding-bottom">
        <img src="media/images/story-movie-04.jpg" alt="" />
        <figcaption>lorem ipsum dolor sit emet</figcaption>
      </figure>

      <p class="texte-01">
        En 2010, la nouvelle entité « Cannes Court Métrage » réunit dans une dynamique complémentaire la Compétition des courts métrages et le Short Film Corner pour offrir un panorama complet de la création mondiale au format court.
      </p>
      <!-- fin du 3 -->

      <span class="title-10">Le rendez-vous des professionnels du cinéma</span>

      <p class="texte-01">
        Avec la création de son <span>Marché du Film </span>en 1959, le Festival acquiert une dimension professionnelle qu’il mettra à profit pour favoriser les rencontres et les échanges entre les différents acteurs de l’industrie cinématographique. Il lance notamment en 2004, le <span>Producers Network</span>, qui permet aux producteurs du monde entier d’échanger autour de leurs projets et le <span>Short Fim Corner</span>, un rendez-vous dédié aux courts-métrages. Puis, dans la continuité du Brunch Documentaire plébiscité depuis sa création en 2008, il inaugure le Doc Corner en 2012.
        <br><br>
        <span class="italic">-> A <ses></ses> débuts, le Marché attire quelques dizaines de participants et ne dispose que d’une seule salle de projection. Aujourd’hui, 10 500 acheteurs et vendeurs du monde entier se rendent chaque année à Cannes, ce qui en fait le 1er marché professionnel mondial.</span>
        <br><br>
        Inauguré en 2000, le Village International, tribune des cinématographies internationales, accueillait alors 12 pays et comptait 14 pavillons. Douze ans plus tard, il reçoit 60 pays dans 65
      </p>

      <figure class="padding-bottom">
        <img src="media/images/story-movie-05.jpg" alt="" />
        <figcaption>lorem ipsum dolor sit emet</figcaption>
      </figure>

      <!-- fin du 4 -->

      <span class="title-10">À la tête du festival</span>

      <p class="texte-01">
        En 2000, Gilles Jacob est élu Président du Festival par les membres du Conseil d'Administration. Il succède à Pierre Viot qui occupait cette fonction depuis 1985 à la suite de Robert Favre-Le Bret. De 2001 à 2005, Gilles Jacob est épaulé dans sa fonction par Véronique Cayla, Directrice Générale, et par Thierry Frémaux, Délégué Artistique.
        <br><br>
        En juillet 2007, le Conseil d'administration nomme Thierry Frémaux Délégué Général du Festival.
        <br><br>
        En janvier 2014, Pierre Lescure est élu Président du Festival de Cannes par le Conseil d’Administration. Il est appelé à exercer ses fonctions à partir du 1er juillet 2014 pour succéder à Gilles Jacob, nommé Président d’Honneur.
      </p>
      <!-- fin du 5 -->

    </div> <!-- fin block xs -->

    <div class="black">
      <strong class="title-9">Partager la page</strong>
      <div class="block-social-network block-social-network-all ">
        <a href="#"><i class="icon icon-facebook"></i></a><!--
        --><a href="#"><i class="icon icon-twitter"></i></a><!--
        --><a href="#"><i class="icon icon-link"></i></a><!--
        --><a href="#"><i class="icon icon-letter"></i></a><!--
        --><a href="#"><i class="icon icon-print"></i></a>
      </div>
    </div>

  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
