<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body id="main">
  <!-- build:include ../include/header.html -->
  <!-- /build -->

  <div class="block-01">
    <br><br>
    <span class="title">Titre</span><br><br>
    <span class="title-1">Titre 1</span><br><br>
    <span class="title-2 black">Titre 2</span><br><br>
    <span class="title-3">Titre 3</span><br><br>
    <span class="title-4">Titre 4</span><br><br>
    <span class="title-5">Titre 5</span><br><br>
    <span class="title-6">Titre 6</span><br><br>
    <span class="title-7">Titre 7</span><br><br>
    <span class="title-8">Titre 8</span><br><br>
    <span class="title-9 black">Titre 9</span><br><br>
    <span class="title-10 black">Titre 10</span><br><br>
    <span class="title-10 black">Avec un <sub>sub</sub></span><br><br>
    <span class="title-11 black">Titre 11</span><br><br>
    <span class="title-12">Titre 12</span><br><br>
    <p class="texte-01">
      La palme est formée d’une tige d’où partent les petites feuilles, et dont la partie renflée représente un cœur, un symbole important de notre attachement au cinéma. En 1998, nous sommes partis d’<span>un bloc de cire de bijoutier</span>, dont nous avons sculpté la tige et les trois folioles (de taille différente), une à une.
    </p>
  </div>


<div class="black">
  <!-- build:include ../include/footer.html -->
  <!-- /build -->
</div>

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
