<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body id="main">
  <!-- build:include ../include/header.html -->
  <!-- /build -->

  <div class="block-01">
    <br><br>
    <span class="title">Titre</span><br><br>
    <span class="title-1">Titre 1</span><br><br>
    <span class="title-2 black">Titre 2</span><br><br>
    <span class="title-3">Titre 3</span><br><br>
    <span class="title-4">Titre 4</span><br><br>
    <span class="title-5">Titre 5</span><br><br>
    <span class="title-6">Titre 6</span><br><br>
    <span class="title-7">Titre 7</span><br><br>
    <span class="title-8">Titre 8</span><br><br>
    <span class="title-9 black">Titre 9</span><br><br>
    <span class="title-10 black">Titre 10</span><br><br>
    <span class="title-10 black">Avec un <sub>sub</sub></span><br><br>
    <span class="title-11 black">Titre 11</span><br><br>
    <span class="title-12">Titre 12</span><br><br>
    <span class="title-13 black">Titre 13</span><br><br>
    <span class="title-14">Titre 14</span><br><br>
    <span class="title-15">Titre 15</span><br><br>
    <span class="title-16">Titre 16</span><br><br>
    <span class="title-17">Titre 17</span><br><br>
    <span class="title-18">Titre 18</span><br><br>
    <span class="title-19">Titre 19</span><br><br>
    <span class="title-20">Titre 20</span><br><br>


    <p class="texte-01">
      La palme est formée d’une tige d’où partent les petites feuilles, et dont la partie renflée représente un cœur, un symbole important de notre attachement au cinéma. En 1998, nous sommes partis d’<span>un bloc de cire de bijoutier</span>, dont nous avons sculpté la tige et les trois folioles (de taille différente), une à une.
    </p>

    <div class="quote">
      <p class="italic">
        “ Ce qui m'intéresse le plus, c'est l'univers d'un metteur en scène, de rentrer vraiment dans son monde à lui. ”
      </p>
    </div>

    <p class="quote-02 italic">
      "Tout d'abord merci au Jury d'avoir aimé notre film, ont déclaré les deux frères. Merci beaucoup ! Merci à tous ceux qui nous ont permis de mener cette aventure. En ce moment, on pense particulièrement à nos deux comédiens principaux Jérémie Rénier et Déborah François. Merci beaucoup à vous deux. Merci aussi à notre producteur français Denis Freyd qui a été très précieux pour ce film. Nous voudrions dédier cette Palme à Florence Aubenas et son chauffeur Hussein qui sont enfermés en Irak."
    </p>

    <p class="by-author">Rédigé par <strong>Morgane Urbain</strong></p>

  </div>


<div class="black">
  <!-- build:include ../include/footer.html -->
  <!-- /build -->
</div>

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
