<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="retrospective retrospective-home restrospective-init">
  <!-- build:include ../include/header.html -->
  <!-- /build -->

  <section class="s-slider-retrospective">

    <div class="slides-calc2 navigation prev" style="display: none;"><i class="icon icon-arrow-left"></i></div>
    <div class="slides-calc2 navigation next" style="display: none;"><i class="icon icon-arrow-right"></i></div>

    <div class="slides-calc1 animated fadeOut" style="display: none;">
      <div class="slide">
        <div class="date" data-date="1948">1946</div>
      </div>
    </div>

    <div class="slides">

      <div data-slide="0" class="first-slide slider-restropective animated fadeOut isOpen block-push block-push-top background-effet" style="background-image: url('media/images/retrospective-home-01.jpg')">
        <div class="container block-01 vFlexAlign">
          <div class="vFlexAlign">
            <h1 class="title-big">69 ans de festival</h1>
            <p>Revivez tous les moments forts de l'histoire du Festival de Cannes à travers cette timeline interactive</p>
            <div class="block-drag">
              <div class="avance"><span class="square"></span></div>
              <i class="icon icon-drag-hand"></i>
            </div>
          </div>
        </div>
      </div>

      <div data-slide="1" class="slider-restropective big isOpen block-push block-push-top background-effet" style="background-image: url(&quot;media/images/retrospective-slider01.jpg&quot;);">
        <div class="container block-01 vFlexAlign">

          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <!-- <div class="date-back"><a href="#"></a><i class="icon icon-arrow-fill"></i></div> -->
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>

        <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="" class="open" style="display: none;">
            <div class="texts animated visible pulse">
              <span class="title-4">1<sub>E</sub> édition</span>
              <h2 class="title-2">1946</h2>
              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

      <div data-slide="2" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1946</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1948</a><i class="icon icon-arrow-fill"></i></div>

          <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="">
            <div class="texts">
              <span class="title-4">2<sub>E</sub> édition</span>
              <h2 class="title-2">1947</h2>
              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

      <div data-slide="3" class="slider-restropective small isOpen block-push block-push-top background-effet">
        <div class="container block-01 vFlexAlign">
          <div class="link-return-c">
            <a href="/retrospective-home.html" class="return-back block-01"><i class="icon icon-arrow-left"></i>retour à la rétrospective</a>
          </div>

          <div class="date-back" data-url="retrospective-poster2.html"><a href="#">1947</a><i class="icon icon-arrow-fill"></i></div>
          <div class="date-next" data-url="retrospective-poster2.html"><a href="#">1949</a><i class="icon icon-arrow-fill"></i></div>

          <div class="vFlexAlign">
            <img src="media/images/retrospective-slider01.jpg" alt="">
            <div class="texts">
              <span class="title-4">3<sub>E</sub> édition</span>
              <h2 class="title-2">1948</h2>

              <a href="#" data-url="retrospective-poster.html" class="button discover" style="display: none;">découvrir</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="block-01">
      <div class="timelapse block-drag" style="display: none;">
        <span class="date date-first" data-firstdate="1946">1946</span>
        <div class="avance noUi-target noUi-ltr noUi-horizontal noUi-background" id="timelapse-01"><span class="square"></span><div class="noUi-base"><div class="noUi-origin" style="left: 1.42857%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
        <span class="date date-last" data-lastdate="2015">2015</span>
      </div>
    </div>


    <div class="ajax-section"><div class="contain-ajax">
      <nav class="navigation-sticky">
        <ul>
          <li class="active"><a href="#">L'affiche</a></li>
          <li><a href="#">La sélection</a></li>
          <li><a href="#">Les jurys</a></li>
          <li><a href="#">Le palmarès</a></li>
          <li><a href="#">Les évènements</a></li>
          <li><a href="#">Les médias</a></li>
          <li><a href="#">L'actualité</a></li>
        </ul>
      </nav>

      <div class="all-contain">

        <div class="contain-title vFlexAlign border-bottom">
          <h1 class="title-01">L’affiche du festival</h1>
        </div>

        <article class="block-movie-preview" style="background-image: url(&quot;media/images/retrospective-poster-01.jpg&quot;)">
          <div class="bck-hover">
             <div class="wrapper-item">
               <div class="poster">
                 <img src="media/images/retrospective-poster-01.jpg" alt="images films" data-object-fit="cover">
               </div>
              <div class="infos">
                <p class="description">
                  Le Festival de Cannes a choisi pour l’affiche de sa 58e édition un couple qui incarne à la perfection l’esprit du cinéma. L'affiche a été conçue et réalisée par Frédéric Menant et Tim Garcia de l'agence It'suptoyou.
                </p>
                <strong class="name-f">Agence it’suptoyou</strong>
                <span class="names-a">Frédéric MENANT - Tim GARCIA</span>
              </div>
             </div>
          </div>
        </article>

        <div class="contain-title vFlexAlign border-bottom border-top">
          <h1 class="title-01">L’affiche un certain regard</h1>
        </div>


        <article class="block-movie-preview" style="background-image: url(&quot;media/images/retrospective-poster-02.jpg&quot;)">
          <div class="bck-hover">
             <div class="wrapper-item">
               <div class="poster">
                 <img src="media/images/retrospective-poster-02.jpg" alt="images films" data-object-fit="cover">
               </div>
              <div class="infos">
                <p class="description">
                  Le Festival de Cannes a choisi pour l’affiche de sa 58e édition un couple qui incarne à la perfection l’esprit du cinéma. L'affiche a été conçue et réalisée par Frédéric Menant et Tim Garcia de l'agence It'suptoyou.
                </p>
                <strong class="name-f">Portrait de james dean par Floyd McCarty</strong>
                <span class="names-a">Pour “Rebel Without a Cause” (Warner Bros).</span>
              </div>
             </div>
          </div>
        </article>

        <div class="black">
          <strong class="title-9">Partager la page</strong>
          <div class="block-social-network block-social-network-all ">
            <a href="#"><i class="icon icon-facebook"></i></a><!--
            --><a href="#"><i class="icon icon-twitter"></i></a><!--
            --><a href="#"><i class="icon icon-link"></i></a><!--
            --><a href="#"><i class="icon icon-letter"></i></a><!--
            --><a href="#"><i class="icon icon-print"></i></a>
          </div>
        </div>
      </div> <!-- end all contain -->
    </div></div>
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
