<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="who who-identity-guidelines bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section id="main">
    <div class="block-push block-push-top" style="background-image: url('media/images/who-fdc-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-3">qui sommes nous ?</strong>
        </div>
      </div>
    </div> <!-- end block push -->


    <nav class="navigation-sticky">
      <ul>
        <li><a href="#">Festival de cannes</a></li>
        <li><a href="#">cinéfondation</a></li>
        <li><a href="#">cannes court métrage</a></li>
        <li><a href="#">Marché du film</a></li>
        <li><a href="#">Village international</a></li>
        <li><a href="#">L'équipe</a></li>
        <li class="active"><a href="#">Charte graphique</a></li>
      </ul>
    </nav>

    <div class="all-contain">

      <div class="contain-title vFlexAlign block-01-s">
        <span class="title-02">Le Festival de Cannes modernise son identité graphique. L'application rigoureuse de cette charte permet une identification claire et homogène de son organisation.</span>
      </div>

      <div class="block-01">

        <div class="block-01-xs">

          <strong class="title-22">Usage de la charte</strong>

          <p class="texte-01">
            L’usage de la charte du Festival de Cannes est réservé à l’organisation, aux films sélectionnés et primés ainsi qu’aux partenaires du Festival.
            Elle propose en téléchargement un ensemble de logotypes destinés à tout support de promotion d’un film ou de communication de marque (affiche, publicité, packaging DVD, vidéo).
            Les utilisateurs autorisés s’engagent à respecter strictement les règles d’application détaillées ci-après.
            <br><br>
            Pour tout renseignement complémentaire, merci de contacter la direction de la communication : <a href="mailto:communication@festival-cannes.fr">communication@festival-cannes.fr</a>
            <br><br>
            Les logos institutionnels, exclusivement réservés à l’organisation du Festival, sont présentés dans ce document mais ne sont pas téléchargeables.
          </p>
        </div>

        <div class="block-accordion">

          <div class="item">
            <div class="title-contain border-top border-bottom active">
              <strong class="title-22">
                1. Festival de cannes
              </strong>
              <i class="icon icon-minus"></i>
            </div>

            <div class="contain-infos">
              <div class="single-image vFlexAlign">
                <img src="media/images/who-ig-01.jpg" alt="image">
              </div>

              <p class="caption">L’utilisation de ce logotype est exclusivement réservée à l’organisation du Festival.</p>
            </div>
          </div> <!-- fin de item-->

          <div class="item border-top border-bottom">
            <div class="title-contain">
              <strong class="title-22">
                2. Marché du film
              </strong>
              <i class="icon icon-minus"></i>
            </div>

            <div class="contain-infos">
              <div class="three-images vFlexAlign">
                <div class="item-img">
                  <span class="title-img">logo marché du film</span>
                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-02.jpg" alt="image">
                  </div>
                  <p class="caption">L’utilisation de ce logotype est exclusivement réservée à l’organisation du Festival.</p>
                </div>

                <div class="item-img">
                  <span class="title-img">label Marché du film</span>
                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-03.jpg" alt="image">
                  </div>
                  <p class="caption">L’utilisation de ce logotype est réservée aux participants au Marché du Film.</p>
                </div>

                <div class="item-img">
                  <span class="title-img">producer network</span>
                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-04.jpg" alt="image">
                  </div>
                  <p class="caption">L’utilisation de ce logotype est réservée à l’organisation.</p>
                </div>
              </div>

              <div class="btn-center">
                <div class="buttons buttons-02">
                  <a href="#" class="button"><i class="icon icon-download"></i> .jpg</a>
                  <a href="#" class="button"><i class="icon icon-download"></i> .eps</a>
                </div>
                <a href="#" class="link">Contraintes techniques</a>
              </div>
            </div>
          </div> <!-- fin de item -->

          <div class="item">

            <div class="title-contain border-top border-bottom">
              <strong class="title-22">
                3. sélection officielle
              </strong>
              <i class="icon icon-minus"></i>
            </div>

            <div class="contain-infos">
              <div class="single-image vFlexAlign">
                <img src="media/images/who-ig-05.jpg" alt="image">
              </div>

              <p class="caption">L’utilisation de ce logotype est réservée aux films en Sélection officielle.</p>
            </div>

            <div class="a-left s-margin-top">
              <div class="buttons buttons-02 a-left">
                <a href="#" class="button"><i class="icon icon-download"></i> .jpg</a>
                <a href="#" class="button"><i class="icon icon-download"></i> .eps</a>
              </div>

              <a href="#" class="link a-left">Contraintes techniques</a>
            </div>

            <div class="contain-infos">
              <div class="two-images">
                <div class="item-img small">

                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-06.jpg" alt="image">
                  </div>

                  <span class="title-img">Variante 1</span>
                  <p class="caption"><span class="italic">Ce logotype peut être millésimé :</span><br> Utiliser le caractère FoundryMonoline bold, bas-de-casse, centré, rapport corps/interlignage proportionnel – comme ci-dessus.</p>
                </div>

                <div class="item-img big">

                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-07.jpg" alt="image">
                  </div>

                  <span class="title-img">Variante 2</span>
                  <p class="caption"><span class="italic">On choisit de mettre en valeur la catégorie dans laquelle le film a été sélectionné.</span></p>

                  <div class="download">

                    <div class="item">
                      <strong class="title-dowload">compétition</strong>
                      <div class="buttons buttons-02 a-left s-margin-top">
                        <a href="#" class="button"><i class="icon icon-download"></i> .jpg</a>
                        <a href="#" class="button"><i class="icon icon-download"></i> .eps</a>
                      </div>
                    </div>

                    <div class="item">
                      <strong class="title-dowload">un certain regard</strong>
                      <div class="buttons buttons-02 a-left s-margin-top">
                        <a href="#" class="button"><i class="icon icon-download"></i> .jpg</a>
                        <a href="#" class="button"><i class="icon icon-download"></i> .eps</a>
                      </div>
                    </div>

                    <div class="item">
                      <strong class="title-dowload">hors compétition</strong>
                      <div class="buttons buttons-02 a-left s-margin-top">
                        <a href="#" class="button"><i class="icon icon-download"></i> .jpg</a>
                        <a href="#" class="button"><i class="icon icon-download"></i> .eps</a>
                      </div>
                    </div>

                    <div class="item">
                      <strong class="title-dowload">cannes classic</strong>
                      <div class="buttons buttons-02 a-left s-margin-top">
                        <a href="#" class="button"><i class="icon icon-download"></i> .jpg</a>
                        <a href="#" class="button"><i class="icon icon-download"></i> .eps</a>
                      </div>
                      <a href="#" class="link">Contraintes techniques</a>
                    </div>

                  </div> <!-- fin download -->
                </div> <!--fin item-img-->
              </div> <!-- fin two-image-->
            </div> <!-- fin contain-infos -->
          </div> <!-- fin de item-->

          <div class="item border-top border-bottom">
            <div class="title-contain">
              <strong class="title-22">
                2. Palmarès
              </strong>
              <i class="icon icon-minus"></i>
            </div>

            <p class="description">Tous les logotypes des prix du palmarès peuvent être millésimés</p>

            <div class="contain-infos">

              <span class="title-img">Palme d'or</span>
              <p class="description">Tous les logotypes des prix du palmarès peuvent être millésimés</p>

              <div class="three-images vFlexAlign">
                <div class="item-img">
                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-02.jpg" alt="image">
                  </div>
                  <p class="caption">L’utilisation de ce logotype est exclusivement réservée à l’organisation du Festival.</p>
                </div>

                <div class="item-img">
                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-03.jpg" alt="image">
                  </div>
                  <p class="caption">L’utilisation de ce logotype est réservée aux participants au Marché du Film.</p>
                </div>

                <div class="item-img">
                  <div class="contain-img vFlexAlign">
                    <img src="media/images/who-ig-04.jpg" alt="image">
                  </div>
                  <p class="caption">L’utilisation de ce logotype est réservée à l’organisation.</p>
                </div>
              </div>

              <div class="btn-center">
                <div class="buttons buttons-02">
                  <a href="#" class="button"><i class="icon icon-download"></i> .jpg</a>
                  <a href="#" class="button"><i class="icon icon-download"></i> .eps</a>
                </div>
                <a href="#" class="link">Contraintes techniques</a>
              </div>
            </div>
          </div> <!-- fin de item -->


        </div> <!-- fin de accordion -->
      </div> <!-- fin block 01 -->

      <div class="border-top">
        <strong class="title-9">Partager la page</strong>
        <div class="block-social-network block-social-network-all ">
          <a href="#"><i class="icon icon-facebook"></i></a><!--
          --><a href="#"><i class="icon icon-twitter"></i></a><!--
          --><a href="#"><i class="icon icon-link"></i></a><!--
          --><a href="#"><i class="icon icon-letter"></i></a><!--
          --><a href="#"><i class="icon icon-print"></i></a>
        </div>
      </div>
    </div> <!-- end all contain -->
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
