<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="who who-village-international bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section id="main">
    <div class="block-push block-push-top" style="background-image: url('media/images/who-fdc-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-3">qui sommes nous ?</strong>
        </div>
      </div>
    </div> <!-- end block push -->


    <nav class="navigation-sticky">
      <ul>
        <li><a href="#">Festival de cannes</a></li>
        <li><a href="#">cinéfondation</a></li>
        <li><a href="#">cannes court métrage</a></li>
        <li><a href="#">Marché du film</a></li>
        <li class="active"><a href="#">Village international</a></li>
        <li><a href="#">L'équipe</a></li>
        <li><a href="#">Charte graphique</a></li>
      </ul>
    </nav>

    <div class="all-contain">

      <div class="contain-title vFlexAlign block-01-s">
        <span class="title-02">Vitrine artistique du cinéma mondial, joyau de son industrie, rassemblement médiatique sans équivalent et enjeu stratégique majeur, le Festival de Cannes accueille, au coeur de ses espaces, un lieu de promotion et de rencontres : <strong>le Village international</strong>.</span>
      </div>

      <div class="block-01-xs">
        <strong class="title-21">À la croisée des chemins</strong>

        <p class="texte-01">
          Entre le Festival – tourné vers la diversité et la découverte – et le Marché du Film – acteur incontournable de l’industrie cinématographique –, le Village international est un véritable trait d’union. Accueillie dans un cadre privilégié – un pavillon privatif et sa terrasse –, chaque délégation valorise la richesse de son cinéma et la vitalité de ses productions.
        </p>

        <figure>
          <img src="media/images/who-vi-01.jpg" alt="image">
          <figcaption>Localisation du lieu de déroulement du Festival de Cannes</figcaption>
        </figure>

        <p class="texte-01">
          Le « Riviera » accueille les Ministères de la culture et les Centres de cinéma des pays étrangers et la «Pantiero», qui regroupe d’abord l’ensemble de l’offre française (CNC, Unifrance, SACD, CST, le rendez-vous des exploitants...), s’internationalise d’années en années avec l’arrivée de fonds et de commissions du film de différents pays (Finland Film Commission, Austrian Film Commissionand Funds…).
         <br><br>
          Inauguré en 2000, il accueillait alors 12 pays et comptait 14 pavillons. Quinze ans plus tard, il reçoit près de 60 pays dont 5 nouveaux : Albanie, Finlande, Iran, Japon et Jordanie
        </p>

        <div class="center padding-bottom">
          <a href="#" class="button-02"><i class="icon icon-pdf"></i>consulter la brochure village international 2016</a>
        </div>

      </div> <!-- fin block 01 -->
    </div> <!-- end all contain -->
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
