<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="who who-fdc bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section id="main">
    <div class="block-push block-push-top" style="background-image: url('media/images/who-fdc-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-3">qui sommes nous ?</strong>
        </div>
      </div>
    </div> <!-- end block push -->


    <nav class="navigation-sticky">
      <ul>
        <li class="active"><a href="#">Festival de cannes</a></li>
        <li><a href="#">cinéfondation</a></li>
        <li><a href="#">cannes court métrage</a></li>
        <li><a href="#">Marché du film</a></li>
        <li><a href="#">Village international</a></li>
        <li><a href="#">L'équipe</a></li>
        <li><a href="#">Charte graphique</a></li>
      </ul>
    </nav>

    <div class="all-contain">

      <div class="contain-title vFlexAlign block-01-s">
        <span class="title-02">Thierry Frémaux, délégué général du Festival de Cannes, revient sur ce rassemblement médiatique. Notamment lors de la cérémonie d'ouverture et la montée des marches : le tapis rouge et ses vingt-quatre « marches de la gloire ».</span>
      </div>

      <div class="buttons buttons-01">
        <a href="#" class="button"><i class="icon icon-share"></i>Partager</a>
        <a href="#" class="button"><i class="icon icon-print"></i>Imprimer</a>
      </div>

      <div class="block-01-xs">
        <strong class="title-21">Quelle est la mission du Festival de Cannes ?</strong>

        <p class="texte-01">
          Depuis ses origines, le Festival de Cannes est fidèle à sa vocation fondatrice : révéler et mettre en valeur des œuvres pour servir l'évolution du cinéma, favoriser le développement de l'industrie du film dans le monde et célébrer le 7ème art à l’international.
        </p>

        <strong class="title-21">C’est quoi la « Sélection officielle » ?</strong>

        <p class="texte-01">
          Elle met en valeur la diversité de la création cinématographique à travers différents volets et d’abord la Compétition et Un Certain Regard. Des films qui illustrent le « cinéma d’auteur grand public» sont présentés en Compétition et Un Certain Regard met l’accent sur des œuvres originales dans leur propos et leur esthétique. La Sélection officielle repose aussi sur les films Hors Compétition, les Séances Spéciales et les Séances de minuit, <a href="#">Cannes Classics</a> et la sélection <a href="#">Cinéfondation</a> de films d’école.
        </p>

        <strong class="title-21">Que représentent aujourd’hui les « Marches rouges » ?</strong>

        <p class="texte-01">
          C’est un des aspects de la manifestation et bien sûr la partie la plus médiatique de l’événement. Pour l’organisation, c’est d’abord l’opportunité d’accueillir pour la première fois et avec les mêmes égards, les plus grands artistes du cinéma mondial et les talents émergents. C’est également l’occasion d’honorer la créativité des artistes sur laquelle repose le prestige du Festival.
        </p>

        <img src="media/images/who-fdc-02.jpg" alt="image">

        <strong class="title-21">En quoi consistent les sélections non compétitives ?</strong>

        <p class="texte-01">
          Les films Hors Compétition sont souvent des films-évènements qui marquent l’année de cinéma et les Séances Spéciales et Séances de minuit offrent une exposition sur mesure à des œuvres plus personnelles. Les films du patrimoine en copies restaurées sont mis en valeur à Cannes Classics qui accueille également des hommages et des documentaires sur le cinéma. En dehors de la Sélection, les cinéphiles ont aussi l’opportunité de découvrir le cinéma autrement au travers de Leçons, d’hommages ou d’expositions…
        </p>

        <strong class="title-21">Quelle place est réservée au court-métrage à Cannes ?</strong>

        <p class="texte-01">
          A Cannes, le court métrage est représenté par la Compétition, à l’issue de laquelle le Jury des courts métrages remet une Palme d’or et par le Short Film Corner, un espace professionnel dédié aux rencontres, aux échanges, à la promotion des films.
          <br>En 2010, le Festival a créé <span>« Cannes Court Métrage »</span> qui réunit ces deux entités dans une dynamique complémentaire pour offrir un panorama complet de la création mondiale au format court et stimuler la créativité de ses auteurs.
        </p>

        <strong class="title-21">Quelles sont les initiatives du Festival en faveur de la création ?</strong>

        <p class="texte-01">
          Le Festival est très attentif à découvrir de nouveaux talents et à servir de tremplin à la création. Le développement de « Cannes Court Métrage » va dans ce sens. Plusieurs actions destinées à soutenir les talents du futur ont déjà été mises en œuvre: la Caméra d’Or récompense le meilleur premier film présenté soit en Sélection officielle, soit à la <span>Quinzaine des Réalisateurs</span> ou à la <span>Semaine de la Critique</span>.
          <br>Quant à la Cinéfondation, qui présente des films d’écoles de cinéma dans le cadre de la Sélection officielle et organise également la Résidence et l’Atelier, elle est un observatoire sur les tendances du cinéma de demain.
        </p>

        <img src="media/images/who-fdc-03.jpg" alt="image">

        <strong class="title-21">Comment entretenez-vous la dimension internationale de la manifestation ?</strong>

        <p class="texte-01">
          Les films sélectionnés et les professionnels accrédités au Festival viennent du monde entier et la couverture médiatique de l’événement est internationale. Le Festival de Cannes offre par ailleurs à tous les pays producteurs de cinéma la possibilité de présenter la richesse de leur cinématographie dans le cadre du Village international, qui comptait plus de 40 pays en 2012.
          <br><br>
          Pour continuer d’encourager cette dimension, 6 nouvelles langues ont été ajoutées au site officiel en 2010. En plus du français et de l’anglais, les internautes peuvent désormais suivre la manifestation en espagnol, portugais, chinois, japonais, arabe et russe.
        </p>

        <strong class="title-21">Le Marché du film, c’est le versant économique du Festival de Cannes ?</strong>

        <p class="texte-01">
          Le Festival de Cannes s’est très tôt appuyé sur son <a href="#">Marché du Film</a> pour promouvoir la double nature du cinéma, culturelle et économique. Aujourd’hui, avec plus de 10.500 participants et 1500 projections, il est le premier marché du monde et il contribue au dynamisme de l'industrie mondiale du cinéma. Il est indissociable du Festival en ce sens qu’il favorise aussi la rencontre et qu’il offre aux professionnels accrédités des services et des outils ciblés qui leur facilitent l’échange, la négociation et la découverte.
        </p>

        <strong class="title-21">Que fait le Festival pour le grand public ?</strong>

        <p class="texte-01">
          La carrière d’un film et la réputation d’un auteur reposent avant tout sur son accueil en salles. Bien qu’il soit réservé aux professionnels, le Festival est attentif à cette réalité et se prépare d’ailleurs à mieux adapter son accueil des cinéphiles.
          Depuis 2012, le film d’ouverture sort en salles en France le jour de sa présentation à Cannes et la cérémonie d’Ouverture est diffusée dans les cinémas afin que les spectateurs puissent vivre en direct la soirée de lancement du Festival.
          <br><br>
          A Cannes, le Cinéma de la Plage, salle hors les murs, propose chaque soir un film – et depuis 2010 parfois en avant-première mondiale- dans le cadre d’une programmation thématique. Ce sont des projections en plein air ouvertes à tous qui représentent un lien fort avec le public.
        </p>

        <strong class="title-21">Le Festival vient d'avoir 65 ans, quel est le secret de sa longévité ?</strong>

        <p class="texte-01">
          Le Festival est solidement ancré dans son histoire, mais il est aussi très attentif à accueillir la nouveauté et l’originalité. Au fil des années, il a évolué en cherchant à préserver ses valeurs essentielles : la cinéphilie, la découverte de nouveaux talents, l’accueil des professionnels et des journalistes venus du monde entier pour contribuer à la naissance et à la diffusion des films.
          <br><br>
          Lors de chaque édition, des projets voient le jour, des expériences se transmettent, des cultures se découvrent : c’est aussi cette effervescence qui fait du Festival de Cannes le reflet de son époque.
        </p>

      </div>

      <div class="border-top">
        <strong class="title-9">Partager la page</strong>
        <div class="block-social-network block-social-network-all ">
          <a href="#"><i class="icon icon-facebook"></i></a><!--
          --><a href="#"><i class="icon icon-twitter"></i></a><!--
          --><a href="#"><i class="icon icon-link"></i></a><!--
          --><a href="#"><i class="icon icon-letter"></i></a><!--
          --><a href="#"><i class="icon icon-print"></i></a>
        </div>
      </div>
    </div> <!-- end all contain -->
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
