<!DOCTYPE html>
<html lang="en">
<!-- build:include ../include/head.html -->
<!-- /build -->
<body class="who who-staff bright">
  <!-- build:include ../include/header.html -->
  <!-- /build -->
  <section id="main">
    <div class="block-push block-push-top" style="background-image: url('media/images/who-fdc-01.jpg')">
      <div class="vFlexAlign">
        <div class="txts">
          <strong class="title-3">qui sommes nous ?</strong>
        </div>
      </div>
    </div> <!-- end block push -->


    <nav class="navigation-sticky">
      <ul>
        <li><a href="#">Festival de cannes</a></li>
        <li><a href="#">cinéfondation</a></li>
        <li><a href="#">cannes court métrage</a></li>
        <li><a href="#">Marché du film</a></li>
        <li><a href="#">Village international</a></li>
        <li class="active"><a href="#">L'équipe</a></li>
        <li><a href="#">Charte graphique</a></li>
      </ul>
    </nav>

    <div class="all-contain">

      <div class="contain-title vFlexAlign block-01-s">
        <span class="title-02">L'Association Française du Festival International du Film regroupe le Festival de Cannes, la Cinéfondation et le Marché du Film. L'équipe permanente du Festival de Cannes compte une trentaine de personnes. Cet effectif est progressivement renforcé en cours d'année, pour atteindre l'effectif global d'environ 700 personnes au Festival et 300 au Marché.</span>
      </div>

      <div class="filters">
        <div id="staff" class="filter">
          <span class="label">l'équipe :</span>
          <span class="select">
            <span data-filter="all" class="active">Festiva de cannes </span>
            <span data-filter="competition">autre</span>
            <span data-filter="photocall">autre</span>
            <i class="icon icon-arrow-down"></i>
          </span>
        </div>
      </div> <!-- end filters -->

      <div class="block-01">

        <div class="isotope-02">

          <div class="grid-sizer"></div>

          <div class="item block-poster">
            <a href="#">
              <div class="contain-img">
                <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
              </div>
              <div class="contain-txts vFlexAlign">
                <span class="title-11">marie-pierre hauville</span>
                <span class="title-12">Directrice de la Communication</span>
              </div>
            </a>
          </div>

          <div class="item block-poster">
            <a href="#">
              <div class="contain-img">
                <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
              </div>
              <div class="contain-txts vFlexAlign">
                <span class="title-11">marie-pierre hauville</span>
                <span class="title-12">Directrice de la Communication</span>
              </div>
            </a>
          </div>

          <div class="item block-poster">
            <a href="#">
              <div class="contain-img">
                <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
              </div>
              <div class="contain-txts vFlexAlign">
                <span class="title-11">marie-pierre hauville</span>
                <span class="title-12">Directrice de la Communication</span>
              </div>
            </a>
          </div>

          <div class="item block-poster">
            <a href="#">
              <div class="contain-img">
                <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
              </div>
              <div class="contain-txts vFlexAlign">
                <span class="title-11">marie-pierre hauville</span>
                <span class="title-12">Directrice de la Communication</span>
              </div>
            </a>
          </div>

          <div class="item block-poster">
            <a href="#">
              <div class="contain-img">
                <img src="http://dummyimage.com/256x348/bbb/bbb" alt="" data-object-fit="cover">
              </div>
              <div class="contain-txts vFlexAlign">
                <span class="title-11">marie-pierre hauville</span>
                <span class="title-12">Directrice de la Communication</span>
              </div>
            </a>
          </div>

        </div>

      </div>

      <div class="border-top">
        <strong class="title-9">Partager la page</strong>
        <div class="block-social-network block-social-network-all ">
          <a href="#"><i class="icon icon-facebook"></i></a><!--
          --><a href="#"><i class="icon icon-twitter"></i></a><!--
          --><a href="#"><i class="icon icon-link"></i></a><!--
          --><a href="#"><i class="icon icon-letter"></i></a><!--
          --><a href="#"><i class="icon icon-print"></i></a>
        </div>
      </div>
    </div> <!-- end all contain -->
  </section>

  <!-- build:include ../include/footer.html -->
  <!-- /build -->

  <!-- build:include ../include/script.html -->
  <!-- /build -->
</body>
</html>
