.grid-01 .card.video .pitcto .icon-video {
	margin:0 0 0 16px;
}

.module-title .title-big {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 20px auto;
  max-width: 700px;
  text-align: center;
  padding-bottom: 20px; 
}

.s-slider-retrospective .isotope-01 .item.block-poster img {
  display:none !important;
}

.articles-list .card.item .info .category {
  top:0 !important;
}

.block-push-top .vFlexAlign {
  background: none !important;
}

.dark.story-movie .wysiwyg-article-02 p {
  color: #f5f5f5 !important;
}

.story-movie.dark {
  background-color: #FFF;
}

.dark .title-list-cat.block-01-xs {
  background-color: #141414;
}

.story-movie.dark.story-palme {
  background-color: #141414;
}

