.grid-01 .card.video .pitcto .icon-video {
	margin:0 0 0 16px;
}

.module-title .title-big {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 20px auto;
  max-width: 700px;
  text-align: center;
  padding-bottom: 20px; 
}

.s-slider-retrospective .isotope-01 .item.block-poster img {
  display:none !important;
}