<img src="{% path widget.file|trans_fallback('file'), 'reference' %}" alt="{{ widget.file|trans_fallback('alt') }}" />
<p class="caption">{{ widget.file|trans_fallback('legend') ~ ' © ' ~ widget.file|trans_fallback('copyright') }}</p>