<span class="inner-field-short-description">
    {% if object and admin.hasRoute('edit') and admin.isGranted('EDIT') %}
        <a data-target="_blank" class="fdc-check-lock-list" href="{{ admin.generateObjectUrl('edit', object, link_parameters) }}" target="new">{{ description }}</a>
    {% else %}
        {{ description }}
    {% endif %}
</span>
{% if admin.code == 'fdc.admin.media_image' %}
    <div class="fdc-sonata-media-ajax-hidden">
        {% if object.file is not null %}
            {% media object.file, 'small' %}
        {% endif %}
    </div>
{% endif %} 