{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block field %}
    {% if admin.hasRoute('edit') %}
        {% for locale in locales %}
            {% if is_granted('ROLE_FDC_TRANSLATOR_' ~ locale|upper) %}
                {% set trans = object.findTranslationByLocale(locale) %}
                {% if trans is not null %}
                    {% set tooltip = '' %}
                    {% if trans.lockedBy is not null %}
                    {% endif %}
                    <span class="fdc-check-lock-list{% if trans.lockedBy is not null %} fdc-is-locked{% endif %}">
                        <div {% if trans is not null %}{% if trans.lockedBy is not null %}{% endif %}{% endif %} class="fdc-list-translation-type-square{% if trans is not null %} {{ trans.status|translate_status_to_admin_class }}{% endif %}">
                            {{ locale }}
                        </div>
                    </span>
                    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}