<div id="cookies-banner">
    <p>
        {{ 'cookie.text.enpoursuivantvotrenaviguationsurnossites'|trans|raw }}
        <span class="cookie-accept" title="Okay, close">
            <i class="icon icon_case-close"></i>
        </span>
    </p>
</div>