{% trans_default_domain 'FDCEventBundle' %}

{% if movie.persons|length > 0 %}
    {% if movie.getCredits()|length > 0 %}
        <div class="section credits">
            <h3 class="title-section">{{ 'movie.title.credits'|trans }}</h3>
            {% for filmPerson in movie.getCredits() %}
                <p> {% include 'FDCEventMobileBundle:Movie:widgets/check_asian_name.html.twig' with {'person': filmPerson.person} %}
                   {% if filmPerson.functions  %} - {% endif %}
                    {% for personFunction in filmPerson.functions %}
                        {{ filmPerson.person|person_function_gender(personFunction.function, 'name') }}
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    {% endif %}
    {% if movie.getActors()|length > 0 %}
        <div class="section casting">
            <h3 class="title-section">{{ 'movie.title.casting'|trans }}</h3>
            {% for filmPerson in movie.getActors() %}
                <p>{% include 'FDCEventMobileBundle:Movie:widgets/check_asian_name.html.twig' with {'person': filmPerson.person} %}
                    {% if filmPerson|trans_fallback('role') is not null and filmPerson|trans_fallback('role') != '' %}
                        - {{ filmPerson|trans_fallback('role') }}
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}