</div>
{{ dump(widget) }}
<div class="Article-audioPlayer" 
      data-date="<strong>Le</strong> 10.05.16"  
      data-title="Un certain regard<br/>sur le palmarès 2016" 
      data-file-mp3="{{ asset('bundles/fdcevent/medias/placeholder.mp3') }}">&nbsp;</div>
<div class="Article-content">