</div>
{% trans_default_domain 'FDCEventBundle' %}


{% set file = widget.file %}
{% set url = '' %}
{% set title = '' %}
{% set currentUrl = app.request.schemeAndHttpHost ~ app.request.requestUri %}
{% if file %}
    {% set trans = file.findTranslationByLocale(app.request.locale) %}

    {% if trans is null or trans.mp3Url is null or trans.jobMp3State != 3 %}
        {% set trans = file.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}
    {% set title = trans.title %}
    {% set url = trans.mp3Url %}
    {% set header = widget.file.image %}
    {% if header is not null %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% endif %}
{% endif %}
<div id="audioplayer-{{ random() }}" class="Article-audioPlayer" 
      data-date="<strong>Le</strong> {{ widget.updatedAt|date('d-m-Y H:i:s') }}"  
      data-title="{{ title }}" 
      data-file-mp3="{{ s3_server_audio ~ url }}">&nbsp;</div>
<div class="Article-content">