{% trans_default_domain 'FDCEventBundle' %}

{% set file = widget.audio %}
{% set url = '' %}
{% set currentUrl = app.request.schemeAndHttpHost ~ app.request.requestUri %}
{% if file %}
    {% set trans = file.findTranslationByLocale(app.request.locale) %}

    {% if trans is null or trans.mp3Url is null or trans.jobMp3State != 3 %}
        {% set trans = file.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}
    {% set url = trans.mp3Url %}
    {% set header = widget.header %}
    {% if header is not null %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% endif %}
{% endif %}

{% if widget.file %}
    {% set wfi = widget.file.image %}
    {% if wfi is not null %}
        {% set imageTrans = wfi.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = wfi.findTranslationByLocale('fr') %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% endif %}
{% else %}
    {% set headerAimg = widget.audio.image %}
    {% set imageTrans = headerAimg.findTranslationByLocale(app.request.locale) %}
    {% if imageTrans is null or imageTrans.file is null %}
      {% set imageTrans = headerAimg.findTranslationByLocale('fr') %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% endif %}
{% endif %}{{ dump(image) }}
<div {%if image is defined %}style="background-image: url({% path image, 'reference' %});" {% endif %}id="audioplayer-{{ random() }}" class="Article-audioPlayer" 
      data-date="<strong>Le</strong> 10.05.16"  
      data-title="{{ widget|trans_fallback('title') }}" 
      data-file-mp3="{{ s3_server_audio ~ url }}">&nbsp;</div>