{% if widget.gallery is not empty %}
        {% for gallery in widget.gallery.medias %}
            {% if gallery.media != null %}
                {% set file = gallery.media|trans_fallback('file') %}
                <img src="{% path file, 'reference' %}" alt="{{ gallery.media|trans_fallback('alt')  }}" title="{{ gallery.media|trans_fallback('legend')  }}">
                {% if gallery.media|trans_fallback('copyright') %}
                <div class="Article-picture-caption"><strong>{{ gallery.media|trans_fallback('legend')}}</strong> ©{{ gallery.media|trans_fallback('copyright')|replace({'©': ''}) }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if widget.gallery is not empty %}
    <div class="Article-picture-dual">
        {% if  widget.gallery.medias}
      <div class="Article-picture-dual-col">
        <img src="img/article/slide.png"/>
        <div class="Article-picture-caption"><strong>Le jury 2016</strong> © FDC / Théophile Delange</div>
      </div><!--
      --><div class="Article-picture-dual-col">
        <img src="img/article/slide.png"/>
        <div class="Article-picture-caption"><strong>Le jury 2016</strong> © FDC / Théophile Delange</div>
      </div>
    </div>
    {% endif %}