{% set img = widget.header|tran_fallback('file') %}
<div class="Article-content">
<img src="{% path img, 'reference' %}"/>
	<div class="Article-picture-caption"><strong>Le jury 2016</strong> © FDC / Théophile Delange</div>
</div>