{% if widget.header is defined %}
	{% set img = widget.header|trans_fallback('file') %}
{% elseif widget.gallery is defined %}
	{% set img = widget.gallery.media|first %}
		<p>widget.gallery</p>
		{{ dump(widget.gallery) }}
		<p>widget.gallery.medias</p>
		{{ dump(widget.gallery.medias) }}
{% endif %}