{% if widget.gallery is defined %}
	{{ dump(widget.gallery) }}

	{% set imgObject = widget.gallery.medias[0].media %}
{% else %}
	{% set imgObject = widget.header %}
{% endif %}
{% set img = imgObject|trans_fallback('file') %}
<div class="Article-content">
	<img src="{% path img, 'reference' %}"/>
	{% if widget.header|trans_fallback('copyright') %}
    <div class="Article-picture-caption"><strong>{{ widget.header|trans_fallback('legend')}}</strong> ©{{ widget.header|trans_fallback('copyright')|replace({'©': ''}) }}</div>
    {% endif %}
</div>