{{ dump(widget) }}
<div class="Article-content">
<img src="{{ asset('bundles/fdcevent/img/article/slide.png') }}"/>
	<div class="Article-picture-caption"><strong>Le jury 2016</strong> © FDC / Théophile Delange</div>
</div>