
{% set cover_image = widget.news.header|trans_fallback('file') %}
{{ widget.file) }}

<div class="Article-videoPlayer">
          <a class="Article-videoPlayer-play" href="#"></a>
          <video preload="none" style="background-image: url({% path cover_image, 'reference' %})">
            <source src="{{ asset('bundles/fdcevent/medias/placeholder.mp4') }}" type="video/mp4"/>
          </video>
          <div class="Article-videoPlayer-caption">
            <h4>Discours</h4> <p>{{ widget.news|trans_fallback('updatedAt') }}&nbsp;&nbsp;.&nbsp;&nbsp;09:00</p>
            <strong>{{ widget.news|trans_fallback('title') }}</strong>
          </div>
        </div>