{% set video = widget.video %}
{% set image = video.image|trans_fallback('file') %}

{% set trans = video.findTranslationByLocale(app.request.locale) %}
{% if trans is null or trans.file is null or trans.jobMp4State != 3 or trans.mp4Url is null or trans.webmUrl is null %}
    {% set trans = video.findTranslationByLocale('fr') %}
{% endif %}
{% if image is defined and image is not null %}{% path image, 'reference' %}{% elseif trans.imageAmazonUrl is defined and trans.imageAmazonUrl is not null %}{{ s3_server_video ~ trans.imageAmazonUrl }}{% endif %}
<div id="videoplayer-{{ random() }}" class="Article-videoPlayer" 
data-poster="{% if image is defined and image is not null %}{% path image, 'reference' %}{% elseif trans.imageAmazonUrl is defined and trans.imageAmazonUrl is not null %}{{ s3_server_video ~ trans.imageAmazonUrl }}{% endif %}" 
data-file="{{ s3_server_video ~ video|trans_fallback('mp4Url') }}" 
data-title=""
data-desc=""
id="videoPlayer1" >
</div>