{% set file = widget.file %}
{% set trans = widget.video.findTranslationByLocale(app.request.locale) %}
{% if trans is null or trans.file is null or trans.jobMp4State != 3 or trans.mp4Url is null or trans.webmUrl is null %}
	{% set trans = widget.video.findTranslationByLocale('fr') %}
{% endif %}

{% if file.image is defined %}
	{% set header = file.image %}
{% endif %}

{% if header is not null %}
	{% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
	{% if imageTrans is null or imageTrans.file is null %}
		{% set imageTrans = header.findTranslationByLocale('fr') %}
	{% endif %}
{% endif %}
{% if imageTrans is defined %}
	{% set image = imageTrans.file %}
{% else if widget.video.image|trans_fallback('file') is defined and widget.video.image|trans_fallback('file') is not null %}
	{% set image = widget.video.image|trans_fallback('file') %}
{% else %}
	{% set image_s3 = s3_server_video ~ widget.video|trans_fallback('imageAmazonUrl') %}
{% endif %}
{{ image_s3 }}
<div id="videoplayer-{{ random() }}" class="Article-videoPlayer"
	 data-poster="{% if image is defined and image is not null %}{% path image, 'reference' %}{% elseif image_s3 is defined %}{{ image_s3 }}{% endif %}"
	 data-file="{{ s3_server_video ~ widget.video|trans_fallback('mp4Url') }}"
	 data-title=""
	 data-desc=""
	 id="videoPlayer1">
</div>