.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  display: none;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-grab {
  cursor: grabbing!important;
  cursor: -moz-grabbing!important;
  cursor: -webkit-grabbing!important;

  .owl-item, .linkVid, .owl-stage {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}


.owl-dot {
  display: inline-block;
  height: 15px;
  margin: 0 5px;
  vertical-align: middle;
  position: relative;
  width: 15px;

  &:before {
    //attention if add new picto font number, nedd change the number of content //
    content: "\f155";
    font-family: icons;
    font-size: .5rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include transform(translateZ(0));
    @include transition(all 0.6s $smoothTransition);
    color:#fff;
    line-height: 13px;
  }

  &:after {
    //attention if add new picto font number, nedd change the number of content //
    content: "\f154";
    font-family: icons;
    font-size: .8rem;
    color:$gold;
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include transform(translateZ(0));
    @include transform(scale(0.6));
    @include transition(all 0.6s $smoothTransition);
  }

  &:hover {
    &:after,
    &:before {
      opacity: 0.7;
    }
  }

  &.active {
    &:before {
      opacity: 0;
      visibility: hidden;
      @include transform(scale(0.6));
    }

    &:after {
      opacity: 1;
      visibility: visible;
      @include transform(scale(1));
    }
  }
}


/* CAROUSEL */


#owl-top, #owl-mid, #owl-accred, #owl-projections {
  height: 500px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;

  .item img {
    display: block;
    width: 100%;
    height: auto;
  }

  .owl-buttons {
    display: none;
  }

  .owl-page {
    display: inline-block;
  }

  .owl-controls {
      display: block!important;
      position: absolute;
      top: 70%;
      width: 100%;
      z-index: 1004;
  }

.owl-page {
    display: inline-block;
    height: 7px;
    margin: 0 5px;
    vertical-align: middle;
    position: relative;
    width: 7px;
    border-radius: 50px;
    border: 3px solid transparent;
    background: white;
    @include transition(all .8s $smoothTransition);

    &.active {
      border: 5px solid white;
      background: none;
      @include transition(all .8s $smoothTransition);
    }
  }

  .owl-Title {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    width: 100%;
    
    h2 {
      font-size: 70px;
      text-transform: uppercase;
      color: white;
      font-family: "Playfair Display",Times New Roman,Times,serif;
    }

    p, span {
      font-size: 18px;
      color: white;
    }

    p {
      margin: 50px 0px;
      font-family: "Playfair Display",Times New Roman,Times,serif;
      text-align: center;
    }

    span {
      color: #fff481;
      font-family: $CamphorRegular;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .owl-dot:after {
      color: white;
  }

}

#owl-top {
  .owl-Title {
    h2 {
      letter-spacing: 4px;
    } 

    p {
      font-size: 18px;
      letter-spacing: 1px;
      max-width: 1152px;
      margin: 0 auto;
      text-align: center;
      padding: 40px 0px;
      line-height: 30px;
    } 
  }
}

#owl-accred, #owl-projections {

  height: 600px;
  z-index: 1000;
  
  .item img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 540px;
    object-fit: cover;
  }
  .altImg {
    width: 100%;
    background: url("/img/accreditations.png");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
  }

  .owl-controls {
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
  }
  .owl-buttons {
    display: block;
  }

  .owl-next, .owl-prev {
    color: $gold;
    width: 65px;
    height: 65px;
  } 
  .owl-next {
    display: block!important;
    float: right;
    position: absolute;
    right: 2%;
  }

  .owl-prev {
    display: block!important;
    float: left;
    position: absolute;
    left: 2%;
  }
  .goldarrowLeft, .goldarrowRight {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 13px;
    border: 1px solid $gold;
  }
}

#owl-mid {
  height: 600px;
  margin-bottom: 50px;
  .owl-controls {
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
  }
  .owl-buttons {
    display: block;
  }

  .owl-pagination {
    display: none;
  }

  .item {
    width: 977px;
    margin: 0 auto;
    text-align: center;
  }

  .image-caption {
    color: #666666;
    font-family: $CamphorRegular;
    font-size: 0.750rem;
    margin: 20px 0;
    z-index: 1002;
    text-align: left;
  }

  .owl-next {
    display: block!important;
    float: right;
    position: absolute;
    right: 0%;
  }

  .owl-prev {
    display: block!important;
    float: left;
    position: absolute;
    left: 0%;
  }

  .redarrowLeft, .redarrowRight{
    width: 65px;
    height: 61px;
    background: #ec3050;
    color: white;
    line-height: 70px;
    font-size: 13px;
  }
  
  p {
    color: #666666;
    margin-top: -40px;
    text-align: left;
  }

}

.owlsecondContainer {
    max-width: 1250px;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: -3%;
    @media screen and (max-width: 1366px) { 
      width: 90%;
    }

    @media screen and (max-width: 1170px) { 
      margin-top: -11%;
    }
}

#owl-second {
  
  height: 380px;
  text-align: center;
  margin: 0 auto;
  /*max-width: 1250px;*/
  width: 100%;
  margin-top: -50px;
  position: relative;

  .owl-stage {
    /*margin-left: 10px;*/
  }

  .owl-stage-outer {
    /*max-width: 1200px;*/
    max-width: 100%;
    margin: 0 auto;
  }

  .owl-wrapper-outer {
    /*max-width: 1149px;*/
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .owl-controls {
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 1004;
  }

  .item {
    height: 380px;
  }

  /*

  .item {
    width: 400px;
    height: 380px;
    overflow: hidden;
  } 

  .owl-item {
    margin-right: -10px!important;
  }*/

  .owl-item, .item {
    position: relative;
  }

  .owl-next {
    display: block!important;
    float: right;
    position: absolute;
    right: -2%;
  }

  .owl-prev {
    display: block!important;
    float: left;
    position: absolute;
    left: -2%;
  }

  .fitImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include transition(all .8s $smoothTransition);
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
  }

  .item:hover {
    .fitImg {
      @include transition(all .8s $smoothTransition);
      filter: brightness(70%);
      -webkit-filter: brightness(70%);
      -moz-filter: brightness(70%);
      -o-filter: brightness(70%);
      -ms-filter: brightness(70%);
    }
  }

  .owl-Title {
    position: absolute;
    /*width: 400px;*/
    width: 100%;
    height: 380px;
    color: white;
    text-align: center;
    margin: 0 auto;
    z-index: 1002;

    img {
      text-align: center;
      margin: 0 auto;
    }

    h2 {
      margin: 150px 0px 40px 0px;
      text-transform: uppercase;
      z-index: 1002!important;
      font-family: $CamphorHeavy;
      letter-spacing: 2px;
      font-size: 14.5px;
    }
  }

  .redarrowLeft, .redarrowRight{
    width: 65px;
    height: 65px;
    background: #ec3050;
    color: white;
    line-height: 70px;
    font-size: 13px;
    z-index: 1003;
  }


}

/*
@media screen and (max-width: 1152px) { 


 #owl-second{
    margin-top: -100px;      
    width: 1000px!important;
    max-width:1000px!important;
    
    .owl-stage-outer {
      width: 950px!important;
      max-width:950px!important;
      margin: 0 auto;
    }

    .owl-stage {
        margin-left: 0px;
    }

      h2 {
        margin: 100px 0px 35px 0px!important;
        font-size: 14.5px;
      }

      .owl-controls {
        top: 40%!important;
      }

      .owl-wrapper-outer {
        width: 950px!important;
        max-width:950px!important;
        text-align: center;
        margin: 0 auto;
        overflow: hidden;

      }

      .owl-item { margin-right: 0px!important;}


      .owl-item {
        width: 325px!important;
      }

      .item {
        width: 320px;
        height: 310px;
      }

      .owl-Title {
        width: 100%;
        height: 310px!important;
    }
  }   
}*/

.midContainer {
  max-width: 1152px;
  margin: 0 auto;
  text-align: center;
}

.owlContainer {
    width: 1211px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 6%;
 } 