<div class="single-photo">
    <div class="photo-container">
        <img src="{{ article.mainImg.path }}" alt="{{ article.title }}" />
        <p class="caption">{{ article.mainImg.copyright }}</p>
    </div>
</div>