{% trans_default_domain 'FDCCorporateBundle' %}

{% set displayOnylCameraDorWinner = true %}

<div class="contain-title-grey vFlexAlign">
    <h3 class="title">{{ subpages['competition']['page']|trans_fallback('name') }}</h3>
</div>
{% include 'FDCCorporateBundle:Palmares:competition.html.twig' with (subpages['competition']|merge({'all': true })) %}


<div class="contain-title-grey vFlexAlign">
    <h3 class="title">{{ subpages['certain_regard']['page']|trans_fallback('name') }}</h3>
</div>
{% include 'FDCCorporateBundle:Palmares:simple.html.twig' with (subpages['certain_regard']|merge({'all': true })) %}


<div class="contain-title-grey vFlexAlign">
    <h3 class="title">{{ subpages['cinefondation']['page']|trans_fallback('name') }}</h3>
</div>
{% include 'FDCCorporateBundle:Palmares:simple.html.twig' with (subpages['cinefondation']|merge({'all': true })) %}


<div class="contain-title-grey vFlexAlign">
    <h3 class="title">{{ subpages['camera_d_or']['page']|trans_fallback('name') }}</h3>
</div>
{% include 'FDCCorporateBundle:Palmares:camerador.html.twig' with (subpages['camera_d_or']|merge({'all': true })) %}