/* GLOBAL */

/* fix entities list on small screen (add a scrollbar), breaks the download button (must scroll to select the list) */
.box .box-body {
    overflow-x: auto;
    overflow-y: hidden;
}

.sonata-ba-list .pull-right.fix-overflow {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* remove margin on helper msg of form fields */
.help-block {
    margin: 0 !important;
}

/* add padding on helper */
.base-admin-padding-helper {
    padding: 0 10px;
}

/* NEWS */

/* custom css for news widget buttons */
.base-widget {
    border: 1px solid #00a65a;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.btn-add-base-widget {
    margin-right: 10px;
}

/* used to hide the sonata media img on ajax query */
.base-sonata-media-ajax-hidden {
    display: none;
}

/* SETTINGS */

/* form */
form[name="base_adminbundle_settings"] {
    width: 600px;
    margin: 0 auto;
}

/* locale switcher */
#fdc-locale-switcher > div {
    float: left;
    line-height: 50px;
    margin-right: 5px;
}

#fdc-locale-switcher label {
    margin-right: 15px;
}

#fdc-locale-switcher .select2-container {
    width: auto !important;
}

.fdc-input-border {
    border: 1px solid #00a65a;
    padding: 5px;
}

.sonata-ba-collapsed-fields label[for$="translate"] {
    padding-left: 10px;
}

.form-group[id$="priorityStatus"] {
    display: none;
}

.fdc-widget-remove-btn {
    margin: 20px 0;
    float: right;
}