/* GLOBAL */

/* fix entities list on small screen (add a scrollbar), breaks the download button (must scroll to select the list) */
.box .box-body {
    overflow-x: auto;
    overflow-y: hidden;
}

.sonata-ba-list .pull-right.fix-overflow {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* remove margin on helper msg of form fields */
.help-block {
    margin: 0 !important;
}

/* add padding on helper */
.base-admin-padding-helper {
    padding: 0 10px;
}

/* NEWS */

/* custom css for news widget buttons */
.base-widget {
    border: 1px solid #00a65a;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.btn-add-base-widget {
    margin-right: 10px;
}

/* used to hide the sonata media img on ajax query */
.base-sonata-media-ajax-hidden {
    display: none;
}

/* SETTINGS */

/* form */
form[name="base_adminbundle_settings"] {
    width: 600px;
    margin: 0 auto;
}

/* locale switcher */
#fdc-locale-switcher > div {
    float: left;
    line-height: 50px;
    margin-right: 5px;
}

#fdc-locale-switcher label {
    margin-right: 15px;
}

#fdc-locale-switcher .select2-container {
    width: auto !important;
}

.fdc-input-border {
    border: 1px solid #00a65a;
    padding: 5px;
}

.sonata-ba-collapsed-fields label[for$="translate"] {
    padding-left: 10px;
}

.form-group[id$="priorityStatus"] {
    display: none;
}

.fdc-widget-remove-btn {
    margin: 20px 0;
    float: right;
}

#fdc-list-translation-container {
    /* Firefox */
    width: -moz-calc(100% - 135px);
    /* WebKit */
    width: -webkit-calc(100% - 135px);
    /* Opera */
    width: -o-calc(100% - 135px);
    /* Standard */
    width: calc(100% - 135px);
}

.fdc-list-translation-legend-info {
    padding: 10px 20px;
    height: 80px;
    line-height: 60px;
}

.fdc-list-translation-legend-info:not(:last-child) {
    border-bottom: 1px solid grey;
}
.fdc-list-translation-legend-info-title {
    font-weight: bold;
    float: left;
    margin-right: 20px;
    width: 140px;
}

#fdc-list-translation-container ul {
    list-style: none;
    float: left;
}

#fdc-list-translation-container li {
    float: left;
    margin-right: 20px;
}

.fdc-list-translation-type-square {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    float: left;
    margin: 10px 10px 0 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.fdc-status-locked-bg-color {
    background-color: #ffffff;
    border: 1px solid red;
}

.fdc-status-translated-bg-color {
    background-color: #66CCCC;
    border: 1px solid #eeeeee;
}

.fdc-status-translation-validating-bg-color {
    background-color: #FFCC00;
    border: 1px solid #eeeeee;
}

.fdc-status-translation-pending-bg-color {
    background-color: #FFFF00;
    border: 1px solid #eeeeee;
}

.fdc-status-draft-bg-color {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

.fdc-status-deactivated-bg-color {
    background-color: #66CCCC;
    border: 1px solid #eeeeee;
}

.fdc-status-published-bg-color {
    background-color: #00CC00;
    border: 1px solid #eeeeee;
}

.fdc-status-validating-bg-color {
    background-color: #FFCC00;
    border: 1px solid #eeeeee;
}

.list-translation-legend-type-title {
    float:left;
}