/* GLOBAL */

/* fix entities list on small screen (add a scrollbar) */
.box.box-primary {
    overflow-x : auto;
}

/* remove margin on helper msg of form fields */
.help-block {
    margin: 0 !important;
}

/* NEWS */

/* custom css for news widget buttons */
.base-widget {
    border: 1px solid #00a65a;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.btn-add-base-widget {
    margin-right: 10px;
}

/* used to hide the sonata media img on ajax query */
.base-sonata-media-ajax-hidden {
    display: none;
}

/* SETTINGS */

/* form */
form[name="base_adminbundle_settings"] {
    width: 600px;
    margin: 0 auto;
}