/* GLOBAL */

/* fix entities list on small screen (add a scrollbar), breaks the download button (must scroll to select the list) */
.box .box-body {
    overflow-x: auto;
    overflow-y: hidden;
}

.sonata-ba-list .pull-right.fix-overflow {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* remove margin on helper msg of form fields */
.help-block {
    margin: 0 !important;
}

/* add padding on helper */
.base-admin-padding-helper {
    padding: 0 10px;
}

/* NEWS */

/* custom css for news widget buttons */
.base-widget {
    border: 1px solid #00a65a;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.btn-add-base-widget {
    margin: 10px;
}

/* used to hide the sonata media img on ajax query */
.base-sonata-media-ajax-hidden {
    display: none;
}

/* SETTINGS */

/* form */
form[name="base_adminbundle_settings"] {
    width: 600px;
    margin: 0 auto;
}

/* locale switcher */
#fdc-locale-switcher > div {
    float: left;
    line-height: 50px;
    margin-right: 5px;
}

#fdc-locale-switcher label {
    margin-right: 15px;
}

#fdc-locale-switcher .select2-container {
    width: auto !important;
}

.fdc-input-border {
    border: 1px solid #00a65a;
    padding: 5px;
}

.sonata-ba-collapsed-fields label[for$="translate"] {
    padding-left: 10px;
}

.form-group[id$="priorityStatus"],
ul[id$="translateOptions"] {
    display: none;
}

.fdc-widget-remove-btn {
    margin: 20px 0;
    float: right;
}

.nav-tabs>li>a {
    min-height: 62px;
}

.nav-tab-active {
    border-top: 3px solid #00a65a;
    border-radius: 5px;
}

#fdc-list-translation-container {
    width: 100%;
}

.fdc-list-translation-legend-info {
    padding: 10px 20px;
    line-height: 60px;
}

.fdc-list-translation-legend-info:not(:last-child) {
    border-bottom: 1px solid grey;
}
.fdc-list-translation-legend-info-title {
    font-weight: bold;
    float: left;
    margin-right: 20px;
    width: 140px;
}

#fdc-list-translation-container ul {
    list-style: none;
    float: left;
}

#fdc-list-translation-container li {
    float: left;
    margin-right: 20px;
}

.fdc-list-translation-type-square {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    float: left;
    margin: 10px 10px 0 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.fdc-list-translation-type-square a,
.fdc-list-translation-type-square a:hover {
    color: #000000;
}

.fdc-is-locked {
    cursor: default;
}

.fdc-status-locked-bg-color {
    border: 1px solid red !important;
}

.fdc-status-translated-bg-color {
    background-color: #66CCCC !important;
    border: 1px solid #eeeeee;
}

.fdc-status-translation-validating-bg-color {
    background-color: #FF7800 !important;
    border: 1px solid #eeeeee;
}

.fdc-status-translation-pending-bg-color {
    background-color: #FFFF00 !important;
    border: 1px solid #eeeeee;
}

.fdc-status-draft-bg-color {
    background-color: #ffffff !important;
    border: 1px solid #eeeeee;
}

.fdc-status-deactivated-bg-color {
    background-color: #66CCCC !important;
    border: 1px solid #eeeeee;
}

.fdc-status-published-bg-color {
    background-color: #00CC00 !important;
    border: 1px solid #eeeeee;
}

.fdc-status-validating-bg-color {
    background-color: #FFCC00 !important;
    border: 1px solid #eeeeee;
}

.list-translation-legend-type-title {
    float:left;
}

.ui-tooltip {
    background: red !important;
    color: #ffffff !important;
}

.ui-tooltip a {
    color: #ffffff !important;
    text-decoration: underline;
    font-weight: bold;
}

.fdc-tooltip-lock-icon {
    margin-right: 20px;
}

.fdc-help {
    color: #737373;
}

.a2lix_translationsLocales {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.a2lix_translationsLocales > li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}
.a2lix_translationsLocales > li > a {
    border: 1px solid #ddd !important;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 100px;
    color: #555;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}

.status-hidden {
    display: none;
}

textarea.quote {
    color: #666;
    font-size: 1.688rem;
    line-height: 1.4em;
    padding: 40px 15px;
    text-align: center;
}

/* remove label Fr / En.. of a2lix */
form[action*="widgetmosaicmovie"] div[id$="translations"] > .form-group > label.control-label {
    display: none;
}

/* DASHBOARD TRANSLATOR PREVIEW */

.bg-white {
    background-color: #FFFFFF;
}

.dashboard-search-results {
    margin: 20px;
    padding: 25px 10px;
}

.dashboard-search-results header {
    font-size: 20px;
    margin-bottom: 10px;
}

#dashboard-translator-statuses-preview,
#dashboard-search {
    font-size: 20px;
    margin: 20px 0;
    padding: 25px 10px;
}

#dashboard-translator-statuses-preview .row,
#dashboard-search .row {
    margin-left: 0;
    margin-right: 0;
}

#dashboard-translator-statuses-preview-container .col-md-2 {
    padding: 30px 20px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    text-align: center;
}

#dashboard-translator-statuses-preview-container .col-md-2 strong {
    font-size: 32px;
}

/* DASHBOARD TRANSLATOR SEARCH*/
#dashboard-search-container .row:first-child {
    margin-bottom: 10px;
}

#dashboard-search-container label {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

#dashboard-search-container label[for="dashboard_search_type_translationStatus"] {
    display: inline-block;
}

#dashboard-search-container #dashboard_search_type_id {
    width: 100px;
}