@media print {
  body {
    -webkit-print-color-adjust: exact;
    padding: 10px;
    margin: 0px;
    width: 700px !important;
    overflow: auto;
    margin-top: 0px !important;
    background-color: #fff !important;
  }

  .list-article, .honneur-invit, .contain-article-invit {
    background-color: #fff !important;
    color: #000 !important;
  }

  footer,
  header,
  header.press,
  #share-article,
  .print,
  .nav.prev,
  .nav.next,
  .nav-accre,
  .share,
  .film,
  .focus,
  .same-day,
  .bandeau-list,
  .nav-movie,
  .list-article .video-player,
  .list-article .video,
  .honneur-invit .video-player,
  .honneur-invit .video,
  .contain-article-invit .video-player,
  .contain-article-invit .video,
  .list-article .audio-player,
  .honneur-invit .audio-player,
  .contain-article-invit .audio-player,
  .list-article .slideshow,
  .honneur-invit .slideshow,
  .contain-article-invit .slideshow,
  .list-article .categorie-items article,
  .honneur-invit .categorie-items article,
  .contain-article-invit .categorie-items article,
  .single-article .video-player,
  .single-article .audio-player,
  .single-article .slideshow,
  .single-movie .videos,
  .single-movie .slideshow-img,
  .single-movie .news,
  .single-movie .audios,
  .single-movie .press,
  .contact-press,
  .contact-press .button,
  .header-press .head,
  .header-press p,
  .single-movie #nav-movie,
  .main-image,
  .trailer,
  .poster.video,
  .nav-container .buttons,
  .request,
  #breadcrumb {
    display: none !important;
  }

  .list-article .half-photo, .honneur-invit .half-photo, .contain-article-invit .half-photo {
    margin-right: 20px !important;
    width: 45% !important;
  }

  .list-article .contain-img-honneur img, .honneur-invit .contain-img-honneur img, .contain-article-invit .contain-img-honneur img {
    max-width: 100%;
  }

  .list-article .quote blockquote,
  .honneur-invit .quote blockquote,
  .contain-article-invit .quote blockquote,
  .categorie-items .title-list-cat,
  .categorie-items .title-list-cat .title-big,
  .info-film {
    color: #000 !important;
  }

  .accreditation #accreditation .wrapper, .contain-img-honneur, .pres-honneur, .categorie-items .title-list-cat .title-item {
    width: 500px !important;
    margin: 0 auto;
  }

  .container {
    width: 600px !important;
    margin: 0px auto !important;
  }

  .single-article {
    padding: 0px 0px;
  }

  .single-article .half-photo {
    margin-right: 20px !important;
    width: 45% !important;
  }

  .slideshow .slideshow-img {
    background-color: #fff !important;
  }

  .article_photo .slideshow-img .images .img {
    display: block !important;
    visibility: visible !important;
  }
  
  .owl-stage {
    margin-left: 0px !important;
    padding: 0px;
  }

  .single-movie {
    padding-top: 0px !important;
  }

  .single-movie .palmares {
    width: 100% !important;
  }
}