/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 1055 of /Users/axelconstantinoff/ccm/festival-cannes-2016/_html/sass/helpers/_owlcarousel.scss
        from line 22 of /Users/axelconstantinoff/ccm/festival-cannes-2016/_html/sass/styles.scss

1050:     }
1051: }
1052: 
1053: .sliderDrag .owl-item {
1054:     opacity: 1!important;
1055: }

Backtrace:
/Users/axelconstantinoff/ccm/festival-cannes-2016/_html/sass/helpers/_owlcarousel.scss:1055
/Users/axelconstantinoff/ccm/festival-cannes-2016/_html/sass/styles.scss:22
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:640:in `block'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:309:in `to_tree'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/tree/root_node.rb:20:in `render'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/axelconstantinoff/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 1055 of /Users/axelconstantinoff/ccm/festival-cannes-2016/_html/sass/helpers/_owlcarousel.scss\A         from line 22 of /Users/axelconstantinoff/ccm/festival-cannes-2016/_html/sass/styles.scss\A \A 1050:     }\A 1051: }\A 1052: \A 1053: .sliderDrag .owl-item {\A 1054:     opacity: 1!important;\A 1055: }"; }
