html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'CamphorHeavy';
  src: url("../fonts/CamphorHeavy/camphor+heavy.eot");
  src: url("../fonts/CamphorHeavy/camphor+heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/CamphorHeavy/camphor+heavy.woff") format("woff"), url("../fonts/CamphorHeavy/camphor+heavy.ttf") format("truetype"), url("../fonts/CamphorHeavy/camphor+heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CamphorBold';
  src: url("../fonts/CamphorBold/camphor+bold.eot");
  src: url("../fonts/CamphorBold/camphor+bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CamphorBold/camphor+bold.woff") format("woff"), url("../fonts/CamphorBold/camphor+bold.ttf") format("truetype"), url("../fonts/CamphorBold/camphor+bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CamphorRegular';
  src: url("../fonts/CamphorRegular/camphor+regular.eot");
  src: url("../fonts/CamphorRegular/camphor+regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CamphorRegular/camphor+regular.woff") format("woff"), url("../fonts/CamphorRegular/camphor+regular.ttf") format("truetype"), url("../fonts/CamphorRegular/camphor+regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CamphorMedium';
  src: url("../fonts/CamphorMedium/camphor+medium.eot");
  src: url("../fonts/CamphorMedium/camphor+medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CamphorMedium/camphor+medium.woff") format("woff"), url("../fonts/CamphorMedium/camphor+medium.ttf") format("truetype"), url("../fonts/CamphorMedium/camphor+medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairRegular';
  src: url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairBold';
  src: url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairItalic';
  src: url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  display: none;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "CamphorRegular";
  font-size: 16px;
  overflow-x: hidden;
}

::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}

.fullHeight {
  height: 100%;
}

.vCenter {
  display: inline-table;
  height: 100%;
  width: 100%;
}

.vCenterKid {
  display: table-cell;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 977px;
}

#main {
  position: relative;
}
#main:after {
  background-color: #141414;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 5;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#main.overlay:after {
  opacity: 0.6;
  visibility: visible;
}

.title {
  font-family: "PlayfairBold";
  font-size: 1.125em;
  font-weight: normal;
  letter-spacing: 0.4em;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-family: "PlayfairItalic";
  font-size: 0.875em;
  font-weight: normal;
  text-align: center;
}

header {
  background-color: #080808;
  width: 100%;
}
header #sticky-user {
  display: none;
}
header.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}
header.sticky #top-bar {
  display: none;
}
header.sticky #sticky-user {
  display: block;
  float: right;
  font-size: 0.750em;
  margin-top: 18px;
}
header.sticky #sticky-user .user-nav {
  border: none;
}
header.sticky #sticky-user .user-nav a.search {
  background: url("../img/svg/search.svg") no-repeat left 46%;
  background-size: 15px;
}
header.sticky #logo-wrapper {
  height: 50px;
}
header.sticky #logo-wrapper #logo {
  width: 290px;
}
header.sticky #logo-wrapper #logo img {
  float: left;
  margin-top: -5px;
  width: 72px;
}
header.sticky #logo-wrapper #logo h1 {
  float: left;
  font-size: 1.1em;
  margin: 12px 0 0 30px;
}
header.sticky #logo-wrapper #logo h2 {
  display: none;
}
header.sticky #logo-wrapper #search, header.sticky #logo-wrapper #partners {
  display: none;
}
header .user-nav {
  background-color: #141414;
  border-left: 1px solid #404040;
  float: right;
  font-family: "CamphorBold";
  padding: 0 20px 0 10px;
}
header .user-nav li {
  display: inline-block;
}
header .user-nav li a {
  color: #fff;
  display: block;
  margin-right: 10px;
  padding: 0 0px 1px 20px;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
header .user-nav li a.selection {
  background: url("../img/svg/selection.svg") no-repeat left 48%;
  background-size: 15px;
}
header .user-nav li a.account {
  background: url("../img/svg/account.svg") no-repeat left 46%;
  background-size: 15px;
}
header .user-nav li a.language {
  background: url("../img/svg/language.svg") no-repeat left 48%;
  padding-left: 30px;
  background-size: 20px;
}
header #top-bar {
  border-bottom: 1px solid #404040;
  font-size: 0.750em;
  height: 28px;
  line-height: 28px;
}
header #top-bar .main-nav {
  float: left;
  font-family: "CamphorHeavy";
}
header #top-bar .main-nav li {
  display: inline-block;
}
header #top-bar .main-nav li a {
  color: #8c8c8c;
  display: block;
  padding: 0 12px;
  text-transform: uppercase;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
header #top-bar .main-nav li a:hover, header #top-bar .main-nav li a.active {
  color: #c8a461;
}
header #top-bar .main-nav li a.active {
  background-color: #141414;
  border-right: 1px solid #404040;
  padding-bottom: 1px;
}
header #logo-wrapper {
  background-color: #141414;
  height: 160px;
  overflow: hidden;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
header #logo-wrapper .container {
  height: 100%;
}
header #logo-wrapper #logo {
  display: inline-block;
  padding: 5px 100px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 215px;
}
header #logo-wrapper #logo h1 {
  font-family: "CamphorBold";
  font-size: 1.250em;
  font-weight: normal;
}
header #logo-wrapper #logo h1 a {
  color: #c8a461;
  text-transform: uppercase;
}
header #logo-wrapper #logo h2 {
  font-family: "CamphorMedium";
  font-size: 0.875em;
  font-weight: normal;
  margin-top: 5px;
}
header #logo-wrapper #logo h2 a {
  color: #c8a461;
  text-transform: uppercase;
}
header #logo-wrapper #logo img {
  display: block;
  margin: 0 auto;
  width: 145px;
}
header #logo-wrapper #partners {
  display: inline-block;
  vertical-align: middle;
}
header #logo-wrapper #search {
  border: 1px solid #404040;
  display: inline-block;
  height: 63px;
  position: relative;
  vertical-align: middle;
  width: 63px;
}
header #logo-wrapper #search a {
  background: url("../img/svg/search.svg") center no-repeat;
  background-size: 35%;
  display: block;
  height: 100%;
  width: 100%;
}
header #navigation {
  background-color: #141414;
  border-bottom: 1px solid #404040;
  border-top: 1px solid #404040;
  height: 39px;
  line-height: 39px;
}
header #navigation ul {
  float: left;
}
header #navigation ul li {
  display: inline-block;
}
header #navigation ul li a {
  color: #fff;
  display: block;
  padding-right: 15px;
  text-transform: uppercase;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
header #navigation ul li a:hover, header #navigation ul li a.active {
  color: #c8a461;
}
header #navigation ul li.fade a {
  color: #8c8c8c;
}
header #navigation ul li ul {
  background-color: #141414;
  box-sizing: border-box;
  margin-top: 1px;
  opacity: 0;
  padding-left: 100px;
  position: absolute;
  visibility: hidden;
  width: 977px;
  z-index: 10;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
header #navigation ul li ul:before {
  background-color: #141414;
  border-bottom: 1px solid #404040;
  content: '';
  display: block;
  height: 100%;
  left: -100%;
  position: absolute;
  width: 300%;
  z-index: 0;
}
header #navigation ul li ul li {
  font-size: 0.750em;
  position: relative;
  z-index: 2;
}
header #navigation ul li:hover ul {
  opacity: 1;
  visibility: visible;
}
header #navigation ul.main {
  border-right: 1px solid #404040;
  font-family: "CamphorHeavy";
  font-size: 0.875em;
}
header #navigation ul.user {
  font-family: "CamphorBold";
  font-size: 0.750em;
}
header #navigation ul.user li a {
  color: #8c8c8c;
  padding: 0 0 0 30px;
}
header #navigation ul.user li a.programmation {
  background: url("../img/svg/programmation.svg") no-repeat 8% 47%;
  background-size: 15px;
}
header #navigation ul.user li a.participate {
  background: url("../img/svg/participate.svg") no-repeat 12% 47%;
  background-size: 15px;
}
header #navigation ul.user li a.press {
  background: url("../img/svg/press.svg") no-repeat 12% 47%;
  background-size: 15px;
}
header #navigation ul.user li a:hover {
  color: #fff;
}

footer * {
  box-sizing: border-box;
}

footer {
  background-color: #141414;
  padding: 40px 0;
}
footer h2 {
  color: #fff;
}
footer h3 {
  color: #fff;
}
footer .newsletter {
  height: 150px;
  padding: 50px 0;
}
footer .newsletter form {
  height: 100%;
}
footer .newsletter #email {
  border: 0;
  display: inline-block;
  height: 100%;
  outline: none;
  padding-left: 20px;
  width: calc(100% - 165px);
}
footer .newsletter #submit {
  background: #141414;
  border: 1px solid #414141;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "CamphorBold";
  font-size: 0.750em;
  height: 100%;
  margin-left: 20px;
  outline: none;
  text-transform: uppercase;
  width: 135px;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
footer .newsletter #submit:hover {
  background-color: #fff;
  border-color: #fff;
  color: #141414;
}
footer .social {
  border: 1px solid #2b2b2b;
  border-left: none;
  border-right: none;
  overflow: hidden;
  padding: 50px 0 45px 0;
}
footer .social p {
  color: #fff;
  float: left;
  font-family: "CamphorBold";
  font-size: 1.250em;
  text-transform: uppercase;
}
footer .social ul {
  float: right;
}
footer .social ul li {
  display: inline-block;
  margin-left: 25px;
}
footer .social ul li a {
  display: block;
  height: 26px;
  width: 26px;
}
footer .social ul li a.app {
  background: url("../img/svg/appli.svg") center no-repeat;
  background-size: 26px;
}
footer .social ul li a.facebook {
  background: url("../img/svg/facebook.svg") center no-repeat;
  background-size: 26px;
}
footer .social ul li a.twitter {
  background: url("../img/svg/twitter.svg") center no-repeat;
  background-size: 22px;
}
footer .social ul li a.instagram {
  background: url("../img/svg/instagram.svg") center no-repeat;
  background-size: 26px;
}
footer .social ul li a.tumblr {
  background: url("../img/svg/tumblr.svg") center no-repeat;
  background-size: 26px;
}
footer .social ul li a.rss {
  background: url("../img/svg/rss.svg") center no-repeat;
  background-size: 22px;
}
footer .social ul li a.youtube {
  background: url("../img/svg/youtube.svg") center no-repeat;
  background-size: 24px;
}
footer .social ul li a.dailymotion {
  background: url("../img/svg/dailymotion.svg") center no-repeat;
  background-size: 26px;
}
footer .social ul li a.podcast {
  background: url("../img/svg/podcast.svg") center no-repeat;
  background-size: 26px;
}
footer .footer-menu {
  padding: 50px 0;
}
footer .footer-menu ul {
  text-align: center;
}
footer .footer-menu ul li {
  color: #fff;
  display: inline-block;
  font-family: "CamphorRegular";
  font-size: 0.875em;
  padding-right: 22px;
  position: relative;
}
footer .footer-menu ul li.copyright {
  opacity: 0.5;
}
footer .footer-menu ul li.copyright:after {
  opacity: 1;
}
footer .footer-menu ul li:last-child {
  padding-right: 0;
}
footer .footer-menu ul li:last-child:after {
  display: none;
}
footer .footer-menu ul li:after {
  background-color: #fff;
  border-radius: 100%;
  content: '';
  display: block;
  margin: -1px 0 0 0;
  opacity: 0.5;
  position: absolute;
  right: 8px;
  top: 50%;
  height: 3px;
  width: 3px;
}
footer .footer-menu ul li a {
  color: #fff;
  opacity: 0.5;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
footer .footer-menu ul li a:hover {
  opacity: 1;
}

.slideshow {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}
.slideshow .slideshow-img {
  height: 555px;
  overflow: hidden;
  width: 100%;
}
.slideshow .slideshow-img img {
  display: block;
  width: 100%;
}
.slideshow .caption {
  color: #666;
  font-family: "CamphorRegular";
  font-size: 0.750em;
  margin: 20px 0;
}
.slideshow .caption strong {
  color: #333;
  font-family: "CamphorBold";
  font-weight: normal;
}

#sliderWrapper {
  background: #141414;
  height: 537px;
}
#sliderWrapper #bar {
  background: #c8a461;
  height: 100%;
  max-width: 100%;
  width: 0%;
}
#sliderWrapper #progressBar {
  bottom: 0;
  height: 7px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
#sliderWrapper .owl-prev {
  font-size: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 25%;
}
#sliderWrapper .owl-next {
  font-size: 0;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 25%;
}
#sliderWrapper .owl-dots {
  bottom: 15%;
  text-align: center;
  position: absolute;
  width: 100%;
}
#sliderWrapper .owl-dot {
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  height: 5px;
  margin: 0 5px;
  vertical-align: middle;
  width: 5px;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#sliderWrapper .owl-dot.active {
  background: none;
  border: 3px solid #c8a461;
}
#sliderWrapper .owl-item {
  height: 100%;
  float: left;
  width: 974px !important;
}
#sliderWrapper .owl-item .linkArticle {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#sliderWrapper .owl-item .info {
  left: 5%;
  opacity: 0;
  position: absolute;
  text-align: center;
  bottom: 25%;
  visibility: hidden;
  width: 90%;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#sliderWrapper .owl-item .info .category {
  color: #c8a461;
  display: block;
  font-family: "CamphorHeavy";
  font-size: 0.750em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#sliderWrapper .owl-item .info h2 {
  color: #fff;
  font-family: "PlayfairRegular";
  font-size: 2.750em;
  font-weight: normal;
}
#sliderWrapper .owl-item img {
  opacity: 0.2 !important;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#sliderWrapper .owl-item.center img {
  opacity: 1 !important;
}
#sliderWrapper .owl-item.center .linkArticle {
  display: block;
}
#sliderWrapper .owl-item.center .info {
  opacity: 1;
  visibility: visible;
}
#sliderWrapper #slider {
  height: 100%;
}

#news {
  overflow: hidden;
  padding: 80px 0;
}
#news .container {
  position: relative;
}
#news .container .content-news {
  width: 880px;
}
#news .container #timeline {
  position: absolute;
  right: 0;
  top: 50px;
  width: 40px;
}
#news .container #timeline a {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px dotted #e5e5e5;
  color: #adadad;
  font-family: "CamphorBold";
  font-size: 0.625em;
  display: block;
  padding: 10px 0;
  text-align: center;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#news .container #timeline a.disabled {
  background-color: #f2f2f2;
}
#news .container #timeline a:hover {
  color: #c8a461;
}
#news .container #timeline a.active {
  background-color: #c8a461;
  border-color: #c8a461;
  border-style: solid;
  color: #fff;
  position: relative;
}
#news .container #timeline a.active:after {
  content: '';
  display: block;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #c8a461;
  margin-top: -4px;
  position: absolute;
  left: -5px;
  top: 50%;
  width: 0;
}
#news .container #timeline a span {
  display: block;
  font-family: "CamphorHeavy";
  font-size: 13px;
}
#news .container #timeline a:last-child {
  border-bottom: 1px dotted #e5e5e5;
}
#news .container .articles {
  overflow: hidden;
}
#news .container .articles.right .double {
  float: right;
}
#news .container .articles.center article {
  padding: 0;
  width: 29%;
}
#news .container .articles.center article:nth-child(2) {
  margin: 0 6.5%;
}
#news .container article {
  height: 305px;
  box-sizing: border-box;
  float: left;
  padding-left: 45px;
  width: 35%;
}
#news .container article .info {
  font-family: "CamphorMedium";
  text-align: center;
}
#news .container article .info a {
  display: inline-block;
  font-size: 0.625em;
}
#news .container article .info .category {
  color: #c8a461;
  letter-spacing: 0.1em;
  margin-right: 12px;
  text-transform: uppercase;
}
#news .container article .info span {
  color: #666;
  display: inline-block;
  font-size: 0.625em;
}
#news .container article h2 {
  color: #333;
  font-family: "PlayfairRegular";
  font-size: 1.7em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 15px auto 0 auto;
  text-align: center;
}
#news .container article h2 a {
  color: #333;
}
#news .container article.double {
  height: 575px;
  padding-left: 0;
  width: 65%;
}
#news .container article.double h2 {
  font-size: 3.250em;
  line-height: 1em;
  margin-top: 20px;
  max-width: 70%;
}
#news .container article.double .image {
  height: 362px;
  margin-bottom: 35px;
}
#news .container article .image {
  background-size: cover;
  height: 165px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#news .container article .image .picto {
  background-color: #151515;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 8px;
  height: 44px;
  left: 10px;
  position: absolute;
  pointer-events: none;
  width: 44px;
}
#news .container article .image a {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#news .container article.article .picto {
  background-image: url("../img/svg/article.svg");
  background-size: 16px;
}
#news .container article.video .picto {
  background-image: url("../img/svg/video.svg");
  background-size: 22px;
}
#news .container article.audio .picto {
  background-image: url("../img/svg/audio.svg");
  background-size: 25px;
}
#news .container article.photo .picto {
  background-image: url("../img/svg/photo.svg");
  background-size: 22px;
}

#social-wall #wall {
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  padding-bottom: 45px;
}
#social-wall #wall .post {
  float: left;
  height: 125px;
  max-width: 12.5%;
  position: relative;
  width: 125px;
}
#social-wall #wall .post .instagram:after {
  background: url("../img/svg/instagram.svg") no-repeat;
  background-size: contain;
  bottom: 5px;
  content: '';
  display: block;
  left: 10px;
  position: absolute;
  height: 17px;
  width: 17px;
}
#social-wall #wall .post .twitter:after {
  background: url("../img/svg/twitter-gold.svg") no-repeat;
  background-size: contain;
  bottom: 5px;
  content: '';
  display: block;
  left: 10px;
  position: absolute;
  height: 16px;
  width: 16px;
}
#social-wall #wall .post p {
  padding: 0 10px;
}
#social-wall #wall .post .twitter.hasimg:after {
  background-image: url("../img/svg/twitter.svg");
}
#social-wall #wall .post .side {
  backface-visibility: hidden;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 50% 50% 0px;
  -moz-transition: all 1s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 1s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 1s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 1s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  width: 100%;
}
#social-wall #wall .post .side.hasimg .txt {
  opacity: 0;
  visibility: hidden;
}
#social-wall #wall .post .side.hasimg:hover .txt {
  opacity: 1;
  visibility: visible;
}
#social-wall #wall .post .side .txt {
  background-color: #fff;
  font-family: "CamphorMedium";
  font-size: 0.625em;
  height: 100%;
  width: 100%;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#social-wall #wall .post .side a, #social-wall #wall .post .side strong {
  color: #c8a461;
  font-weight: normal;
}
#social-wall #wall .post .side.side-1 {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#social-wall #wall .post .side.side-1.flip {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#social-wall #wall .post .side.side-2 {
  background-color: #f6f6f6;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#social-wall #wall .post .side.side-2.flip {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#social-wall #wall .post img {
  height: 100%;
  width: 100%;
}
#social-wall #wall .post.big {
  height: 250px;
  max-width: 25%;
  width: 250px;
}
#social-wall #wall .post.big .side p {
  font-size: 1.6em;
  padding: 0 25px;
}
#social-wall #wall .post.big .side.twitter:after {
  bottom: 25px;
  left: 25px;
}
#social-wall #wall .post.big .side.twitter.hasimg:after {
  bottom: 10px;
  left: 10px;
}
#social-wall #wall .post.right {
  float: right;
}

#networks {
  overflow: hidden;
  padding: 40px 0 50px 0;
}
#networks p {
  color: #333;
  float: left;
  font-family: "CamphorHeavy";
  font-size: 0.875em;
  text-transform: uppercase;
}
#networks ul {
  float: right;
}
#networks ul li {
  display: inline-block;
  margin-left: 25px;
}
#networks ul li a {
  color: #999;
  display: block;
  font-family: "CamphorRegular";
  font-size: 0.875em;
  padding-right: 20px;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#networks ul li a:hover {
  color: #141414;
}

#featured-videos {
  background-color: #141414;
  padding: 70px 0 60px 0;
}
#featured-videos .title {
  color: #fff;
}
#featured-videos .link {
  text-align: center;
}
#featured-videos .link img {
  margin-right: 10px;
  width: 10px;
}
#featured-videos .link a {
  color: #c8a461;
  font-family: "CamphorHeavy";
  font-size: 0.750em;
  text-transform: uppercase;
}
#featured-videos #slider-videos {
  padding-top: 60px;
}
#featured-videos #slider-videos .vid {
  background: #c8a461;
  height: 400px;
  width: 634px;
}
#featured-videos #slider-videos .owl-nav {
  display: none;
}

#channels {
  background-color: #141414;
  padding: 0 0 60px 0;
}
#channels .title {
  color: #fff;
}
#channels #slider-channels {
  padding-top: 60px;
}
#channels #slider-channels .channel {
  background: #c8a461;
  height: 185px;
  width: 293px;
}
#channels #slider-channels .owl-nav {
  display: none;
}

#featured-movies video {
  width: 100%;
}
#featured-movies .owl-nav {
  display: none;
}
#featured-movies video {
  display: block;
}
#featured-movies .links {
  bottom: 10%;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#featured-movies .links a {
  color: #c8a461;
  font-family: "CamphorHeavy";
  font-size: 0.750em;
  text-transform: uppercase;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
#featured-movies .links a:hover {
  color: #fff;
}
#featured-movies .links a:first-child {
  margin-right: 45px;
}
#featured-movies .info {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
#featured-movies .info .category {
  color: #fff;
  display: block;
  font-family: "CamphorHeavy";
  font-size: 0.750em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  opacity: 0;
  text-transform: uppercase;
  visibility: hidden;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
#featured-movies .info h2 {
  color: #fff;
  font-family: "CamphorBold";
  font-size: 3.750em;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  opacity: 0;
  text-transform: uppercase;
  visibility: hidden;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
#featured-movies .info .director {
  color: #fff;
  font-family: "CamphorRegular";
  font-size: 0.750em;
  opacity: 0;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  visibility: hidden;
}
#featured-movies .info .director a {
  color: #c8a461;
  font-size: 14px;
}
#featured-movies .active .info .category, #featured-movies .active .info .director, #featured-movies .active .info h2 {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#featured-movies .active .info h2 {
  transition-delay: 0.8s;
}
#featured-movies .active .info .director {
  transition-delay: 1s;
}
#featured-movies .active .links {
  opacity: 1;
  transition-delay: 1.4s;
  visibility: visible;
}

.push-container {
  background-color: #141414;
  overflow: hidden;
  padding: 70px 0;
}
.push-container.white {
  background-color: #fff;
}
.push-container .push {
  background-size: cover;
  background-position: center;
  float: left;
  height: 205px;
  position: relative;
  width: 33.33333%;
}
.push-container .push.right {
  float: right;
}
.push-container .push.bigger {
  width: 66.66666%;
}
.push-container .push.bigger:after {
  content: '';
  clear: both;
}
.push-container .push.center {
  margin-left: 33.33333%;
}
.push-container .push:hover:after {
  opacity: 0;
}
.push-container .push:hover h3 {
  letter-spacing: 0.5em;
}
.push-container .push:after {
  background-color: #141414;
  content: '';
  display: block;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
.push-container .push h3 {
  color: #fff;
  font-family: "CamphorHeavy";
  font-size: 0.875em;
  letter-spacing: 0.4em;
  line-height: 1.5em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}
.push-container .push a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#prefooter {
  background-color: #1f1f1f;
  padding-top: 70px;
  overflow: hidden;
}
#prefooter h2 {
  color: #fff;
  font-family: "CamphorHeavy";
  font-size: 1.875em;
  font-weight: normal;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
#prefooter h3 {
  color: #fff;
  font-size: 1.125em;
  margin-bottom: 50px;
}
